<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
    <div data-flickity='{"prevNextButtons": true, "fade": true}'>
        <!-- Item -->
        <div
          class="w-100 bg-cover"
          style="background-image: url(assets/img/covers/cover-5.jpg)"
        >
          <div class="container d-flex flex-column">
            <div class="row align-items-center py-12" style="min-height: 550px">
              <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-md-1">
                <!-- Heading -->
                <h1>Summer Sale</h1>

                <!-- Heading -->
                <h2 class="display-1 text-primary">-70%</h2>

                <!-- Heading -->
                <h5 class="mt-n4 mb-8">with promo code CN67EW*</h5>

                <!-- Button -->
                <a class="btn btn-dark" href="shop.html">
                  Shop Now <i class="fe fe-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div
          class="w-100 bg-cover"
          style="background-image: url(assets/img/covers/cover-23.jpg)"
        >
          <div class="container d-flex flex-column">
            <div
              class="row align-items-center justify-content-end py-12"
              style="min-height: 550px"
            >
              <div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-md-n1">
                <!-- Heading -->
                <h1 class="mb-5">Summer Collection</h1>

                <!-- Text -->
                <p class="mb-8 fs-lg text-gray-500">
                  So called give, one whales tree seas dry place own day, winged
                  tree created spirit.
                </p>

                <!-- Button -->
                <a class="btn btn-dark" href="shop.html">
                  Shop Now <i class="fe fe-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div
          class="w-100 bg-cover"
          style="background-image: url(assets/img/covers/cover-16.jpg)"
        >
          <div class="bg-dark-20">
            <div class="container d-flex flex-column">
              <div
                class="row align-items-center justify-content-end"
                style="min-height: 550px"
              >
                <div class="col-12 text-center text-white">
                  <!-- Preheading -->
                  <h4 class="mb-0">Summer Styles</h4>

                  <!-- Heading -->
                  <h1 class="display-1">50% OFF</h1>

                  <!-- Links -->
                  <p class="mb-0">
                    <a
                      href="shop.html"
                      class="link-underline text-reset mx-4 my-4"
                      >Shop Women</a
                    >
                    <a
                      href="shop.html"
                      class="link-underline text-reset mx-4 my-4"
                      >Shop Men</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- slider -->

<!-- new arrival -->
<section class="py-12">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Heading -->
            <h2 class="mb-10 text-center">New Arrivals</h2>
          </div>
        </div>
      </div>
      <div
        class="flickity-page-dots-progress"
        data-flickity='{"pageDots": true}'
      >
        <!-- Item -->
        <div class="col px-4" style="max-width: 300px">
          <div class="card">
            <!-- Image -->
            <div class="card-img">
              <!-- Action -->
              <button
                class="btn btn-xs btn-circle btn-white-primary card-action card-action-end"
                data-toggle="button"
              >
                <i class="fe fe-heart"></i>
              </button>

              <!-- Button -->
              <button
                class="btn btn-xs w-100 btn-dark card-btn"
                data-bs-toggle="modal"
                data-bs-target="#modalProduct"
              >
                <i class="fe fe-eye me-2 mb-1"></i> Quick View
              </button>

              <!-- Image -->
              <img
                class="card-img-top"
                src="assets/img/products/product-6.jpg"
                alt="..."
              />
            </div>

            <!-- Body -->
            <div class="card-body fw-bold text-center">
              <a class="text-body" href="product.html"
                >Cotton floral print Dress</a
              >
              <br />
              <span class="text-muted">$40.00</span>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div class="col px-4" style="max-width: 300px">
          <div class="card">
            <!-- Image -->
            <div class="card-img">
              <!-- Action -->
              <button
                class="btn btn-xs btn-circle btn-white-primary card-action card-action-end"
                data-toggle="button"
              >
                <i class="fe fe-heart"></i>
              </button>

              <!-- Badge -->
              <span
                class="badge bg-dark card-badge card-badge-start text-uppercase"
              >
                Sale
              </span>

              <!-- Button -->
              <button
                class="btn btn-xs w-100 btn-dark card-btn"
                data-bs-toggle="modal"
                data-bs-target="#modalProduct"
              >
                <i class="fe fe-eye me-2 mb-1"></i> Quick View
              </button>

              <!-- Image -->
              <img
                class="card-img-top"
                src="assets/img/products/product-10.jpg"
                alt="..."
              />
            </div>

            <!-- Body -->
            <div class="card-body fw-bold text-center">
              <a class="text-body" href="product.html">Suede cross body Bag</a>
              <br />
              <span class="fs-xs text-gray-350 text-decoration-line-through"
                >$85.00</span
              >
              <span class="text-primary">$49.00</span>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div class="col px-4" style="max-width: 300px">
          <div class="card">
            <!-- Image -->
            <div class="card-img">
              <!-- Action -->
              <button
                class="btn btn-xs btn-circle btn-white-primary card-action card-action-end"
                data-toggle="button"
              >
                <i class="fe fe-heart"></i>
              </button>

              <!-- Button -->
              <button
                class="btn btn-xs w-100 btn-dark card-btn"
                data-bs-toggle="modal"
                data-bs-target="#modalProduct"
              >
                <i class="fe fe-eye me-2 mb-1"></i> Quick View
              </button>

              <!-- Image -->
              <img
                class="card-img-top"
                src="assets/img/products/product-32.jpg"
                alt="..."
              />
            </div>

            <!-- Body -->
            <div class="card-body fw-bold text-center">
              <a class="text-body" href="product.html"
                >Cotton leaf print Shirt</a
              >
              <br />
              <span class="text-muted">$65.00</span>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div class="col px-4" style="max-width: 300px">
          <div class="card">
            <!-- Image -->
            <div class="card-img">
              <!-- Action -->
              <button
                class="btn btn-xs btn-circle btn-white-primary card-action card-action-end"
                data-toggle="button"
              >
                <i class="fe fe-heart"></i>
              </button>

              <!-- Button -->
              <button
                class="btn btn-xs w-100 btn-dark card-btn"
                data-bs-toggle="modal"
                data-bs-target="#modalProduct"
              >
                <i class="fe fe-eye me-2 mb-1"></i> Quick View
              </button>

              <!-- Image -->
              <img
                class="card-img-top"
                src="assets/img/products/product-7.jpg"
                alt="..."
              />
            </div>

            <!-- Body -->
            <div class="card-body fw-bold text-center">
              <a class="text-body" href="product.html">Leather Sneakers</a>
              <br />
              <a class="text-primary" href="#">Select Options</a>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div class="col px-4" style="max-width: 300px">
          <div class="card">
            <!-- Image -->
            <div class="card-img">
              <!-- Action -->
              <button
                class="btn btn-xs btn-circle btn-white-primary card-action card-action-end"
                data-toggle="button"
              >
                <i class="fe fe-heart"></i>
              </button>

              <!-- Button -->
              <button
                class="btn btn-xs w-100 btn-dark card-btn"
                data-bs-toggle="modal"
                data-bs-target="#modalProduct"
              >
                <i class="fe fe-eye me-2 mb-1"></i> Quick View
              </button>

              <!-- Image -->
              <img
                class="card-img-top"
                src="assets/img/products/product-11.jpg"
                alt="..."
              />
            </div>

            <!-- Body -->
            <div class="card-body fw-bold text-center">
              <a class="text-body" href="product.html">Another fine dress</a>
              <br />
              <span class="text-muted">$99.00</span>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div class="col px-4" style="max-width: 300px">
          <div class="card">
            <!-- Image -->
            <div class="card-img">
              <!-- Action -->
              <button
                class="btn btn-xs btn-circle btn-white-primary card-action card-action-end"
                data-toggle="button"
              >
                <i class="fe fe-heart"></i>
              </button>

              <!-- Button -->
              <button
                class="btn btn-xs w-100 btn-dark card-btn"
                data-bs-toggle="modal"
                data-bs-target="#modalProduct"
              >
                <i class="fe fe-eye me-2 mb-1"></i> Quick View
              </button>

              <!-- Image -->
              <img
                class="card-img-top"
                src="assets/img/products/product-33.jpg"
                alt="..."
              />
            </div>

            <!-- Body -->
            <div class="card-body fw-bold text-center">
              <a class="text-body" href="product.html">Baseball Cap</a> <br />
              <span class="text-muted">$10.00</span>
            </div>
          </div>
        </div>

        <!-- Item -->
        <div class="col px-4" style="max-width: 300px">
          <div class="card">
            <!-- Image -->
            <div class="card-img">
              <!-- Action -->
              <button
                class="btn btn-xs btn-circle btn-white-primary card-action card-action-end"
                data-toggle="button"
              >
                <i class="fe fe-heart"></i>
              </button>

              <!-- Button -->
              <button
                class="btn btn-xs w-100 btn-dark card-btn"
                data-bs-toggle="modal"
                data-bs-target="#modalProduct"
              >
                <i class="fe fe-eye me-2 mb-1"></i> Quick View
              </button>

              <!-- Image -->
              <img
                class="card-img-top"
                src="assets/img/products/product-49.jpg"
                alt="..."
              />
            </div>

            <!-- Body -->
            <div class="card-body fw-bold text-center">
              <a class="text-body" href="product.html">Leather sneakers</a>
              <br />
              <span class="text-muted">$19.00</span>
            </div>
          </div>
        </div>
      </div>
    </section>


<!-- seller -->
<section class="py-12">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <!-- Heading -->
            <h2 class="mb-4 text-center">Top month Sellers</h2>

            <!-- Nav -->
            <div class="nav justify-content-center mb-10">
              <a
                class="nav-link active"
                href="#topSellersTab"
                data-bs-toggle="tab"
                >Fassion</a
              >
              <a class="nav-link" href="#topSellersTab" data-bs-toggle="tab"
                >Food</a
              >
              <a class="nav-link" href="#topSellersTab" data-bs-toggle="tab"
                >Life</a
              >
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="topSellersTab">
            <div class="row">
              <div class="col-6 col-md-4 col-lg-3">
                <!-- Card -->
                <div class="card mb-7">
                  <!-- Badge -->
                  <div
                    class="badge bg-white text-body card-badge card-badge-start text-uppercase"
                  >
                    New
                  </div>

                  <!-- Image -->
                  <div class="card-img">
                    <!-- Image -->
                    <a class="card-img-hover" href="product.html">
                      <img
                        class="card-img-top card-img-back"
                        src="assets/img/products/product-120.jpg"
                        alt="..."
                      />
                      <img
                        class="card-img-top card-img-front"
                        src="assets/img/products/product-5.jpg"
                        alt="..."
                      />
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#modalProduct"
                        >
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>
                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">
                    <!-- Category -->
                    <div class="fs-xs">
                      <a class="text-muted" href="shop.html">Shoes</a>
                    </div>

                    <!-- Title -->
                    <div class="fw-bold">
                      <a class="text-body" href="product.html">
                        Leather mid-heel Sandals
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="fw-bold text-muted">$129.00</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <!-- Card -->
                <div class="card mb-7">
                  <!-- Image -->
                  <div class="card-img">
                    <!-- Image -->
                    <a class="card-img-hover" href="product.html">
                      <img
                        class="card-img-top card-img-back"
                        src="assets/img/products/product-121.jpg"
                        alt="..."
                      />
                      <img
                        class="card-img-top card-img-front"
                        src="assets/img/products/product-6.jpg"
                        alt="..."
                      />
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#modalProduct"
                        >
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>
                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">
                    <!-- Category -->
                    <div class="fs-xs">
                      <a class="text-muted" href="shop.html">Dresses</a>
                    </div>

                    <!-- Title -->
                    <div class="fw-bold">
                      <a class="text-body" href="product.html">
                        Cotton floral print Dress
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="fw-bold text-muted">$40.00</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <!-- Card -->
                <div class="card mb-7">
                  <!-- Badge -->
                  <div
                    class="badge bg-dark card-badge card-badge-start text-uppercase"
                  >
                    Sale
                  </div>

                  <!-- Image -->
                  <div class="card-img">
                    <!-- Image -->
                    <a class="card-img-hover" href="product.html">
                      <img
                        class="card-img-top card-img-back"
                        src="assets/img/products/product-122.jpg"
                        alt="..."
                      />
                      <img
                        class="card-img-top card-img-front"
                        src="assets/img/products/product-7.jpg"
                        alt="..."
                      />
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#modalProduct"
                        >
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>
                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">
                    <!-- Category -->
                    <div class="fs-xs">
                      <a class="text-muted" href="shop.html">Shoes</a>
                    </div>

                    <!-- Title -->
                    <div class="fw-bold">
                      <a class="text-body" href="product.html">
                        Leather Sneakers
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="fw-bold">
                      <span
                        class="fs-xs text-gray-350 text-decoration-line-through"
                        >$85.00</span
                      >
                      <span class="text-primary">$85.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <!-- Card -->
                <div class="card mb-7">
                  <!-- Image -->
                  <div class="card-img">
                    <!-- Image -->
                    <a href="#!">
                      <img
                        class="card-img-top card-img-front"
                        src="assets/img/products/product-8.jpg"
                        alt="..."
                      />
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#modalProduct"
                        >
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>
                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">
                    <!-- Category -->
                    <div class="fs-xs">
                      <a class="text-muted" href="shop.html">Tops</a>
                    </div>

                    <!-- Title -->
                    <div class="fw-bold">
                      <a class="text-body" href="product.html">
                        Cropped cotton Top
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="fw-bold text-muted">$29.00</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <!-- Card -->
                <div class="card mb-7">
                  <!-- Image -->
                  <div class="card-img">
                    <!-- Image -->
                    <a href="#!">
                      <img
                        class="card-img-top card-img-front"
                        src="assets/img/products/product-9.jpg"
                        alt="..."
                      />
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#modalProduct"
                        >
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>
                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">
                    <!-- Category -->
                    <div class="fs-xs">
                      <a class="text-muted" href="shop.html">Dresses</a>
                    </div>

                    <!-- Title -->
                    <div class="fw-bold">
                      <a class="text-body" href="product.html">
                        Floral print midi Dress
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="fw-bold text-muted">$50.00</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <!-- Card -->
                <div class="card mb-7">
                  <!-- Badge -->
                  <div
                    class="badge bg-dark card-badge card-badge-start text-uppercase"
                  >
                    Sale
                  </div>

                  <!-- Image -->
                  <div class="card-img">
                    <!-- Image -->
                    <a class="card-img-hover" href="product.html">
                      <img
                        class="card-img-top card-img-back"
                        src="assets/img/products/product-123.jpg"
                        alt="..."
                      />
                      <img
                        class="card-img-top card-img-front"
                        src="assets/img/products/product-10.jpg"
                        alt="..."
                      />
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#modalProduct"
                        >
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>
                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">
                    <!-- Category -->
                    <div class="fs-xs">
                      <a class="text-muted" href="shop.html">Bags</a>
                    </div>

                    <!-- Title -->
                    <div class="fw-bold">
                      <a class="text-body" href="product.html">
                        Suede cross body Bag
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="fw-bold">
                      <span
                        class="fs-xs text-gray-350 text-decoration-line-through"
                        >$79.00</span
                      >
                      <span class="text-primary">$49.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <!-- Card -->
                <div class="card mb-7">
                  <!-- Image -->
                  <div class="card-img">
                    <!-- Image -->
                    <a class="card-img-hover" href="product.html">
                      <img
                        class="card-img-top card-img-back"
                        src="assets/img/products/product-124.jpg"
                        alt="..."
                      />
                      <img
                        class="card-img-top card-img-front"
                        src="assets/img/products/product-11.jpg"
                        alt="..."
                      />
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#modalProduct"
                        >
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>
                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">
                    <!-- Category -->
                    <div class="fs-xs">
                      <a class="text-muted" href="shop.html">Skirts</a>
                    </div>

                    <!-- Title -->
                    <div class="fw-bold">
                      <a class="text-body" href="product.html">
                        Printed A-line Skirt
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="fw-bold text-muted">$79.00</div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <!-- Card -->
                <div class="card mb-7">
                  <!-- Badge -->
                  <div
                    class="badge bg-white text-body card-badge card-badge text-uppercase"
                  >
                    New
                  </div>

                  <!-- Image -->
                  <div class="card-img">
                    <!-- Image -->
                    <a href="#!">
                      <img
                        class="card-img-top card-img-front"
                        src="assets/img/products/product-12.jpg"
                        alt="..."
                      />
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-bs-toggle="modal"
                          data-bs-target="#modalProduct"
                        >
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button
                          class="btn btn-xs btn-circle btn-white-primary"
                          data-toggle="button"
                        >
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>
                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">
                    <!-- Category -->
                    <div class="fs-xs">
                      <a class="text-muted" href="shop.html">Shoes</a>
                    </div>

                    <!-- Title -->
                    <div class="fw-bold">
                      <a class="text-body" href="product.html">
                        Heel strappy Sandals
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="fw-bold text-muted">$90.00</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!-- Link  -->
            <div class="mt-7 text-center">
              <a class="link-underline" href="#!">Discover more</a>
            </div>
          </div>
        </div>
      </div>
    </section>

</div>



</html>