<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<!-- Content -->
<div layout:fragment="content">

	<div data-flickity='{"prevNextButtons": true, "fade": true}'>

		<!-- Item -->
		<div class="w-100 bg-cover" th:each="banner:${productbanner}">
			<div class="container d-flex flex-column">
				<div class="row align-items-center py-12" style="min-height: 550px">
					<!-- productbanner -->
					<a href="#"><img alt="..."
						th:src="@{/img/products/}+${banner.uploadName}"></a>

					<div style="display: none" th:text="${banner.imgContent}"></div>
				</div>
				<!-- content -->
			</div>
		</div>

	</div>
	<!-- slider -->

	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Heading -->
				<h2 class="mb-10 text-center">New Arrivals
					
				</h2>
			</div>
		</div>
	</div>
	<!-- new arrival -->
	<section class="py-12">

		<div class="flickity-page-dots-progress"
			data-flickity='{"pageDots": true}'>
			<!-- Item -->
			<div class="col px-4" style="max-width: 300px"
				th:each="product : ${productList}">
				<div class="card">
					<!-- Image -->
					<div class="card-img">
					<!-- Badge -->
						<div
							class="badge bg-white text-body card-badge card-badge-start text-uppercase">
							New</div>
					
						<!-- 상품 찜 하기 -->
						<button
							class="btn btn-xs btn-circle btn-white-primary card-action card-action-end"
							data-toggle="button">
							<i class="fe fe-heart"></i>
						</button>

						<!-- 상품 페이지로 이동 -->
						<button class="test btn btn-xs w-100 btn-dark card-btn"
							data-bs-toggle="modal"
							th:onclick="|location.href = '@{goodDetail(productCode=${product.productCode})}'|"
							> 
							<i class="fe fe-eye me-2 mb-1"></i> 자세히 보기
						</button>

						<!-- Image -->
						<img th:src="@{/img/products/product-12.jpg}" class="card-img-top"
							alt="...">

						<div style="display: none"
							th:text="${product.productImg[0].imgContent}"></div>
					</div>
					<!-- <img class="card-img-top" th:src="@{/img/products/${product.uploadName}" alt="..."/> -->
					<!-- 대체 콘텐트 -->


					<!-- Body -->
					<div class="card-body fw-bold text-center">
						<a class="text-body"
							th:onclick="|location.href = '@{/goodDetail(productCode=${product.productCode})}'|">
							<div th:text="${product.productName}">상품이름</div>
							<div th:text="${product.productCost} + 원"></div>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="py-12">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-8 col-xl-6">


					<!-- Heading -->
					<h2 class="mb-10 text-center">Sellers</h2>

				</div>
			</div>

			<!-- product -->
			<div class="row">
				<div class="col-6 col-sm-6 col-md-4 col-lg-3"
					th:each="product:${productRand}">

					<!-- Card -->
					<div class="card mb-7" data-toggle="card-collapse">

						<!-- Image -->
						<div class="card-img" data-flickity='{"draggable": false}'
							id="productOneImg">
							<a class="d-block w-100"> <img class="card-img-top"
								src="../img/products/product-5.jpg" alt="..." />
							</a> <a class="d-block w-100" href="product.html"> <img
								class="card-img-top" src="../img/products/product-142.jpg"
								alt="..." />
							</a>
						</div>

						<!-- Collapse -->
						<div class="card-collapse-parent">

							<!-- Body -->
							<div class="card-body px-0 pb-0 bg-white">
								<div class="row gx-0">
									<div class="col">

										<!-- Title -->
										<a class="d-block fw-bold text-body"
											th:onclick="|location.href = '@{/goodDetail(productCode=${product.productCode})}'|"
											th:text="${product.productName}"> </a>

										<!-- Category -->
										<a class="fs-xs text-muted" href="shop.html"> Shoes </a>

									</div>
									<div class="col-auto">

										<!-- Price -->
										<div class="fs-sm fw-bold text-muted"
											th:text="${product.productCost}+원"></div>

									</div>
								</div>
							</div>

							<!-- Footer -->
							<!-- 다른이미지도 볼수있게 -->
							<div class="card-collapse collapse">
								<div class="card-footer px-0 bg-white">
									<form>
										<div class="mb-1">
											<div class="form-check form-check-inline form-check-color">
												<input class="form-check-input" type="radio"
													id="productOneColorOne" name="productOneColor"
													data-toggle="flickity" data-target="#productOneImg"
													data-slide="0"
													style="background-color: grey; width: 15px; height: 15px"
													checked />

											</div>
											<div
												class="form-check form-check-inline form-check-color ms-n2">
												<input class="form-check-input" type="radio"
													id="productOneColorTwo" name="productOneColor"
													data-toggle="flickity" data-target="#productOneImg"
													data-slide="1"
													style="background-color: grey; width: 15px; height: 15px" />
											</div>
											<div
												class="form-check form-check-inline form-check-color ms-n2">
												<input class="form-check-input" type="radio"
													id="productOneColorTwo" name="productOneColor"
													data-toggle="flickity" data-target="#productOneImg"
													data-slide="1"
													style="background-color: grey; width: 15px; height: 15px" />
											</div>
										</div>


										<!-- 옵션 -->
										<div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productOneSizeOne" name="sizeRadio" /> <label
													class="form-check-label" for="productOneSizeOne">6</label>
											</div>

										</div>
									</form>
								</div>
							</div>

						</div>

					</div>

				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-3">

					<!-- Card -->
					<div class="card mb-7" data-toggle="card-collapse">

						<!-- Image -->
						<div class="card-img" data-flickity='{"draggable": false}'
							id="productEightImg">
							<a class="d-block w-100" href="product.html"> <img
								class="card-img-top" src="../img/products/product-12.jpg"
								alt="..." />
							</a> <a class="d-block w-100" href="product.html"> <img
								class="card-img-top" src="../img/products/product-145.jpg"
								alt="..." />
							</a>
						</div>

						<!-- Collapse -->
						<div class="card-collapse-parent">

							<!-- Body -->
							<div class="card-body px-0 pb-0 bg-white">
								<div class="row gx-0">
									<div class="col">

										<!-- Title -->
										<a class="d-block fw-bold text-body" href="product.html">
											Heel strappy Sandals </a>

										<!-- Category -->
										<a class="fs-xs text-muted" href="shop.html"> Shoes </a>

									</div>
									<div class="col-auto">

										<!-- Price -->
										<div class="fs-sm fw-bold text-muted">$90.00</div>

									</div>
								</div>
							</div>

							<!-- Footer -->
							<div class="card-collapse collapse">
								<div class="card-footer px-0 bg-white">
									<form>
										<div class="mb-1">
											<div class="form-check form-check-inline form-check-color">
												<input class="form-check-input" type="radio"
													id="productEightColorOne" name="productEightColor"
													data-toggle="flickity" data-target="#productEightImg"
													data-slide="0" style="background-color: black;" checked />
											</div>
											<div
												class="form-check form-check-inline form-check-color ms-n2">
												<input class="form-check-input" type="radio"
													id="productEightColorTwo" name="productEightColor"
													data-toggle="flickity" data-target="#productEightImg"
													data-slide="1" style="background-color: red;" />
											</div>
										</div>
										<div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productEightSizeOne" name="sizeRadio" /> <label
													class="form-check-label" for="productEightSizeOne">6</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productEightSizeTwo" name="sizeRadio" /> <label
													class="form-check-label" for="productEightSizeTwo">6.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productEightSizeThree" name="sizeRadio" /> <label
													class="form-check-label" for="productEightSizeThree">7</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productEightSizeFour" name="sizeRadio" /> <label
													class="form-check-label" for="productEightSizeFour">7.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productEightSizeFive" name="sizeRadio" /> <label
													class="form-check-label" for="productEightSizeFive">8.5</label>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-12">

					<!-- Link  -->
					<div class="mt-7 text-center">
						<a class="link-underline" href="/goodsList">더 보기</a>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- seller -->
	<section class="py-12">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-8 col-xl-6">
					<!-- Heading -->
					<h2 class="mb-4 text-center">Top Sellers</h2>

					<!-- Nav -->
					<div class="nav justify-content-center mb-10">
						<a class="nav-link active" href="#topSellersTab"
							data-bs-toggle="tab">Fassion</a> <a class="nav-link"
							href="#topSellersTab" data-bs-toggle="tab">Food</a> <a
							class="nav-link" href="#topSellersTab" data-bs-toggle="tab">Life</a>
					</div>
				</div>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade show active" id="topSellersTab">
					<div class="row">
						<div class="col-6 col-md-4 col-lg-3">
							<!-- Card -->
							<div class="card mb-7">


								<!-- Image -->
								<div class="card-img">
									<!-- Image -->
									<a class="card-img-hover" href="product.html"> <img
										class="card-img-top card-img-back"
										src="assets/img/products/product-120.jpg" alt="..." /> <img
										class="card-img-top card-img-front"
										src="assets/img/products/product-5.jpg" alt="..." />
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>
								</div>

								<!-- Body -->
								<div class="card-body px-0">
									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Shoes</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Leather mid-heel
											Sandals </a>
									</div>

									<!-- Price -->
									<div class="fw-bold text-muted">$129.00</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-12">
								<!-- Link  -->
								<div class="mt-7 text-center">
									<a class="link-underline" href="productMenu">더 보기</a>
								</div>
							</div>
						</div>
					</div>
	</section>



</div>




</html>
