<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<!-- Content -->
<div layout:fragment="content">
	<div data-flickity='{"prevNextButtons": true, "fade": true}'>
		<!-- Item -->
		<div class="w-100 bg-cover"
			style="background-image: url(../../static/img/mujun/fassionbanner.jpg)">
			<div class="container d-flex flex-column">
				<div class="row align-items-center py-12" style="min-height: 550px">
					<!-- Heading -->
					<h1>Summer Sale</h1>
				</div>
			</div>
		</div>

		<!-- Item -->
		<div class="w-100 bg-cover"
			style="background-image: url(assets/img/covers/cover-23.jpg)">
			<div class="container d-flex flex-column">
				<div class="row align-items-center justify-content-end py-12"
					style="min-height: 550px">
					<div class="col-12 col-md-6 col-lg-5 col-xl-4 offset-md-n1">
						<!-- Heading -->
						<h1 class="mb-5">Summer Collection</h1>

						<!-- Text -->
						<p class="mb-8 fs-lg text-gray-500">So called give, one whales
							tree seas dry place own day, winged tree created spirit.</p>

						<!-- Button -->
						<a class="btn btn-dark" href="shop.html"> Shop Now <i
							class="fe fe-arrow-right ms-2"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Item -->
		<div class="w-100 bg-cover"
			style="background-image: url(static/img/covers/cover-16.jpg)">
			<div class="bg-dark-20">
				<div class="container d-flex flex-column">
					<div class="row align-items-center justify-content-end"
						style="min-height: 550px">
						<div class="col-12 text-center text-white">
							<!-- Preheading -->
							<h4 class="mb-0">Summer Styles</h4>

							<!-- Heading -->
							<h1 class="display-1">50% OFF</h1>

							<!-- Links -->
							<p class="mb-0">
								<a href="shop.html" class="link-underline text-reset mx-4 my-4">Shop
									Women</a> <a href="shop.html"
									class="link-underline text-reset mx-4 my-4">Shop
									Men</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- slider -->

	<!-- new arrival -->
	<section class="py-12">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Heading -->
					<h2 class="mb-10 text-center">New Arrivals</h2>
				</div>
			</div>
		</div>
		<div class="flickity-page-dots-progress"
			data-flickity='{"pageDots": true}'>
			<!-- Item -->
			<div class="col px-4" style="max-width: 300px">
				<div class="card">
					<!-- Image -->
					<div class="card-img">
						<!-- 상품 찜 하기 -->
						<button
							class="btn btn-xs btn-circle btn-white-primary card-action card-action-end"
							data-toggle="button">
							<i class="fe fe-heart"></i>
						</button>

						<!-- 상품 페이지로 이동 -->
						<button class="btn btn-xs w-100 btn-dark card-btn"
							data-bs-toggle="modal" data-bs-target="#modalProduct">
							<i class="fe fe-eye me-2 mb-1"></i> 자세히 보기
						</button>

						<!-- Image -->
						<img class="card-img-top" src="../../img/products/product-1.jpg"
							alt="..." />
					</div>

					<!-- Body -->
					<div class="card-body fw-bold text-center">
						<a class="text-body" href="product.html">상품이름</a> <br /> <span class="text-muted">가격</span>
					</div>
				</div>
			</div>

			<!-- Item -->
			<div class="col px-4" style="max-width: 300px">
				<div class="card">
					<!-- Image -->
					<div class="card-img">
						<!-- Action -->
						<button
							class="btn btn-xs btn-circle btn-white-primary card-action card-action-end"
							data-toggle="button">
							<i class="fe fe-heart"></i>
						</button>

						<!-- Badge -->
						<span
							class="badge bg-dark card-badge card-badge-start text-uppercase">
							Sale </span>

						<!-- Button -->
						<button class="btn btn-xs w-100 btn-dark card-btn"
							data-bs-toggle="modal" data-bs-target="#modalProduct">
							<i class="fe fe-eye me-2 mb-1"></i> 자세히 보기
						</button>

						<!-- Image -->
						<img class="card-img-top" src="../../img/products/product-4.jpg"
							alt="..." />
					</div>

					<!-- Body -->
					<div class="card-body fw-bold text-center">
						<a class="text-body" href="product.html">상품이름</a>
						<br />
						<span class="text-muted">가격</span>
					</div>
				</div>
			</div>

			
		</div>
	</section>

	<section class="py-12">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-8 col-xl-6">

					
					<!-- Heading -->
					<h2 class="mb-10 text-center">Sellers</h2>

				</div>
			</div>
			<div class="row">
				<div class="col-6 col-sm-6 col-md-4 col-lg-3">

					<!-- Card -->
					<div class="card mb-7" data-toggle="card-collapse">

						<!-- Badge -->
						<div
							class="badge bg-white text-body card-badge card-badge-start text-uppercase">
							New</div>

						<!-- Image -->
						<div class="card-img" data-flickity='{"draggable": false}'
							id="productOneImg">
							<a class="d-block w-100" href="product.html"> <img
								class="card-img-top" src="assets/img/products/product-5.jpg"
								alt="..." />
							</a> <a class="d-block w-100" href="product.html"> <img
								class="card-img-top" src="assets/img/products/product-142.jpg"
								alt="..." />
							</a>
						</div>

						<!-- Collapse -->
						<div class="card-collapse-parent">

							<!-- Body -->
							<div class="card-body px-0 pb-0 bg-white">
								<div class="row gx-0">
									<div class="col">

										<!-- Title -->
										<a class="d-block fw-bold text-body" href="product.html">
											Leather mid-heel Sandals </a>

										<!-- Category -->
										<a class="fs-xs text-muted" href="shop.html"> Shoes </a>

									</div>
									<div class="col-auto">

										<!-- Price -->
										<div class="fs-sm fw-bold text-muted">$129.00</div>

									</div>
								</div>
							</div>

							<!-- Footer -->
							<div class="card-collapse collapse">
								<div class="card-footer px-0 bg-white">
									<form>
										<div class="mb-1">
											<div class="form-check form-check-inline form-check-color">
												<input class="form-check-input" type="radio"
													id="productOneColorOne" name="productOneColor"
													data-toggle="flickity" data-target="#productOneImg"
													data-slide="0" style="background-color: beige" checked />
											</div>
											<div
												class="form-check form-check-inline form-check-color ms-n2">
												<input class="form-check-input" type="radio"
													id="productOneColorTwo" name="productOneColor"
													data-toggle="flickity" data-target="#productOneImg"
													data-slide="1" style="background-color: black" />
											</div>
										</div>
										<div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productOneSizeOne" name="sizeRadio" /> <label
													class="form-check-label" for="productOneSizeOne">6</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productOneSizeTwo" name="sizeRadio" /> <label
													class="form-check-label" for="productOneSizeTwo">6.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productOneSizeThree" name="sizeRadio" /> <label
													class="form-check-label" for="productOneSizeThree">7</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productOneSizeFour" name="sizeRadio" /> <label
													class="form-check-label" for="productOneSizeFour">7.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productOneSizeFive" name="sizeRadio" /> <label
													class="form-check-label" for="productOneSizeFive">8.5</label>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>

					</div>

				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-3">

					<!-- Card -->
					<div class="card mb-7" data-toggle="card-collapse">

						<!-- Image -->
						<div class="card-img" data-flickity='{"draggable": false}'
							id="productTwoImg">
							<a class="d-block w-100" href="product.html"> <img
								class="card-img-top" src="assets/img/products/product-6.jpg"
								alt="..." />
							</a> <a class="d-block w-100" href="product.html"> <img
								class="card-img-top" src="assets/img/products/product-143.jpg"
								alt="..." />
							</a>
						</div>

						<!-- Collapse -->
						<div class="card-collapse-parent">

							<!-- Body -->
							<div class="card-body px-0 pb-0 bg-white">
								<div class="row gx-0">
									<div class="col">

										<!-- Title -->
										<a class="d-block fw-bold text-body" href="product.html">
											Cotton floral print Dress </a>

										<!-- Category -->
										<a class="fs-xs text-muted" href="shop.html"> Dresses </a>

									</div>
									<div class="col-auto">

										<!-- Price -->
										<div class="fs-sm fw-bold text-muted">$40.00</div>

									</div>
								</div>
							</div>

							<!-- Footer -->
							<div class="card-collapse collapse">
								<div class="card-footer px-0 bg-white">
									<form>
										<div class="mb-1">
											<div class="form-check form-check-inline form-check-color">
												<input class="form-check-input" type="radio"
													id="productTwoColorOne" name="productTwoColor"
													data-toggle="flickity" data-target="#productTwoImg"
													data-slide="0" style="background-color: red" checked />
											</div>
											<div
												class="form-check form-check-inline form-check-color ms-n2">
												<input class="form-check-input" type="radio"
													id="productTwoColorTwo" name="productTwoColor"
													data-toggle="flickity" data-target="#productTwoImg"
													data-slide="1" style="background-color: white" />
											</div>
										</div>
										<div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productTwoSizeOne" name="sizeRadio" /> <label
													class="form-check-label" for="productTwoSizeOne">6</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productTwoSizeTwo" name="sizeRadio" /> <label
													class="form-check-label" for="productTwoSizeTwo">6.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productTwoSizeThree" name="sizeRadio" /> <label
													class="form-check-label" for="productTwoSizeThree">7</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productTwoSizeFour" name="sizeRadio" /> <label
													class="form-check-label" for="productTwoSizeFour">7.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productTwoSizeFive" name="sizeRadio" /> <label
													class="form-check-label" for="productTwoSizeFive">8.5</label>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>

					</div>

				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-3">

					<!-- Card -->
					<div class="card mb-7" data-toggle="card-collapse">

						<!-- Badge -->
						<div
							class="badge bg-dark card-badge card-badge-start text-uppercase letter-spacing-lg">
							Sale</div>

						<!-- Image -->
						<img class="card-img-top" src="assets/img/products/product-7.jpg"
							alt="..." />

						<!-- Collapse -->
						<div class="card-collapse-parent">

							<!-- Body -->
							<div class="card-body px-0 pb-0 bg-white">
								<div class="row gx-0">
									<div class="col">

										<!-- Title -->
										<a class="d-block fw-bold text-body" href="product.html">
											Leather Sneakers </a>

										<!-- Category -->
										<a class="fs-xs text-muted" href="shop.html"> Shoes </a>

									</div>
									<div class="col-auto">

										<!-- Price -->
										<div
											class="fs-xs fw-bold text-gray-350 text-decoration-line-through">
											$115.00</div>
										<div class="fs-sm fw-bold text-primary">$85.00</div>

									</div>
								</div>
							</div>

							<!-- Footer -->
							<div class="card-collapse collapse">
								<div class="card-footer px-0 bg-white">
									<form>
										<div class="mb-1">
											<div class="form-check form-check-inline form-check-color">
												<input class="form-check-input" type="radio"
													id="productThreeColorOne" name="productThreeColor"
													style="background-color: #f9f9f9;" checked />
											</div>
										</div>
										<div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productThreeSizeOne" name="sizeRadio" /> <label
													class="form-check-label" for="productThreeSizeOne">6</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productThreeSizeTwo" name="sizeRadio" /> <label
													class="form-check-label" for="productThreeSizeTwo">6.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productThreeSizeThree" name="sizeRadio" /> <label
													class="form-check-label" for="productThreeSizeThree">7</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productThreeSizeFour" name="sizeRadio" /> <label
													class="form-check-label" for="productThreeSizeFour">7.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productThreeSizeFive" name="sizeRadio" /> <label
													class="form-check-label" for="productThreeSizeFive">8.5</label>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>

					</div>

				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-3">

					<!-- Card -->
					<div class="card mb-7" data-toggle="card-collapse">

						<!-- Image -->
						<img class="card-img-top" src="assets/img/products/product-8.jpg"
							alt="..." />

						<!-- Collapse -->
						<div class="card-collapse-parent">

							<!-- Body -->
							<div class="card-body px-0 pb-0 bg-white">
								<div class="row gx-0">
									<div class="col">

										<!-- Title -->
										<a class="d-block fw-bold text-body" href="product.html">
											Cropped cotton Top </a>

										<!-- Category -->
										<a class="fs-xs text-muted" href="shop.html"> Top </a>

									</div>
									<div class="col-auto">

										<!-- Price -->
										<div class="fs-sm fw-bold text-muted">$29.00</div>

									</div>
								</div>
							</div>

							<!-- Footer -->
							<div class="card-collapse collapse">
								<div class="card-footer px-0 bg-white">
									<form>
										<div class="mb-1">
											<div class="form-check form-check-inline form-check-color">
												<input class="form-check-input" type="radio"
													id="productFourColorOne" name="productFourColor"
													style="background-color: #f9f9f9;" checked />
											</div>
										</div>
										<div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productFourSizeOne" name="sizeRadio" /> <label
													class="form-check-label" for="productFourSizeOne">6</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productFourSizeTwo" name="sizeRadio" /> <label
													class="form-check-label" for="productFourSizeTwo">6.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productFourSizeThree" name="sizeRadio" /> <label
													class="form-check-label" for="productFourSizeThree">7</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productFourSizeFour" name="sizeRadio" /> <label
													class="form-check-label" for="productFourSizeFour">7.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productFourSizeFive" name="sizeRadio" /> <label
													class="form-check-label" for="productFourSizeFive">8.5</label>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>

					</div>

				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-3">

					<!-- Card -->
					<div class="card mb-7" data-toggle="card-collapse">

						<!-- Image -->
						<img class="card-img-top" src="assets/img/products/product-9.jpg"
							alt="..." />

						<!-- Collapse -->
						<div class="card-collapse-parent">

							<!-- Body -->
							<div class="card-body px-0 pb-0 bg-white">
								<div class="row gx-0">
									<div class="col">

										<!-- Title -->
										<a class="d-block fw-bold text-body" href="product.html">
											Floral print midi Dress </a>

										<!-- Category -->
										<a class="fs-xs text-muted" href="shop.html"> Dresses </a>

									</div>
									<div class="col-auto">

										<!-- Price -->
										<div class="fs-sm fw-bold text-muted">$50.00</div>

									</div>
								</div>
							</div>

							<!-- Footer -->
							<div class="card-collapse collapse">
								<div class="card-footer px-0 bg-white">
									<form>
										<div class="mb-1">
											<div class="form-check form-check-inline form-check-color">
												<input class="form-check-input" type="radio"
													id="productFiveColorOne" name="productFiveColor"
													style="background-color: yellow;" checked />
											</div>
										</div>
										<div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productFiveSizeOne" name="sizeRadio" /> <label
													class="form-check-label" for="productFiveSizeOne">6</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productFiveSizeTwo" name="sizeRadio" /> <label
													class="form-check-label" for="productFiveSizeTwo">6.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productFiveSizeThree" name="sizeRadio" /> <label
													class="form-check-label" for="productFiveSizeThree">7</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productFiveSizeFour" name="sizeRadio" /> <label
													class="form-check-label" for="productFiveSizeFour">7.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productFiveSizeFive" name="sizeRadio" /> <label
													class="form-check-label" for="productFiveSizeFive">8.5</label>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>

					</div>

				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-3">

					<!-- Card -->
					<div class="card mb-7" data-toggle="card-collapse">

						<!-- Badge -->
						<div
							class="badge bg-dark card-badge card-badge-start text-uppercase letter-spacing-lg">
							Sale</div>

						<!-- Image -->
						<div class="card-img" data-flickity='{"draggable": false}'
							id="productSixImg">
							<a class="d-block w-100" href="product.html"> <img
								class="card-img-top" src="assets/img/products/product-10.jpg"
								alt="..." />
							</a> <a class="d-block w-100" href="product.html"> <img
								class="card-img-top" src="assets/img/products/product-144.jpg"
								alt="..." />
							</a>
						</div>

						<!-- Collapse -->
						<div class="card-collapse-parent">

							<!-- Body -->
							<div class="card-body px-0 pb-0 bg-white">
								<div class="row gx-0">
									<div class="col">

										<!-- Title -->
										<a class="d-block fw-bold text-body" href="product.html">
											Suede cross body Bag </a>

										<!-- Category -->
										<a class="fs-xs text-muted" href="shop.html"> Bags </a>

									</div>
									<div class="col-auto">

										<!-- Price -->
										<div
											class="fs-xs fw-bold text-gray-350 text-decoration-line-through">
											$79.00</div>
										<div class="fs-sm fw-bold text-primary">$49.00</div>

									</div>
								</div>
							</div>

							<!-- Footer -->
							<div class="card-collapse collapse">
								<div class="card-footer px-0 bg-white">
									<form>
										<div class="mb-1">
											<div class="form-check form-check-inline form-check-color">
												<input class="form-check-input" type="radio"
													id="productSixColorOne" name="productSixColor"
													data-toggle="flickity" data-target="#productSixImg"
													data-slide="0" style="background-color: beige;" checked />
											</div>
											<div
												class="form-check form-check-inline form-check-color ms-n2">
												<input class="form-check-input" type="radio"
													id="productSixColorTwo" name="productSixColor"
													data-toggle="flickity" data-target="#productSixImg"
													data-slide="1" style="background-color: black;" />
											</div>
										</div>
										<div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productSixSizeOne" name="sizeRadio" /> <label
													class="form-check-label" for="productSixSizeOne">6</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productSixSizeTwo" name="sizeRadio" /> <label
													class="form-check-label" for="productSixSizeTwo">6.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productSixSizeThree" name="sizeRadio" /> <label
													class="form-check-label" for="productSixSizeThree">7</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productSixSizeFour" name="sizeRadio" /> <label
													class="form-check-label" for="productSixSizeFour">7.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productSixSizeFive" name="sizeRadio" /> <label
													class="form-check-label" for="productSixSizeFive">8.5</label>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>

					</div>

				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-3">

					<!-- Card -->
					<div class="card mb-7" data-toggle="card-collapse">

						<!-- Image -->
						<img class="card-img-top" src="assets/img/products/product-11.jpg"
							alt="..." />

						<!-- Collapse -->
						<div class="card-collapse-parent">

							<!-- Body -->
							<div class="card-body px-0 pb-0 bg-white">
								<div class="row gx-0">
									<div class="col">

										<!-- Title -->
										<a class="d-block fw-bold text-body" href="product.html">
											Printed A-line Skirt </a>

										<!-- Category -->
										<a class="fs-xs text-muted" href="shop.html"> Skirts </a>

									</div>
									<div class="col-auto">

										<!-- Price -->
										<div class="fs-sm fw-bold text-muted">$79.00</div>

									</div>
								</div>
							</div>

							<!-- Footer -->
							<div class="card-collapse collapse">
								<div class="card-footer px-0 bg-white">
									<form>
										<div class="mb-1">
											<div class="form-check form-check-inline form-check-color">
												<input class="form-check-input" type="radio"
													id="productSevenColorOne" name="productSevenColor"
													style="background-color: black;" checked />
											</div>
										</div>
										<div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productSevenSizeOne" name="sizeRadio" /> <label
													class="form-check-label" for="productSevenSizeOne">6</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productSevenSizeTwo" name="sizeRadio" /> <label
													class="form-check-label" for="productSevenSizeTwo">6.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productSevenSizeThree" name="sizeRadio" /> <label
													class="form-check-label" for="productSevenSizeThree">7</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productSevenSizeFour" name="sizeRadio" /> <label
													class="form-check-label" for="productSevenSizeFour">7.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productSevenSizeFive" name="sizeRadio" /> <label
													class="form-check-label" for="productSevenSizeFive">8.5</label>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>

					</div>

				</div>
				<div class="col-6 col-sm-6 col-md-4 col-lg-3">

					<!-- Card -->
					<div class="card mb-7" data-toggle="card-collapse">

						<!-- Badge -->
						<div
							class="badge bg-white text-body card-badge card-badge-start text-uppercase">
							New</div>

						<!-- Image -->
						<div class="card-img" data-flickity='{"draggable": false}'
							id="productEightImg">
							<a class="d-block w-100" href="product.html"> <img
								class="card-img-top" src="assets/img/products/product-12.jpg"
								alt="..." />
							</a> <a class="d-block w-100" href="product.html"> <img
								class="card-img-top" src="assets/img/products/product-145.jpg"
								alt="..." />
							</a>
						</div>

						<!-- Collapse -->
						<div class="card-collapse-parent">

							<!-- Body -->
							<div class="card-body px-0 pb-0 bg-white">
								<div class="row gx-0">
									<div class="col">

										<!-- Title -->
										<a class="d-block fw-bold text-body" href="product.html">
											Heel strappy Sandals </a>

										<!-- Category -->
										<a class="fs-xs text-muted" href="shop.html"> Shoes </a>

									</div>
									<div class="col-auto">

										<!-- Price -->
										<div class="fs-sm fw-bold text-muted">$90.00</div>

									</div>
								</div>
							</div>

							<!-- Footer -->
							<div class="card-collapse collapse">
								<div class="card-footer px-0 bg-white">
									<form>
										<div class="mb-1">
											<div class="form-check form-check-inline form-check-color">
												<input class="form-check-input" type="radio"
													id="productEightColorOne" name="productEightColor"
													data-toggle="flickity" data-target="#productEightImg"
													data-slide="0" style="background-color: black;" checked />
											</div>
											<div
												class="form-check form-check-inline form-check-color ms-n2">
												<input class="form-check-input" type="radio"
													id="productEightColorTwo" name="productEightColor"
													data-toggle="flickity" data-target="#productEightImg"
													data-slide="1" style="background-color: red;" />
											</div>
										</div>
										<div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productEightSizeOne" name="sizeRadio" /> <label
													class="form-check-label" for="productEightSizeOne">6</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productEightSizeTwo" name="sizeRadio" /> <label
													class="form-check-label" for="productEightSizeTwo">6.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productEightSizeThree" name="sizeRadio" /> <label
													class="form-check-label" for="productEightSizeThree">7</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productEightSizeFour" name="sizeRadio" /> <label
													class="form-check-label" for="productEightSizeFour">7.5</label>
											</div>
											<div
												class="form-check form-check-inline form-check-text fs-xs">
												<input class="form-check-input" type="radio"
													id="productEightSizeFive" name="sizeRadio" /> <label
													class="form-check-label" for="productEightSizeFive">8.5</label>
											</div>
										</div>
									</form>
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-12">

					<!-- Link  -->
					<div class="mt-7 text-center">
						<a class="link-underline" href="shop.html">더 보기</a>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- seller -->
	<section class="py-12">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10 col-lg-8 col-xl-6">
					<!-- Heading -->
					<h2 class="mb-4 text-center">Top Sellers</h2>

					<!-- Nav -->
					<div class="nav justify-content-center mb-10">
						<a class="nav-link active" href="#topSellersTab"
							data-bs-toggle="tab">Fassion</a> <a
							class="nav-link" href="#topSellersTab" data-bs-toggle="tab">Food</a>
						<a class="nav-link" href="#topSellersTab" data-bs-toggle="tab">Life</a>
					</div>
				</div>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade show active" id="topSellersTab">
					<div class="row">
						<div class="col-6 col-md-4 col-lg-3">
							<!-- Card -->
							<div class="card mb-7">
								<!-- Badge -->
								<div
									class="badge bg-white text-body card-badge card-badge-start text-uppercase">
									New</div>

								<!-- Image -->
								<div class="card-img">
									<!-- Image -->
									<a class="card-img-hover" href="product.html"> <img
										class="card-img-top card-img-back"
										src="assets/img/products/product-120.jpg" alt="..." />
										<img class="card-img-top card-img-front"
										src="assets/img/products/product-5.jpg" alt="..." />
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>
								</div>

								<!-- Body -->
								<div class="card-body px-0">
									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Shoes</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Leather mid-heel
											Sandals </a>
									</div>

									<!-- Price -->
									<div class="fw-bold text-muted">$129.00</div>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-3">
							<!-- Card -->
							<div class="card mb-7">
								<!-- Image -->
								<div class="card-img">
									<!-- Image -->
									<a class="card-img-hover" href="product.html"> <img
										class="card-img-top card-img-back"
										src="assets/img/products/product-121.jpg" alt="..." />
										<img class="card-img-top card-img-front"
										src="assets/img/products/product-6.jpg" alt="..." />
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>
								</div>

								<!-- Body -->
								<div class="card-body px-0">
									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Dresses</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Cotton floral
											print Dress </a>
									</div>

									<!-- Price -->
									<div class="fw-bold text-muted">$40.00</div>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-3">
							<!-- Card -->
							<div class="card mb-7">
								<!-- Badge -->
								<div
									class="badge bg-dark card-badge card-badge-start text-uppercase">
									Sale</div>

								<!-- Image -->
								<div class="card-img">
									<!-- Image -->
									<a class="card-img-hover" href="product.html"> <img
										class="card-img-top card-img-back"
										src="assets/img/products/product-122.jpg" alt="..." />
										<img class="card-img-top card-img-front"
										src="assets/img/products/product-7.jpg" alt="..." />
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>
								</div>

								<!-- Body -->
								<div class="card-body px-0">
									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Shoes</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Leather Sneakers
										</a>
									</div>

									<!-- Price -->
									<div class="fw-bold">
										<span class="fs-xs text-gray-350 text-decoration-line-through">$85.00</span>
										<span class="text-primary">$85.00</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-3">
							<!-- Card -->
							<div class="card mb-7">
								<!-- Image -->
								<div class="card-img">
									<!-- Image -->
									<a href="#!"> <img class="card-img-top card-img-front"
										src="assets/img/products/product-8.jpg" alt="..." />
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>
								</div>

								<!-- Body -->
								<div class="card-body px-0">
									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Tops</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Cropped cotton
											Top </a>
									</div>

									<!-- Price -->
									<div class="fw-bold text-muted">$29.00</div>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-3">
							<!-- Card -->
							<div class="card mb-7">
								<!-- Image -->
								<div class="card-img">
									<!-- Image -->
									<a href="#!"> <img class="card-img-top card-img-front"
										src="assets/img/products/product-9.jpg" alt="..." />
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>
								</div>

								<!-- Body -->
								<div class="card-body px-0">
									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Dresses</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Floral print
											midi Dress </a>
									</div>

									<!-- Price -->
									<div class="fw-bold text-muted">$50.00</div>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-3">
							<!-- Card -->
							<div class="card mb-7">
								<!-- Badge -->
								<div
									class="badge bg-dark card-badge card-badge-start text-uppercase">
									Sale</div>

								<!-- Image -->
								<div class="card-img">
									<!-- Image -->
									<a class="card-img-hover" href="product.html"> <img
										class="card-img-top card-img-back"
										src="assets/img/products/product-123.jpg" alt="..." />
										<img class="card-img-top card-img-front"
										src="assets/img/products/product-10.jpg" alt="..." />
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>
								</div>

								<!-- Body -->
								<div class="card-body px-0">
									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Bags</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Suede cross body
											Bag </a>
									</div>

									<!-- Price -->
									<div class="fw-bold">
										<span class="fs-xs text-gray-350 text-decoration-line-through">$79.00</span>
										<span class="text-primary">$49.00</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-3">
							<!-- Card -->
							<div class="card mb-7">
								<!-- Image -->
								<div class="card-img">
									<!-- Image -->
									<a class="card-img-hover" href="product.html"> <img
										class="card-img-top card-img-back"
										src="assets/img/products/product-124.jpg" alt="..." />
										<img class="card-img-top card-img-front"
										src="assets/img/products/product-11.jpg" alt="..." />
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>
								</div>

								<!-- Body -->
								<div class="card-body px-0">
									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Skirts</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Printed A-line
											Skirt </a>
									</div>

									<!-- Price -->
									<div class="fw-bold text-muted">$79.00</div>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-3">
							<!-- Card -->
							<div class="card mb-7">
								<!-- Badge -->
								<div
									class="badge bg-white text-body card-badge card-badge text-uppercase">
									New</div>

								<!-- Image -->
								<div class="card-img">
									<!-- Image -->
									<a href="#!"> <img class="card-img-top card-img-front"
										src="assets/img/products/product-12.jpg" alt="..." />
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>
								</div>

								<!-- Body -->
								<div class="card-body px-0">
									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Shoes</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Heel strappy
											Sandals </a>
									</div>

									<!-- Price -->
									<div class="fw-bold text-muted">$90.00</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<!-- Link  -->
					<div class="mt-7 text-center">
						<a class="link-underline" href="productMenu">더 보기</a>
					</div>
				</div>
			</div>
		</div>
	</section>


</div>
</html>
