#__app_root__ { margin: 0px; padding: 0px; font-family: 나눔고딕, NanumGothic, 맑은고딕, MalgunGothic, 돋움, Dotum, Helvetica, sans-serif; font-size: 12px; background-color: rgb(237, 240, 245); }
#__app_root__ p, #__app_root__ h1, #__app_root__ h2, #__app_root__ h3, #__app_root__ h4, #__app_root__ h5, #__app_root__ h6, #__app_root__ ul, #__app_root__ ol, #__app_root__ li, #__app_root__ dl, #__app_root__ dt, #__app_root__ dd, #__app_root__ table, #__app_root__ th, #__app_root__ td, #__app_root__ form, #__app_root__ fieldset, #__app_root__ legend, #__app_root__ input, #__app_root__ textarea, #__app_root__ button, #__app_root__ select { margin: 0px; padding: 0px; font-family: 나눔고딕, NanumGothic, 맑은고딕, MalgunGothic, 돋움, Dotum, Helvetica, sans-serif; }
#__app_root__ input, #__app_root__ textarea, #__app_root__ select, #__app_root__ button, #__app_root__ table { font-size: 12px; }
#__app_root__ img, #__app_root__ fieldset { border: 0px; }
#__app_root__ ul, #__app_root__ ol { list-style: none; }
#__app_root__ em, #__app_root__ address { font-style: normal; }
#__app_root__ a { text-decoration: none; }
#__app_root__ a:hover, #__app_root__ a:active, #__app_root__ a:focus { text-decoration: underline; }
#__app_root__ .blind, #__app_root__ .u_skip, #__app_root__ #u_skip { position: absolute; clip: rect(0px, 0px, 0px, 0px); width: 1px; height: 1px; margin: -1px; overflow: hidden; }
#__app_root__ .hidden { position: absolute; visibility: hidden; }
#__app_root__ .npay_btn_common .ico_excel::before, #__app_root__ .npay_btn_common .arrow_right::after, #__app_root__ .npay_btn_common .arrow_left::after, #__app_root__ .npay_btn_common .arrow_link_white::after, #__app_root__ .npay_selectbox::before, #__app_root__ .npay_checkbox.square .label_check::before, #__app_root__ .npay_checkbox.square input[type="checkbox"]:checked + .label_check::before, #__app_root__ .npay_checkbox.square input[type="checkbox"]:disabled + .label_check::before, #__app_root__ .npay_checkbox.square input[type="checkbox"]:checked:disabled + .label_check::before, #__app_root__ .npay_checkbox.circle .label_check::before, #__app_root__ .npay_checkbox.circle input[type="checkbox"]:checked + .label_check::before, #__app_root__ .npay_checkbox.circle input[type="radio"]:checked + .label_check::before, #__app_root__ .npay_checkbox.circle input[type="checkbox"]:disabled + .label_check::before, #__app_root__ .npay_checkbox.circle input[type="radio"]:disabled + .label_check::before, #__app_root__ .npay_checkbox.circle input[type="checkbox"]:checked:disabled + .label_check::before, #__app_root__ .npay_checkbox.circle input[type="radio"]:checked:disabled + .label_check::before, #__app_root__ .npay_calendar_section .calendar_input .calendar_button, #__app_root__ .uio_calendar .top .calendar-btn-prev-mon, #__app_root__ .uio_calendar .top .calendar-btn-next-mon, #__app_root__ .npay_paginate .pre_end::before, #__app_root__ .npay_paginate .pre::before, #__app_root__ .npay_paginate .next::before, #__app_root__ .npay_paginate .next_end::before, #__app_root__ .npay_tooltip .tooltip_close, #__app_root__ .npay_text_link::after, #__app_root__ .npay_text_link.disabled::after, #__app_root__ .npay_link_help, #__app_root__ .npay_link_help.size_small, #__app_root__ .complete_txt::before, #__app_root__ .sort_change .sort.up, #__app_root__ .sort_change .sort.down, #__app_root__ .text_item_list li a::after, #__app_root__ .ico_delete, #__app_root__ .file_area .fileinfo_box .filename::before, #__app_root__ .file_area .delete_btn::before, #__app_root__ .npay_popup_help { background-image: url("/o/v3/temp/static/npay/app/img/sp_sale-8d9ec1ecd95541bd96a1749d68ef2c3f.png"); background-size: 181px 162px; }
#__app_root__ .npay_popup_wrap .npay_popup_close, #__app_root__ .selectlist_area .result_none::before { background-image: url("/o/v3/temp/static/npay/app/img/sp_sale_popup-90789d6067d511d593cb732b5fe1ae04.png"); background-size: 87px 54px; }
#__app_root__ .ico_status.ico_exc_defer, #__app_root__ .ico_status.ico_exc_coltfinish, #__app_root__ .ico_status.ico_exc_colt, #__app_root__ .ico_status.ico_exc_finish, #__app_root__ .ico_status.ico_exc_request, #__app_root__ .ico_status.ico_exc_delay, #__app_root__ .ico_status.ico_purc_renew, #__app_root__ .ico_status.ico_purc_finish, #__app_root__ .ico_status.ico_purc_request, #__app_root__ .ico_status.ico_return_coltfinish, #__app_root__ .ico_status.ico_return_collect, #__app_root__ .ico_status.ico_return_finish, #__app_root__ .ico_status.ico_return_request, #__app_root__ .ico_status.ico_return_delay, #__app_root__ .ico_status.ico_send_order, #__app_root__ .ico_status.ico_send_address, #__app_root__ .ico_status.ico_send_cancel, #__app_root__ .ico_status.ico_send_delay, #__app_root__ .ico_status.ico_order_confirm, #__app_root__ .ico_status.ico_delivery_finish, #__app_root__ .ico_status.ico_delivery, #__app_root__ .ico_status.ico_delivery_issue, #__app_root__ .ico_status.ico_new_order, #__app_root__ .ico_status.ico_auto_handling, #__app_root__ .ico_status.ico_auto_refund, #__app_root__ .ico_status.ico_cancel_finish, #__app_root__ .ico_status.ico_cancel_request, #__app_root__ .ico_status.ico_cancel, #__app_root__ .ico_status.ico_cancel_delay, #__app_root__ .ico_status.ico_refund_defer, #__app_root__ .ico_status.ico_today, #__app_root__ .ico_status.ico_today_delay, #__app_root__ .ico_status.ico_new_delay, #__app_root__ .ico_status.ico_free_delay, #__app_root__ .ico_status.ico_free_order { background-image: url("/o/v3/temp/static/npay/app/img/sp_sale_status-1b3e16e7de316f5cb65f371c6ba0d500.png"); background-size: 272px 272px; }
#__app_root__ .npay_btn_common { display: inline-block; box-sizing: border-box; border-width: 1px; border-style: solid; background-color: rgb(255, 255, 255); cursor: pointer; }
#__app_root__ .npay_btn_common:hover { text-decoration: none; }
#__app_root__ .npay_btn_common.type_gray { color: rgb(255, 255, 255); border: none; background-color: rgb(154, 164, 186); }
#__app_root__ .npay_btn_common.type_basic { color: rgb(118, 122, 130); border-color: rgb(210, 213, 220); }
#__app_root__ .npay_btn_common.type_basic:disabled { opacity: 0.6; }
#__app_root__ .npay_btn_common.type_basic_green { color: rgb(0, 199, 60); border-color: rgb(0, 199, 60); }
#__app_root__ .npay_btn_common.type_green { color: rgb(255, 255, 255); border-color: rgb(0, 169, 51); background-color: rgb(0, 199, 60); }
#__app_root__ .npay_btn_common.size_small { padding: 0px 8px; line-height: 18px; }
#__app_root__ .npay_btn_common.size_small.type_gray { line-height: 20px; }
#__app_root__ .npay_btn_common.size_medium { padding: 0px 15px; line-height: 28px; }
#__app_root__ .npay_btn_common.size_medium.type_gray { line-height: 30px; }
#__app_root__ .npay_btn_common.size_large { font-size: 14px; padding: 0px 20px; line-height: 36px; }
#__app_root__ .npay_btn_common.size_large.type_gray { line-height: 38px; }
#__app_root__ .npay_btn_common.size_big { width: 198px; padding: 0px; font-size: 18px; line-height: 48px; }
#__app_root__ .npay_btn_common.size_big.type_gray { line-height: 50px; }
#__app_root__ .npay_btn_common .ico_excel::before { display: inline-block; margin: -1px 5px 1px 0px; background-position: -166px -55px; width: 12px; height: 12px; vertical-align: middle; content: ""; }
#__app_root__ .npay_btn_common .ico_arrow::after { display: inline-block; margin: -1px 0px 1px 3px; content: ""; vertical-align: middle; }
#__app_root__ .npay_btn_common .arrow_right::after { background-position: -166px -71px; width: 13px; height: 10px; }
#__app_root__ .npay_btn_common .arrow_left::after { background-position: -166px -85px; width: 13px; height: 10px; }
#__app_root__ .npay_btn_common .arrow_link_white::after { margin-left: 5px; background-position: -166px -120px; width: 5px; height: 9px; }
#__app_root__ .npay_selectbox { overflow: hidden; position: relative; width: 200px; border: 1px solid rgb(219, 221, 226); background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(77, 81, 89); box-sizing: border-box; line-height: 28px; }
#__app_root__ .npay_selectbox::before { content: ""; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background-position: -166px -99px; width: 9px; height: 6px; }
#__app_root__ .npay_selectbox .selectlabel { position: absolute; inset: 0px; padding-left: 10px; }
#__app_root__ .npay_selectbox .selectlabel.selected { color: rgb(77, 81, 89); }
#__app_root__ .npay_selectbox .select { position: relative; width: 100%; height: 28px; line-height: normal; border: 0px; opacity: 0; appearance: none; }
#__app_root__ .npay_selectbox.type_gray { background-color: rgb(248, 249, 253); }
#__app_root__ .npay_selectbox.disabled { opacity: 0.5; }
#__app_root__ .npay_checkbox .label_check { display: inline-block; position: relative; padding-left: 26px; font-size: 13px; color: rgb(82, 85, 92); line-height: 20px; }
#__app_root__ .npay_checkbox .label_check::before { position: absolute; left: 0px; top: 0px; content: ""; }
#__app_root__ .npay_checkbox input[type="checkbox"]:disabled + .label_check, #__app_root__ .npay_checkbox input[type="radio"]:disabled + .label_check { opacity: 0.6; }
#__app_root__ .npay_checkbox.square .label_check::before { background-position: -142px -24px; width: 20px; height: 20px; }
#__app_root__ .npay_checkbox.square input[type="checkbox"]:checked + .label_check::before { background-position: -48px -142px; width: 20px; height: 20px; }
#__app_root__ .npay_checkbox.square input[type="checkbox"]:disabled + .label_check::before { background-position: -104px -76px; width: 20px; height: 20px; }
#__app_root__ .npay_checkbox.square input[type="checkbox"]:checked:disabled + .label_check::before { background-position: -96px -142px; width: 20px; height: 20px; }
#__app_root__ .npay_checkbox.circle .label_check::before { background-position: -24px -142px; width: 20px; height: 20px; }
#__app_root__ .npay_checkbox.circle input[type="checkbox"]:checked + .label_check::before, #__app_root__ .npay_checkbox.circle input[type="radio"]:checked + .label_check::before { background-position: 0px -142px; width: 20px; height: 20px; }
#__app_root__ .npay_checkbox.circle input[type="checkbox"]:disabled + .label_check::before, #__app_root__ .npay_checkbox.circle input[type="radio"]:disabled + .label_check::before { background-position: -142px -48px; width: 20px; height: 20px; }
#__app_root__ .npay_checkbox.circle input[type="checkbox"]:checked:disabled + .label_check::before, #__app_root__ .npay_checkbox.circle input[type="radio"]:checked:disabled + .label_check::before { background-position: -142px -96px; width: 20px; height: 20px; }
#__app_root__ .npay_inputbox { display: inline-block; width: 200px; height: 30px; color: rgb(48, 50, 54); border: 1px solid rgb(219, 221, 226); background-color: rgb(255, 255, 255); line-height: 28px; box-sizing: border-box; text-indent: 10px; }
#__app_root__ .npay_inputbox:disabled { background-color: rgb(233, 235, 240); border-color: rgb(219, 221, 226); color: rgb(77, 81, 89); opacity: 0.6; }
#__app_root__ .npay_inputbox.date { font-size: 14px; font-family: Arial, 나눔고딕, NanumGothic, 맑은고딕, MalgunGothic, 돋움, Dotum, Helvetica, sans-serif; }
#__app_root__ .npay_calendar_section::after { clear: both; display: block; content: ""; }
#__app_root__ .npay_calendar_section .calendar_input { float: left; position: relative; padding-right: 39px; height: 30px; }
#__app_root__ .npay_calendar_section .calendar_input .npay_inputbox { width: 134px; border-right-width: 0px; }
#__app_root__ .npay_calendar_section .calendar_input .calendar_button { position: absolute; right: 0px; top: 0px; border: 1px solid rgb(219, 221, 226); background-position: -46px -58px; width: 40px; height: 30px; background-color: rgb(255, 255, 255); cursor: pointer; box-sizing: border-box; }
#__app_root__ .npay_calendar_section .calendar_input + .calendar_input { padding-left: 31px; }
#__app_root__ .npay_calendar_section .calendar_input + .calendar_input::before { position: absolute; left: 0px; top: 0px; line-height: 30px; width: 31px; text-align: center; content: "~"; }
#__app_root__ .npay_calendar_section .calendar_input .uio_calendar { position: absolute; right: 0px; top: 32px; }
#__app_root__ .uio_calendar { position: absolute; width: 236px; border: 1px solid rgb(217, 217, 217); z-index: 20; }
#__app_root__ .uio_calendar .top { position: relative; height: 52px; line-height: 52px; background-color: rgb(154, 164, 186); text-align: center; }
#__app_root__ .uio_calendar .top .calendar-btn-prev-mon, #__app_root__ .uio_calendar .top .calendar-btn-next-mon { position: absolute; top: 50%; transform: translateY(-50%); }
#__app_root__ .uio_calendar .top .calendar-btn-prev-mon { left: 23px; background-position: -120px -142px; width: 12px; height: 20px; }
#__app_root__ .uio_calendar .top .calendar-btn-next-mon { right: 23px; background-position: -124px -104px; width: 12px; height: 20px; }
#__app_root__ .uio_calendar .top .calendar-title { color: rgb(255, 255, 255); font-size: 23px; font-weight: normal; font-family: "Helvetica Neue", 나눔고딕, NanumGothic, 맑은고딕, MalgunGothic, 돋움, Dotum, Helvetica, sans-serif; }
#__app_root__ .uio_calendar .top .off { opacity: 0.4; }
#__app_root__ .uio_calendar .middle { padding: 10px 13px 9px; background-color: rgb(246, 249, 246); }
#__app_root__ .uio_calendar .middle table { width: 100%; table-layout: fixed; border: 0px none; }
#__app_root__ .uio_calendar .middle table th, #__app_root__ .uio_calendar .middle table td { padding: 4px 4px 3px 3px; font-size: 13px; line-height: 22px; text-align: center; border: 0px none; }
#__app_root__ .uio_calendar .middle table th { padding-bottom: 4px; color: rgb(154, 164, 186); font-weight: normal; }
#__app_root__ .uio_calendar .middle table .calendar-date { display: block; width: 22px; height: 22px; margin: 0px auto; color: rgb(85, 85, 85); line-height: 22px; cursor: pointer; text-decoration: none; }
#__app_root__ .uio_calendar .middle table .calendar-date:hover { color: rgb(255, 255, 255); background-color: rgb(201, 208, 221); }
#__app_root__ .uio_calendar .middle table .calendar-today .calendar-date { background-color: rgb(201, 208, 221); border-radius: 50%; }
#__app_root__ .uio_calendar .middle table .calendar-selected .calendar-date { color: rgb(255, 255, 255); background-color: rgb(83, 99, 134); }
#__app_root__ .uio_calendar .middle table .calendar-selected.calendar-today { border-radius: 0px; }
#__app_root__ .uio_calendar .middle table .calendar-prev-mon .calendar-date, #__app_root__ .uio_calendar .middle table .calendar-next-mon .calendar-date, #__app_root__ .uio_calendar .middle table .calendar-unselectable .calendar-date { color: rgb(85, 85, 85); opacity: 0.4; }
#__app_root__ .uio_calendar .middle table .calendar-prev-mon .calendar-date:hover, #__app_root__ .uio_calendar .middle table .calendar-next-mon .calendar-date:hover, #__app_root__ .uio_calendar .middle table .calendar-unselectable .calendar-date:hover { background-color: transparent; }
#__app_root__ .uio_calendar .ifr_layer { display: block; position: absolute; left: 0px; top: 0px; z-index: -1; width: 100%; height: 2000px; }
#__app_root__ .npay_selectbtn_section { display: table; width: 322px; table-layout: fixed; border-spacing: 1px; background-color: rgb(210, 213, 220); }
#__app_root__ .npay_selectbtn_section li { position: relative; display: table-cell; height: 28px; text-align: center; background-color: rgb(255, 255, 255); }
#__app_root__ .npay_selectbtn_section li .label_button { display: block; color: rgb(118, 122, 130); text-align: center; line-height: 28px; box-sizing: border-box; text-decoration: none; cursor: pointer; }
#__app_root__ .npay_selectbtn_section li.on .label_button, #__app_root__ .npay_selectbtn_section li :checked + .label_button { position: relative; margin: -1px; color: rgb(255, 255, 255); border: 1px solid rgb(0, 169, 51); background-color: rgb(0, 199, 60); z-index: 10; }
#__app_root__ .npay_selectbtn_section li.width_fix { width: 120px; }
#__app_root__ .npay_selectbtn_section.period { width: 224px; }
#__app_root__ .npay_selectbtn_section.period li.on .label_button { color: rgb(0, 199, 60); border-color: rgb(0, 199, 60); background-color: rgb(255, 255, 255); z-index: 10; }
#__app_root__ .npay_selectlist_section { overflow-y: scroll; width: 174px; height: 194px; padding: 7px 0px; border: 1px solid rgb(224, 228, 232); box-sizing: border-box; background-color: rgb(255, 255, 255); }
#__app_root__ .npay_selectlist_section .select_list .select_item .label_look { display: block; color: rgb(85, 85, 85); line-height: 30px; text-indent: 13px; cursor: pointer; }
#__app_root__ .npay_selectlist_section .select_list .select_item :checked + .label_look { color: rgb(0, 199, 60); }
#__app_root__ .npay_selectlist_section .select_list .select_item :disabled + .label_look { color: rgb(16, 136, 237); }
#__app_root__ .npay_paginate { text-align: center; }
#__app_root__ .npay_paginate a, #__app_root__ .npay_paginate strong { position: relative; display: inline-block; width: 34px; height: 34px; margin-left: -5px; font-family: Arial, 나눔고딕, NanumGothic, 맑은고딕, MalgunGothic, 돋움, Dotum, Helvetica, sans-serif; color: rgb(95, 99, 105); text-align: center; line-height: 34px; border: 1px solid rgb(231, 231, 231); vertical-align: top; text-decoration: none; white-space: nowrap; background-color: rgb(255, 255, 255); }
#__app_root__ .npay_paginate a:hover { color: rgb(0, 199, 60); }
#__app_root__ .npay_paginate strong { color: rgb(0, 199, 60); border-color: rgb(0, 199, 60); z-index: 10; }
#__app_root__ .npay_paginate .pre_end::before, #__app_root__ .npay_paginate .pre::before, #__app_root__ .npay_paginate .next::before, #__app_root__ .npay_paginate .next_end::before { position: absolute; inset: 0px; content: ""; }
#__app_root__ .npay_paginate .pre_end::before { background-position: -104px 0px; width: 34px; height: 34px; }
#__app_root__ .npay_paginate .pre::before { background-position: -104px -38px; width: 34px; height: 34px; }
#__app_root__ .npay_paginate .next::before { background-position: 0px -104px; width: 34px; height: 34px; }
#__app_root__ .npay_paginate .next_end::before { background-position: -38px -104px; width: 34px; height: 34px; }
#__app_root__ .npay_listdot_small { clear: both; }
#__app_root__ .npay_listdot_small li { position: relative; padding-left: 6px; color: rgb(118, 122, 131); line-height: 18px; }
#__app_root__ .npay_listdot_small li::before { position: absolute; left: 0px; top: 8px; width: 2px; height: 2px; content: ""; background-color: rgb(118, 122, 131); }
#__app_root__ .npay_listdot_small li.point_color::before { background-color: rgb(0, 199, 60); }
#__app_root__ .npay_listdot_small .npay_link_text { font-size: 12px; }
#__app_root__ .bullet { padding-left: 6px; position: relative; }
#__app_root__ .bullet::before { position: absolute; left: 0px; top: 8px; width: 2px; height: 2px; content: ""; background-color: rgb(118, 122, 131); }
#__app_root__ .npay_tooltip { position: absolute; width: 417px; padding: 20px 25px 20px 20px; border: 1px solid rgb(219, 221, 226); background-color: rgb(255, 255, 255); box-sizing: border-box; z-index: 20; }
#__app_root__ .npay_tooltip .npay_tooltip_h { margin: -20px 0px 20px; font-size: 16px; color: rgb(77, 81, 89); line-height: 52px; border-bottom: 1px solid rgb(224, 228, 232); }
#__app_root__ .npay_tooltip .npay_tooltip_h strong { font-weight: normal; }
#__app_root__ .npay_tooltip .tooltip_close { position: absolute; right: 10px; top: 10px; border: none; background-color: transparent; background-position: -142px -120px; width: 15px; height: 15px; }
#__app_root__ .npaylist_dot_medium { margin: -3px 0px -4px; }
#__app_root__ .npaylist_dot_medium li { position: relative; padding-left: 8px; font-size: 13px; color: rgb(136, 136, 136); line-height: 20px; }
#__app_root__ .npaylist_dot_medium li::before { position: absolute; left: 0px; top: 7px; width: 3px; height: 3px; background-color: rgb(160, 160, 160); content: ""; }
#__app_root__ .npaylist_dot_medium li + li { margin-top: 20px; }
#__app_root__ .ico_status { position: absolute; left: 0px; top: 50%; margin-top: -21px; border-radius: 50%; background-color: rgb(118, 122, 130); }
#__app_root__ .ico_status.ico_exc_defer { background-position: -138px -92px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_exc_coltfinish { background-position: -138px -46px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_exc_colt { background-position: -138px 0px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_exc_finish { background-position: -46px -138px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_exc_request { background-position: -92px -138px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_exc_delay { background-position: 0px -138px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_purc_renew { background-position: -46px -184px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_purc_finish { background-position: 0px -184px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_purc_request { background-position: -92px -184px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_return_coltfinish { background-position: -230px 0px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_return_collect { background-position: -184px -184px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_return_finish { background-position: -230px -92px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_return_request { background-position: -230px -138px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_return_delay { background-position: -230px -46px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_send_order { background-position: -92px -230px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_send_address { background-position: -230px -184px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_send_cancel { background-position: 0px -230px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_send_delay { background-position: -46px -230px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_order_confirm { background-position: -184px -138px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_delivery_finish { background-position: 0px -92px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_delivery { background-position: -92px -92px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_delivery_issue { background-position: -46px -92px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_new_order { background-position: -184px -92px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_auto_handling { background-position: -46px 0px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_auto_refund { background-position: -184px -46px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_cancel_finish { background-position: -46px -46px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_cancel_request { background-position: -92px 0px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_cancel { background-position: -92px -46px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_cancel_delay { background-position: 0px -46px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_refund_defer { background-position: -138px -184px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_today { background-position: -184px -230px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_today_delay { background-position: -138px -230px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_new_delay { background-position: 0px 0px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_free_delay { background-position: -138px -138px; width: 42px; height: 42px; }
#__app_root__ .ico_status.ico_free_order { background-position: -184px 0px; width: 42px; height: 42px; }
#__app_root__ .status_filtering { position: relative; min-height: 46px; padding-left: 56px; font-size: 13px; color: rgb(73, 78, 84); text-align: left; border: none; vertical-align: middle; }
#__app_root__ .status_filtering .number { color: rgb(73, 78, 84); }
#__app_root__ .npay_text_link { position: relative; padding-right: 9px; font-size: 13px; color: rgb(0, 199, 60); text-decoration: underline; }
#__app_root__ .npay_text_link::after { position: absolute; right: 0px; top: 50%; transform: translateY(-50%); background-position: -175px -120px; width: 5px; height: 9px; content: ""; }
#__app_root__ .npay_text_link + .npay_text_link { margin-left: 20px; }
#__app_root__ .npay_text_link.disabled { color: rgb(143, 149, 160); opacity: 0.6; pointer-events: none; cursor: default; }
#__app_root__ .npay_text_link.disabled::after { background-position: -166px -133px; width: 5px; height: 9px; }
#__app_root__ .point_color { color: rgb(0, 199, 60) !important; }
#__app_root__ .npay_content { overflow-x: auto; min-width: 975px; }
#__app_root__ .npay_sale_heading { position: relative; padding: 15px 0px 15px 56px; font-size: 0px; line-height: 30px; background-color: rgb(255, 255, 255); z-index: 20; }
#__app_root__ .npay_sale_heading::after { position: absolute; left: 0px; right: 0px; bottom: 0px; height: 1px; background-color: rgb(227, 231, 238); content: ""; }
#__app_root__ .npay_sale_heading > * { vertical-align: middle; }
#__app_root__ .npay_sale_heading .h2 { display: inline-block; font-size: 20px; font-weight: normal; vertical-align: middle; }
#__app_root__ .npay_sale_heading .right_area .type_basic + .type_basic { margin-left: -1px; }
#__app_root__ .npay_sale_heading .npay_link_help { margin-left: 4px; }
#__app_root__ .npay_sale_heading .npay_link_help + .npay_link_text { margin-left: 9px; }
#__app_root__ .npay_sale_heading .npay_btn_common { margin-left: 15px; }
#__app_root__ .npay_sale_heading .npay_btn_common + .npay_btn_common { margin-left: 4px; }
#__app_root__ .npay_link_help { display: inline-block; border: 0px none; background-position: -100px -104px; width: 20px; height: 20px; background-color: transparent; vertical-align: middle; }
#__app_root__ .npay_link_help.size_small { background-position: -136px -142px; width: 15px; height: 15px; cursor: pointer; }
#__app_root__ .napy_sub_content { padding: 10px 25px 8px; }
#__app_root__ .npay_section { background-color: rgb(255, 255, 255); border: 1px solid rgb(227, 231, 238); }
#__app_root__ .npay_section .button_area { padding: 20px 0px; font-size: 0px; line-height: 0; text-align: center; }
#__app_root__ .npay_section .button_area .npay_btn_common { width: 110px; }
#__app_root__ .npay_section .button_area .npay_btn_common + .npay_btn_common { margin-left: 13px; }
#__app_root__ .npay_section .npaylist_dot_medium { margin: 0px; padding: 20px 35px; }
#__app_root__ .npay_section .npaylist_dot_medium li { padding-left: 0px; color: rgb(77, 81, 89); font-size: 13px; line-height: 20px; }
#__app_root__ .npay_section .npaylist_dot_medium li + li { margin: 0px; }
#__app_root__ .npay_section .npaylist_dot_medium li::before { background-color: transparent; }
#__app_root__ .npay_section + .npay_section { margin-top: 11px; }
#__app_root__ .npay_board_area { padding: 0px 35px 0px 34px; background-color: rgb(248, 249, 253); }
#__app_root__ .npay_search_area { padding: 0px 35px 0px 34px; }
#__app_root__ .npay_search_area .npay_inputbox { width: 280px; }
#__app_root__ .npay_search_area + .npay_grid_area { margin-top: -32px; }
#__app_root__ .npay_board_table { width: 100%; }
#__app_root__ .npay_board_table .label_width { width: 184px; }
#__app_root__ .npay_board_table .float_left { float: left; }
#__app_root__ .npay_board_table .float_left + .notify { float: left; margin-left: 15px; line-height: 30px; vertical-align: middle; }
#__app_root__ .npay_board_table .float_left + .float_left { margin-left: 10px; }
#__app_root__ .npay_board_table th, #__app_root__ .npay_board_table td { padding: 15px 20px 15px 0px; line-height: 29px; vertical-align: top; }
#__app_root__ .npay_board_table th { position: relative; font-size: 13px; color: rgb(118, 122, 131); font-weight: normal; text-align: left; vertical-align: top; }
#__app_root__ .npay_board_table th .npay_link_help { margin: -1px 0px 1px; }
#__app_root__ .npay_board_table tr + tr th, #__app_root__ .npay_board_table tr + tr td { border-top: 1px solid rgb(235, 238, 244); }
#__app_root__ .npay_board_table .cell::after { display: block; clear: both; content: ""; }
#__app_root__ .npay_board_table td:nth-of-type(2n+1) { padding-right: 29px; }
#__app_root__ .npay_board_table th:nth-of-type(2n) { position: relative; padding-left: 21px; white-space: nowrap; }
#__app_root__ .npay_board_table th:nth-of-type(2n)::before { position: absolute; left: 0px; top: 22px; content: ""; background-color: rgb(210, 213, 220); width: 1px; height: 16px; }
#__app_root__ .npay_board_table .group::after { clear: both; display: block; content: ""; }
#__app_root__ .npay_board_table .npay_listdot_small { margin-top: 10px; }
#__app_root__ .npay_board_table .reason_input.type_long { padding-bottom: 4px; }
#__app_root__ .npay_board_table .reason_input .npay_inputbox { padding: 10px; width: 100%; height: 94px; text-indent: 0px; vertical-align: top; line-height: normal; }
#__app_root__ .npay_board_table .reason_input .letter_num { display: block; text-align: right; margin-top: 9px; font-size: 13px; line-height: normal; color: rgb(77, 81, 89); }
#__app_root__ .npay_board_table .reason_input .letter_num em { color: rgb(0, 199, 60); }
#__app_root__ .npay_board_table .sum_input .npay_inputbox { width: 169px; border-right-width: 0px; }
#__app_root__ .npay_board_table .sum_input .npay_inputbox:disabled { background-color: rgb(255, 255, 255); opacity: 1; }
#__app_root__ .npay_board_table .sum_input label { padding: 0px 9px; display: inline-block; vertical-align: top; line-height: 28px; border: 1px solid rgb(219, 221, 226); background-color: rgb(255, 255, 255); }
#__app_root__ .npay_sub_heading { position: relative; padding: 25px 0px 24px 36px; border-bottom: 1px solid rgb(226, 230, 238); }
#__app_root__ .npay_sub_heading .h3 { font-size: 16px; font-weight: 500; }
#__app_root__ .npay_sub_heading .h3 b { font-weight: 500; }
#__app_root__ .right_area { position: absolute; right: 34px; top: 50%; transform: translateY(-50%); font-size: 12px; }
#__app_root__ .right_area .npay_selectbox { display: inline-block; width: auto; margin: -1px 0px 1px; vertical-align: middle; }
#__app_root__ .right_area .npay_selectbox .select { padding-right: 38px; }
#__app_root__ .right_area .npay_selectbox + .npay_btn_common { margin-left: 8px; }
#__app_root__ .right_area .npay_btn_common { margin-left: 0px; }
#__app_root__ .right_area .npay_btn_common + .npay_btn_common { margin-left: 7px; }
#__app_root__ .npay_grid_area { padding: 20px 34px; }
#__app_root__ .npay_grid_area .grid + .npay_paginate { margin-top: 20px; }
#__app_root__ .npay_listdot_small { position: relative; margin-top: 8px; z-index: 10; }
#__app_root__ .npay_listdot_small .overseas .npay_link_help { margin: -3px 0px 0px 3px; }
#__app_root__ .npay_listdot_small .overseas .npay_link_text { margin: 0px; }
#__app_root__ .npay_status_area { position: relative; margin: 0px 35px; padding: 20px 0px 20px 184px; }
#__app_root__ .npay_status_area .status_title { position: absolute; left: 0px; top: 50%; transform: translateY(-50%); font-size: 13px; color: rgb(0, 199, 60); line-height: 19px; font-weight: normal; }
#__app_root__ .npay_status_area .status_title .npay_link_help { margin: -1px 0px 1px; }
#__app_root__ .npay_status_area + .npay_status_area { border-top: 1px solid rgb(238, 241, 245); }
#__app_root__ .npay_status_list { margin-bottom: -20px; font-size: 0px; }
#__app_root__ .npay_status_list li { display: inline-block; margin-bottom: 20px; width: 188px; vertical-align: middle; }
#__app_root__ .npay_status_list li .status_filtering .number { display: block; border: 0px none; background-color: transparent; text-decoration: none; }
#__app_root__ .npay_status_list li .status_filtering .number b { font-size: 22px; font-family: Tahoma, 나눔고딕, NanumGothic, 맑은고딕, MalgunGothic, 돋움, Dotum, Helvetica, sans-serif; font-weight: normal; }
#__app_root__ .npay_status_list li .status_filtering .number span { margin-left: 5px; vertical-align: 2px; }
#__app_root__ .npay_status_list li .status_filtering p + .number { margin-top: 2px; }
#__app_root__ .npay_status_list li .status_filtering .npay_link_help { margin: -1px 0px 1px; }
#__app_root__ .npay_status_list li.on .status_filtering { color: rgb(0, 199, 60); }
#__app_root__ .npay_status_list li.on .status_filtering .number { color: rgb(0, 199, 60); }
#__app_root__ .npay_status_list li.on .status_filtering .ico_status { background-color: rgb(0, 199, 60); }
#__app_root__ .grid_bottom_button { margin: 10px 0px; font-size: 0px; line-height: 0; }
#__app_root__ .grid_bottom_button .npay_btn_common + .npay_btn_common { margin-left: 5px; }
#__app_root__ .npay_button_major { padding: 20px 35px 0px 34px; }
#__app_root__ .npay_button_major + .npay_listdot_small { margin: 7px 34px -10px; }
#__app_root__ .npay_button_major + .npay_grid_area { margin-top: -5px; }
#__app_root__ .npay_button_major::after { display: table; clear: both; content: ""; }
#__app_root__ .npay_button_major .left_box { float: left; }
#__app_root__ .npay_button_major .right_box { float: right; }
#__app_root__ .npay_button_major .front_button { position: relative; display: inline-block; margin-right: 26px; }
#__app_root__ .npay_button_major .front_button::after { position: absolute; top: 7px; right: -15px; width: 1px; height: 16px; background-color: rgb(219, 221, 226); content: ""; }
#__app_root__ .npay_search_area { margin-top: 20px; }
#__app_root__ .npay_search_area table { border-top: 1px solid rgb(237, 241, 244); }
#__app_root__ .npay_link_text { position: relative; display: inline-block; margin-left: 5px; padding-right: 8px; font-size: 13px; color: rgb(0, 199, 60); line-height: 20px; vertical-align: middle; text-decoration: underline; }
#__app_root__ .npay_link_text::after { position: absolute; right: 0px; top: 50%; margin-top: -10px; font-size: 9px; vertical-align: middle; content: ">"; }
#__app_root__ .complete_txt { display: block; margin-top: 20px; font-size: 14px; line-height: 21px; font-weight: normal; text-align: center; }
#__app_root__ .complete_txt::before { background-position: 0px 0px; width: 54px; height: 54px; display: block; margin: 0px auto 16px; content: ""; }
#__app_root__ .tooltip_dsc { font-size: 12px; line-height: 19px; text-align: center; color: rgb(77, 81, 89); }
#__app_root__ .tooltip_dsc .npay_text_link { font-size: 12px; }
#__app_root__ .complete_txt + .tooltip_dsc { margin-top: 9px; }
#__app_root__ .tooltip_btn { margin: 18px 0px 5px; text-align: center; }
#__app_root__ .tooltip_btn .npay_btn_common { width: 120px; }
#__app_root__ .sort_txt + .sort_txt::before { display: inline-block; margin: 3px 10px 0px; width: 1px; height: 14px; vertical-align: top; background-color: rgb(189, 189, 189); content: ""; }
#__app_root__ .sort_txt .on { text-decoration: underline; }
@media screen and (max-width: 1152px) {
  #__app_root__ .npay_board_area { padding-bottom: 10px; }
  #__app_root__ .npay_board_table { table-layout: auto; }
  #__app_root__ .npay_board_table th, #__app_root__ .npay_board_table td { padding-bottom: 5px; }
  #__app_root__ .npay_board_table .float_left { float: none; display: inline-block; vertical-align: middle; margin: 0px 10px 10px 0px !important; }
  #__app_root__ .npay_board_table .float_left.period { display: table; }
  #__app_root__ .npay_board_table .float_left + .notify { display: block; margin: 0px; }
  #__app_root__ .npay_board_table .npay_listdot_small { margin-top: 0px; }
  #__app_root__ .npay_grid_area + .npay_board_area { padding-bottom: 0px; }
  #__app_root__ .npay_grid_area + .npay_board_area .npay_board_table th, #__app_root__ .npay_grid_area + .npay_board_area .npay_board_table td { padding-bottom: 15px; }
  #__app_root__ .npay_listdot_small { margin-top: -2px; }
  #__app_root__ .npay_search_area + .npay_grid_area { margin-top: -20px; }
}
#__app_root__ .dim_layer { display: block; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 100; }
#__app_root__ .dim_layer .dim_bg { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgb(0, 0, 0); opacity: 0.53; }
#__app_root__ .npay_pop_layer { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10; }
#__app_root__ .npay_popup_wrap { position: relative; background-color: rgb(255, 255, 255); }
#__app_root__ .npay_popup_wrap .npay_popup_close { position: absolute; right: 14px; top: 20px; display: block; background-position: -58px 0px; width: 29px; height: 29px; border: none; background-color: transparent; }
#__app_root__ .npay_popup_wrap.small_type .npay_popup_header { height: 55px; line-height: 55px; }
#__app_root__ .npay_popup_wrap.small_type .npay_popup_close { top: 13px; }
#__app_root__ .npay_popup_wrap.small_type .npay_popup_footer .npay_btn_common { width: 120px; }
#__app_root__ .npay_popup_header { background-color: rgb(0, 199, 60); height: 65px; line-height: 65px; }
#__app_root__ .npay_popup_header .npay_popup_h1 { font-size: 18px; color: rgb(255, 255, 255); font-weight: normal; text-indent: 30px; }
#__app_root__ .npay_popup_content { padding: 30px 30px 0px; }
#__app_root__ .npay_popup_content .npay_popup_section { border: 1px solid rgb(227, 231, 238); padding: 0px 35px; }
#__app_root__ .npay_popup_content .npay_selectbtn_section { width: 100%; margin-bottom: 20px; }
#__app_root__ .npay_popup_content .sub_tit { margin-top: 19px; font-size: 14px; color: rgb(48, 50, 54); }
#__app_root__ .npay_popup_content .type_moveup { margin-top: 0px; }
#__app_root__ .npay_popup_content .dsc { margin-top: -14px; font-size: 13px; line-height: 20px; }
#__app_root__ .npay_popup_content .dsc2 { margin: 8px 0px -1px; }
#__app_root__ .npay_popup_content .npay_listdot_small { margin: -13px 0px 12px; }
#__app_root__ .npay_popup_content .npay_listdot_small li + li { margin-top: 7px; }
#__app_root__ .npay_popup_content.overseas { padding: 30px 20px 0px; }
#__app_root__ .npay_popup_content.overseas .npay_listdot_small { margin: 17px 0px -3px; }
#__app_root__ .npay_popup_content.wide { padding: 20px 20px 0px; }
#__app_root__ .sort_change { font-size: 0px; }
#__app_root__ .sort_change .sort { border: none; }
#__app_root__ .sort_change .sort.up { background-position: -76px -104px; width: 20px; height: 20px; }
#__app_root__ .sort_change .sort.down { background-position: -142px 0px; width: 20px; height: 20px; }
#__app_root__ .sort_change .sort + .sort { margin-left: 4px; }
#__app_root__ .npay_pop_board { width: 100%; }
#__app_root__ .npay_pop_board .label_width { width: 120px; }
#__app_root__ .npay_pop_board tr + tr th, #__app_root__ .npay_pop_board tr + tr td { border-top: 1px solid rgb(233, 237, 242); }
#__app_root__ .npay_pop_board th, #__app_root__ .npay_pop_board td { padding: 15px 0px; line-height: 30px; }
#__app_root__ .npay_pop_board th { font-size: 13px; color: rgb(77, 81, 89); text-align: left; font-weight: normal; vertical-align: top; }
#__app_root__ .npay_pop_board .inner_cell { position: relative; display: table-cell; }
#__app_root__ .npay_pop_board .inner_cell .button_common { display: block; width: 55px; margin: 0px auto; padding: 0px; text-align: center; }
#__app_root__ .npay_pop_board .inner_cell .button_common + .button_common { margin-top: 10px; }
#__app_root__ .npay_pop_board .cell_list_title { display: block; color: rgb(132, 137, 146); font-size: 13px; font-weight: normal; }
#__app_root__ .npay_pop_board .list_item_move { width: 82px; vertical-align: middle; text-align: center; }
#__app_root__ .npay_pop_board .sort_change { position: absolute; top: 5px; right: 0px; }
#__app_root__ .npay_popup_footer { padding: 20px 0px; text-align: center; }
#__app_root__ .npay_popup_footer .button_common { width: 138px; }
#__app_root__ .npay_popup_footer.overseas button { width: 160px; }
#__app_root__ .sub_title { font-size: 16px; line-height: 23px; font-weight: normal; color: rgb(48, 50, 54); }
#__app_root__ .npay_popup_box { border: 1px solid rgb(227, 231, 238); }
#__app_root__ .npay_popup_box .sub_title { padding: 14px 34px; background-color: rgb(248, 249, 253); }
#__app_root__ .npay_popup_box.goods { margin-top: 13px; padding: 18px 18px 19px; }
#__app_root__ .npay_popup_box.goods .goods_num { font-size: 14px; color: rgb(16, 136, 237); }
#__app_root__ .npay_popup_box.input { margin-top: 20px; padding: 20px 35px; }
#__app_root__ .npay_popup_box.survey { margin-top: 13px; padding: 20px 21px; }
#__app_root__ .npay_popup_box.basic { margin-top: 20px; padding: 20px; }
#__app_root__ .npay_popup_box.basic + .npay_popup_box.basic { margin-top: 10px; }
#__app_root__ .npay_popup_box .box_tit { display: block; margin: -20px -20px 0px; padding: 20px; background-color: rgb(248, 249, 253); font-size: 13px; line-height: 17px; color: rgb(118, 122, 131); }
#__app_root__ .npay_popup_dsc { font-size: 13px; line-height: normal; color: rgb(118, 122, 131); }
#__app_root__ .text_item_list { font-size: 14px; }
#__app_root__ .text_item_list li { padding: 20px 20px 20px 34px; line-height: 23px; }
#__app_root__ .text_item_list li strong { font-weight: normal; }
#__app_root__ .text_item_list li a { position: relative; float: right; padding-right: 10px; font-size: 12px; color: rgb(106, 110, 118); }
#__app_root__ .text_item_list li a::after { position: absolute; right: 0px; top: 50%; margin-top: -4px; background-position: -177px -109px; width: 4px; height: 7px; content: ""; }
#__app_root__ .text_item_list li + li { border-top: 1px solid rgb(233, 237, 242); }
#__app_root__ .info_text { margin-bottom: 19px; color: rgb(118, 122, 131); }
#__app_root__ .info_text:first-child { margin-top: -10px; }
#__app_root__ .info_text.file { font-size: 13px; margin-bottom: 12px; color: rgb(48, 50, 54); }
#__app_root__ .info_text.delivery { color: rgb(77, 81, 89); line-height: 18px; }
#__app_root__ .gray_box { background-color: rgb(248, 249, 253); }
#__app_root__ .gray_box.npay_listdot_small { margin: -30px -30px 0px; padding: 27px 30px 17px; font-size: 13px; }
#__app_root__ .gray_box.npay_listdot_small li + li { margin-top: 6px; }
#__app_root__ .gray_box2 { background-color: rgb(248, 249, 253); }
#__app_root__ .gray_box2.npay_listdot_small { margin: -20px -20px 0px; padding: 20px 15px; font-size: 13px; }
#__app_root__ .gray_box2.npay_listdot_small li + li { margin-top: 6px; }
#__app_root__ .horizontal_table { margin-top: 10px; }
#__app_root__ .horizontal_table table { width: 100%; border: 1px solid rgb(219, 221, 226); border-collapse: collapse; table-layout: fixed; }
#__app_root__ .horizontal_table table + table { margin-top: 10px; }
#__app_root__ .horizontal_table table .th_width { width: 119px; }
#__app_root__ .horizontal_table table th { text-align: left; font-weight: normal; border-left: 1px solid rgb(219, 221, 226); background-color: rgb(248, 249, 253); color: rgb(118, 122, 130); }
#__app_root__ .horizontal_table table th:nth-of-type(2n)::before { display: none; }
#__app_root__ .horizontal_table table td { color: rgb(77, 81, 89); }
#__app_root__ .horizontal_table table th, #__app_root__ .horizontal_table table td { padding: 12px 10px 13px 20px; font-size: 13px; border-bottom: 1px solid rgb(219, 221, 226); }
#__app_root__ .horizontal_table .npay_btn_common.size_small { margin-left: 5px; }
#__app_root__ .horizontal_table .npay_btn_common.type_oneline { margin-left: 0px; }
#__app_root__ .horizontal_table + .npay_listdot_small { margin: 10px 0px 0px; }
#__app_root__ .horizontal_table:first-child { margin-top: 0px; }
#__app_root__ .horizontal_table .sale_info th, #__app_root__ .horizontal_table .sale_info td { text-align: center; padding-left: 10px; }
#__app_root__ .horizontal_table .store_sale_info { margin-top: 14px; line-height: 18px; color: rgb(118, 122, 130); }
#__app_root__ .horizontal_table .manage_date { text-align: right; border-left: none; padding-right: 20px; color: rgb(118, 122, 130); font-size: 12px; }
#__app_root__ .type_line table th, #__app_root__ .type_line table td { padding: 10px 10px 10px 20px; border-left: 1px solid rgb(219, 221, 226); line-height: 20px; }
#__app_root__ .point_gray { color: rgb(48, 50, 54); }
#__app_root__ .delivery_box { position: relative; padding-left: 118px; font-size: 13px; line-height: 19px; }
#__app_root__ .delivery_box.recent { display: table; margin: -5px 0px -6px; min-height: 50px; }
#__app_root__ .delivery_box + .delivery_box { margin-top: 20px; padding-top: 20px; border-top: 1px solid rgb(234, 234, 234); }
#__app_root__ .delivery_box .company_list { display: table-cell; overflow: hidden; vertical-align: middle; }
#__app_root__ .delivery_box .company_list li { float: left; margin-right: 16px; line-height: 25px; }
#__app_root__ .delivery_box .company_list .company_name { border: none; font-size: 13px; text-decoration: underline; background-color: transparent; color: rgb(16, 136, 237); cursor: pointer; }
#__app_root__ .delivery_box .delivery_lb, #__app_root__ .delivery_box em { position: absolute; width: 118px; margin-left: -118px; color: rgb(48, 50, 54); }
#__app_root__ .delivery_box em { top: 5px; }
#__app_root__ .delivery_box .delivery_lb { line-height: 30px; }
#__app_root__ .delivery_box .npay_inputbox { width: 100%; background-color: rgb(248, 249, 253); }
#__app_root__ .ico_delete { background-position: -166px -109px; width: 7px; height: 7px; display: inline-block; margin: 8px 0px 0px 6px; border: none; background-color: transparent; vertical-align: top; }
#__app_root__ .npay_popup_wrap.address .npay_popup_header { height: 55px; line-height: 55px; }
#__app_root__ .npay_popup_wrap.address .npay_popup_header .npay_popup_h1 { text-indent: 20px; }
#__app_root__ .npay_popup_wrap.address .npay_popup_content { padding: 20px 20px 0px; }
#__app_root__ .npay_popup_wrap.address .npay_inputbox { width: 100%; background-color: rgb(248, 249, 253); }
#__app_root__ .npay_popup_wrap.address .npay_selectbtn_section li { font-size: 14px; }
#__app_root__ .npay_popup_wrap.address .npay_selectbtn_section li .label_button { line-height: 36px; }
#__app_root__ .npay_popup_wrap.address .npay_listdot_small li { color: rgb(77, 81, 89); }
#__app_root__ .npay_popup_wrap.address .npay_listdot_small li + li { margin-top: 5px; }
#__app_root__ .npay_popup_wrap.address .npay_popup_close { top: 15px; }
#__app_root__ .npay_popup_wrap.address .npay_popup_footer { padding: 18px 0px 25px; }
#__app_root__ .npay_popup_wrap.address .npay_popup_footer .button_common { width: 120px; }
#__app_root__ .npay_popup_wrap.address .selected_addr { margin-top: 20px; font-size: 13px; }
#__app_root__ .npay_popup_wrap.address .selected_addr em { color: rgb(16, 136, 237); }
#__app_root__ .npay_popup_wrap.address .detail_input { margin-top: 15px; }
#__app_root__ .npay_popup_wrap.address .detail_input + .npay_listdot_small { margin: 8px 0px -3px; }
#__app_root__ .search_area { position: relative; padding-right: 53px; }
#__app_root__ .search_area .npay_inputbox { border-right-width: 0px; }
#__app_root__ .search_area .npay_btn_common { position: absolute; top: 0px; right: 0px; width: 53px; }
#__app_root__ .search_area + .npay_listdot_small { margin: 13px 0px -3px; }
#__app_root__ .selectlist_area { margin-top: 20px; border: 1px solid rgb(208, 213, 221); }
#__app_root__ .selectlist_area .result_txt { padding: 19px 30px; border-bottom: 1px solid rgb(233, 237, 242); color: rgb(118, 122, 130); }
#__app_root__ .selectlist_area .address_box { max-height: 251px; overflow-y: scroll; }
#__app_root__ .selectlist_area .address_list { display: table; width: 100%; table-layout: fixed; border-collapse: collapse; }
#__app_root__ .selectlist_area .address_list li { display: table-row; color: rgb(77, 81, 89); }
#__app_root__ .selectlist_area .address_list li:hover { background-color: rgb(248, 249, 253); }
#__app_root__ .selectlist_area .address_list li.selected { color: rgb(0, 199, 60); }
#__app_root__ .selectlist_area .address_list li.selected .result_addr dt { border-color: rgb(0, 199, 60); color: rgb(0, 199, 60); }
#__app_root__ .selectlist_area .address_list li.selected .result_addr dd { color: rgb(0, 199, 60); }
#__app_root__ .selectlist_area .address_list li + li .result_addr, #__app_root__ .selectlist_area .address_list li + li .zipcode { border-top: 1px solid rgb(233, 237, 242); }
#__app_root__ .selectlist_area .address_list .result_addr { display: table-cell; overflow: hidden; padding: 8px 0px 12px; }
#__app_root__ .selectlist_area .address_list .result_addr dt { float: left; width: 40px; margin: 4px 6px 0px 30px; border: 1px solid rgb(208, 213, 221); font-size: 10px; line-height: 15px; text-align: center; color: rgb(143, 149, 160); background-color: rgb(255, 255, 255); }
#__app_root__ .selectlist_area .address_list .result_addr dd { overflow: hidden; line-height: 17px; margin-top: 4px; }
#__app_root__ .selectlist_area .address_list .result_addr.landnum { padding: 12px 0px 12px 30px; line-height: 17px; }
#__app_root__ .selectlist_area .address_list .zipcode { display: table-cell; padding-right: 30px; width: 120px; text-align: right; vertical-align: middle; }
#__app_root__ .selectlist_area .npay_paginate { padding: 19px 0px; border-top: 1px solid rgb(233, 237, 242); }
#__app_root__ .selectlist_area .result_none { padding-top: 110px; height: 268px; font-size: 13px; text-align: center; color: rgb(118, 122, 130); }
#__app_root__ .selectlist_area .result_none strong { display: block; margin: 14px 0px; font-size: 18px; font-weight: normal; color: rgb(24, 27, 30); }
#__app_root__ .selectlist_area .result_none::before { background-position: 0px 0px; display: block; width: 54px; height: 54px; margin: 0px auto; }
#__app_root__ .file_area { position: relative; overflow: hidden; line-height: 31px; }
#__app_root__ .file_area .file_btn { float: right; position: relative; margin-left: 11px; width: 75px; border: 1px solid rgb(114, 123, 144); background-color: rgb(137, 145, 163); color: rgb(255, 255, 255); text-align: center; }
#__app_root__ .file_area .file_btn label { display: block; }
#__app_root__ .file_area .file_btn input { position: absolute; top: 0px; left: 0px; width: 75px; height: 31px; z-index: -1; }
#__app_root__ .file_area .fileinfo_box { overflow: hidden; position: relative; padding-right: 125px; border: 1px solid rgb(219, 221, 226); background-color: rgb(248, 249, 253); font-size: 13px; line-height: 31px; color: rgb(77, 81, 89); }
#__app_root__ .file_area .fileinfo_box .filename { display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
#__app_root__ .file_area .fileinfo_box .filename::before { background-position: -166px -37px; width: 14px; height: 14px; display: inline-block; margin: 8px 6px 0px 12px; vertical-align: top; content: ""; }
#__app_root__ .file_area .fileinfo_box .capacity { position: absolute; top: 0px; right: 42px; }
#__app_root__ .file_area .delete_btn { position: absolute; top: 5px; right: 4px; padding: 3px; line-height: normal; }
#__app_root__ .file_area .delete_btn::before { background-position: -166px -19px; width: 14px; height: 14px; display: inline-block; vertical-align: top; content: ""; }
#__app_root__ .point_blue { color: rgb(16, 136, 237); }
#__app_root__ .popup_info_box { margin-top: 15px; padding: 12px 13px 11px; border: 4px solid rgb(235, 238, 242); font-size: 13px; line-height: 17px; color: rgb(143, 149, 160); }
#__app_root__ .popup_info_box .detail { display: inline-block; }
#__app_root__ .popup_info_box .detail .order_num { color: rgb(16, 136, 237); }
#__app_root__ .popup_info_box .detail + .detail { margin-left: 10px; }
#__app_root__ .popup_info_box .detail + .detail::before { display: inline-block; width: 1px; height: 12px; margin: 3px 10px 0px 0px; vertical-align: top; background-color: rgb(227, 231, 238); content: ""; }
#__app_root__ .survey_item { font-size: 13px; }
#__app_root__ .survey_item .question { display: block; }
#__app_root__ .survey_item .que_dsc { margin-top: 10px; font-size: 12px; line-height: 17px; color: rgb(118, 122, 131); }
#__app_root__ .survey_item .answer_area { margin-top: 13px; }
#__app_root__ .survey_item .answer_area .npay_checkbox { color: rgb(77, 81, 89); }
#__app_root__ .survey_item .answer_area .npay_checkbox + .npay_checkbox { margin-top: 10px; }
#__app_root__ .survey_item + .survey_item { margin-top: 20px; padding-top: 20px; border-top: 1px solid rgb(233, 237, 242); }
#__app_root__ .survey_item .npay_board_area { display: none; padding: 7px 20px 0px; margin: 20px -21px 0px; }
#__app_root__ .survey_item .npay_board_area:last-child { margin-bottom: -20px; }
#__app_root__ .survey_item .npay_board_area + .npay_checkbox { margin-top: 14px; }
#__app_root__ .survey_item .npay_board_area.on { display: block; }
#__app_root__ .survey_item .npay_board_table { table-layout: fixed; }
#__app_root__ .survey_item .npay_board_table .label_width { width: 175px; }
#__app_root__ .survey_item .npay_board_table th, #__app_root__ .survey_item .npay_board_table td { padding: 15px 0px; }
#__app_root__ .survey_item .npay_board_table td { color: rgb(77, 81, 89); }
#__app_root__ .survey_item .npay_selectbox { width: 215px; }
#__app_root__ .npay_popup_help { background-position: -166px 0px; width: 15px; height: 15px; display: inline-block; vertical-align: top; margin: 2px 0px 0px 4px; }
#__app_root__ .goods_name { display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: left; }
#__app_root__ .vertical_table table { width: 100%; table-layout: fixed; border: 1px solid rgb(219, 221, 226); border-collapse: collapse; }
#__app_root__ .vertical_table table td, #__app_root__ .vertical_table table th { padding: 10px 0px; border: 1px solid rgb(219, 221, 226); font-size: 13px; line-height: 20px; text-align: center; }
#__app_root__ .vertical_table table td label, #__app_root__ .vertical_table table th label { vertical-align: top; }
#__app_root__ .vertical_table table td { background-color: rgb(255, 255, 255); color: rgb(77, 81, 89); }
#__app_root__ .vertical_table table th { font-weight: normal; background-color: rgb(248, 249, 253); color: rgb(118, 122, 130); }
#__app_root__ .vertical_table table .npay_checkbox .label_check { padding-left: 20px; }
#__app_root__ .vertical_table table .goods_name { padding: 0px 12px; }
#__app_root__ .vertical_table + .popup_gray_box { margin-top: 12px; }
#__app_root__ .vertical_table.scroll { overflow: auto; max-height: 163px; border: 1px solid rgb(219, 221, 226); }
#__app_root__ .vertical_table.scroll table { border-width: 0px; }
#__app_root__ .vertical_table.scroll table td, #__app_root__ .vertical_table.scroll table th { border-width: 1px 0px 0px 1px; }
#__app_root__ .vertical_table.scroll table th { border-top-width: 0px; }
#__app_root__ .vertical_table.scroll table th:first-child, #__app_root__ .vertical_table.scroll table td:first-child { border-left-width: 0px; }
#__app_root__ .select_area { padding: 20px 0px 16px; border-top: 1px solid rgb(235, 238, 244); }
#__app_root__ .select_area .vertical_table table { width: 1154px; }
#__app_root__ .select_area .return_goods { display: block; font-weight: normal; color: rgb(118, 122, 130); }
#__app_root__ .select_area .return_goods + .vertical_table { margin-top: 15px; }
#__app_root__ .table_dsc { margin-top: 10px; font-size: 12px; line-height: 17px; color: rgb(0, 199, 60); }
#__app_root__ .goods_area .npay_board_table { table-layout: fixed; font-size: 13px; }
#__app_root__ .goods_area .npay_board_table th, #__app_root__ .goods_area .npay_board_table td { padding: 15px 0px; }
#__app_root__ .goods_area .npay_board_table label, #__app_root__ .goods_area .npay_board_table textarea { background-color: rgb(248, 249, 253); }
#__app_root__ .goods_area .npay_board_table .npay_selectbox::before { z-index: 10; }
#__app_root__ .goods_area .npay_selectbox { width: 215px; }
#__app_root__ .goods_check { padding-top: 15px; border-top: 1px solid rgb(235, 238, 244); }
#__app_root__ .popup_gray_box { padding: 24px 26px; border: 1px solid rgb(219, 221, 226); background-color: rgb(248, 249, 253); font-size: 13px; }
#__app_root__ .popup_gray_box .npay_listdot_small { margin: 0px; }
#__app_root__ .popup_gray_box .npay_listdot_small li { color: rgb(77, 81, 89); }
#__app_root__ .popup_gray_box .npay_listdot_small .dash_list { margin-top: 7px; }
#__app_root__ .popup_gray_box .npay_listdot_small .dash_list li { padding-left: 0px; }
#__app_root__ .popup_gray_box .npay_listdot_small .dash_list li + li { margin-top: 5px; }
#__app_root__ .popup_gray_box .npay_listdot_small .dash_list li::before { content: none; }
#__app_root__ .lypop_area { position: relative; }
#__app_root__ .lypop_area .npay_btn_common.size_small { margin-left: 0px; }
#__app_root__ .lypop_area .npay_tooltip { display: none; }
#__app_root__ .lypop_area.on .npay_tooltip { display: block; }
#__app_root__ .lypop_area .inner_list li::before { content: none; }
#__app_root__ .lypop_area .inner_list li + li { margin-top: 0px; }
#__app_root__ .npay_sale_heading .npay_popup_wrap { font-size: 12px; }
#__app_root__ .npay_board_table.npay_popup_box { padding: 0px 22px; }
#__app_root__ .npay_board_table.npay_popup_box th, #__app_root__ .npay_board_table.npay_popup_box td { padding: 16px 0px; }
#__app_root__ .npay_board_table .npay_calendar_section { position: relative; }
#__app_root__ .npay_board_table .uio_calendar th:nth-of-type(2n)::before { content: none; }
