<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">

	<!-- CONTENT -->
	<section class="pt-7 pb-12">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">

					<!-- Heading -->
					<h3 class="mb-10">취소 상세 페이지</h3>

				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-3">

					<!-- Nav -->
					<nav class="mb-10 mb-md-0">
						<div
							class="list-group list-group-sm list-group-strong list-group-flush-x">
							<a
								class="list-group-item list-group-item-action dropend-toggle active"
								th:href="@{/page/buyer/orderList}"> 주문 목록 </a>
							<ul class="list-styled mb-0">
								<li class="nav-item">
									<!-- Toggle --> <a
									class="list-group-item list-group-item-action dropend-toggle active"
									data-bs-toggle="collapse" href="#Collapse" aria-expanded="true">
										취소/반품/교환내역 </a> <!-- Collapse -->
									<div class="collapse" id="Collapse"
										data-simplebar-collapse="#seasonGroup">
										<div class="form-group form-group-overflow mb-6"
											id="seasonGroup">
											<div class="form-check mb-3">
												<a class="form-check-label" for="seasonOne"
													href="cancelList"> 취소 </a>
											</div>
											<div class="form-check mb-3">
												<a class="form-check-label" for="seasonTwo"
													href="returnList"> 반품 </a>
											</div>
											<div class="form-check">
												<a class="form-check-label" for="seasonThree"
													href="exchangeList"> 교환 </a>
											</div>
										</div>
									</div>
								</li>
								<li class="nav-item"><a
									class="list-group-item list-group-item-action dropend-toggle "
									th:href="@{/page/buyer/myCoupon}"> 나의 쿠폰함 </a></li>
								<li class="nav-item"><a
									class="list-group-item list-group-item-action dropend-toggle "
									th:href="@{/page/buyer/myInquiry}"> 문의내역 </a></li>
								<li class="nav-item"><a
									class="list-group-item list-group-item-action dropend-toggle "
									th:href="@{/page/buyer/wishList}"> 찜 목록 </a></li>
								<li class="nav-item"><a
									class="list-group-item list-group-item-action dropend-toggle "
									th:href="@{/page/buyer/personalInfo}"> 개인정보 확인/수정 </a></li>
							</ul>
						</div>
					</nav>

				</div>
				<div class="col-12 col-md-9 col-lg-8 offset-lg-1">

					<!-- Order -->
					<div class="card card-lg mb-5 border" >
						<div class="card-body pb-0">
							<!-- 반복문 시작 -->
							<!-- Info -->
							<div class="card card-sm">
								<div th:each="lists : ${cancelList}" class="order" id="test">
									<div class="card-body bg-light">
										<div class="row">
											<div class="col-6 col-lg-3">
												<h6 class="heading-xxxs text-muted">취소 번호:</h6>
												<p class="mb-lg-0 fs-sm fw-bold">
													<span th:text="|${lists.cancelCode}|" id="cancelCode"></span>
												</p>
											</div>
											<div class="col-6 col-lg-3">
												<h6 class="heading-xxxs text-muted">주문번호:</h6>
												<p class="mb-0 fs-sm fw-bold">
													<span th:text="|${lists.orderCode}|"></span>
												</p>
												<h6 class="heading-xxxs text-muted">주문상세번호:</h6>
												<p class="mb-0 fs-sm fw-bold">
													<span th:text="|${lists.orderDetailCode}|"
														id="orderDetailCode"></span>
												</p>
											</div>
											<div class="col-6 col-lg-3">
												<h6 class="heading-xxxs text-muted">상품명:</h6>
												<p class="mb-0 fs-sm fw-bold">
													<span th:text="|${lists.productName}|"></span>
												</p>
											</div>
											<div class="col-6 col-lg-3">
												<h6 class="heading-xxxs text-muted">수량:</h6>
												<p class="mb-0 fs-sm fw-bold">
													<span th:text="|${lists.orderCnt}|"></span>
												</p>
											</div>
											<div class="col-6 col-lg-3">
												<h6 class="heading-xxxs text-muted">결제 금액:</h6>
												<p class="mb-0 fs-sm fw-bold">
													<span th:text="|${lists.paymentPrice}원|"></span>
												</p>
											</div>
											<div class="col-6 col-lg-3">
												<h6 class="heading-xxxs text-muted">취소 접수 날짜:</h6>
												<p class="mb-lg-0 fs-sm fw-bold">
													<time datetime="2019-10-01">
														<span
															th:text="|${#dates.format(lists.cancelRegdate, 'yyyy-MM-dd hh:mm:ss')}|"></span>
													</time>
												</p>
											</div>
											<div class="col-6 col-lg-3">
												<h6 class="heading-xxxs text-muted">취소 상태:</h6>
												<p class="mb-0 fs-sm fw-bold">
													<span th:text="|${lists.cancelStatus}|"></span>
												</p>
											</div>

											<div class="col-6 col-lg-3">
												<h6 class="heading-xxxs text-muted">취소 거절 여부:</h6>
												<p class="mb-0 fs-sm fw-bold">
													<span th:text="|${lists.cancelRejectionCode}|"></span>
												</p>
											</div>
											<div class="col-6 col-lg-3">
												<h6 class="heading-xxxs text-muted">취소 거절 사유:</h6>
												<p class="mb-0 fs-sm fw-bold">
													<span th:text="|${lists.cancelRejectionReason}|"></span>
												</p>
											</div>
											<!--
											<div class="col-6 col-lg-3">
												<h6 class="heading-xxxs text-muted" type="hidden"></h6>
												<p class="mb-0 fs-sm fw-bold">
													  <span th:text="|${#dates.format(lists.cancelRetractDate, 'yyyy-MM-dd')}|"
														id="cancelRDate"></span>
												</p>
											</div>
											-->
										</div>
									</div>
									<div class="card-footer">
										<div class="row align-items-center">
											<div class="col-12 col-lg-6">
												<div class="row gx-5 mb-4 mb-lg-0">
													<div class="col-3">
														<div class="ratio ratio-1x1 bg-cover">
															<img th:src="@{/img/products/product-1.jpg}"
																style="max-width: 100%; height: auto">
														</div>
													</div>
													<div class="col-3">
														<div class="ratio ratio-1x1 bg-cover"
															style="background-image:">
															<img th:src="@{/img/products/product-11.jpg}"
																style="max-width: 100%; height: auto">
														</div>

													</div>
													<div class="col-3">
														<div class="ratio ratio-1x1 bg-cover">
															<img th:src="@{/img/products/product-12.jpg}"
																style="max-width: 100%; height: auto">
														</div>

													</div>
													<div class="col-3">
														<div class="ratio ratio-1x1 bg-cover"
															style="background-image:">
															<img th:src="@{/img/products/product-13.jpg}"
																style="max-width: 100%; height: auto">
														</div>
													</div>
												</div>
											</div>
											<div class="col-12 col-lg-6">
												<div class="row gx-5">
													<div class="col-6">
														<button
															class="btn btn-sm w-100 btn-outline-dark deleteBtn"
															th:onclick="deleteCancel([[${lists.orderDetailCode}]])"
															data-orderdetailcode="${lists.orderDetailCode}">
															주문 취소</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
	
	function deleteCancel(code){
		
		let cancelDel = confirm('취소하시겠습니까?');
		let cancelData = {
			'orderDetailCode' : $('#orderDetailCode').text(),
		}
		if(cancelDel){
			$.ajax('/buyer/deleteCancel',{			
				type : 'POST',
				contentType : 'application/json',
				data : JSON.stringify(cancelData)
			})
			.done(data => {
					//alert("수정 완료");
					console.log(data);
					$('#test').replaceWith(data);
			})
			}else{
				return;
			}
		};
	</script>
</div>
</html>