<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
   <!-- BREADCRUMB -->
   <nav class="py-5">
      <div class="container">
         <div class="row">
            <div class="col-12">

               <!-- Breadcrumb -->
               <ol class="breadcrumb mb-0 fs-xs text-gray-400">
                  <li class="breadcrumb-item"><a class="text-gray-400"
                     href="index.html">Home</a></li>
                  <li class="breadcrumb-item active">교환하기</li>
               </ol>

            </div>
         </div>
      </div>
   </nav>

   <!-- CONTENT -->
   <section class="pt-7 pb-15">
      <div class="container">
      	<div class="row justify-content-center">
      		<div class="col-12 col-lg-10 col-xl-8" id="exchForm">
      			<h2>교환 신청 페이지</h2>
      			<div class="mb-3">
      				<label>상품 명</label>
      				<input type="text" class="form-label" >
      			</div>
      			<div class="mb-3">
      			<!-- Select -->
                   <select class="form-select form-select-xxs w-auto" id="select">
                      <option value="선택">교환 사유를 선택해주세요</option>
                      <option th:each="codes: ${codeList}" th:value="${codes.codeId}" th:text=${codes.codeName}></option>
                   </select>
      			</div>
      			<div class="mb-3">
      				<textarea class="form-control" id="content" rows="5" placeholder="교환 사유를 입력해주세요"></textarea>
      			</div>
      			<div class="mb-3">
      			
      			</div>
      			<div class="mb-3">
      				<label>입금 계좌번호</label>
      				<input type="text" class="form-label">
      			</div>
      			<div class="mb-3">
      				<label>예금주</label>
      				<input type="text" class="form-label">
      				<label>은행 명</label>
      				<input type="text" class="form-label">
      			</div>
      			<div class="col-12 text-center">
      			
      			<button class="btn btn-dark"></button>
      			<button class="btn btn-gray-500"></button>
      			</div>
      		</div>
      	</div>
      </div>
   </section>
   <script>
   
   </script>
 </div>
 </html>