<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
   <!-- BREADCRUMB -->
   <nav class="py-5">
      <div class="container">
         <div class="row">
            <div class="col-12">

               <!-- Breadcrumb -->
               <ol class="breadcrumb mb-0 fs-xs text-gray-400">
                  <li class="breadcrumb-item"><a class="text-gray-400"
                     href="index.html">Home</a></li>
                  <li class="breadcrumb-item active">교환하기</li>
               </ol>

            </div>
         </div>
      </div>
   </nav>

   <!-- CONTENT -->
   <section class="pt-7 pb-15">
      <div class="container">
      	<div class="row justify-content-center">
      		<div class="col-12 col-lg-10 col-xl-8" id="exchForm">
      			<h2>교환 신청 페이지</h2>
 
 
      			 <input type="hidden" th:value="${exchange}" id="hidden">
      			<div class="mb-3">
      				<label>주문번호</label>
      				<input type="text" class="form-label" id="orderCode" th:value="${exchange.orderCode}" readonly>
      				<label>주문상세번호</label>
      				<input type="text" class="form-label" id="orderDetailCode" th:value="${exchange.orderDetailCode}" readonly>
      			</div>
      			<div class="mb-3">
      				<label>상품명</label>
      				<input type="text" class="form-label" id="productName" th:value="${exchange.productName}" readonly>
      			</div>
      			<div class="mb-3">
      			<!-- Select -->
                   <select class="form-select form-select-xxs w-auto" id="select">
                      <option value="선택">교환 사유를 선택해주세요</option>
                      <option th:each="codes: ${codeList}" th:value="${codes.codeId}" th:text=${codes.codeName}></option>
                   </select>
      			</div>
      			<div class="mb-3">
      				<textarea class="form-control" id="content" rows="5" placeholder="교환 사유를 입력해주세요"></textarea>
      			</div>
      			<div class="mb-3">
      			
      			</div>
      			<div class="mb-3">
      				<input type="text" size=20 id="sample6_postcode" placeholder="우편번호" >
					<input type="button" onclick="sample6_execDaumPostcode()" id="addrBtn" value="우편번호 찾기"><br>
					<input type="text" size=40 id="sample6_address" placeholder="주소"><br>
					<input type="text" size=40 id="sample6_detailAddress" placeholder="상세주소">
					<input type="text" id="sample6_extraAddress" placeholder="">
      			</div>
      			
      			<div class="col-12 text-center">
      			
      			<button class="btn btn-dark" id="exchangeBtn">교환신청</button>
      			<a class="btn btn-gray-500" type="button" th:href="@{/page/buyer/orderList}" id="retract">취소</a>
      			</div>
      		</div>
      	</div>
      </div>
   </section>


<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
</script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

  <script>
	  // URL 파라미터에서 orderCode와 productName 값을 읽어옴
	  /*
	  var urlParams = new URLSearchParams(window.location.search);
	  var orderCode = urlParams.get("orderCode");
	  var productName = urlParams.get("productName");
	
	  // 읽어온 값으로 필요한 동작을 수행 (예: 입력 필드에 값 설정)
	  document.getElementById("orderCode").value = orderCode;
	  document.getElementById("productName").value = productName;
	  */
	  $(document).ready(function() {
		  console.log($('#select option:selected'));
		  let checkBeforeInsert = {};
	
		  console.log(checkBeforeInsert);
	
	    // 교환 신청 버튼 클릭 시 AJAX 요청을 보냅니다.
	    $('#exchangeBtn').on('click', function() {
	      // 사용자가 입력한 교환 사유와 주소 정보 가져오기
			let selOption = $('#select option:selected').val()
		    if(selOption != "선택"){
		  	}else{
		  		alert("교환 사유를 선택해주세요.")
		  		$('#select').focus();
		  		return;
		  	}
		  	if($('#content').val() != ""){
		  	}else{
		  		alert("자세한 교환 사유를 입력해주세요")
		  		$('#content').focus();
		  		return;
		  	}
		  	if($('#sample6_postcode').val() != ""){
		  	}else{
		  		alert("주소를 입력해주세요")
		  		return;
		  	}
  /*
	  let exchangeCode = $('#exchangeCode').val();
  	  let orderDetailCode = $('#orderDetailCode').val();
      let productName = $('#productName').val();
      let exchangeReason = $('#exchangeReason').val();
      let content = $('#content').val();
      let addr = $('#addr').val();
      
  */    
  		let reasonName =  $('#select option:selected').text().trim()
  
		let contents = $('#content').val();
		contents = contents.trim()
  		let exReason = reasonName + ' : ' +contents
      // 교환 신청 데이터를 JSON 형식으로 만듭니다.
      let exchangeData = {
    	'exchangeCode': $('#exchangeCode').val(),
        'orderDetailCode': $('#orderDetailCode').val(),
        'productName': $('#productName').val(),
        'exchangeReason': exReason,
        'exchangeAddr': $('#sample6_address').val() + ', ' + $('#sample6_detailAddress').val() +$('#sample6_extraAddress').val() +', ' + $('#sample6_postcode').val()
      }

      // AJAX 요청 보내기
	      $.ajax({
	        type: 'POST',
	        url: '/buyer/exchangeInsert', // 실제 서버의 엔드포인트 URL로 변경해야 합니다.
	        contentType: 'application/json',
	        data: JSON.stringify(exchangeData),
	        success: function(response) {
	          // AJAX 요청이 성공적으로 완료된 경우 처리
	          alert('교환 신청이 성공적으로 처리되었습니다.');
	          // 여기에서 필요한 추가 동작을 수행하세요.
	        },
	        error: function(error) {
	          // AJAX 요청이 실패한 경우 처리
	          console.error('교환 신청 처리 중 오류가 발생했습니다.');
	          console.error(error);
	        }
	      });
	    });
	  });
		
	  	//tts 시작 
	     let TTSIsOk = localStorage.getItem('ttsKey');
	       let sessionAuthor;
	      console.log(sessionStorage.loginMember);          
	      if(sessionStorage.loginMember != null){
	         sessionAuthor = sessionStorage.loginMember.memberAuthor;
	      }
	          
	         function ttsInit(){
	          if(TTSIsOk == null || sessionAuthor == 3){
	           let audioFileNow = new Audio();
	           let firstMsg = "교환 신청 페이지입니다. 주문 상품을 교환 신청할 수 있습니다.";
	           //let message = firstMsg;

	           VoiceMenual(firstMsg);

	     //tts 이벤트 부여
	     $('#orderCode').on('focus', orderCode);
	     $('#orderDetailCode').on('focus', orderDetailCode);
	     $('#productName').on('focus', productName);
	     $('#select').on('focus', selected);
	     $('#content').on('focus', exchangeReason)
		 $('#addrBtn').on('focus', addrBtn);
		 $('#retract').on('focus', retract);
		 $('#exchangeBtn').on('focus', exchangeBtn);
		 $('#sample6_postcode').on('focus', exPostCode);
		 $('#sample6_address').on('focus', exAddress);
		 $('#sample6_detailAddress').on('focus', exDetailAddress);
		 
		 // 이벤트 안의 전역변수
		 let code;
		 let detailCode;
		 let prodName;
		 let select;
		 let codeName;
		 let reason;
		 let postCode;
		 let address;
		 let detailAddress;
		 
		 //tts 이벤트 진행
	     function orderCode() {
	    	 code = $('#orderCode').val();
	    	 VoiceMenual("주문 번호는" + code + "입니다.");
	     }
	     function orderDetailCode() { 
	    	 detailCode = $('#orderDetailCode').val();
	    	 VoiceMenual("주문 상세 번호는" + detailCode + "입니다.");
	     }
		 function productName() { 
			 prodName = $('#productName').val();   	 
			 VoiceMenual("상품 명은" + prodName + "입니다.");
		 }
		 function selected() { 
			 select =  $("#select").text();
			 VoiceMenual(select);
		 }
		 function exchangeReason() { 
			 VoiceMenual("자세한 교환 사유를 입력해주세요.");
		 }
		 function exPostCode() { 
			 postCode = $('#sample6_postcode').text();
			 VoiceMenual(postCode);
		 }
		 function exAddress() { 
			 address = $('#sample6_address').text();
			 VoiceMenual(address);
		 }
		 function exDetailAddress() { 
			 detailAddress = $('#sample6_detailAddress').text();
			 VoiceMenual(detailAddress);
		 }
		 function addrBtn(){
			 VoiceMenual("우편 번호 찾기 버튼입니다. 엔터키를 눌러서 주소를 찾아주세요.");
		 }
		 function exchangeBtn(){
			 let detailReason = $('#content').val();
			 let check = `주문 취소 신청 버튼입니다. 주문 번호는. ${code}.  주문상세번호는.  ${detailCode}. 상품명은. ${prodName}. 교환 상세 사유는. ${detailReason}.
			 			  우편번호는. ${postCode}. 주소는. ${address}. 상세주소는. ${detailAddress}. 신청 사항을 확인하셨다면. 엔터키를 눌러주세요.`;
			 VoiceMenual(check);
		 }
		 function retract(){
			 VoiceMenual('교환 철회 버튼입니다. 교환 철회를 원하시면. 엔터키를 눌러주세요.');
		 }
		 
			//tts 부분
			console.log('hello js');
			
			var AudioContext;
			var audioContext;
			
			window.onload = function() {
			    navigator.mediaDevices.getUserMedia({ audio: true }).then(() => {
			        AudioContext = window.AudioContext || window.webkitAudioContext;
			        audioContext = new AudioContext();
			    }).catch(e => {
			        console.error(`Audio permissions denied: ${e}`);
			    });
			}
			
			
			function VoiceMenual(message) {
			    var data = {
			        "voice" : {
			            "languageCode" : "ko-KR",
			            "name" : "ko-KR-Neural2-B"
			        },
			        "input" : {
			            "text" : message
			        },
			        "audioConfig" : {
			            "audioEncoding" : "mp3"
			        }
			    }
			    console.log(data);
			    $.ajax({
			        type : 'POST',
			        url : 'https://texttospeech.googleapis.com/v1/text:synthesize?key=AIzaSyArcSKerGDYE7ngIVMaLhHCbNtmWN1-uac',
			        data : JSON.stringify(data),
			        dataType : 'JSON',
			        contentType : "application/json; charset=UTF-8",
			        success : function(res) {
			            $('#menuText').val(res.audioContent)
			            var audioFile = new Audio();
			            let audioBlob = base64ToBlob(res.audioContent,
			                    "mp3");
			            audioFile.src = window.URL
			                    .createObjectURL(audioBlob);
			            audioFile.playbackRate = 2; //재생속도
			            if(audioFileNow.paused == false){
			               audioFileNow.pause();
			            }
			          audioFileNow = audioFile;
			            audioFileNow.play();
			        
			        },
			        error : function(request, status, error) {
			            alert("오류", "오류가 발생하였습니다. 관리자에게 문의해주세요.");
			        }
			    });
			};
			function base64ToBlob(base64, fileType) {
			    let typeHeader = "data:application/" + fileType + ";base64,"; // base64 헤더 파일 유형 정의
			    let audioSrc = typeHeader + base64;
			    let arr = audioSrc.split(",");
			    let array = arr[0].match(/:(.*?);/);
			    let mime = (array && array.length > 1 ? array[1] : type) || type;
			    // url헤더 제거하고 btye로 변환
			    let bytes = window.atob(arr[1]);
			    // 예외를 처리하고 0보다 작은 ASCII 코드를 0보다 큰 값으로 변환
			    let ab = new ArrayBuffer(bytes.length);
			    // 뷰 생성(메모리에 직접): 8비트 부호 없는 정수, 길이 1바이트
			    let ia = new Uint8Array(ab);
			    for (let i = 0; i < bytes.length; i++) {
			        ia[i] = bytes.charCodeAt(i);
			    }
			    return new Blob([ ab ], {
			        type : mime
			    });
			}
			
			   window.addEventListener("keydown", function(e){ 
			         console.log(e);
			         if(e.altKey && e.key == 1){ //주문목록
			             $('#orderList').focus();
			             VoiceMenual('주문목록 페이지 원할 경우. 엔터키 입력');
			          }
			         else if(e.altKey && e.key == 2){ //취소내역
			        	 $(".collapse").addClass("show")
			             $('#cancel').focus();
			             VoiceMenual('취소. 페이지 원할 경우. 엔터키 입력');
			          }
			         else if(e.altKey && e.key == 3) {//반품내역
			        	 $(".collapse").addClass("show")
			             $('#reList').focus();
			             VoiceMenual('반품. 페이지 원할 경우. 엔터키 입력');
			          }
			         else if(e.altKey && e.key == 4){ // 교환내역
			        	 $(".collapse").addClass("show")
			             $('#exchange').focus();
			             VoiceMenual('교환. 페이지 원할 경우. 엔터키 입력');
			          }
			         else if(e.altKey && e.key == 5){ // 나의 쿠폰함
			             $('#coupon').focus();
			             VoiceMenual('쿠폰함. 페이지 원할 경우. 엔터키 입력');
			          }
			         else if(e.altKey && e.key == 6){ // 문의내역
			             $('#inquiry').focus();
			             VoiceMenual('문의내역. 페이지 원할 경우. 엔터키 입력');
			          }
			         else if(e.altKey && e.key == 7){ // 찜 목록
			             $('#wish').focus();
			             VoiceMenual("찜목록. 페이지 원할 경우. 엔터키 입력")
			          }
			         else if(e.altKey && e.key == 8){ // 배송 시 요청 선택
			             $('#myInfo').focus();
			             VoiceMenual('개인정보 확인,수정 페이지 입니다. 엔터키 입력.');
			          }
			         else if(e.altKey && e.key == 9){ // 메인 페이지 이동
			                 location.href = "/";
			          }
			         else if(e.altKey && e.key == 0){ //다시 듣기
			             VoiceMenual($('#orderMenual').val());
			          }
			    })
			  } //ttsInit()의 if문
			} // ttsInit() close
  </script>
 </div>
 </html>