<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
   <!-- BREADCRUMB -->
   <nav class="py-5">
      <div class="container">
         <div class="row">
            <div class="col-12">

               <!-- Breadcrumb -->
               <ol class="breadcrumb mb-0 fs-xs text-gray-400">
                  <li class="breadcrumb-item"><a class="text-gray-400"
                     href="index.html">Home</a></li>
                  <li class="breadcrumb-item active">교환하기</li>
               </ol>

            </div>
         </div>
      </div>
   </nav>

   <!-- CONTENT -->
   <section class="pt-7 pb-15">
      <div class="container">
      	<div class="row justify-content-center">
      		<div class="col-12 col-lg-10 col-xl-8" id="exchForm">
      			<h2>교환 신청 페이지</h2>
 
 
      			 <input type="hidden" th:value="${exchange}" id="hidden">
      			<div class="mb-3">
      				<label>주문번호</label>
      				<input type="text" class="form-label" id="orderCode" th:value="${exchange.orderCode}" readonly>
      				<label>주문상세번호</label>
      				<input type="text" class="form-label" id="orderDetailCode" th:value="${exchange.orderDetailCode}" readonly>
      			</div>
      			<div class="mb-3">
      				<label>상품명</label>
      				<input type="text" class="form-label" id="productName" th:value="${exchange.productName}" readonly>
      			</div>
      			<div class="mb-3">
      			<!-- Select -->
                   <select class="form-select form-select-xxs w-auto" id="select">
                      <option value="선택">교환 사유를 선택해주세요</option>
                      <option th:each="codes: ${codeList}" th:value="${codes.codeId}" th:text=${codes.codeName}></option>
                   </select>
      			</div>
      			<div class="mb-3">
      				<textarea class="form-control" id="content" rows="5" placeholder="교환 사유를 입력해주세요"></textarea>
      			</div>
      			<div class="mb-3">
      			
      			</div>
      			<div class="mb-3">
      				<label>상품 받을 주소</label>
      				<input type="text" class="form-label" id="addr">
      			</div>
      			
      			<div class="col-12 text-center">
      			
      			<button class="btn btn-dark" id="exchangeBtn">교환신청</button>
      			<a class="btn btn-gray-500" type="button" th:href="@{/page/buyer/orderList}">취소</a>
      			</div>
      		</div>
      	</div>
      </div>
   </section>
   
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
	  // URL 파라미터에서 orderCode와 productName 값을 읽어옴
	  /*
	  var urlParams = new URLSearchParams(window.location.search);
	  var orderCode = urlParams.get("orderCode");
	  var productName = urlParams.get("productName");
	
	  // 읽어온 값으로 필요한 동작을 수행 (예: 입력 필드에 값 설정)
	  document.getElementById("orderCode").value = orderCode;
	  document.getElementById("productName").value = productName;
	  */


  $(document).ready(function() {
	  console.log($('#select option:selected'));
	  let checkBeforeInsert = {};

	  console.log(checkBeforeInsert);

    // 교환 신청 버튼 클릭 시 AJAX 요청을 보냅니다.
    $('#exchangeBtn').on('click', function() {
      // 사용자가 입력한 교환 사유와 주소 정보 가져오기
		let selOption = $('#select option:selected').val()
	    if(selOption != "선택"){
	  	}else{
	  		alert("교환 사유를 선택해주세요.")
	  		return;
	  	}
	  	if($('#content').val() != ""){
	  	}else{
	  		alert("자세한 교환 사유를 입력해주세요")
	  		return;
	  	}
	  	if($('#addr').val() != ""){
	  	}else{
	  		alert("주소를 입력해주세요")
	  		return;
	  	}

	  	
  /*
	  let exchangeCode = $('#exchangeCode').val();
  	  let orderDetailCode = $('#orderDetailCode').val();
      let productName = $('#productName').val();
      let exchangeReason = $('#exchangeReason').val();
      let content = $('#content').val();
      let addr = $('#addr').val();
      
  */    
  		let reasonName =  $('#select option:selected').text().trim()
  
		let contents = $('#content').val();
		contents = contents.trim()
  		let exReason = reasonName + ' : ' +contents
      // 교환 신청 데이터를 JSON 형식으로 만듭니다.
      let exchangeData = {
    	'exchangeCode': $('#exchangeCode').val(),
        'orderDetailCode': $('#orderDetailCode').val(),
        'productName': $('#productName').val(),
        'exchangeReason': exReason,
        'exchangeAddr': $('#addr').val()
      }

      // AJAX 요청 보내기
	      $.ajax({
	        type: 'POST',
	        url: '/buyer/exchangeInsert', // 실제 서버의 엔드포인트 URL로 변경해야 합니다.
	        contentType: 'application/json',
	        data: JSON.stringify(exchangeData),
	        success: function(response) {
	          // AJAX 요청이 성공적으로 완료된 경우 처리
	          alert('교환 신청이 성공적으로 처리되었습니다.');
	          // 여기에서 필요한 추가 동작을 수행하세요.
	        },
	        error: function(error) {
	          // AJAX 요청이 실패한 경우 처리
	          console.error('교환 신청 처리 중 오류가 발생했습니다.');
	          console.error(error);
	        }
	      });
	    });
	  });
  
  </script>
 </div>
 </html>