<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
<!-- BREADCRUMB -->
	<nav class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-12">

					<!-- Breadcrumb -->
					<ol class="breadcrumb mb-0 fs-xs text-gray-400">
						<li class="breadcrumb-item"><a class="text-gray-400"
							href="index.html">Home</a></li>
						<li class="breadcrumb-item active">My Page</li>
					</ol>

				</div>
			</div>
		</div>
	</nav>

	<!-- CONTENT -->
	<section class="pt-7 pb-12">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">

					<!-- Heading -->
					<h3 class="mb-10">My Inquiry</h3>

				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-3">

            <!-- Nav -->
            <nav class="mb-10 mb-md-0">
              <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                <a class="list-group-item list-group-item-action dropend-toggle active" id="orderList" th:href="@{/page/buyer/orderList}" tabindex="-1">
                  주문 목록
                </a>
				<ul class="list-styled mb-0">
				<li class="nav-item">

                  <!-- Toggle -->
                  <a class="list-group-item list-group-item-action dropend-toggle active" data-bs-toggle="collapse" href="#Collapse" aria-expanded="true" tabindex="-1">
                   취소/반품/교환내역
                  </a>
                  <!-- Collapse -->
                  <div class="collapse" id="Collapse" data-simplebar-collapse="#seasonGroup">
                    <div class="form-group form-group-overflow mb-6" id="seasonGroup">
                      <div class="form-check mb-3">
                        <a class="form-check-label" id="cancel"  href="/page/buyer/cancelList" tabindex="-1">
                          취소
                        </a>
                      </div>
                      <div class="form-check mb-3">
                        <a class="form-check-label" id="reList" href="/page/buyer/returnList" tabindex="-1">
                          반품
                        </a>
                      </div>
                      <div class="form-check">
                        <a class="form-check-label" id="exchange" href="/page/buyer/exchangeList" tabindex="-1">
                          교환
                        </a>
                      </div>
                    </div>
                  </div>
                 </li>
                <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle" id="coupon" th:href="@{/page/buyer/myCoupon}" tabindex="-1">
                  나의 쿠폰함
                </a>
                </li>
                <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle" id="inquiry" th:href="@{/page/buyer/myInquiry}" tabindex="-1">
                  문의내역
                </a>
                </li>
                 <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle" id="wish" th:href="@{/page/buyer/wishList}" tabindex="-1">
                  찜 목록
                </a>
                </li>
                 <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle" id="myInfo" th:href="@{/page/buyer/personalInfo}" tabindex="-1">
                  개인정보 확인/수정
                </a>
                </li>
                </ul>
              </div>
            </nav>

          </div>
			<div class="col-12 col-md-9 col-lg-8 offset-lg-1" style="margin-left: 20px;">
            <!-- myInquiry -->
            <div class="card card-lg mb-5 border">
			  <div class="card-body pb-0" >
			  <div th:if="${myInquiry.size != 0}">
			    <div class="card card-sm">
			      <div class="row inquiryRow">
			        <table class="table">
			          <thead>
			            <tr>
			              <th style="white-space: nowrap; padding-left: 10px; padding-right: 10px; text-align: center;">문의 번호</th>
			              <th style="white-space: nowrap; text-align: center;">문의 제목</th>
			              <th style="white-space: nowrap; text-align: center;">문의 내용</th>
			              <th style="white-space: nowrap; text-align: center;">작성 날짜</th>
			              <th style="white-space: nowrap; text-align: center;">답변 여부</th>
			            </tr>
			          </thead>
			          <tbody>
			            <tr th:each="inqs,status : ${myInquiry}">
			              <td style="display:none;"></td>
			              <td th:id="|code${status.index}|" class="inquiryCode"  style="padding-left: 5px; padding-right: 5px; text-align: center;">[[${inqs.customInquiryCode}]]</td>
			              <td th:id="|title${status.index}|" class="inquiryTitle" tabindex="0" data-bs-toggle="modal" th:data-bs-target="|#modalProduct${inqs.customInquiryCode}|" style="text-align: center; cursor : pointer; ">[[${inqs.customInquiryTitle}]]</td>
			              <td th:id="|content${status.index}|" class="inquiryContent" style="width:150px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:inline-block;">[[${inqs.customInquiryContent}]]</td>
			              <td th:id="|regdate${status.index}|" class="inquiryRegdate" style="white-space: nowrap;">[[${#dates.format(inqs.customInquiryRegdate, 'yyyy-MM-dd')}]]</td>
			              <td th:id="|answer${status.index}|" class="inquiryAnswerStatus" style="text-align: center;">[[${inqs.customInquiryAnswerStatus}]] </td>
			            </tr>
			          </tbody>
			        </table>
					    <!-- Modal -->
						<div th:each="inqs : ${myInquiry}">
					    <div class="modal fade" th:id="|modalProduct${inqs.customInquiryCode}|" tabindex="-1" role="dialog" aria-hidden="true">
					      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
					        <div class="modal-content"  style="width: 800px;">
					          <!-- Close -->
					          <button type="button" tabindex="-1" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					            <i class="fe fe-x" aria-hidden="true"></i>
					          </button>
					          <!-- Content -->
					          <div class="container-fluid px-xl-0">
					              <div class="col-12 col-lg-6 col-xl-7 py-9 px-md-9">
					                <label class="h7">문의 제목 :</label>
					                <h5 class="mb-3 inqTitle" tabindex="0" th:text="|${inqs.customInquiryTitle}|"></h5>
					                <label class="h7">문의 날짜 :</label>
					                <h5 class="mb-3 inqDate" tabindex="0" th:text="|${#dates.format(inqs.customInquiryRegdate, 'yyyy-MM-dd')}|"></h5>
					                <!-- Form -->
					                <form>
					                  <label class="h5">문의 내용 :</label>
					                  <div class="form-group">
					    				<textarea class="inqContent" tabindex="0" rows="5" cols="90" th:text="|${inqs.customInquiryContent}|"></textarea>
					                  </div>
					                  <label class="h5">답변 내용 :</label>
					                  <div class="form-group">
					    				<textarea class="inqAnswer" tabindex="0" rows="5" cols="90" th:text="|${inqs.customInquiryAnswer}|" readonly></textarea>
					                  </div>
					                  <div class="form-group mb-0">
					                    <div class="row gx-5">
					    	              <div class="col-12 col-lg">
					                        <button type="submit" tabindex="0" class="btn w-100 btn-dark mb-2 closeBtn" style="border-radius: 10px;">
					                          닫기
					                        </button>
					                      </div>
					                    </div>
					                  </div>
					                </form>
					              </div>
					          </div>
					        </div>
					      </div>
						 </div>                     
	                  </div>
	                </div>
				</div>
				</div>
				<th:block th:if="${myInquiry.size == 0}">
								<div>
								     <ul>
								      <li class="list-group-item">
								        <div class="row align-items-center">
								          <br>
								          <p style="padding: 10%; font-weight: bolder; text-align: center;">문의내역이 없습니다.
								          </p>
								        </div>
								      </li>
								      </ul>   
							     </div>
				</th:block>
            </div>
          </div>
          <!-- Pagination -->
					<nav class="d-flex justify-content-center justify-content-md-end mt-10">
						<ul class="pagination pagination-sm text-gray-400">
							<li class="page-item" th:if="${pageMaker.prev}"><a
								class="page-link page-link-arrow"
								th:href="@{/page/buyer/myInquiry/(pageNum = ${pageMaker.startPage - 1})}">
									<i class="fa fa-caret-left"></i>
							</a></li>
							<th:block
								th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}">
								<li th:if="${pageMaker.endPage} ne 0"
									th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}"
									th:each="pageButtom : ${#numbers.sequence(start,end)}"
									th:class="${pageMaker.cri.pageNum} eq ${pageButtom} ? 'page-item active' : 'page-item'">
									<a class="page-link" href="#"
									th:href="@{/page/buyer/myInquiry/(pageNum= ${pageButtom} )}"
									th:text="${pageButtom}"></a>
								</li>
							</th:block>
							<li class="page-item" th:if="${pageMaker.next}"><a
								class="page-link page-link-arrow"
								th:href="@{/page/buyer/myInquiry/(pageNum = ${pageMaker.endPage + 1})}">
									<i class="fa fa-caret-right"></i>
							</a></li>
						</ul>
					</nav>

        </div>
	  </div>
	 </div>
	</section>
	<textarea id="orderMenual" style="display: none;">
      1번 주문목록.
      2번 취소목록.
      3번 반품목록.
      4번 교환목록.
      5번 나의 쿠폰함.
      6번 문의내역.
      7번 찜 목록.
      8번 개인정보 확인/수정.
      9번 메인페이지 이동.
      0번 다시듣기.
    </textarea>
	<script>
	//모달 열기
	$('.inquiryTitle').on('keydown', function (e) {
	    if (e.which === 13) { // Enter 키를 눌렀을 때
	        e.preventDefault(); // 기본 엔터 동작을 방지
	        var modalId = $(this).data('bs-target');
	        $(modalId).modal('show'); // 모달을 엽니다.
	    }
	});
	// 모달 닫기
	/*
	$('.modal .btn-close').on('keydown', function (e) {
	    if (e.which === 13) { // Enter 키를 눌렀을 때
	        e.preventDefault(); // 기본 엔터 동작을 방지
	        $(this).closest('.modal').modal('hide'); // 모달을 닫습니다.
	    }
	});
	*/
	
	//tts 시작 
    let TTSIsOk = localStorage.getItem('ttsKey');
      let sessionAuthor;
     console.log(sessionStorage.loginMember);          
     if(sessionStorage.loginMember != null){
        sessionAuthor = sessionStorage.loginMember.memberAuthor;
     }
         
        function ttsInit(){
         if(TTSIsOk == null || sessionAuthor == 3){
          let audioFileNow = new Audio();
          let firstMsg = "나의 문의 페이지입니다. 나의 문의에 대해서 확인할 수 있습니다.";
          let message = firstMsg + $('#orderMenual').val();

          VoiceMenual(message);

    //tts 이벤트 부여
    //$('.inquiryCode').on('focus', inquiryInfo);
	$('.inquiryTitle').on('focus', inquiryTitle);
	$('.inqTitle').on('focus', inqTitle);
	$('.inqDate').on('focus', inqDate);
	$('.inqContent').on('focus', inqContent);
	$('.inqAnswer').on('focus', inqAnswer);
	$('.closeBtn').on('focus', closeBtn);
	
    //tts 이벤트 진행
    /*function inquiryInfo() {
   	 	let inquiryCode = $(this).parent().find('.inquiryCode').text();
	    let inquiryTitle = $(this).parent().find('.inquiryTitle').text();
	    let inquiryContent =  $(this).parent().find('.inquiryContent').text();
	    let inquiryRegdate =  $(this).parent().find('.inquiryRegdate').text();
	    let inquiryAnswerStatus = $(this).parent().find('.inquiryAnswerStatus').text();
	       	 
	    let message= `문의 번호는 ${inquiryCode}. 문의 제목은 ${inquiryTitle}. 문의 내용은 ${inquiryContent}.
			           작성 날짜는 ${inquiryRegdate}. 답변 여부는 ${inquiryAnswerStatus}. 문의 내역을 자세히 보고 싶으면 문의 제목을 클릭해주세요.`;
   	 
   	 VoiceMenual(message);
    }
    */
	function inquiryTitle(){
    	let inquiryCode = $(this).parent().find('.inquiryCode').text();
	    let inquiryTitle = $(this).parent().find('.inquiryTitle').text();
	    let inquiryContent =  $(this).parent().find('.inquiryContent').text();
	    let inquiryRegdate =  $(this).parent().find('.inquiryRegdate').text();
	    let inquiryAnswerStatus = $(this).parent().find('.inquiryAnswerStatus').text();
	       	 
	    let message= `문의 번호는 ${inquiryCode}. 문의 제목은 ${inquiryTitle}. 문의 내용은 ${inquiryContent}.
			           작성 날짜는 ${inquiryRegdate}. 답변 여부는 ${inquiryAnswerStatus}.`;
   	 
		VoiceMenual(message + "문의 내역을 자세히 보고 싶으면 엔터키를 입력해주세요");
	}
	function inqTitle(){
		let title = $(this).parent().find('.inqTitle').text();
		VoiceMenual("문의 제목은" + title + "입니다.");
	}
	function inqDate(){
		let date = $(this).parent().find('.inqDate').text();
		VoiceMenual("문의 날짜는" + date + "입니다.");
	}
	function inqContent(){
		let content = $(this).parent().find('.inqContent').text();
		VoiceMenual("문의 내용은" + content + "입니다.");
	}
	function inqAnswer(){
		let answer = $(this).parent().find('.inqAnswer').text()
		if(answer == ''){
			VoiceMenual("아직 답변을 받지 못했습니다.");
		}else{
			VoiceMenual("답변 내용은" + answer + "입니다.");
		}
	}
	function closeBtn(){
		
		VoiceMenual("닫기 버튼입니다. 이 문의 사항을 닫고 싶으면 엔터키를 입력해주세요.");
	}
	
		//tts 부분
		console.log('hello js');
		
		var AudioContext;
		var audioContext;
		
		window.onload = function() {
		    navigator.mediaDevices.getUserMedia({ audio: true }).then(() => {
		        AudioContext = window.AudioContext || window.webkitAudioContext;
		        audioContext = new AudioContext();
		    }).catch(e => {
		        console.error(`Audio permissions denied: ${e}`);
		    });
		}
		
		
		function VoiceMenual(message) {
		    var data = {
		        "voice" : {
		            "languageCode" : "ko-KR",
		            "name" : "ko-KR-Neural2-B"
		        },
		        "input" : {
		            "text" : message
		        },
		        "audioConfig" : {
		            "audioEncoding" : "mp3"
		        }
		    }
		    console.log(data);
		    $.ajax({
		        type : 'POST',
		        url : 'https://texttospeech.googleapis.com/v1/text:synthesize?key=AIzaSyArcSKerGDYE7ngIVMaLhHCbNtmWN1-uac',
		        data : JSON.stringify(data),
		        dataType : 'JSON',
		        contentType : "application/json; charset=UTF-8",
		        success : function(res) {
		            $('#menuText').val(res.audioContent)
		            var audioFile = new Audio();
		            let audioBlob = base64ToBlob(res.audioContent,
		                    "mp3");
		            audioFile.src = window.URL
		                    .createObjectURL(audioBlob);
		            audioFile.playbackRate = 2; //재생속도
		            if(audioFileNow.paused == false){
		               audioFileNow.pause();
		            }
		          audioFileNow = audioFile;
		            audioFileNow.play();
		        
		        },
		        error : function(request, status, error) {
		            alert("오류", "오류가 발생하였습니다. 관리자에게 문의해주세요.");
		        }
		    });
		};
		function base64ToBlob(base64, fileType) {
		    let typeHeader = "data:application/" + fileType + ";base64,"; // base64 헤더 파일 유형 정의
		    let audioSrc = typeHeader + base64;
		    let arr = audioSrc.split(",");
		    let array = arr[0].match(/:(.*?);/);
		    let mime = (array && array.length > 1 ? array[1] : type) || type;
		    // url헤더 제거하고 btye로 변환
		    let bytes = window.atob(arr[1]);
		    // 예외를 처리하고 0보다 작은 ASCII 코드를 0보다 큰 값으로 변환
		    let ab = new ArrayBuffer(bytes.length);
		    // 뷰 생성(메모리에 직접): 8비트 부호 없는 정수, 길이 1바이트
		    let ia = new Uint8Array(ab);
		    for (let i = 0; i < bytes.length; i++) {
		        ia[i] = bytes.charCodeAt(i);
		    }
		    return new Blob([ ab ], {
		        type : mime
		    });
		}
		
		   window.addEventListener("keydown", function(e){ 
		         console.log(e);
		         if(e.altKey && e.key == 1){ //주문목록
		             $('#orderList').focus();
		             VoiceMenual('주문목록 페이지 원할 경우. 엔터키 입력');
		          }
		         else if(e.altKey && e.key == 2){ //취소내역
		        	 $(".collapse").addClass("show")
		             $('#cancel').focus();
		             VoiceMenual('취소. 페이지 원할 경우. 엔터키 입력');
		          }
		         else if(e.altKey && e.key == 3) {//반품내역
		        	 $(".collapse").addClass("show")
		             $('#reList').focus();
		             VoiceMenual('반품. 페이지 원할 경우. 엔터키 입력');
		          }
		         else if(e.altKey && e.key == 4){ // 교환내역
		        	 $(".collapse").addClass("show")
		             $('#exchange').focus();
		             VoiceMenual('교환. 페이지 원할 경우. 엔터키 입력');
		          }
		         else if(e.altKey && e.key == 5){ // 나의 쿠폰함
		             $('#coupon').focus();
		             VoiceMenual('쿠폰함. 페이지 원할 경우. 엔터키 입력');
		          }
		         else if(e.altKey && e.key == 6){ // 문의내역
		             $('#inquiry').focus();
		             VoiceMenual('문의내역. 페이지 원할 경우. 엔터키 입력');
		          }
		         else if(e.altKey && e.key == 7){ // 찜 목록
		             $('#wish').focus();
		             VoiceMenual("찜목록. 페이지 원할 경우. 엔터키 입력")
		          }
		         else if(e.altKey && e.key == 8){ // 배송 시 요청 선택
		             $('#myInfo').focus();
		             VoiceMenual('개인정보 확인,수정 페이지 입니다. 엔터키 입력.');
		          }
		         else if(e.altKey && e.key == 9){ // 메인 페이지 이동
		                 location.href = "/";
		          }
		         else if(e.altKey && e.key == 0){ //다시 듣기
		             VoiceMenual($('#orderMenual').val());
		          }
		    })
		  } //ttsInit()의 if문
		} // ttsInit() close
	</script>
</div>
</html>