<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">

<!-- CONTENT -->
    <section class="pt-7 pb-12">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">

            <!-- Heading -->
            <h3 class="mb-10">주문 목록</h3>

          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-3">

            <!-- Nav -->
            <nav class="mb-10 mb-md-0">
              <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                <a class="list-group-item list-group-item-action dropend-toggle active" th:href="@{/page/buyer/orderList}">
                  주문 목록
                </a>
				<ul class="list-styled mb-0">
				<li class="nav-item">

                  <!-- Toggle -->
                  <a class="list-group-item list-group-item-action dropend-toggle active" data-bs-toggle="collapse" href="#Collapse" aria-expanded="true">
                   취소/반품/교환내역
                  </a>
                  <!-- Collapse -->
                  <div class="collapse" id="Collapse" data-simplebar-collapse="#seasonGroup">
                    <div class="form-group form-group-overflow mb-6" id="seasonGroup">
                      <div class="form-check mb-3">
                        <a class="form-check-label" for="seasonOne" href="cancelList">
                          취소
                        </a>
                      </div>
                      <div class="form-check mb-3">
                        <a class="form-check-label" for="seasonTwo" href="returnList">
                          반품
                        </a>
                      </div>
                      <div class="form-check">
                        <a class="form-check-label" for="seasonThree" href="exchangeList">
                          교환
                        </a>
                      </div>
                    </div>
                  </div>
                 </li>
                <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle " th:href="@{/page/buyer/myCoupon}">
                  나의 쿠폰함
                </a>
                </li>
                <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle " th:href="@{/page/buyer/myInquiry}">
                  문의내역
                </a>
                </li>
                 <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle " th:href="@{/page/buyer/wishList}">
                  찜 목록
                </a>
                </li>
                 <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle " th:href="@{/page/buyer/personalInfo}">
                  개인정보 확인/수정
                </a>
                </li>
                </ul>
              </div>
            </nav>

          </div>
          <div class="col-12 col-md-9 col-lg-8 offset-lg-1">
			
            <!-- Order -->
            <div class="card card-lg mb-5 border">
              <div class="card-body pb-0">
				<!-- 반복문 시작 -->
                <!-- Info -->
                
                <div class="card card-sm orderList">
                
                <div th:each="lists : ${orderList}" th:data-orderdetailcode="${lists.orderDetailCode}" class="order">
                  <div class="card-body bg-light">
                    <div class="row">
                      <div class="col-6 col-lg-3">
    					
                        <!-- Heading -->
                        <h6 class="heading-xxxs text-muted">주문 번호:</h6>

                        <!-- Text -->
                        <p class="mb-lg-0 fs-sm fw-bold">
                          <span th:text= "|${lists.orderCode}|"></span>
                        </p>

                      </div>
                      <div class="col-6 col-lg-3">

                        <!-- Heading -->
                        <h6 class="heading-xxxs text-muted">주문 날짜:</h6>

                        <!-- Text -->
                        <p class="mb-lg-0 fs-sm fw-bold">
                          <time datetime="2019-10-01">
                           <span th:text= "|${lists.orderDate}|"></span>
                          </time>
                        </p>

                      </div>
                      <div class="col-6 col-lg-3">

                        <!-- Heading -->
                        <h6 class="heading-xxxs text-muted">배송 상태:</h6>

                        <!-- Text -->
                        <p class="mb-0 fs-sm fw-bold">
                          <span th:text="|${lists.orderStatus}|"></span>
                        </p>

                      </div>
                      <div class="col-6 col-lg-3">

                        <!-- Heading -->
                        <h6 class="heading-xxxs text-muted">상품명:</h6>

                        <!-- Text -->
                        <p class="mb-0 fs-sm fw-bold">
                          <span th:text="|${lists.productName}|" id="productName"></span>
                        </p>

                      </div>
                      <div class="col-6 col-lg-3">

                        <!-- Heading -->
                        <h6 class="heading-xxxs text-muted">수량:</h6>

                        <!-- Text -->
                        <p class="mb-0 fs-sm fw-bold">
                          <span th:text="|${lists.orderCnt}|"></span>
                        </p>

                      </div>
                      <div class="col-6 col-lg-3">

                        <!-- Heading -->
                        <h6 class="heading-xxxs text-muted">주문 금액:</h6>

                        <!-- Text -->
                        <p class="mb-0 fs-sm fw-bold">
                          <span th:text="|${lists.paymentPrice}원|"></span>
                        </p>

                      </div>
                      <div class="col-6 col-lg-3">

                        <!-- Heading -->
                        <h6 class="heading-xxxs text-muted">배달 완료 날짜:</h6>

                        <!-- Text -->
                        <p class="mb-0 fs-sm fw-bold">
                         <span th:text="|${lists.deliveryDate}|"></span>
                        </p>

                      </div>
                      <div class="col-6 col-lg-3">

                        <!-- Heading -->
                        <h6 class="heading-xxxs text-muted">상품 이미지:</h6>

                        <!-- Text -->
                        <p class="mb-0 fs-sm fw-bold">
                          <img th:src="@{/img/products/product-1.jpg}" style="max-width: 100%; height: auto" th:alt="${lists.imgContent}">
                        </p>
                      </div>
                      
                    </div>
                  </div>
                <div class="card-footer">
                <div class="row align-items-center">


                      <div class="col-6">

                        <!-- Button -->
                        <a class="btn btn-sm w-100 btn-outline-dark" href="account-order.html" >
                          주문 상세
                        </a>

                      </div>
                      
                      <div class="col-6">

                        <!-- Button -->
                        <input type="hidden" th:value="|${lists.productName}|">
                        <a class="btn btn-sm w-100 btn-outline-dark excBtn" th:href="@{/exchange}" >
                          교환
                        </a>
                        <input type="hidden" th:value="|${lists.orderCode}|">
						
                      </div>
                      <div class="col-6">

                        <!-- Button -->
                        <a class="btn btn-sm w-100 btn-outline-dark retBtn" th:href="@{/return}" >
                          반품
                        </a>

                      </div>
                      
                      <div class="col-6">

                        <!-- Button -->
                        <a class="btn btn-sm w-100 btn-outline-dark cancelBtn" th:href="@{/cancel}" >
                          주문 취소
                        </a>

                      </div>

                </div>
              </div>
                </div>
				</div>
              

            </div>

          </div>
        </div>
      </div>
      </div>
    </section>
	<script>
  	// 교환 버튼에 클릭 이벤트 리스너 추가
  document.querySelector(".orderList").addEventListener("click", function(e) {
	e.preventDefault(); // 기본 동작 방지 (링크 이동 방지)
    // 필요한 정보를 변수에 저장
    var orderDetailCode = $(e.target).closest(".order").data("orderdetailcode"); // TODO: 주문 번호 가져오기
    var url="";
	if(  e.target.matches(".excBtn") ){
		var url = "exchange";
	}else if( e.target.matches(".cancelBtn") ){
		var url = "cancel"
	}else if(e.target.matches(".retBtn")){
		var url = "return"
	}
	window.location.href = url+"?orderDetailCode=" + orderDetailCode;

  });
  	

</script>
</div>
</html>