<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
	<!-- BREADCRUMB -->
	<nav class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-12">

					<!-- Breadcrumb -->
					<ol class="breadcrumb mb-0 fs-xs text-gray-400">
						<li class="breadcrumb-item"><a class="text-gray-400"
							href="index.html">Home</a></li>
						<li class="breadcrumb-item active">My Page</li>
					</ol>

				</div>
			</div>
		</div>
	</nav>

	<!-- CONTENT -->
	<section class="pt-7 pb-12">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">

					<!-- Heading -->
					<h3 class="mb-10">개인 정보</h3>

				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-3">

					<!-- Nav -->
            <nav class="mb-10 mb-md-0">
              <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                <a class="list-group-item list-group-item-action dropend-toggle active" href="orderList.html">
                  주문 목록
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="tradeList.html">
                  취소/반품/교환내역
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="myCoupon.html">
                  나의 쿠폰함
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="myInquiry.html">
                  문의내역
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="wishList.html">
                  찜 목록
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle" href="personalInfo.html">
                  개인정보 확인/수정
                </a>
              </div>
            </nav>

				</div>
				<div class="col-12 col-md-9 col-lg-8 offset-lg-1">
					
					<!-- Form -->
					<form>
						
						<div class="row">
							<div class="col-12 col-md-6">

								<!-- Email -->
								<div class="form-group">
									<label class="form-label" for="buyerName"> 
										이름
									</label> 
									<input class="form-control form-control-sm"
										id="buyerName" type="text" placeholder="*"
										th:value="${personalInfo.memberName}" readonly>
								</div>

							</div>
							
							<div class="col-12">

								<!-- Email -->
								<div class="form-group">
									<label class="form-label" for="buyerEmail"> Email 주소  </label> 
									<input class="form-control form-control-sm"
										id="buyerEmail" type="email" placeholder="Email 주소"
										th:value="${personalInfo.memberEmail}" required>
								</div>

							</div>
							<div class="col-12 col-md-6">

								<!-- Password -->
								<div class="form-group">
									<label class="form-label" for="buyerPassword"> 
										새 비밀번호
									</label> 
									<input class="form-control form-control-sm"
										id="buyerPassword" type="password" th:value="${personalInfo.memberPw}" placeholder="새 비밀번호 입력">

								</div>

							</div>
							<div class="col-12 col-md-6">

								<!-- Password -->
								<div class="form-group">
									<label class="form-label" for="buyerPasswordCheck"> 
										새 비밀번호 확인
									</label> 
									<input class="form-control form-control-sm"
										id="buyerPasswordCheck" type="password" th:value="${personalInfo.memberPw}" placeholder="새 비밀번호 확인">
								</div>

							</div>
							<div class="col-12 col-md-6">

								<!-- Addr -->
								<div class="form-group">
									<label class="form-label" for="buyerAddr">
										주소  </label> <input
										class="form-control form-control-sm" id="buyerAddr"
										type="text" placeholder="*"  th:value="${personalInfo.memberAddr}" required>
								</div>

							</div>
							<div class="col-12 col-md-6">

								<!-- Addr -->
								<div class="form-group">
									<label class="form-label" for="buyerDetailsAddr"> 상세주소 </label> <input class="form-control form-control-sm"
										id="buyerDetailsAddr" type="text"
										placeholder="*" th:value="${personalInfo.memberDetailsAddr}" required>
								</div>

							</div>
							
							<div class="col-12 col-md-6">

								<!-- tel -->
								<div class="form-group">
									<label class="form-label" for="buyerTel"> 전화번호 </label> <input class="form-control form-control-sm"
										id="buyerTel" type="text"
										placeholder="*" th:value="${personalInfo.memberTel}" required>
								</div>

							</div>							
							<div class="col-12 col-lg-6">

								<!-- Birthday -->
								<div class="form-group">

									<!-- Label -->
									<label class="form-label">생년월일</label>

									<!-- Inputs -->
									<div class="row gx-5">
										<div class="col-auto">

											<!-- Date -->
											<label class="visually-hidden" for="buyerBirth">
												Date </label> 
												<input class="form-control form-control-sm" id="buyerBirth" type="text" placeholder="*" 
												 th:value="${personalInfo.memberBirth}" required>

										</div>
									</div>

								</div>
							</div>

							</div>
							<div class="col-12">

								<!-- Button -->
								<button class="btn btn-dark" type="button" id="updateBtn">Save Changes</button>

							</div>
					
					</form>

				</div>
			</div>
		</div>
	</section>
	
	<script>
		$('#buyerPasswordCheck').on('focusout', function(e){
			let password = $('#buyerPassword').val();
			let passwordCheck = $('#buyerPasswordCheck').val();
			
			if(passwordCheck != password){
				alert("비밀번호가 일치하지 않습니다.");
				return;
			}
		});
		
		$('#updateBtn').on('click', function(e){
			let name = $('#buyerName').val();
			let password = $('#buyerPassword').val();
			let passwordCheck = $('#buyerPasswordCheck').val();
			let addr = $('#buyerAddr').val();
			let detailAddr = $('#buyerDetailsAddr').val();
			let tel = $('#buyerTel').val();
			let birth = $('#buyerBirth').val();
			
			$.ajax({
				url: '#{memberId}',
				type: 'post',
				data : {
					name : name,
					password : password,
					passwordCheck : passwordCheck,
					addr : addr,
					detailAddr : detailAddr,
					tel : tel,
					birth : birth
				},
				success : function(result){
					if(result == 'success'){
						alert("수정 완료");
					}
				},
				error: function(err){
					console.log(err);
				}
			})
		});
	</script>
</div>
</html>