<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">

<!-- CONTENT -->
    <section class="pt-7 pb-12" >
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">

            <!-- Heading -->
            <h3 class="mb-10">반품 상세 페이지</h3>

          </div>
        </div>
        <div class="row">
		<div class="col-12 col-md-3">

            <!-- Nav -->
            <nav class="mb-10 mb-md-0">
              <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                <a class="list-group-item list-group-item-action dropend-toggle active" id="orderList" th:href="@{/page/buyer/orderList}" tabindex="-1">
                  주문 목록
                </a>
				<ul class="list-styled mb-0">
				<li class="nav-item">

                  <!-- Toggle -->
                  <a class="list-group-item list-group-item-action dropend-toggle active" data-bs-toggle="collapse" href="#Collapse" aria-expanded="true" tabindex="-1">
                   취소/반품/교환내역
                  </a>
                  <!-- Collapse -->
                  <div class="collapse" id="Collapse" data-simplebar-collapse="#seasonGroup">
                    <div class="form-group form-group-overflow mb-6" id="seasonGroup">
                      <div class="form-check mb-3">
                        <a class="form-check-label" id="cancel" href="cancelList" tabindex="-1">
                          취소
                        </a>
                      </div>
                      <div class="form-check mb-3">
                        <a class="form-check-label" id="reList" href="returnList" tabindex="-1">
                          반품
                        </a>
                      </div>
                      <div class="form-check">
                        <a class="form-check-label" id="exchange" href="exchangeList" tabindex="-1">
                          교환
                        </a>
                      </div>
                    </div>
                  </div>
                 </li>
                <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle" id="coupon" th:href="@{/page/buyer/myCoupon}" tabindex="-1">
                  나의 쿠폰함
                </a>
                </li>
                <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle" id="inquiry" th:href="@{/page/buyer/myInquiry}" tabindex="-1">
                  문의내역
                </a>
                </li>
                 <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle" id="wish" th:href="@{/page/buyer/wishList}" tabindex="-1">
                  찜 목록
                </a>
                </li>
                 <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle" id="myInfo" th:href="@{/page/buyer/personalInfo}" tabindex="-1">
                  개인정보 확인/수정
                </a>
                </li>
                </ul>
              </div>
            </nav>

          </div>
          <div class="col-12 col-md-9 col-lg-8 offset-lg-1">
			
            <!-- Order -->
            <div class="card card-lg mb-5 border">
              <div class="card-body pb-0">
              	<div th:if="${returnList.size != 0}">
				<!-- 반복문 시작 -->
                <!-- Info -->
                <div class="card card-sm">
                <div th:each="lists : ${returnList}" id="test">
                  <div class="card-body bg-light" style="border-radius: 15px;">
                    <div class="row returnRow">
                      <div class="col-6 col-lg-3">
    					
                        <!-- Heading -->
                        <h6 class="heading-xxxs text-muted">반품 번호:</h6>

                        <!-- Text -->
                        <p class="mb-lg-0 fs-sm fw-bold">
                          <span class="returnCode" th:text= "|${lists.returnCode}|" id="returnCode" tabindex='0'></span>
                        </p>

                      </div>
                      <div class="col-6 col-lg-3">
                        <h6 class="heading-xxxs text-muted">주문번호:</h6>
                        <p class="mb-0 fs-sm fw-bold">
                          <span class="orderCode" th:text="|${lists.orderCode}|"></span>
                        </p>
						<h6 class="heading-xxxs text-muted">주문상세번호:</h6>
                        <p class="mb-0 fs-sm fw-bold">
                          <span class="orderDetailCode" th:text="|${lists.orderDetailCode}|" id="orderDetailCode"></span>
                        </p>
                      </div>
                      <div class="col-6 col-lg-3">
                        <h6 class="heading-xxxs text-muted">상품명:</h6>
                        <p class="mb-0 fs-sm fw-bold">
                          <span class="productName" th:text="|${lists.productName}|"></span>
                        </p>
                      </div>
                      
                      <div class="col-6 col-lg-3">
                        <h6 class="heading-xxxs text-muted">수량:</h6>
                        <p class="mb-0 fs-sm fw-bold">
                          <span class="orderCnt" th:text="|${lists.orderCnt}|"></span>
                        </p>
                      </div>
                      <div class="col-6 col-lg-3">
                        <h6 class="heading-xxxs text-muted">결제 금액:</h6>
                        <p class="mb-0 fs-sm fw-bold">
                          <span class="paymentPrice" th:text="|${#numbers.formatInteger(lists.paymentPrice,0,'COMMA')}원|"></span>
                        </p>
                      </div>
                      <div class="col-6 col-lg-3">
                        <h6 class="heading-xxxs text-muted">반품 접수 날짜:</h6>
                        <p class="mb-lg-0 fs-sm fw-bold">
                           <span class="returnRegdate" th:text= "|${#dates.format(lists.returnRegdate, 'yyyy-MM-dd')}|"></span>
                        </p>

                      </div>
                      <div class="col-6 col-lg-3">
												<h6 class="heading-xxxs text-muted">이미지:</h6>
												<div class="row gx-5 mb-4 mb-lg-0">
															<img th:src="|/upload/${lists.uploadPath}/${lists.uploadName}|"
																style="max-width: 100%; height: auto">
												</div>
											</div>
                      <div class="col-6 col-lg-3">
                        <h6 class="heading-xxxs text-muted">반품 승인 날짜:</h6>
                        <p class="mb-0 fs-sm fw-bold">
                         <span class="returnProcessdate" th:text="|${#dates.format(lists.returnProcessdate, 'yyyy-MM-dd')}|"></span>
                        </p>
                      </div>
                    </div>
                  </div>
                <div class="card-footer">
                <div class="row align-items-center">
                  
                  <div class="col-12 col-lg-6">
						<div class="row gx-5">
							<div class="col-6">
								<!-- Button -->
								<button class="btn btn-sm w-100 btn-outline-dark deleteBtn" th:onclick="deleteReturn([[${lists.orderDetailCode}]])" th:data-orderdetailcode="${lists.orderDetailCode}"  th:id="${lists.orderDetailCode}" style="border-radius: 10px; background-color: black; color: white; border-radius: 10px">반품 취소</button>
							</div>
						</div>
				  </div>
                </div>
              </div>
                </div>
				</div>
				</div>
				<div id="noSearch">
				<th:block th:if="${returnList.size == 0}">
					<div>
						 <ul>
							<li class="list-group-item">
								 <div class="row align-items-center">
								  <br>
								  <a href="/page/buyer/orderList">
								  <p style="padding: 10%; font-weight: bolder; text-align: center;">반품 신청한 상품이 없습니다.
								  <br>주문 목록에서 신청 가능합니다.
								  </p>
								  </a>
								 </div>
							</li>
						 </ul>   
					</div>
				</th:block>
				</div>
            </div>

          </div>
        </div>
      </div>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <textarea id="orderMenual" style="display: none;">
      1번 주문목록.
      2번 취소목록.
      3번 반품목록.
      4번 교환목록.
      5번 나의 쿠폰함.
      6번 문의내역.
      7번 찜 목록.
      8번 개인정보 확인/수정.
      9번 메인페이지 이동.
      0번 다시듣기.
    </textarea>
	<script>
		function deleteReturn(code) {
			let returnDel = confirm('반품을 철회하시겠습니까?');
			let returnData = {
				 'orderDetailCode' : code,
			}
			if(returnDel){
			$.ajax('/buyer/deleteReturn',{
				type : 'POST',
				contentType:'application/json',
				data : JSON.stringify(returnData)
			})			
			.done(data => {
				
				console.log(data);
				$('#test').replaceWith(data);
				if($('.order').length == 0){
					let htmltags = `
					<div>
					     <ul>
					      <li class="list-group-item">
					        <div class="row align-items-center">
					          <br>
							  <a href="/page/buyer/orderList">
							  <p style="padding: 10%; font-weight: bolder; text-align: center;">반품 신청한 상품이 없습니다.
							  <br>주문 목록에서 신청 가능합니다.
							  </p>
							  </a>
					        </div>
					      </li>
					      </ul>   
				     </div>`
					$('#noSearch').append(htmltags);
					}
			})
			} else {
				return;
			}
		};
		
	   let TTSIsOk = localStorage.getItem('ttsKey');
	   let sessionAuthor;
	   console.log(sessionStorage.loginMember);          
	   if(sessionStorage.loginMember != null){
	      sessionAuthor = sessionStorage.loginMember.memberAuthor;
	   }
       
      function ttsInit(){
       if(TTSIsOk == null || sessionAuthor == 3){
        let audioFileNow = new Audio();
        let firstMsg = "반품 목록 페이지입니다. 반품 신청한 내역에 대해서 확인할 수 있습니다.";
        let message = firstMsg +$('#orderMenual').val();;

        VoiceMenual(message);
        
        function deleteReturnForTTS(code) {
			let returnData = {
				 'orderDetailCode' : code,
			}
			$.ajax('/buyer/deleteReturn',{
				type : 'POST',
				contentType:'application/json',
				data : JSON.stringify(returnData)
			})			
			.done(data => {
				VoiceMenual('반품 철회가 완료되었습니다.')
				console.log(data);
				$('#test').replaceWith(data);
				if($('.order').length == 0){
					let htmltags = `
					<div>
					     <ul>
					      <li class="list-group-item">
					        <div class="row align-items-center">
					          <br>
							  <a href="/page/buyer/orderList">
							  <p style="padding: 10%; font-weight: bolder; text-align: center;">반품 신청한 상품이 없습니다.
							  <br>주문 목록에서 신청 가능합니다.
							  </p>
							  </a>
					        </div>
					      </li>
					      </ul>   
				     </div>`
					$('#noSearch').append(htmltags);
				}
			})
		};
	  //tts 이벤트 부여
	  $('.returnCode').on('focus', returnListInfo);
	  $('.deleteBtn').on('focus', deleteBtn);
	  
	  //tts 이벤트 진행
	  $('.deleteBtn').on('keydown',function(e){
       	if(e.key == 'Enter'){
       	 e.preventDefault();
	       	 if($(this).prop('class') == 'btn btn-sm w-100 btn-outline-dark deleteBtn'){
	       		deleteReturnForTTS(this.id);
	       	 }
        }
     })
    
	  function returnListInfo() {
		  	let returnCode = $(this).closest('.returnRow').find('.returnCode').text();
		  	let orderCode = $(this).closest('.returnRow').find('.orderCode').text();
		  	let orderDetailCode = $(this).closest('.returnRow').find('.orderDetailCode').text();
		  	let productName = $(this).closest('.returnRow').find('.productName').text();
		  	let orderCnt = $(this).closest('.returnRow').find('.orderCnt').text();
		  	let paymentPrice = $(this).closest('.returnRow').find('.paymentPrice').text();
		  	let returnRegdate = $(this).closest('.returnRow').find('.returnRegdate').text();
		  	let returnStatus = $(this).closest('.returnRow').find('.returnStatus').text();
		  	let returnProcessdate = $(this).closest('.returnRow').find('.returnProcessdate').text();
		  	
		  	let message = `반품번호는 ${returnCode}. 주문번호는 ${orderCode}. 주문상세번호는 ${orderDetailCode}. 상품명은 ${productName}.
		  					상품 수량은 ${orderCnt}.  결제 금액은 ${paymentPrice}. 반품 접수날짜는 ${returnRegdate}. 
		  					반품 승인 날짜는 ${returnProcessdate}. 입니다.`;
		  	
		  	VoiceMenual(message);
	  	}
	  
	 	function deleteBtn() {
	 		VoiceMenual('반품 취소 버튼입니다. 반품 철회를 원하시면. 엔터키를 눌러주세요.');
	 	}
		
		//tts 부분
		console.log('hello js');
		
		var AudioContext;
		var audioContext;
		
		window.onload = function() {
		    navigator.mediaDevices.getUserMedia({ audio: true }).then(() => {
		        AudioContext = window.AudioContext || window.webkitAudioContext;
		        audioContext = new AudioContext();
		    }).catch(e => {
		        console.error(`Audio permissions denied: ${e}`);
		    });
		}
		
		
		function VoiceMenual(message) {
		    var data = {
		        "voice" : {
		            "languageCode" : "ko-KR",
		            "name" : "ko-KR-Neural2-B"
		        },
		        "input" : {
		            "text" : message
		        },
		        "audioConfig" : {
		            "audioEncoding" : "mp3"
		        }
		    }
		    console.log(data);
		    $.ajax({
		        type : 'POST',
		        url : 'https://texttospeech.googleapis.com/v1/text:synthesize?key=AIzaSyArcSKerGDYE7ngIVMaLhHCbNtmWN1-uac',
		        data : JSON.stringify(data),
		        dataType : 'JSON',
		        contentType : "application/json; charset=UTF-8",
		        success : function(res) {
		            $('#menuText').val(res.audioContent)
		            var audioFile = new Audio();
		            let audioBlob = base64ToBlob(res.audioContent,
		                    "mp3");
		            audioFile.src = window.URL
		                    .createObjectURL(audioBlob);
		            audioFile.playbackRate = 2; //재생속도
		            if(audioFileNow.paused == false){
		               audioFileNow.pause();
		            }
		          audioFileNow = audioFile;
		            audioFileNow.play();
		        
		        },
		        error : function(request, status, error) {
		            alert("오류", "오류가 발생하였습니다. 관리자에게 문의해주세요.");
		        }
		    });
		};
		function base64ToBlob(base64, fileType) {
		    let typeHeader = "data:application/" + fileType + ";base64,"; // base64 헤더 파일 유형 정의
		    let audioSrc = typeHeader + base64;
		    let arr = audioSrc.split(",");
		    let array = arr[0].match(/:(.*?);/);
		    let mime = (array && array.length > 1 ? array[1] : type) || type;
		    // url헤더 제거하고 btye로 변환
		    let bytes = window.atob(arr[1]);
		    // 예외를 처리하고 0보다 작은 ASCII 코드를 0보다 큰 값으로 변환
		    let ab = new ArrayBuffer(bytes.length);
		    // 뷰 생성(메모리에 직접): 8비트 부호 없는 정수, 길이 1바이트
		    let ia = new Uint8Array(ab);
		    for (let i = 0; i < bytes.length; i++) {
		        ia[i] = bytes.charCodeAt(i);
		    }
		    return new Blob([ ab ], {
		        type : mime
		    });
		}
		
		   window.addEventListener("keydown", function(e){ 
		         console.log(e);
		         if(e.altKey && e.key == 1){ //주문목록
		             $('#orderList').focus();
		             VoiceMenual('주문목록 페이지 원할 경우. 엔터키 입력');
		          }
		         else if(e.altKey && e.key == 2){ //취소내역
		        	 $(".collapse").addClass("show")
		             $('#cancel').focus();
		             VoiceMenual('취소. 페이지 원할 경우. 엔터키 입력');
		          }
		         else if(e.altKey && e.key == 3) {//반품내역
		        	 $(".collapse").addClass("show")
		             $('#reList').focus();
		             VoiceMenual('반품. 페이지 원할 경우. 엔터키 입력');
		          }
		         else if(e.altKey && e.key == 4){ // 교환내역
		        	 $(".collapse").addClass("show")
		             $('#exchange').focus();
		             VoiceMenual('교환. 페이지 원할 경우. 엔터키 입력');
		          }
		         else if(e.altKey && e.key == 5){ // 나의 쿠폰함
		             $('#coupon').focus();
		             VoiceMenual('쿠폰함. 페이지 원할 경우. 엔터키 입력');
		          }
		         else if(e.altKey && e.key == 6){ // 문의내역
		             $('#inquiry').focus();
		             VoiceMenual('문의내역. 페이지 원할 경우. 엔터키 입력');
		          }
		         else if(e.altKey && e.key == 7){ // 찜 목록
		             $('#wish').focus();
		             VoiceMenual("찜목록. 페이지 원할 경우. 엔터키 입력")
		          }
		         else if(e.altKey && e.key == 8){ // 배송 시 요청 선택
		             $('#myInfo').focus();
		             VoiceMenual('개인정보 확인,수정 페이지 입니다. 엔터키 입력.');
		          }
		         else if(e.altKey && e.key == 9){ // 메인 페이지 이동
		                 location.href = "/";
		          }
		         else if(e.altKey && e.key == 0){ //다시 듣기
		             VoiceMenual($('#orderMenual').val());
		          }
		   })
		  } //ttsInit()의 if문
		} // ttsInit() close	
	</script>
</div>
</html>