<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
	<!-- CONTENT -->
	<section class="pt-7 pb-12">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<!-- Heading -->
					<h3 class="mb-10">My Account</h3>

				</div>
			</div>
			<div class="row">
			<div class="col-12 col-md-3">
            

            <!-- Nav -->
            <nav class="mb-10 mb-md-0">
              <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                <a class="list-group-item list-group-item-action dropend-toggle active" th:href="@{/page/buyer/orderList}">
                  주문 목록
                </a>
				<ul class="list-styled mb-0">
				<li class="nav-item">

                  <!-- Toggle -->
                  <a class="list-group-item list-group-item-action dropend-toggle active" data-bs-toggle="collapse" href="#Collapse" aria-expanded="true">
                   취소/반품/교환내역
                  </a>
                  <!-- Collapse -->
                  <div class="collapse" id="Collapse" data-simplebar-collapse="#seasonGroup">
                    <div class="form-group form-group-overflow mb-6" id="seasonGroup">
                      <div class="form-check mb-3">
                        <a class="form-check-label" for="seasonOne" href="cancelList">
                          취소
                        </a>
                      </div>
                      <div class="form-check mb-3">
                        <a class="form-check-label" for="seasonTwo" href="returnList">
                          반품
                        </a>
                      </div>
                      <div class="form-check">
                        <a class="form-check-label" for="seasonThree" href="exchangeList">
                          교환
                        </a>
                      </div>
                    </div>
                  </div>
                 </li>
                <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle " th:href="@{/page/buyer/myCoupon}">
                  나의 쿠폰함
                </a>
                </li>
                <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle " th:href="@{/page/buyer/myInquiry}">
                  문의내역
                </a>
                </li>
                 <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle " th:href="@{/page/buyer/wishList}">
                  찜 목록
                </a>
                </li>
                 <li class="nav-item">
                <a class="list-group-item list-group-item-action dropend-toggle " th:href="@{/page/buyer/personalInfo}">
                  개인정보 확인/수정
                </a>
                </li>
                </ul>
              </div>
            </nav>
			</div>
         
				<div class="col-12 col-md-9 col-lg-8 offset-lg-1" id="test">
				<div>
					<!-- Products -->
							<div class="row" >
								
								<!-- Item -->
								<!-- 반복문 -->
								<!-- <div class="col-6 col-md-4" th:each="wishes : ${wishList}" th:data-favoritecode="${wishes.favoriteCode}" class="wish"> -->
									<div class="col-6 col-md-4" th:each="wishes : ${wishList}">
									<div class="card mb-7">
										<!-- Image -->
										<div class="card-img">
											<!-- Action -->
											<a
												class="btn btn-xs btn-circle btn-white-primary card-action card-action-end" th:onclick="deleteWish([[${wishes.favoriteCode}]])">
												<i class="fe fe-x"></i>
											</a>
											<!-- Button -->
											<button class="btn btn-xs w-100 btn-dark card-btn"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye me-2 mb-1"></i> Quick View
											</button>
											<!-- Image -->
											<img class="card-img-top"
												src="/img/products/product-6.jpg"
												th:alt="${wishes.imgContent}" th:value="${wishes.favoriteCode}" id="favoriteCode">
										</div>
										<!-- Body -->
										<div class="card-body fw-bold text-center">
											<a class="text-body" href="product.html"><span
												th:text="${wishes.productName}"></span></a> <br> <span
												class="text-muted"><span th:text="|${wishes.productCost}원|"></span></span>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<!-- Pagination -->
					<nav class="d-flex justify-content-center justify-content-md-end">
						<ul class="pagination pagination-sm text-gray-400">
							<li class="page-item" th:if="${pageMaker.prev"><a class="page-link page-link-arrow"
								th:href="@{/buyer/wishList/(pageNum = ${pageMaker.startPage -1})}"> <i class="fa fa-caret-left"></i>
							</a></li>
							<th:block
							th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}">
							<li th:if="${pageMaker.endPage} ne 0"
								th:with="start = ${pageMaker.startPage}, end=${pageMaker.endPage}"
								th:each="pageButtom : ${#numbers.sequence(start, end)}"
								th:class="${pageMaker.cri.pageNum} eq ${pageButtom} ? 'page-item active' : 'page-item'">
								<a class="page-link" href="#" 
								th:href="@{/buyer/wishList/(pageNum == ${pageButtom})}"
								th:text="${pageButtom}"></a>
							</li>
							</th:block>
							<li class="page-item" th:if="${pageMaker.next"><a class="page-link page-link-arrow"
								th:href="@{/buyer/wishList/(pageNum = ${pageMaker.endPage + 1})}"> <i class="fa fa-caret-left"></i>
							</a></li>
						</ul>
					</nav>
					<!-- Modal for Delete Confirmation -->
					<!-- 
					<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
					    <div class="modal-dialog">
					        <div class="modal-content">
					            <div class="modal-header">
					                <h5 class="modal-title" id="deleteConfirmationModalLabel">삭제 확인</h5>
					                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					            </div>
					            <div class="modal-body">
					                이 상품을 삭제하시겠습니까?
					            </div>
					            <div class="modal-footer">
					                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
					            </div>
					        </div>
					    </div>
					</div>
 					-->
 			</div>
		</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
		
		    function deleteWish(code) {
		    	
		        let favoriteDel = confirm('상품을 삭제하시겠습니까?'); 
		        if(favoriteDel){
		        	$.ajax('/buyer/deleteWish',{ // 실제 아이템을 삭제할 URL로 대체하세요.
			            type: 'GET',
			            data: { 
			            	favoriteCode : code 
			            }
		        	})
		        	.done(data => {
		                console.log(data);
		                $('#test').replaceWith(data);
		                
		              })
		            	
		            } else {
		              return;
		            }
		    };

	</script>
</div>
</html>