<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
    <!-- BREADCRUMB -->
    <nav class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-0 fs-xs text-gray-400">
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active">
                문의하기
              </li>
            </ol>

          </div>
        </div>
      </div>
    </nav>
    
    <!-- CONTENT -->
    <section class="pt-7 pb-15">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8">
          	<h2>문의하기</h2>
          	<div class="mb-3">
			  <label for="exampleFormControlInput1" class="form-label">Title</label>
			  <input type="text" class="form-control" id="title" placeholder="제목">
			</div>
			<div class="mb-3">
			  <label for="exampleFormControlTextarea1" class="form-label">content</label>
			  <textarea class="form-control" id="content" rows="3"></textarea>
			</div>
			<div class="row">
          <div class="col-12 text-center">

            <!-- Button -->
            <button class="btn btn-dark" id="addBtn">
              문의하기
            </button>
            <button class="btn btn-gray-500" id="cancleBtn">
              취소
            </button>

          </div>
        </div>
          </div>
        </div>
      </div>
    </section>
    <script>
	$('#addBtn').on('click',function(e){
		let title = $('#title').val();
		let content = $('#content').val();
		
		if(title == ''){
			alert("제목을 입력해주세요");
			return;
		}
		if(content == ''){
			alert("내용을 입력해주세요");
			return;
		}
		$.ajax({
			url:'custom/inquiryInsert'
			type:'post',
			data :{
				title:title,
				content:content
			},
			success : function(result){
				if(result == 'success'){
					alert("문의 성공");
				}else{
					alert("문의 실패");	
				}
			},
			error: function(err){
				console.log(err);
			}
		
			
		})
		
		alert("여기");	
	})
	
    </script>
</div>
</html>