<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
	<textarea id="testInput" style="display:none;">
		제목 : [[${noticeInfo.noticeTitle}]]
		작성자 :[[${noticeInfo.noticeWriter}]]
		작성 일자: [[${#dates.format(noticeInfo.noticeRegdate,'yyyy-MM-dd')}]]
		내용 : [[${noticeInfo.noticeContent}]]
		
		목록으로 가실려면 shift + y를 눌러 주세요
	</textarea>
	<!-- BREADCRUMB -->
	<nav class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Breadcrumb -->
					<ol class="breadcrumb mb-0 fs-xs text-gray-400">
						<li class="breadcrumb-item"><a class="text-gray-400"
							href="index.html">Home</a></li>
						<li class="breadcrumb-item active">공지사항</li>
					</ol>

				</div>
			</div>
		</div>
	</nav>

	<!-- CONTENT -->
	<section class="pt-7 pb-15">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-10 col-xl-8">
				<div class="row">
					<div class="col-12 text-center">

						<h3 class="mb-10">공지사항	</h3>

					</div>
				</div>
				<table class="table table-bordered" style="border-top:1px solid black;">
					<thead>
						<tr>
							<th style="width:250px; text-align:center;">제목</th>
							<td>[[${noticeInfo.noticeTitle}]]</td>
						</tr>
						<tr>
							<th style="width:250px; text-align:center;">작성자</th>
							<td>[[${noticeInfo.noticeWriter}]]</td>
						</tr>
						<tr>
							<th style="width:250px; text-align:center;">작성일자</th>
							<td>[[${#dates.format(noticeInfo.noticeRegdate,'yyyy-MM-dd')}]]</td>
						</tr>
						<tr>
							<td colspan="2">
								<textarea rows="20" cols="180" style="border:0px;">[[${noticeInfo.noticeContent}]]</textarea>
							</td>
						</tr>
					</thead>
				</table>
				<div class="col-12 text-center">
				<input type="hidden" th:value="${cri.pageNum}" id="pageNum">
              <!-- Tags -->
              <a class="btn btn-xs btn-outline-border fw-normal text-gray-500 me-3 mb-3" th:href="@{/custom/notice/(pageNum = ${cri.pageNum},keyword=${cri.keyword})}">
                목록
              </a>
            </div>
			</div>
		</div>
	</section>
	<script>
	var AudioContext;
	var audioContext;
	
	
	
	window.onload = function() {
	    navigator.mediaDevices.getUserMedia({ audio: true }).then(() => {
	        AudioContext = window.AudioContext || window.webkitAudioContext;
	        audioContext = new AudioContext();
	    }).catch(e => {
	        console.error(`Audio permissions denied: ${e}`);
	    });
	}

	// 먼저 읽히는것 
	$(document).ready(function() {
		VoiceMenu();
	
	});
	
	$(document).on('keydown',function(e){
		
		if(e.shiftKey && e.keyCode==89){
			location.href="/custom/notice/?pageNum=" +$('#pageNum').val();
		}
		
		
		
	})
	
	function VoiceMenu() {
		var data = {
			"voice" : {
				"languageCode" : "ko-KR",
				"name" : "ko-KR-Neural2-B"
			},
			"input" : {
				"text" : $('#testInput').val()
			},
			"audioConfig" : {
				"audioEncoding" : "mp3"
			}
		}
		xhr = $.ajax({
			type : 'POST',
			url : 'https://texttospeech.googleapis.com/v1/text:synthesize?key=AIzaSyArcSKerGDYE7ngIVMaLhHCbNtmWN1-uac',
			data : JSON.stringify(data),
			dataType : 'JSON',
			contentType : "application/json; charset=UTF-8",
			success : function(res) {
				$('#menuText').val(res.audioContent)
				var audioFile = new Audio();
				let audioBlob = base64ToBlob(res.audioContent,
						"mp3");
				audioFile.src = window.URL
						.createObjectURL(audioBlob);
				audioFile.playbackRate = 1; //재생속도
		
				audioFile.play();
				
		
			
			},
			error : function(request, status, error) {
				alert("오류", "오류가 발생하였습니다. 관리자에게 문의해주세요.");
			}
		});
		
		
	};

	function base64ToBlob(base64, fileType) {
		let typeHeader = "data:application/" + fileType + ";base64,"; // base64 헤더 파일 유형 정의
		let audioSrc = typeHeader + base64;
		let arr = audioSrc.split(",");
		let array = arr[0].match(/:(.*?);/);
		let mime = (array && array.length > 1 ? array[1] : type) || type;
		// url헤더 제거하고 btye로 변환
		let bytes = window.atob(arr[1]);
		// 예외를 처리하고 0보다 작은 ASCII 코드를 0보다 큰 값으로 변환
		let ab = new ArrayBuffer(bytes.length);
		// 뷰 생성(메모리에 직접): 8비트 부호 없는 정수, 길이 1바이트
		let ia = new Uint8Array(ab);
		for (let i = 0; i < bytes.length; i++) {
			ia[i] = bytes.charCodeAt(i);
		}
		return new Blob([ ab ], {
			type : mime
		});
	}
    </script>
</div>
</html>