<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
	<textarea id="startVoice" style="display:none;">
   공지사항 [[${pageMaker.cri.pageNum}]]페이지 입니다.
   1번 이전페이지가기
   2번 다음페이지가기
   6번 f a q화면가기
   7번 공지사항가기
   8번 1:1문의하기
   9번 홈으로가기
   0번 다시듣기
   tab키 다음공지읽어주기
   shift + tab 이전공지 
   shift + d 누르면 공지상세보기
</textarea>

	<input type="hidden" value="0" id="index">
	<input type="hidden" value="" id="current">
	<input type="hidden" th:value="${pageMaker.cri.pageNum}" id="pageNum">
	<input type="hidden" th:value="${pageMaker.endPage}" id="endPage">
	<!-- BREADCRUMB -->
	<nav class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Breadcrumb -->
					<ol class="breadcrumb mb-0 fs-xs text-gray-400">
						<li class="breadcrumb-item"><a class="startpage text-gray-400" href="index.html">Home</a></li>
						<li class="start breadcrumb-item active" tabindex="0">공지사항</li>
					</ol>
				</div>
			</div>
		</div>
	</nav>
	<!-- CONTENT -->
	<section class="pt-7 pb-12">
		<div>
			<div class="row justify-content-center">
				<div class="col-12 col-lg-10 col-xl-8">
					<nav class="d-flex justify-content-center justify-content-md-end mt-10" style="margin-bottom:20px;">
						<form class="navbar-form w-100" style="max-width: 400px;" method="get" action="/custom/notice">
							<div class="input-group">

								<!-- Input -->
								<input class="searchkey form-control form-control-underline form-control-sm border-dark"
									type="search" name="keyword" placeholder="검색어를 입력해주세요" tabindex="0">
								<!-- <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}"> -->
								<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}" tabindex="-1">
								<!-- Button -->
								<div class="input-group-append">
									<button class="searchbtn btn btn-underline btn-sm border-dark" type="submit" tabindex="-1">
										<i class="fe fe-search"></i>
									</button>
								</div>

							</div>
						</form>
					</nav>
					<table class="table">
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성자</th>
								<th>작성날짜</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="notice,status : ${noticeList}"
								th:onclick="|location.href='@{/custom/noticeInfo/(noticeCode=${notice.noticeCode},pageNum=${pageMaker.cri.pageNum},keyword=${pageMaker.cri.keyword})}'|"
								class="noticeLi"
								tabindex="0">
								<td style="display:none;"><input type="hidden" th:value="${notice.noticeCode}"
										th:id="|code${status.index}|" class="noticeCode"></td>
								<td th:id="|type${status.index}|">[[${notice.noticeType} == 'Y' ? '공지' :
									${pageMaker.total} - (((${pageMaker.cri.pageNum}-1)* ${pageMaker.cri.amount}) +
									${status.index})]]</td>
								<td th:id="|title${status.index}|"
									th:onclick="|location.href='@{/custom/noticeInfo/(noticeCode=${notice.noticeCode},pageNum=${pageMaker.cri.pageNum})}'|">
									[[${notice.noticeTitle}]]</td>
								<td th:id="|writer${status.index}|">[[${notice.noticeWriter}]]</td>
								<td th:id="|date${status.index}|">[[${#dates.format(notice.noticeRegdate,'yyyy-MM-dd')}]]</td>
                     </tr>
                  </tbody>
               </table>
			   <div class="end" tabindex="0"></div>
               <!-- Pagination -->
               <nav
                  class="realend d-flex justify-content-center justify-content-md-end mt-10" tabindex="0">
                  <ul class="pagination pagination-sm text-gray-400">
                     <li class="page-item" th:if="${pageMaker.prev}"><a
                        class="page-link page-link-arrow"
                        th:href="@{/custom/notice/(pageNum = ${pageMaker.startPage - 1})}">
                           <i class="fa fa-caret-left"></i>
                     </a></li>
                     <th:block
                        th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}">
                        <li th:if="${pageMaker.endPage} ne 0"
                           th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}"
                           th:each="pageButtom : ${#numbers.sequence(start,end)}"
                           th:class="${pageMaker.cri.pageNum} eq ${pageButtom} ? 'page-item active' : 'page-item'">
                           <a class="page-link" href="#"
                           th:href="@{/custom/notice/(pageNum= ${pageButtom} )}"
                           th:text="${pageButtom}"></a>
                        </li>
                     </th:block>

                     <li class="page-item" th:if="${pageMaker.next}"><a
                        class="page-link page-link-arrow"
                        th:href="@{/custom/notice/(pageNum = ${pageMaker.endPage + 1})}">
                           <i class="fa fa-caret-right"></i>
                     </a></li>
                  </ul>
               </nav>
            </div>
         </div>
         <form action="/custom/notice" method="get">
            <input type="hidden" name="pageNum" th:value="${pageMaker.cri.pageNum}">
            <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
            <input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword}">
         </form>
      </div>
   </section>
   <a>
   
   
   </a>
      <script th:inline="javascript">
      let TTSIsOk = localStorage.getItem('ttsKey');
      let sessionAuthor;
	  let member = [[${session.loginMember}]];
    
     if(sessionStorage.loginMember != null){
        sessionAuthor = sessionStorage.loginMember.memberAuthor;
     }
         
        function ttsInit(){
         if(TTSIsOk == null || sessionAuthor == 3){
			const speech = new webkitSpeechRecognition;

			let audioFileNow = new Audio();
			var AudioContext;
			var audioContext;

			window.onload = function () {
			navigator.mediaDevices.getUserMedia({
				audio: true
			}).then(() => {
				AudioContext = window.AudioContext || window.webkitAudioContext;
				audioContext = new AudioContext();
			}).catch(e => {
				console.error(`Audio permissions denied: ${e}`);
			});

			}

			function VoiceReturnRead(text) {
               var data = {
                  "voice": {
                     "languageCode": "ko-KR",
                     "name": "ko-KR-Neural2-B"
                  },
                  "input": {
                     "text": text,

                  },
                  "audioConfig": {
                     "audioEncoding": "mp3"
                  }
               }

               $.ajax({
                  type: 'POST',
                  url: 'https://texttospeech.googleapis.com/v1/text:synthesize?key=AIzaSyArcSKerGDYE7ngIVMaLhHCbNtmWN1-uac',
                  data: JSON.stringify(data),
                  dataType: 'JSON',
                  contentType: "application/json; charset=UTF-8",
                  success: function (res) {
                     var audioFile = new Audio();
                     let audioBlob = base64ToBlob(res.audioContent,
                        "mp3");
                     audioFile.src = window.URL
                        .createObjectURL(audioBlob);
                     audioFile.playbackRate = 1; //재생속도
                     if (audioFileNow.paused == false) {
                        audioFileNow.pause();
                     }
                     audioFileNow = audioFile;
                     audioFileNow.play();


                  },
                  error: function (request, status, error) {
                     alert("오류", "오류가 발생하였습니다. 관리자에게 문의해주세요.");
                  }
               });
            };



            function base64ToBlob(base64, fileType) {
               let typeHeader = "data:application/" + fileType + ";base64,"; // base64 헤더 파일 유형 정의
               let audioSrc = typeHeader + base64;
               let arr = audioSrc.split(",");
               let array = arr[0].match(/:(.*?);/);
               let mime = (array && array.length > 1 ? array[1] : type) || type;
               // url헤더 제거하고 btye로 변환
               let bytes = window.atob(arr[1]);
               // 예외를 처리하고 0보다 작은 ASCII 코드를 0보다 큰 값으로 변환
               let ab = new ArrayBuffer(bytes.length);
               // 뷰 생성(메모리에 직접): 8비트 부호 없는 정수, 길이 1바이트
               let ia = new Uint8Array(ab);
               for (let i = 0; i < bytes.length; i++) {
                  ia[i] = bytes.charCodeAt(i);
               }
               return new Blob([ab], {
                  type: mime
               });
            }


			$(document).ready(function () {
               startMenu();
			   $('.start').focus();

			   $('.start').on('focus',startVoice);
			   $('.startpage').on('focus',start);
			   $('.searchkey').on('focus',searchForm);
               $('.noticeLi').on('focus',noticeli);
			   $(".realend").on('focus',realend);
			   $(".end").on('focus',end);
            })

			function end(){
				let msg = "마지막입니다.";
				VoiceReturnRead(msg);
			}
			function realend(){
				$(".end").focus();
			}

			function startVoice(){
				speech.stop();
				let msg = "처음입니다.";
				VoiceReturnRead(msg);
			}
			function startMenu(){
				let msg = $('#startVoice').val();
				VoiceReturnRead(msg);
			}

			function searchForm(){
				
				let msg = '검색어를 말하고 엔터키를 눌러주세요';
				speech.start();
				VoiceReturnRead(msg);
				
			}

			function noticeli(){
				speech.stop();
				//console.log($(this).children().eq(1).text());
				let msg = "번호" + $(this).children().eq(1).text() +"제목" + $(this).children().eq(2).text() + "작성일자" + $(this).children().eq(4).text();
				VoiceReturnRead(msg);
			}

			function start(){
				$('.start').focus();
			}

			speech.addEventListener("result", (event) => {
               const {
                  transcript
               } = event["results"][0][0];
               resultListView(transcript);
            });


            function resultListView(transcript) {
               VoiceReturnRead(transcript);
               $(':focus').val(transcript);
            }

			$(document).on('keydown', function (e) {
               	if (e.keyCode == 48) {
                  startMenu();
               	}else if(e.keyCode ==  49){
					if($('#pageNum').val() != 1){
						let page = Number($('#pageNum').val()) - 1;
						location.href="/custom/notice/?pageNum=" + page;
					}else{
						text ='첫 번째 페이지입니다.';
						VoiceReturnRead(text);
					}
					return;
				}else if(e.keyCode == 50){
					if($('#pageNum').val() != $('#endPage').val()){
						let page = Number($('#pageNum').val()) + 1;
						location.href="/custom/notice/?pageNum=" + page;
					}else{
						text ='마지막 페이지입니다.';
						VoiceReturnRead(text);
					}
					return;
				}else if(e.keyCode == 54){
						location.href = "/custom/faqList";
					}else if(e.keyCode == 55){
						location.href = "/custom/notice";
					}else if(e.keyCode == 56){
						console.log(member);
						if(member == null){
							let text = "로그인하셔야 이용하실수있는 서비스입니다.";
							VoiceReturnRead(text);
						}else{
							location.href ="/custom/inquiry";
						}
					}else if(e.keyCode == 57) {
                  location.href = "/";
			   	}else if(e.shiftKey && e.keyCode==68){
					let child = $(':focus').children().eq(0);
					let code = $(child).children().val(); 
					let tt = $('#current').val();
					if(code === ''){
						return;
					}else{
						location.href="/custom/noticeInfo/?noticeCode="+code + "&pageNum=" +$('#pageNum').val();
			        }
				
			   }
            })




   } //ttsInit()의 if문
  } // ttsInit() close
      
   
   </script>

</div>
</html>