<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">
<!-- Content -->
<div layout:fragment="content">
      <div class="container">
         <div class="row justify-content-between">
            <div class="col-3 " th:each="category:${allCtg}" th:if="${category.categoryLevel == 1}">
			   <p th:text="|${category.categoryName} : ${category.categoryCode}|" tabindex=0>  
			   <div class="row"  th:each="ctgTwo: ${allCtg}" th:if="${ctgTwo.categoryLevel == 2} and ${(ctgTwo.parentCategoryCode).equals(category.categoryCode)}">
				   <p  th:text="|${ctgTwo.categoryName} : ${ctgTwo.categoryCode}|" tabindex=1>
				   <div class="row" th:if="${!((category.categoryCode).equals('FOOD'))}">
				   		<div th:each="ctgThree: ${allCtg}" 
				   		th:if="${ctgThree.categoryLevel == 3} 
				   		and ${(ctgThree.parentCategoryCode).equals(ctgTwo.categoryCode)}" >
				   		<p th:text="|${ctgTwo.categoryName} ${ctgThree.categoryName} : ${ctgThree.categoryCode}|">
				   			<div th:each="ctgFour : ${allCtg}" th:if="${category.categoryCode.equals('Fassion')} and ${ctgFour.categoryLevel == 4}
				   			and ${ctgFour.parentCategoryCode.equals(ctgThree.categoryCode)}">
				   				<p th:text="|${ctgTwo.categoryName} ${ctgFour.categoryName} : ${ctgFour.categoryCode}|"></p>
				   			</div>
				   			
				   		</div>
				   </div>
			   </div>
            </div>
         </div>
      </div>
   		<textarea id="categoryMenual" style="display:none;"> 
		1번 전체듣기
		2번 의류 카테고리
		3번 음식 카테고리
		4번 생활 카테고리
		
		5번 뒤로가기
		6번 메인홈페이지로 이동 
		
	
			
	  	</textarea>
   <script th:inline="javascript">
// 먼저 읽히는것 
   let audioFileNow = new Audio();
   $(document).ready(function() {
   	let url =  new URL(location.href);
   	let paramChk = url.search;
   	
   	if(paramChk.length==0){
   		let firstMsg = 	"상품 카테고리 목록 페이지입니다."
						+"메뉴얼을 들으신 후 alt 키와 함께 해당 메뉴얼의 번호를 눌러주세요.";
   		let message =  firstMsg + $('#categoryMenual').val();
       	VoiceMenual(message);
   	}
   	

   });
   function VoiceMenual(message) {
	    var data = {
	        "voice" : {
	            "languageCode" : "ko-KR",
	            "name" : "ko-KR-Neural2-B"
	        },
	        "input" : {
	            "text" : message
	        },
	        "audioConfig" : {
	            "audioEncoding" : "mp3"
	        }
	    }
	    console.log(data);
	    $.ajax({
	        type : 'POST',
	        url : 'https://texttospeech.googleapis.com/v1/text:synthesize?key=AIzaSyArcSKerGDYE7ngIVMaLhHCbNtmWN1-uac',
	        data : JSON.stringify(data),
	        dataType : 'JSON',
	        contentType : "application/json; charset=UTF-8",
	        success : function(res) {
	            $('#menuText').val(res.audioContent)
	            var audioFile = new Audio();
	            let audioBlob = base64ToBlob(res.audioContent,
	                    "mp3");
	            audioFile.src = window.URL
	                    .createObjectURL(audioBlob);
	            audioFile.playbackRate = 2; //재생속도
	            if(audioFileNow.paused == false){
	            	audioFileNow.pause();
	            }
	    		audioFileNow = audioFile;
	            audioFileNow.play();
	        
	        },
	        error : function(request, status, error) {
	            alert("오류", "오류가 발생하였습니다. 관리자에게 문의해주세요.");
	        }
	    });
	};
	function base64ToBlob(base64, fileType) {
	    let typeHeader = "data:application/" + fileType + ";base64,"; // base64 헤더 파일 유형 정의
	    let audioSrc = typeHeader + base64;
	    let arr = audioSrc.split(",");
	    let array = arr[0].match(/:(.*?);/);
	    let mime = (array && array.length > 1 ? array[1] : type) || type;
	    // url헤더 제거하고 btye로 변환
	    let bytes = window.atob(arr[1]);
	    // 예외를 처리하고 0보다 작은 ASCII 코드를 0보다 큰 값으로 변환
	    let ab = new ArrayBuffer(bytes.length);
	    // 뷰 생성(메모리에 직접): 8비트 부호 없는 정수, 길이 1바이트
	    let ia = new Uint8Array(ab);
	    for (let i = 0; i < bytes.length; i++) {
	        ia[i] = bytes.charCodeAt(i);
	    }
	    return new Blob([ ab ], {
	        type : mime
	    });
	}
   </script>
</div>
</html>