<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<!-- Content -->
<div layout:fragment="content">
	<section class="py-11">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4 col-lg-3">

					<!-- Filters -->
					<form class="mb-10 mb-md-0">
						<ul class="nav nav-vertical" id="filterNav">
							<li class="nav-item">
								<!-- Toggle --> <a
								class="nav-link dropdown-toggle fs-lg text-reset border-bottom mb-6"
								tabindex=-1 data-bs-toggle="collapse" href="#categoryCollapse"
								style="font-weight: 600; font-size: 18px"> 카테고리 </a> <!-- Collapse -->
								<div class="collapse show" id="categoryCollapse">
									<div class="form-group">
										<ul class="list-styled mb-0" id="productsNav">
											<li class="list-styled-item"><a class="list-styled-link"
												href="/PList"> 전체 상품 </a></li>


											<li class="list-styled-item" th:each="ctg : ${categories}">
												<!-- Toggle --> <a class="list-styled-link"
												data-bs-toggle="collapse" th:href="|#${ctg.categoryCode}|"
												th:text="${ctg.categoryCode}"> 레벨2 </a> <!-- Collapse -->

												<div class="collapse" th:id="${ctg.categoryCode}"
													data-bs-parent="#productsNav">
													<div class="py-4 ps-5">

														<th:block th:each="middle : ${allCtg}"
															th:if="${middle.categoryLevel} == 2 and ${(middle.parentCategoryCode).equals('Fassion')} and ${(ctg.categoryCode).equals('Fassion')}">
															<div class="form-check mb-3">
																<input class="form-check-input"
																	th:id="${middle.categoryCode}" tabindex=0
																	type="checkbox"> <label
																	class="form-check-label"
																	th:for="${middle.categoryCode}">[[${middle.categoryName}]]
																</label>
															</div>
														</th:block>

														<th:block th:each="middle : ${allCtg}"
															th:if="${middle.categoryLevel} == 2 and ${(middle.parentCategoryCode).equals('FOOD')} and ${(ctg.categoryCode).equals('FOOD')}">
															<div class="form-check mb-3">
																<!-- <a th:id="${middle.categoryCode}" th:href="|/PList?ctg=${middle.categoryCode}|"> -->
																<input class="form-check-input"
																	th:id="${middle.categoryCode}" tabindex=0
																	type="checkbox"> <label
																	class="form-check-label"
																	th:for="${middle.categoryCode}">
																	[[${middle.categoryName}]] </label>
																<!-- </a>  -->
															</div>
														</th:block>

														<th:block th:each="middle : ${allCtg}"
															th:if="${middle.categoryLevel} == 2 and ${(middle.parentCategoryCode).equals('Life')} and ${(ctg.categoryCode).equals('Life')}">
															<div class="form-check mb-3">
																<input class="form-check-input"
																	th:id="${middle.categoryCode}" tabindex=0
																	type="checkbox"> <label
																	class="form-check-label"
																	th:for="${middle.categoryCode}">
																	[[${middle.categoryName}]] </label>
															</div>
														</th:block>

													</div>
													<!-- py-4 ps-5 -->
												</div> <!--  collapse -->

											</li>

										</ul>
									</div>
								</div>

							</li>



							<li class="nav-item">
								<!-- Toggle --> <a tabindex=-1
								class="nav-link dropdown-toggle fs-lg text-reset border-bottom mb-6"
								data-bs-toggle="collapse" href="#seasonCollapse"
								style="font-weight: 600; font-size: 18px"> 순서 </a> <!-- Collapse -->
								<div class="collapse show" id="seasonCollapse"
									data-simplebar-collapse="#seasonGroup">
									<div class="form-group form-group-overflow mb-6"
										id="seasonGroup">
										<div class="form-check mb-3">
											<input class="form-check-input" id="seasonOne"
												type="checkbox"> <label class="form-check-label"
												for="seasonOne"> New </label>
										</div>
										<div class="form-check mb-3">
											<input class="form-check-input" id="seasonTwo"
												type="checkbox"> <label class="form-check-label"
												for="seasonTwo"> Best </label>
										</div>

									</div>
								</div>

							</li>
							<li class="nav-item">
								<!-- Toggle --> <a tabindex=-1
								class="nav-link dropdown-toggle fs-lg text-reset border-bottom mb-6"
								data-bs-toggle="collapse" href="#priceCollapse"
								style="font-weight: 600; font-size: 18px"> 가격 </a> <!-- Collapse -->
								<div class="collapse show" id="priceCollapse"
									data-simplebar-collapse="#priceGroup">

									<!-- Form group-->
									<div class="form-group form-group-overflow mb-6"
										id="priceGroup">
										<div class="form-check mb-3">
											<input class="form-check-input" id="priceOne" type="checkbox"
												name="pricefilter"> <label class="form-check-label"
												for="priceOne"> 0원 - 50,000원 </label>
										</div>
										<div class="form-check mb-3">
											<input class="form-check-input" id="priceTwo" type="checkbox"
												name="pricefilter"> <label class="form-check-label"
												for="priceTwo"> 50,000원 - 100,000원 </label>
										</div>
										<div class="form-check mb-3">
											<input class="form-check-input" id="priceThree"
												name="pricefilter" type="checkbox"> <label
												class="form-check-label" for="priceThree"> 100,000원
												- 200,000원 </label>
										</div>
										<div class="form-check">
											<input class="form-check-input" id="priceFour"
												name="pricefilter" type="checkbox"> <label
												class="form-check-label" for="priceFour"> 200,000 이상
											</label>
										</div>
									</div>


									<!-- Range -->
									<div class="d-flex align-items-center" id="writeRange">
										<div class="form-check" style="margin-right: 14px">
											<input class="form-check-input" id="priceRange"
												type="checkbox" name="pricefilter">
										</div>
										<!-- Input -->
										<input type="number" class="form-control form-control-xs"
											placeholder="10,000원" min="10">

										<!-- Divider -->
										<div class="text-gray-350 mx-2">‒</div>

										<!-- Input -->
										<input type="number" class="form-control form-control-xs"
											placeholder="100,000원" max="9999999">

									</div>
									<div style="margin-top: 10px">
										<button type="button" class="form-control form-control-xs"
											id="filterApplyBtn">적용하기</button>
									</div>

								</div>

							</li>

						</ul>
					</form>

				</div>




				<div class="col-12 col-md-8 col-lg-9">



					<!-- Header -->
					<div class="row align-items-center mb-7"
						style="border-bottom: 1px solid rgba(0, 0, 0, 0.4); padding-bottom: 26px">
						<div class="col-12 col-md">

							<!-- Heading -->
							<h3 class="mb-1" th:if="${#strings.isEmpty(param.ctg)}">전체보기</h3>
							<h3 class="mb-1" th:if="${!(#strings.isEmpty(param.ctg))}">카테고리</h3>




							<!-- Breadcrumb -->
							<ol class="breadcrumb mb-md-0 fs-xs text-gray-400">
								<li class="breadcrumb-item"><a class="text-gray-400"
									href="/">Home</a></li>
								<li class="breadcrumb-item active" th:if="${param.ctg != null
								and not #strings.isEmpty(param.ctg)
								}">[[${param.ctg}]]</li>
							</ol>
							
							<span class="btn btn-xs btn-light fw-normal text-muted me-3 mb-3" style="margin-top:10px;"th:if="${param.order != null
							and not #strings.isEmpty(param.order)}">[[${param.order}]]
							<a class="text-reset ms-2 delCtg" href="#!" role="button"><i class="fe fe-x"></i></a>
							<input type="hidden" value="order">
							</span>
							
							<span class="btn btn-xs btn-light fw-normal text-muted me-3 mb-3" style="margin-top:10px;"
							 th:if="${param.minPrice != null and param.maxPrice != null
							 and not #strings.isEmpty(param.minPrice) and not #strings.isEmpty(param.maxPrice)
							  }">[[${param.minPrice}]]원 ~ [[${param.maxPrice}]]원
							 <a class="text-reset ms-2 delCtg" href="#!" role="button"><i class="fe fe-x"></i></a>
							 <input type="hidden" value="price">
							 </span>
							 
							 <span class="btn btn-xs btn-light fw-normal text-muted me-3 mb-3" style="margin-top:10px;"
							 th:if="${param.wildCtg != null and not #strings.isEmpty(param.wildCtg)}">
							 <a class="text-reset ms-2 delCtg" href="#!" role="button"><i class="fe fe-x"></i></a>
							 <input type="hidden" value="wildCtg" id="wildCard">
							 </span>

						</div>
						<div class="input-group" style="width: 400px;">
							<input class="form-control" type="search"
								placeholder="키워드를 검색해 주세요">
							<div class="input-group-append">
								<button class="btn btn-outline-border" type="submit">
									<i class="fe fe-search"></i>
								</button>
							</div>
						</div>
					</div>


					<div class="row" style="padding-top: 30px">
						<!-- Products -->
						<th:block th:each="product,idx : ${products}">
							<hr th:if="${(idx.count%3) == 1 and idx.count != 1}" style="margin-top: 24px;">
							<div class="col-6 col-md-4 product-wrap" 
							onmouseover="this.style.boxShadow='0 2px 10px 0 rgba(0,0,0,0.2)'" 
							onmouseout="this.style.boxShadow='0 0 0 0'"
							>
								<div class="card" style="margin-top: 1rem; margin-bottom: 1rem;">
									<div class="card-img"
									style="justify-content: center;
    										display: flex;">
										<a class="card-img card-img-hover" tabindex="0"
											th:href="|/goodDetail?productCode=${product.product_code}|">
											<img
											th:src="|/upload/${product.upload_path}/${product.upload_name}|"
											style="height: 250px; width: 250px">
										</a>
										<!-- Actions -->
										<div class="card-actions" tabindex=-1 style="width:44px; padding: 0px;  margin-bottom:20px;">	
											<span class="card-action" tabindex=-1>
												<button class="btn btn-xs btn-circle btn-white-primary"
													data-toggle="button" tabindex=-1>
													<i class="fe fe-heart heart-icon" tabindex=-1></i>
												</button>
											</span>
											<input tabindex=-1 type="hidden" class="visually-hidden" th:value="${product.product_code}">
										</div>
									</div>
									<div class="card-body">
										<!--                      <div class="fs-xs">[[${product.category_code}]]</div> -->
										<div class="fw-bold" 
										style="
											white-space : nowrap;
											overflow : hidden;
											text-overflow : ellipsis;
											cursor : pointer;"
										th:title="${product.product_name}"
										th:onclick="|location.href='@{/goodDetail(productCode=${product.product_code})}'|"
										>[[${product.product_name}]]</div>
										<div class="fw-bold text-muted">
											<span
												class="fs-xs text-gray-350 text-decoration-line-through">[[${#numbers.formatInteger(product.product_cost,3,'COMMA')}]]</span>
											<span class="text-primary"
												th:text="|${#numbers.formatInteger(product.sale_price,3,'COMMA')}|">[[${product.sale_price}]]</span>
											<span class="text">원</span>
										</div>
										<!-- 별점 -->
										<div class="col-auto">
											<!-- Rating -->
											<div class="rating fs-xs text-dark"
												th:if="${product.product_star} == 0"
												th:data-value="${product.product_star}+1">
												<div class="rating-item">
													<i class="fas fa-star"></i>
												</div>
												<div class="rating-item">
													<i class="fas fa-star"></i>
												</div>
												<div class="rating-item">
													<i class="fas fa-star"></i>
												</div>
												<div class="rating-item">
													<i class="fas fa-star"></i>
												</div>
												<div class="rating-item">
													<i class="fas fa-star"></i>
												</div>
											</div>
											<div class="rating fs-xs text-dark"
												th:if="${product.product_star} != 0"
												th:data-value="${product.product_star}">
												<div class="rating-item">
													<i class="fas fa-star"></i>
												</div>
												<div class="rating-item">
													<i class="fas fa-star"></i>
												</div>
												<div class="rating-item">
													<i class="fas fa-star"></i>
												</div>
												<div class="rating-item">
													<i class="fas fa-star"></i>
												</div>
												<div class="rating-item">
													<i class="fas fa-star"></i>
												</div>
											</div>
											<span class="fw-bold text-muted"
												th:text="|(${product.review_count})|">(6)</span>
										</div>
										<!-- 별점 END -->
									</div>
									<!-- 리뷰 수 -->
									<!-- 리뷰수 -->

								</div>
							</div>
						</th:block>
					</div>
					<!-- Pagination -->
					<nav
						class="d-flex justify-content-center justify-content-md-center mt-10">
						<ul class="pagination pagination-sm text-gray-400">
							<li class="page-item" th:if="${pageMaker.prev}"><a
								class="page-link page-link-arrow"
								th:href="@{/PList/(pageNum = ${pageMaker.startPage - 1},keyword=${param.keyword}, ctg=${param.ctg}
								,wildCtg=${param.wildCtg} , minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, order=${param.order}
								)}">
									<i class="fa fa-caret-left"></i>
							</a></li>
							<th:block
								th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}">
								<li th:if="${pageMaker.endPage} ne 0"
									th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}"
									th:each="pageButtom : ${#numbers.sequence(start,end)}"
									th:class="${pageMaker.cri.pageNum} eq ${pageButtom} ? 'page-item active' : 'page-item'">
									<a class="page-link" href="#"
									th:href="@{/PList/(pageNum= ${pageButtom},keyword=${param.keyword}, ctg=${param.ctg}
									,wildCtg=${param.wildCtg} , minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, order=${param.order}
									)}"
									th:text="${pageButtom}" style="font-size: x-large;"></a>
								</li>
							</th:block>

							<li class="page-item" th:if="${pageMaker.next}"><a
								class="page-link page-link-arrow"
								th:href="@{/PList/(pageNum = ${pageMaker.endPage + 1},keyword=${param.keyword}, ctg=${param.ctg}
								,wildCtg=${param.wildCtg} , minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, order=${param.order}
								)}">
									<i class="fa fa-caret-right"></i>
							</a></li>
						</ul>
					</nav>
					<!-- pagi end -->
				</div>
			</div>
		</div>
	</section>
	<!-- [[${#strings.isEmpty(param.ctg)}]] ? '전체' : '카테고리' -->
	<textarea id="PListMenual" style="display: none;"> 
			1번 이전페이지로.    
			2번 상품 둘러보기.     
			3번 다음페이지로.      
			
			4번 검색조건 선택하기.      
			5번 검색하기.      
			6번 마이크로 입력하기.      
			
			7번 카테고리 선택 페이지로 이동.      
			8번 장바구니 페이지로 이동.
			9번 메인홈페이지로 가기.
			
			0번 다시 듣기.      
			
	  	</textarea>
	<script th:inline="javascript">
	
	let ctgs = [[${allCtg}]]
	let urlwild = [[${param.wildCtg}]];
	if(urlwild != null){
		let wildCtg = urlwild[0]
		let inText;
		for(let ctg of ctgs){
			if(ctg.categoryCode == wildCtg){
				inText = ctg.categoryName;	
			}
		}
		let inspan = $('#wildCard').prev();
		inspan.before(inText);
	}
	
	let urlParamCtg = [[${param.wildCtg}]]
	let urlParamOrder = [[${param.order}]]
	let urlParamMaxPrice = [[${param.maxPrice}]]
	let urlParamMinPrice = [[${param.minPrice}]]
	let urlParamKeyword = [[${param.keyword}]]
	let orderFilters = $('#seasonGroup').find('input');
	let ctgFilters = $('.ps-5').find('input');
	let priceFilters = $('input[type="checkbox"][name="pricefilter"]');
	if(urlParamKeyword != null){
		let keywordInput = document.querySelector('input[type="search"]');
		keywordInput.value = urlParamKeyword;
	}
	
	//Order 저장
	if(urlParamOrder != null){
		$(orderFilters).each(function(idx,tag){
			let seasons;
			if(urlParamOrder[0] == 'new'){
				seasons = 'seasonOne';
			}else if(urlParamOrder[0] == 'best'){
				seasons = 'seasonTwo';
			}
			if(tag.id == seasons){
				tag.checked = true;
			}
		})
	}
	//wildCtg 저장
	if(urlParamCtg != null){
		$(ctgFilters).each(function(idx,tag){
			if(tag.id == urlParamCtg[0]){
				tag.checked = true;
			}
		})
	}
	//가격 범위 저장
	if(urlParamMaxPrice != null && urlParamMinPrice != null){
		let priceSize;
		let max = urlParamMaxPrice[0];
		let min = urlParamMinPrice[0];
		if(min == 0 && max == 50000){
			priceSize = 'priceOne';
		}else if(min == 50000 && max == 100000){
			priceSize = 'priceTwo';
		}else if(min == 100000 && max == 200000){
			priceSize = 'priceThree';
		}else if(min == 200000 && max == 99999999){
			priceSize = 'priceFour';
		}else if(min != '' && max != ''){
			priceSize = 'priceRange';
		}
		$(priceFilters).each(function(idx,tag){
			if(tag.id == priceSize){
				tag.checked = true;
			}
		})
	}
	//찜 등록
	$($('.heart-icon').parent()).on('click',function(){
    	let pCode = $(this).parent().next().val();

	    if([[${session}]] == null){
	    	alert('로그인이 필요한 기능입니다.')	
	    }else{
	    	if([[${session.loginMember}]] == null){
	    		alert('로그인이 필요한 기능입니다.')	
	    	}else{
				let memId = [[${session.loginMember}]]
				let obj = {
					'memberId' : memId.memberId,
					'productCode' : pCode
				};
		    	$.ajax({
					url: "/buyer/checkWish",
					type: 'GET',
					data: obj,
					success : function(rs){
						if(rs == 0){
							addWishInMain(obj)
						}else if(rs > 0 ){
							alert('이미 찜 등록된 상품입니다.');
						}
					},
					error : function(err){
					}
				
				})
	    	}
	    }
    })
    
    function addWishInMain(obj){
    	$.ajax({
			url: "/buyer/addWish",
			type: 'POST',
			data: JSON.stringify(obj),
			contentType : 'application/json',
			success : function(rs){
				if(confirm('찜 등록하였습니다. 찜 목록 페이지로 이동하시겠습니까?')){
						location.href="/page/buyer/wishList";   				
				}
			},
			error : function(err){
				console.log(err);
			}
		
		})
    }
	
	
	
   
	let searchBars = document.querySelectorAll('input[type="search"]');
	let pSearch = searchBars[0];
 //엔터키 입력 시 검색
	$(pSearch).on('keydown',function(e){
		if(e.keyCode == 13){
			let nowURL = new URL(location.href);
			nowURL.searchParams.set('pageNum', 1); // 1페이지로 이동
			nowURL.searchParams.set('keyword', $(pSearch).val());
			location.href = nowURL.href;
		}
	})
	
	
	$('#filterApplyBtn').on('click',function(){
		$('#priceGroup').find('input:checked') //가격범위       range 가져오기
		let orderFilter = $('#seasonGroup').find('input:checked') //new , best  order순서
		$('#writeRange').find('input') // 적는 칸 가격 range;
		let ctgs = $('.ps-5').find('input:checked') // 카테고리 선택 Filter
		let minVal = $('#writeRange').find('input')[1].value;
		let maxVal = $('#writeRange').find('input')[2].value;
		
		let prices = $('input[type="checkbox"][name="pricefilter"]:checked ');
		
		let minPrice;
		let maxPrice;
		
		let filterObj = {};
		
		if(prices.length>0  ){
		let id = prices[0].id;
			if(id == 'priceRange'){
				if(minVal == '' || maxVal == ''){
					alert('값을 정확히 입력해주세요.')
					return false;
				}
				if(Number(minVal) < 0 || Number(maxVal) <= 0){
					alert('값을 정확히 입력해주세요.')
					return false;
				}
				if(Number(maxVal) <= Number(minVal)){ //최솟값만 입력했을 경우 가능.
					alert('값을 정확히 입력해주세요.');
					return false;
				}else{
					minPrice = minVal;
					maxPrice = maxVal;
				}
			}else if(id == 'priceOne'){
				minPrice = 0
				maxPrice = 50000;
			}else if(id == 'priceTwo'){
				minPrice = 50000;
				maxPrice = 100000;
			}else if(id == 'priceThree'){
				minPrice = 100000;
				maxPrice = 200000;
			}else if(id == 'priceFour'){
				minPrice = 200000;
				maxPrice = 99999999;
			}
			
		}
		//min, max Price 담기 
		filterObj['minPrice'] = minPrice;
		filterObj['maxPrice'] = maxPrice;
		
		if(orderFilter.length>0){
			if(orderFilter[0].id == 'seasonOne'){
				filterObj['order'] = 'new';
			}else if(orderFilter[0].id == 'seasonTwo'){
				filterObj['order'] = 'best';
			}
		}
		// filter가 있다면 new, best 담
		
		if(ctgs.length>0){
			filterObj['ctg'] = ctgs[0].id; 
		}
		if(ctgs.length == 0 && orderFilter.length == 0 && prices.length == 0 ){
			 alert('조건을 선택해주세요.')
			 return;
		}
		// 실행코드
		let nowURL = new URL(location.origin+"/PList");
		nowURL.searchParams.set('pageNum', 1); // 1페이지로 이동
		if(filterObj['order'] != null){
			nowURL.searchParams.set('order', filterObj['order']);
		}
		if(filterObj['maxPrice'] != undefined){
			nowURL.searchParams.set('maxPrice', filterObj['maxPrice'] );
		}
		if(filterObj['minPrice'] != undefined){
			nowURL.searchParams.set('minPrice', filterObj['minPrice']);
		}
		if(filterObj['ctg'] != null){
			nowURL.searchParams.set('wildCtg', filterObj['ctg']);
		}
		let preKeyword = [[${param.keyword}]];
		if(preKeyword != null){
			nowURL.searchParams.set('keyword', preKeyword);
		}
		location.href = nowURL.href;
		
	})

	//카테고리 선택 삭제
	$('.delCtg').on('click',function(){
		let nowURL = new URL(location.href);
		let urlTag = $(this).next().val();
		if(urlTag == 'order'){
			nowURL.searchParams.delete('order');
		}
		if(urlTag == 'price'){
			nowURL.searchParams.delete('maxPrice');
			nowURL.searchParams.delete('minPrice');
		}
		if(urlTag == 'wildCtg'){
			nowURL.searchParams.delete('wildCtg');
		}
		nowURL.searchParams.set('pageNum', 1);
		location.href= nowURL.href;
	})
	
	//PriceGroup 단일 체크
	let pGroup = $('input[type="checkbox"][name="pricefilter"] ');
	let sGroup = $('#seasonGroup').find('input');
	let ctgGroup = $('.ps-5').find('input')
	let chkGroup = [];
	
	$.each(ctgGroup, function(ele,obj){
		$(obj).on('click', checkOnlyOneCtg);
		$(obj).on('keydown', inputEnter)
	})
	$.each(sGroup, function(ele,obj){
		$(obj).on('click', checkOnlyOneSeason);
		$(obj).on('keydown', inputEnter)
	})
	
	$.each(pGroup, function(ele,obj){
		$(obj).on('click', checkOnlyOne);
		$(obj).on('keydown', inputEnter)
	})
	function inputEnter(e){
		if(e.key == 'Enter'){
			$(this).trigger('click');
		}
	}
	
	function checkOnlyOne(e) {
		if($(this).prop('checked')){
			 
		     $('input[type="checkbox"][name="pricefilter"]').prop('checked',false);
		 
		     $(this).prop('checked',true);
		 
		}else{
			$(this).prop('checked',false);
		}
		
	}
	function checkOnlyOneSeason(e) {
		if($(this).prop('checked')){
			 
			$('#seasonGroup').find('input').prop('checked',false);
		 
		     $(this).prop('checked',true);
		 
		}else{
			$(this).prop('checked',false);
		}
	}
	function checkOnlyOneCtg(e) {
		if($(this).prop('checked')){
			 
			$('.ps-5').find('input').prop('checked',false);
		 
		     $(this).prop('checked',true);
		 
		}else{
			$(this).prop('checked',false);
		}
		
	}
	
	
	
   
   //==============================
   
	let TTSIsOk = localStorage.getItem('ttsKey');
	let sessionAuthor;
	let sessionId = [[${session.loginMember}]]
	if(sessionId != null){
		sessionAuthor = sessionId.memberAuthor;
	}
  	function ttsInit(){
	   	if(TTSIsOk == null || sessionAuthor == 3){
	   		
			   let audioFileNow = new Audio();
			   
				let NewProduct = [[${products}]];
			   
			   
			   const movePage = function(page) {
				   const URLSearch = new URLSearchParams(location.search);
				   URLSearch.set('pageNum', String(page));
				   const newParam = URLSearch.toString();
			
				   window.open(location.pathname + '?' + newParam, '_self');
				 };
					 
					 
					 

				
				
				let productList = document.querySelectorAll('a.card-img');
				$.each(productList, function(idx,obj){
					$(obj).on('focus', productTTS)
				})
				
				function productTTS(){
					let divCardMb = $(this).parent().parent();
					let divCardBody = $(this).parent().parent().children()[1];
					let productName = $(divCardBody).children()[0].innerText;
					let productPrice = $($(divCardBody).children()[1]).children()[1].innerText
					let productMsg = `상품 이름. :  ${productName}. 상품 가격. : ${productPrice}원`
					VoiceMenual(productMsg);
					
				}
				
				// 검색바 포커스 됐을 경우 TTS
				$(pSearch).on('focus',function(){
					VoiceMenual('검색창입니다. 마이크를 이용해 입력하시려면 alt 키와 6번을 동시에 입력해주세요. 그리고 말씀하신 후에 엔터키를 눌러주세요.')
				});
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				//이하 STT 
				window.SpeechRecognition =
					  window.SpeechRecognition || window.webkitSpeechRecognition;
			
				// 인스턴스 생성
				const recognition = new SpeechRecognition();
			
				// true면 음절을 연속적으로 인식하나 false면 한 음절만 기록함
				recognition.interimResults = true;
				// 값이 없으면 HTML의 <html lang="en">을 참고합니다. ko-KR, en-US
				recognition.lang = "ko-KR";
				// true means continuous, and false means not continuous (single result each time.)
				// true면 음성 인식이 안 끝나고 계속 됩니다.
				recognition.continuous = false;
				// 숫자가 작을수록 발음대로 적고, 크면 문장의 적합도에 따라 알맞은 단어로 대체합니다.
				// maxAlternatives가 크면 이상한 단어도 문장에 적합하게 알아서 수정합니다.
				recognition.maxAlternatives = 10000;
			
				function sttToInput(HTMLTag){
					let speechToText = "";
					let tagNow = HTMLTag.value;
					recognition.addEventListener("result", (e) => {
					  let interimTranscript = "";
					  for (let i = e.resultIndex, len = e.results.length; i < len; i++) {
					    let transcript = e.results[i][0].transcript;
					    if (e.results[i].isFinal) { // 마지막이면 Text에 변환스크립트 concat
					      speechToText += transcript;
					    } else { //도중의 경우 interim, concat
					      interimTranscript += transcript;
					    }
					  }
					  let TotalSTT = speechToText + interimTranscript;	
					  $(HTMLTag).val(TotalSTT);
					});
				}
				recognition.addEventListener('end',function(){
					let sttResultMsg = '입력하신 값 : '+pSearch.value;
					VoiceMenual(sttResultMsg)
				})
				
				
	
	var AudioContext;
	var audioContext;
	
	window.onload = function() {
	    navigator.mediaDevices.getUserMedia({ audio: true }).then(() => {
	        AudioContext = window.AudioContext || window.webkitAudioContext;
	        audioContext = new AudioContext();
	    }).catch(e => {
	        console.error(`Audio permissions denied: ${e}`);
	    });
	}
	// 먼저 읽히는것 
	$(document).ready(function() {
		let url =  new URL(location.href);
		let paramChk = url.search;
		
		if(paramChk.length==0){
			let firstMsg = "상품 목록 페이지입니다. 메뉴얼을 들으신 후 alt 키와 함께 해당 메뉴얼의 번호를 눌러주세요.";
			let message =  firstMsg + $('#PListMenual').val();
	    	VoiceMenual(message);
		}else{
			let message =  $('#PListMenual').val();
	    	VoiceMenual(message);
		}
		
	
	});
	
	function VoiceMenual(message) {
	    var data = {
	        "voice" : {
	            "languageCode" : "ko-KR",
	            "name" : "ko-KR-Neural2-B"
	        },
	        "input" : {
	            "text" : message
	        },
	        "audioConfig" : {
	            "audioEncoding" : "mp3"
	        }
	    }
	    console.log(data);
	    $.ajax({
	        type : 'POST',
	        url : 'https://texttospeech.googleapis.com/v1/text:synthesize?key=AIzaSyArcSKerGDYE7ngIVMaLhHCbNtmWN1-uac',
	        data : JSON.stringify(data),
	        dataType : 'JSON',
	        contentType : "application/json; charset=UTF-8",
	        success : function(res) {
	            $('#menuText').val(res.audioContent)
	            var audioFile = new Audio();
	            let audioBlob = base64ToBlob(res.audioContent,
	                    "mp3");
	            audioFile.src = window.URL
	                    .createObjectURL(audioBlob);
	            audioFile.playbackRate = 2; //재생속도
	            if(audioFileNow.paused == false){
	            	audioFileNow.pause();
	            }
	    		audioFileNow = audioFile;
	            audioFileNow.play();
	        
	        },
	        error : function(request, status, error) {
	            alert("오류", "오류가 발생하였습니다. 관리자에게 문의해주세요.");
	        }
	    });
	};
	function base64ToBlob(base64, fileType) {
	    let typeHeader = "data:application/" + fileType + ";base64,"; // base64 헤더 파일 유형 정의
	    let audioSrc = typeHeader + base64;
	    let arr = audioSrc.split(",");
	    let array = arr[0].match(/:(.*?);/);
	    let mime = (array && array.length > 1 ? array[1] : type) || type;
	    // url헤더 제거하고 btye로 변환
	    let bytes = window.atob(arr[1]);
	    // 예외를 처리하고 0보다 작은 ASCII 코드를 0보다 큰 값으로 변환
	    let ab = new ArrayBuffer(bytes.length);
	    // 뷰 생성(메모리에 직접): 8비트 부호 없는 정수, 길이 1바이트
	    let ia = new Uint8Array(ab);
	    for (let i = 0; i < bytes.length; i++) {
	        ia[i] = bytes.charCodeAt(i);
	    }
	    return new Blob([ ab ], {
	        type : mime
	    });
	}
		window.addEventListener("keyup", function(e){ 
				if(e.key == 'Tab'){
					if($(':focus').prop('type') == 'number'){
						let msg = '가격범위를 입력해주세요. 최소 다음 최대 입니다.'
						VoiceMenual(msg);
					}else{
						if($(':focus')[0].className == 'card-img'){
							return;
						};
						if($($(':focus')[0].labels).length>0){
							let choiceUp = $(':focus').parent().parent().parent().prev()[0].innerText;
							let choiceNow = $(':focus')[0].labels[0].innerText;
							let choiceMsg = `${choiceUp}의 ${choiceNow}`
							VoiceMenual(choiceMsg);
						}else{
							if($(':focus')[0].id == 'priceRange'){
								let rangeMsg = '탭키를 누르고 가격범위를 직접 입력해주세요.'
								VoiceMenual(rangeMsg);
								return;
							}
							if($(':focus')[0].className == 'page-link'){
								let choiceNow = $(':focus')[0].innerText;
								VoiceMenual(choiceNow+' 페이지.')
								return;
							}
						}
					}
	
				}
			})
	
	
		window.addEventListener("keydown", function(e){ 
	
				if(e.altKey && e.key == 1){ //이전 페이지로 가기
					let nowURL = new URL(location.href);
					let nowNum = nowURL.searchParams.get('pageNum');
					let num;
					if(nowNum == 1 || nowNum == undefined){
						num = 1;
						VoiceMenual('첫번째 페이지입니다. 이전 페이지가 없습니다.');
						
					}else{
						num = Number(nowNum)-1;
						movePage(num);
					}
				}
				if(e.altKey && e.key == 2){ // 상품 포커스
					let product = document.querySelector('a.card-img');
					product.focus();
				}
				
				if(e.altKey && e.key == 3){ // 다음 페이지로 가기
					let nowURL = new URL(location.href);
					let nowNum = nowURL.searchParams.get('pageNum');
					let num;
					if(nowNum == undefined){
						num = 2;
					}else{
						num = Number(nowNum)+1;
					}
						movePage(num);
					
				}
				if(e.altKey && e.key == 4){ // 필터 선택하기
					let filterList = document.querySelectorAll('.list-styled-link')[48];
					$(filterList).focus(); 
				}
				if(e.altKey && e.key == 5){ // 검색창 가기
					let searchBars = document.querySelectorAll('input[type="search"]');
					searchBars[0].focus();;
				}
				if(e.altKey && e.key == 9){ // 메인 페이지로 가기
					location.href = "/";
				}
				if(e.altKey && e.key == 7){ // 카테고리 페이지로 이동
					location.href = "/";
					var form = document.createElement('form');
					form.setAttribute('method', 'post'); 
					form.setAttribute('action', "/category");
					document.body.appendChild(form);
					form.submit();
				}
				if(e.altKey && e.key == 8){
					location.href = "/"; // 장바구니로 이동
				}
				if(e.altKey && e.key == 6){ // 마이크로 입력하기
					let activeInput = document.activeElement
					if(activeInput.tagName=='INPUT'){
						recognition.addEventListener("start", sttToInput(activeInput))
						recognition.start();
					}else{
						let noActiveMsg = "검색하시려면 alt키와 5번을 누르신 후 입력해주세요.";
						VoiceMenual(noActiveMsg);
					}
				}
				if(e.altKey && e.key == 0){
					VoiceMenual($('#PListMenual').val());
				}
		})
		let filterAll = document.querySelectorAll('.list-styled-link')[48];
		$(filterAll).on('focus',function(){
			let msg = '전체상품입니다. 엔터를 누르시면 전체상품 페이지로 이동합니다. 이 다음부터는 탭 키를 눌러 이동가능하며. 음성을 들으시고 엔터를 눌러 체크하신 후. 다음중 적용하기 버튼에서 전체적으로  적용할 수 있습니다.'
			VoiceMenual(msg);
		})
		$('.delCtg').on('focus',function(){
			let filters = $(this).parent().text();
			let msg = `현재 적용된 필터.. ${filters}.입니다. 이 필터를 해제하시려면 엔터를 눌러주세요. `
			VoiceMenual(msg);
		})
		$('#filterApplyBtn').on('keydown',function(e){
			if(e.key == 'Enter'){
			e.preventDefault();
				$('#priceGroup').find('input:checked') //가격범위       range 가져오기
				let orderFilter = $('#seasonGroup').find('input:checked') //new , best  order순서
				$('#writeRange').find('input') // 적는 칸 가격 range;
				let ctgs = $('.ps-5').find('input:checked') // 카테고리 선택 Filter
				let minVal = $('#writeRange').find('input')[1].value;
				let maxVal = $('#writeRange').find('input')[2].value;
				
				let prices = $('input[type="checkbox"][name="pricefilter"]:checked ');
				
				let minPrice;
				let maxPrice;
				
				let filterObj = {};
				
				if(prices.length>0  ){
				let id = prices[0].id;
					if(id == 'priceRange'){
						if(minVal == '' || maxVal == ''){
							VoiceMenual('  값을 정확히 입력해주세요.')
							return false;
						}
						if(Number(minVal) < 0 || Number(maxVal) <= 0){
							VoiceMenual('  값을 정확히 입력해주세요.')
							return false;
						}
						if(Number(maxVal) <= Number(minVal)){ //최솟값만 입력했을 경우 가능.
							VoiceMenual('  값을 정확히 입력해주세요.');
							return false;
						}else{
							minPrice = minVal;
							maxPrice = maxVal;
						}
					}else if(id == 'priceOne'){
						minPrice = 0
						maxPrice = 50000;
					}else if(id == 'priceTwo'){
						minPrice = 50000;
						maxPrice = 100000;
					}else if(id == 'priceThree'){
						minPrice = 100000;
						maxPrice = 200000;
					}else if(id == 'priceFour'){
						minPrice = 200000;
						maxPrice = 99999999;
					}
					
				}
				//min, max Price 담기 
				filterObj['minPrice'] = minPrice;
				filterObj['maxPrice'] = maxPrice;
				
				if(orderFilter.length>0){
					if(orderFilter[0].id == 'seasonOne'){
						filterObj['order'] = 'new';
					}else if(orderFilter[0].id == 'seasonTwo'){
						filterObj['order'] = 'best';
					}
				}
				// filter가 있다면 new, best 담
				
				if(ctgs.length>0){
					filterObj['ctg'] = ctgs[0].id; 
				}
				if(ctgs.length == 0 && orderFilter.length == 0 && prices.length == 0 ){
					 VoiceMenual('조건을 선택해주세요.')
					 return;
				}
				// 실행코드
				let nowURL = new URL(location.origin+"/PList");
				nowURL.searchParams.set('pageNum', 1); // 1페이지로 이동
				if(filterObj['order'] != null){
					nowURL.searchParams.set('order', filterObj['order']);
				}
				if(filterObj['maxPrice'] != undefined){
					nowURL.searchParams.set('maxPrice', filterObj['maxPrice'] );
				}
				if(filterObj['minPrice'] != undefined){
					nowURL.searchParams.set('minPrice', filterObj['minPrice']);
				}
				if(filterObj['ctg'] != null){
					nowURL.searchParams.set('wildCtg', filterObj['ctg']);
				}
				location.href = nowURL.href;
			}
		})
				
				
	   		}//ttsInit if 문
  	} // ttsInit();
   </script>
</div>
</html>
