<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<!-- Content -->
<head>
<style type="text/css">
.card-img-top {
	position: relative;
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

.photo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;s
	background-position: center;
	background-size: cover;
	transition: transform .5s ease-out;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<!-- 단건 조회 -->
		<section>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div class="col-12 col-md-6">
								<!-- Card -->
								<div class="card">
									<!-- Slider -->
									<div class="mb-4"
										data-flickity='{"draggable": false, "fade": true}'
										id="productSlider">
										<!-- Item 
									<a href="#" th:each="img:${goods.productImg}"
										th:data-bigpicture='|{ "imgSrc": "/upload/${img.uploadPath}/${img.uploadName}"}|'>
										<img th:src="|/upload/${img.uploadPath}/${img.uploadName}|"
										alt="..." width="540" height="480" class="card-img-top"
										id="imgTarget" data-zoom="3" />-->
										<div class="card-img-top" data-scale="2" width="540"
											height="480"
											style="background-image: url('../img/products/product-142.jpg')"></div>
									</div>
								</div>

								<!-- Slider -->
								<div class="flickity-nav mx-n2 mb-10 mb-md-0"
									data-flickity='{"asNavFor": "#productSlider", "contain": true, "wrapAround": false}'>
									<!-- Item -->

									<div class="col-12 px-2" style="max-width: 113px"
										th:each="img:${goods.productImg}">
										<!-- Image -->
										<div class="ratio ratio-1x1 bg-cover"
											th:style="|background-image: url(/upload/${img.uploadPath}/${img.uploadName});|"></div>
									</div>


								</div>
							</div>

							<div class="col-12 col-md-6 ps-lg-10">
								<!-- Header -->
								<div class="row mb-1">
									<div class="col">
										<!-- Preheading -->
										<a class="text-muted" href="shop.html"
											th:text="${goods.categoryCode}"></a>
									</div>
									<div class="col-auto">
										<!-- Rating -->
										<div class="rating fs-xs text-dark"
											th:data-value="${reviewAvg}">
											<div class="rating-item">
												<i class="fas fa-star"></i>
											</div>
											<div class="rating-item">
												<i class="fas fa-star"></i>
											</div>
											<div class="rating-item">
												<i class="fas fa-star"></i>
											</div>
											<div class="rating-item">
												<i class="fas fa-star"></i>
											</div>
											<div class="rating-item">
												<i class="fas fa-star"></i>
											</div>
										</div>
									</div>
								</div>

								<!-- Heading -->
								<h3 class="mb-2" th:text="${goods.productName}"></h3>


								<!-- Price -->
								<div class="mb-7">
									<span
										class="fs-lg fw-bold text-gray-350 text-decoration-line-through"
										th:text="${goods.productCost}+원"></span>
									<!-- 할인가격 -->
									<span class="ms-1 fs-5 fw-bolder text-primary"
										th:text="${goods.salePrice}+원"></span>
								</div>

								<!-- Form -->

								<form>

									<div class="form-group"
										style="font-size: 15px; border-bottom: 1px solid rgba(0, 0, 0, 0.3)">
										<div style="padding-bottom: 8px; color: grey">
											<span>배송정보 : </span> <span>[[${goods.deliveryService}]]</span>
										</div>
										<div style="padding-bottom: 8px; color: grey">
											<span>배송비 : </span> <span>[[${goods.deliveryCost}]]원</span>
										</div>
										<div style="padding-bottom: 8px; color: grey">
											<span>생산지 : </span> <span>[[${goods.productOrigin}]]</span>
										</div>
									</div>


									<div class="form-group">
										<!-- Label -->

										<div class="mb-2" style="padding-bottom: 24px">
											<!-- option -->
											<div class="col-12 col-lg-auto">

												<!--/* <div th:each="option,status : ${options}">
												<div
													th:with="isDuplicated = ${status.index > 0 && options[status.index-1].optionName == options[status.index].optionName}">
													<div th:if="${isDuplicated} == false">
														[[${option.optionName}]] <select class="form-select mb-2">
															<option value="1" th:each="option1,status:${options}"
																th:if="${option.optionName} == ${option1.optionName}">
																[[${option1.optionValue}]]</option>
														</select>
													</div>
												</div>
											</div> */-->

												<div>
													<div th:each="option:${options}">
														<select class="selectbox form-select mb-2" disabled>
															<option class="selectbox1" value="">선택하세요</option>
															<option class="selectbox1"
																th:each="detail:${option.detailVO}"
																th:value="${detail.optionName}"
																th:text="${detail.optionName}"></option>
														</select>
													</div>
												</div>

											</div>

											<!-- 선택된박스 -->
											<div style="font-size: 15px; color: rgba(0, 0, 0, 0.7);">
												<div id="optionBox" style="display: none">
													<ul id="optionView" class="col-12 col-lg-auto">

													</ul>
												</div>

												<div class="col-12 col-lg-auto">



													<div
														style="display: flex; justify-content: space-between; padding: 20px 0px 40px 0px; color: black"
														class="num">

														<div>
															<input class="changePrice" type="hidden"
																th:value="${goods.salePrice}" /> <span
																style="font-size: 22px; color: grey">합계 :</span> <span
																class="changePriceShow" style="font-size: 32px"></span>
														</div>
													</div>

												</div>

											</div>

											<div class="row gx-5 mb-7">

												<div class="col-12 col-lg">
													<!-- Submit -->
													<button type="button" class="btn w-100 btn-dark mb-2"
														onclick="cart([[${review}]])">
														장바구니 <i class="fe fe-shopping-cart ms-2"></i>
													</button>
												</div>
												<div class="col-12 col-lg-auto">
													<!-- Wishlist -->
													<button class="btn btn-outline-dark w-100 mb-2"
														data-toggle="button">
														찜 <i class="fe fe-heart ms-2"></i>
													</button>
												</div>
											</div>

											<!-- Text -->
											<p th:if="${session.loginMember == null}">
												<span class="text-gray-500">아이디가 없나요?</span> <a
													class="text-reset text-decoration-underline" id="loginTag">지금
													바로 회원가입!</a>
											</p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- DESCRIPTION -->
		<section class="pt-11">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Nav -->

						<div
							class="nav nav-tabs nav-overflow justify-content-start justify-content-md-center border-bottom"
							style="font-size: 24px; position: sticky; top: 0px; background-color: white; z-index: 1">
							<a class="nav-link"
								href="javascript:document.querySelector('#descriptionTab').scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' })">
								상세정보 </a> <a class="nav-link"
								href="javascript:document.querySelector('#sizeTab').scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' })">리뷰
								<strong class="fs-sm ms" name="reviewCount">([[${count}]])</strong>
							</a> <a class="nav-link"
								href="javascript:document.querySelector('#qnaTap').scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' })">
								Q&A <strong class="fs-sm" name="inquiryCont">([[${inquiryCount}]])</strong>
							</a>

						</div>

						<!-- Content -->
						<div class="tab-content">
							<div class="tab-pane fade show active" id="descriptionTab">
								<div style="padding-top: 48px">
									<h5 class="mb-5 text-center">표기 정보</h5>
									<table class="table">
										<thead>
											<tr>
												<th scope="col" style="font-weight: 600">제품명</th>
												<th scope="col" th:text="${goods.productName}"></th>
												<th scope="row" style="font-weight: 600">판매자</th>
												<th scope="row" id="sellerId">[[${goods.memberId}]]</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<th scope="row" style="font-weight: 600">사업자번호</th>
												<th scope="row" th:text="${goods.businessNumber}"></th>
												<th scope="row" style="font-weight: 600">원가</th>
												<th scope="row" th:text="${goods.productCost}+원"></th>
											</tr>
											<tr>
												<td scope="row" style="font-weight: 600">등록날짜</td>
												<td scope="row"
													th:text="${#dates.format(goods.productRegdate,'yyyy년 MM월 dd일')}"></td>
											</tr>
											<tr>
												<td scope="row" style="font-weight: 600">배송방법</td>
												<td scope="row" th:text="${goods.deliveryService}"></td>
												<td scope="row" style="font-weight: 600">배송비</td>
												<td scope="row" th:text="${goods.deliveryCost}+원"></td>
											</tr>

											<tr>
												<td scope="row" style="font-weight: 600">생산지</td>
												<td scope="row" th:text="${goods.productOrigin}"></td>
											</tr>
										</tbody>
									</table>
								</div>

								<!-- 상세내용 -->
								<div style="padding: 48px 0px">
									<div th:text="${goods.productContent}"></div>
								</div>
							</div>

							<div>

								<!-- 리뷰-->
								<div id="sizeTab"></div>

							</div>

							<!-- qna -->
							<div id="qnaTap"></div>
						</div>
					</div>
				</div>
		</section>
		<input type="hidden" id="hidden" th:value="${session.loginMember}" />
		<!-- REVIEWS -->



		<script th:inline="javascript">
	window.addEventListener("DOMContentLoaded", (event) => {
		
		//이벤트 지정
		
		$('.cnt').on("change", cntChangeHandler);
	    $("#loginTag").on("click", loginTagClickHandler);
	    //cntChangeHandler();
        //리뷰 로드
		reviewPageLoad(1);
		inquiryPageLoad(1);
		
		changeOptionHandler();
		
		/*iframe 크기조정
		let iframe = document.querySelector("#iframe");
	
		iframe.addEventListener('load', function() {
			iframe.style.height = iframe.contentDocument.body.scrollHeight + 'px';
		    iframe.style.width = iframe.contentDocument.body.scrollWidth + 'px';
		});*/	
		
	});   
	
	/*------------------------
	리뷰 페이지 로드
	-------------------------*/  	
	function reviewPageLoad(p){
		let productCode = [[${goods.productCode}]];
		let url = "reviewView?productCode="+productCode+"&pageNum="+p;
		$("#sizeTab").load(url)
	}
	
	function inquiryPageLoad(p){
		let productCode = [[${goods.productCode}]];
		let url = "inquiryView?productCode="+productCode+"&pageNum="+p;
		$("#qnaTap").load(url)
	}
	
	/*------------------------
	옵션
	-------------------------*/
	function changeOptionHandler(){
		// 옵션 
		let optionDetail =[[${optionDetail}]];
		
		let selbox = $('.selectbox')[0];
		let selboxTwo = $('.selectbox')[1];
	  
		$(selbox).attr("disabled",false);
   

		$(selbox).on("change",function(){
			$(selboxTwo).attr("disabled",false);			
			
			let option1 = $(this).val();
			console.log("첫번쨰 옵션"+option1);
			
			let liTag =$("<li/>");
			let span =$("<span/>");
			
			span.append(option1);			//첫번쩨 색상 	
		
		    $(selboxTwo).on("change",function(){
				
		    	let option2 = $(this).val();
		    	console.log("두번쨰 옵션"+option2);
				span.append(option2);
				
				liTag.append(span);	
			})
			$("#optionView").append(liTag);
		    $("#optionBox").css("display","block");
		    $(".selectBox").val("");
		})
		
	}
	
	

	
	//가격 스크립트
	let price = $(".changePrice").val();
	price = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원';   
	$(".changePriceShow").html(price);
   /*------------------------
	가격값이 변화가 있을 때 발생하는 이벤트 핸들러
	-------------------------*/  
   function cntChangeHandler() { 

		
		
       for (var i = 0; i < count.length; i++) {
           // input 값 가져오기
           console.log(count.eq(i).val()); 
           let cnt =count.eq(i).val();
          
           price = $(".changePrice").val();
           console.log(price);
           
           let sum = cnt * price;
           
           sum = sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원';   
           
           $(".changePriceShow").html(sum);
           
       }
   }

   /*------------------------
	돋보기기능
	-------------------------*/
	$('.card-img-top')
    .append('<div class="photo"></div>')
    .children('.photo').css({"background-image": "url(../img/products/product-142.jpg)"});
    
    $('.card-img-top')    
    .on('mouseover', function () {
        $(this).children('.photo').css({
            'transform': 'scale(' + $(this).attr('data-scale') + ')'
        });
        //$(this).children('.photo').css("z-index","1");
    })

    $('.card-img-top')
    .on('mouseout', function () {
        $(this).children('.photo').css({
            'transform': 'scale(1)'
        });
    })
    $('.card-img-top')
    .on('mousemove', function (e) {
        $(this).children('.photo').css({
            'transform-origin': ((e.pageX - $(this).offset().left) / $(this).width()) * 100 + '% ' + ((e.pageY - $(this).offset().top) / $(this).height()) * 100 + '%'
        });
	})

	/*------------------------
	회원가입창으로
	-------------------------*/ 
	function loginTagClickHandler() {
		let result = confirm("회원가입 창으로 이동하시겠습니까?");

		if (result) {
			location.replace("/login");
		} 
	}
   

    </script>
	</div>
</body>
</html>