<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
<!-- Content -->
<div layout:fragment="content">
	<section class="py-11">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-4 col-lg-3">

					<!-- Filters -->
					<form class="mb-10 mb-md-0">
						<ul class="nav nav-vertical" id="filterNav">
							<li class="nav-item">
								<!-- Toggle --> <a
								class="nav-link dropdown-toggle fs-lg text-reset border-bottom mb-6"
								data-bs-toggle="collapse" href="#categoryCollapse"> Fassion
							</a> <!-- Collapse -->
								<div class="collapse" id="categoryCollapse">
									<div class="form-group">
										<ul class="list-styled mb-0" id="productsNav">
											<li class="list-styled-item"><a class="list-styled-link"
												href="#"> All Products </a></li>
											<li class="list-styled-item">
												<!-- Toggle --> 
												<a class="list-styled-link"
												data-bs-toggle="collapse" href="#blousesCollapse">
													Blouses and Shirts </a> 
												
												
												<!-- Collapse -->
												
												<div class="collapse" id="blousesCollapse"
													data-bs-parent="#productsNav">
													<div class="py-4 ps-5">
														<div class="form-check mb-3">
															<input class="form-check-input" id="blousesOne"
																type="checkbox"> <label class="form-check-label"
																for="blousesOne"> Women Tops, Tees & Blouses </label>
														</div>
														<div class="form-check mb-3">
															<input class="form-check-input" id="blousesTwo"
																type="checkbox"> <label class="form-check-label"
																for="blousesTwo"> Petite </label>
														</div>
														<div class="form-check mb-3">
															<input class="form-check-input" id="blousesThree"
																type="checkbox"> <label class="form-check-label"
																for="blousesThree"> Petite-Size Blouses &
																Button-Down Shirts </label>
														</div>
														<div class="form-check">
															<input class="form-check-input" id="blousesFour"
																type="checkbox"> <label class="form-check-label"
																for="blousesFour"> Women Plus Tops & Tees </label>
														</div>
													</div>
												</div>

											</li>
											<li class="list-styled-item">
												<!-- Toggle --> <a class="list-styled-link"
												data-bs-toggle="collapse" href="#coatsCollapse"> Coats
													and Jackets </a> <!-- Collapse -->
												<div class="collapse" id="coatsCollapse"
													data-bs-parent="#productsNav">
													<div class="py-4 ps-5">
														<div class="form-check mb-3">
															<input class="form-check-input" id="coatsOne"
																type="checkbox"> <label class="form-check-label"
																for="coatsOne"> Coats, Jackets & Vests </label>
														</div>
														<div class="form-check mb-3">
															<input class="form-check-input" id="coatsTwo"
																type="checkbox"> <label class="form-check-label"
																for="coatsTwo"> Down Jackets & Parkas </label>
														</div>
														<div class="form-check">
															<input class="form-check-input" id="coatsThree"
																type="checkbox"> <label class="form-check-label"
																for="coatsThree"> Wool & Pea Coats Plus-Size </label>
														</div>
													</div>
												</div>

											</li>
											<li class="list-styled-item">
												<!-- Toggle --> <a class="list-styled-link"
												data-bs-toggle="collapse" href="#dressesCollapse"
												aria-expanded="true"> Dresses </a> <!-- Collapse -->
												<div class="collapse" id="dressesCollapse"
													data-bs-parent="#productsNav">
													<div class="py-4 ps-5">
														<div class="form-check mb-3">
															<input class="form-check-input" id="dressesOne"
																type="checkbox"> <label class="form-check-label"
																for="dressesOne"> A-line Dresses </label>
														</div>
														<div class="form-check mb-3">
															<input class="form-check-input" id="dressesTwo"
																type="checkbox" > <label
																class="form-check-label" for="dressesTwo"> Shift
																Dresses </label>
														</div>
														<div class="form-check mb-3">
															<input class="form-check-input" id="dressesThree"
																type="checkbox"> <label class="form-check-label"
																for="dressesThree"> Wrap Dresses </label>
														</div>
														<div class="form-check">
															<input class="form-check-input" id="dressesFour"
																type="checkbox"> <label class="form-check-label"
																for="dressesFour"> Maxi Dresses </label>
														</div>
													</div>
												</div>

											</li>
											
										</ul>
									</div>
								</div>

							</li>
							
							
							
							<li class="nav-item">
								<!-- Toggle --> <a
								class="nav-link dropdown-toggle fs-lg text-reset border-bottom mb-6"
								data-bs-toggle="collapse" href="#seasonCollapse"> Sort </a> <!-- Collapse -->
								<div class="collapse" id="seasonCollapse"
									data-simplebar-collapse="#seasonGroup">
									<div class="form-group form-group-overflow mb-6"
										id="seasonGroup">
										<div class="form-check mb-3">
											<input class="form-check-input" id="seasonOne"
												type="checkbox"> <label
												class="form-check-label" for="seasonOne"> new </label>
										</div>
										<div class="form-check mb-3">
											<input class="form-check-input" id="seasonTwo"
												type="checkbox"> <label class="form-check-label"
												for="seasonTwo"> Best </label>
										</div>
										
									</div>
								</div>

							</li>
							
							
						</ul>
					</form>

				</div>
				<div class="col-12 col-md-8 col-lg-9">

					

					<!-- Header -->
					<div class="row align-items-center mb-7">
						<div class="col-12 col-md">

							<!-- Heading -->
							<h3 class="mb-1">Womens' Clothing</h3>

							<!-- Breadcrumb -->
							<ol class="breadcrumb mb-md-0 fs-xs text-gray-400">
								<li class="breadcrumb-item"><a class="text-gray-400"
									href="index.html">Home</a></li>
								<li class="breadcrumb-item active">Women's Clothing</li>
							</ol>

						</div>
						<div class="col-12 col-md-auto">

							<!-- Select -->
							<select class="form-select form-select-xs">
								<option selected>Most popular</option>
							</select>

						</div>
					</div>

					<!-- Tags -->
					<div class="row mb-7">
						<div class="col-12">

							<span class="btn btn-xs btn-light fw-normal text-muted me-3 mb-3">
								Shift dresses <a class="text-reset ms-2" href="#!" role="button">
									<i class="fe fe-x"></i>
							</a>
							</span> <span
								class="btn btn-xs btn-light fw-normal text-muted me-3 mb-3">
								Summer <a class="text-reset ms-2" href="#!" role="button"> <i
									class="fe fe-x"></i>
							</a>
							</span> <span
								class="btn btn-xs btn-light fw-normal text-muted me-3 mb-3">
								M <a class="text-reset ms-2" href="#!" role="button"> <i
									class="fe fe-x"></i>
							</a>
							</span> <span
								class="btn btn-xs btn-light fw-normal text-muted me-3 mb-3">
								White <a class="text-reset ms-2" href="#!" role="button"> <i
									class="fe fe-x"></i>
							</a>
							</span> <span
								class="btn btn-xs btn-light fw-normal text-muted me-3 mb-3">
								Red <a class="text-reset ms-2" href="#!" role="button"> <i
									class="fe fe-x"></i>
							</a>
							</span> <span
								class="btn btn-xs btn-light fw-normal text-muted me-3 mb-3">
								Adidas <a class="text-reset ms-2" href="#!" role="button"> <i
									class="fe fe-x"></i>
							</a>
							</span> <span
								class="btn btn-xs btn-light fw-normal text-muted me-3 mb-3">
								$10.00 - $49.00 <a class="text-reset ms-2" href="#!"
								role="button"> <i class="fe fe-x"></i>
							</a>
							</span> <span
								class="btn btn-xs btn-light fw-normal text-muted me-3 mb-3">
								$50.00 - $99.00 <a class="text-reset ms-2" href="#!"
								role="button"> <i class="fe fe-x"></i>
							</a>
							</span>

						</div>
					</div>

					<!-- Products -->
					<div class="row">
						<div class="col-6 col-md-4">

							<!-- Card -->
							<div class="card mb-7">

								<!-- Badge -->
								<div
									class="badge bg-white text-body card-badge card-badge-start text-uppercase">
									New</div>

								<!-- Image -->
								<div class="card-img">

									<!-- Image -->
									<a class="card-img-hover" href="product.html"> <img
										class="card-img-top card-img-back"
										src="assets/img/products/product-120.jpg" alt="..."> <img
										class="card-img-top card-img-front"
										src="assets/img/products/product-5.jpg" alt="...">
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>

								</div>

								<!-- Body -->
								<div class="card-body px-0">

									<!-- 
 -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Shoes</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Leather mid-heel
											Sandals </a>
									</div>

									<!-- Price -->
									<div class="fw-bold text-muted">$129.00</div>

								</div>

							</div>

						</div>
						<div class="col-6 col-md-4">

							<!-- Card -->
							<div class="card mb-7">

								<!-- Image -->
								<div class="card-img">

									<!-- Image -->
									<a class="card-img-hover" href="product.html"> <img
										class="card-img-top card-img-back"
										src="assets/img/products/product-121.jpg" alt="..."> <img
										class="card-img-top card-img-front"
										src="assets/img/products/product-6.jpg" alt="...">
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>

								</div>

								<!-- Body -->
								<div class="card-body px-0">

									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Dresses</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Cotton floral
											print Dress </a>
									</div>

									<!-- Price -->
									<div class="fw-bold text-muted">$40.00</div>

								</div>

							</div>

						</div>
						<div class="col-6 col-md-4">

							<!-- Card -->
							<div class="card mb-7">

								<!-- Badge -->
								<div
									class="badge bg-dark card-badge card-badge-start text-uppercase">
									Sale</div>

								<!-- Image -->
								<div class="card-img">

									<!-- Image -->
									<a class="card-img-hover" href="product.html"> <img
										class="card-img-top card-img-back"
										src="assets/img/products/product-122.jpg" alt="..."> <img
										class="card-img-top card-img-front"
										src="assets/img/products/product-7.jpg" alt="...">
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>

								</div>

								<!-- Body -->
								<div class="card-body px-0">

									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Shoes</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Leather Sneakers
										</a>
									</div>

									<!-- Price -->
									<div class="fw-bold">
										<span class="fs-xs text-gray-350 text-decoration-line-through">$85.00</span>
										<span class="text-primary">$85.00</span>
									</div>

								</div>

							</div>

						</div>
						<div class="col-6 col-md-4">

							<!-- Card -->
							<div class="card mb-7">

								<!-- Image -->
								<div class="card-img">

									<!-- Image -->
									<a href="#!"> <img class="card-img-top card-img-front"
										src="assets/img/products/product-8.jpg" alt="...">
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>

								</div>

								<!-- Body -->
								<div class="card-body px-0">

									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Tops</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Cropped cotton
											Top </a>
									</div>

									<!-- Price -->
									<div class="fw-bold text-muted">$29.00</div>

								</div>

							</div>

						</div>
						<div class="col-6 col-md-4">

							<!-- Card -->
							<div class="card mb-7">

								<!-- Image -->
								<div class="card-img">

									<!-- Image -->
									<a href="#!"> <img class="card-img-top card-img-front"
										src="assets/img/products/product-9.jpg" alt="...">
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>

								</div>

								<!-- Body -->
								<div class="card-body px-0">

									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Dresses</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Floral print
											midi Dress </a>
									</div>

									<!-- Price -->
									<div class="fw-bold text-muted">$50.00</div>

								</div>

							</div>

						</div>
						<div class="col-6 col-md-4">

							<!-- Card -->
							<div class="card mb-7">

								<!-- Badge -->
								<div
									class="badge bg-dark card-badge card-badge-start text-uppercase">
									Sale</div>

								<!-- Image -->
								<div class="card-img">

									<!-- Image -->
									<a class="card-img-hover" href="product.html"> <img
										class="card-img-top card-img-back"
										src="assets/img/products/product-123.jpg" alt="..."> <img
										class="card-img-top card-img-front"
										src="assets/img/products/product-10.jpg" alt="...">
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>

								</div>

								<!-- Body -->
								<div class="card-body px-0">

									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Bags</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Suede cross body
											Bag </a>
									</div>

									<!-- Price -->
									<div class="fw-bold">
										<span class="fs-xs text-gray-350 text-decoration-line-through">$79.00</span>
										<span class="text-primary">$49.00</span>
									</div>

								</div>

							</div>

						</div>
						<div class="col-6 col-md-4">

							<!-- Card -->
							<div class="card mb-7">

								<!-- Image -->
								<div class="card-img">

									<!-- Image -->
									<a class="card-img-hover" href="product.html"> <img
										class="card-img-top card-img-back"
										src="assets/img/products/product-124.jpg" alt="..."> <img
										class="card-img-top card-img-front"
										src="assets/img/products/product-11.jpg" alt="...">
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>

								</div>

								<!-- Body -->
								<div class="card-body px-0">

									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Skirts</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Printed A-line
											Skirt </a>
									</div>

									<!-- Price -->
									<div class="fw-bold text-muted">$79.00</div>

								</div>

							</div>

						</div>
						<div class="col-6 col-md-4">

							<!-- Card -->
							<div class="card mb-7">

								<!-- Badge -->
								<div
									class="badge bg-white text-body card-badge card-badge text-uppercase">
									New</div>

								<!-- Image -->
								<div class="card-img">

									<!-- Image -->
									<a href="#!"> <img class="card-img-top card-img-front"
										src="assets/img/products/product-12.jpg" alt="...">
									</a>

									<!-- Actions -->
									<div class="card-actions">
										<span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-bs-toggle="modal" data-bs-target="#modalProduct">
												<i class="fe fe-eye"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-shopping-cart"></i>
											</button>
										</span> <span class="card-action">
											<button class="btn btn-xs btn-circle btn-white-primary"
												data-toggle="button">
												<i class="fe fe-heart"></i>
											</button>
										</span>
									</div>

								</div>

								<!-- Body -->
								<div class="card-body px-0">

									<!-- Category -->
									<div class="fs-xs">
										<a class="text-muted" href="shop.html">Shoes</a>
									</div>

									<!-- Title -->
									<div class="fw-bold">
										<a class="text-body" href="product.html"> Heel strappy
											Sandals </a>
									</div>

									<!-- Price -->
									<div class="fw-bold text-muted">$90.00</div>

								</div>

							</div>

						</div>
					</div>

					<!-- Pagination -->
					<nav class="d-flex justify-content-center justify-content-md-end">
						<ul class="pagination pagination-sm text-gray-400">
							<li class="page-item"><a class="page-link page-link-arrow"
								href="#"> <i class="fa fa-caret-left"></i>
							</a></li>
							<li class="page-item active"><a class="page-link" href="#">1</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">5</a></li>
							<li class="page-item"><a class="page-link" href="#">6</a></li>
							<li class="page-item"><a class="page-link page-link-arrow"
								href="#"> <i class="fa fa-caret-right"></i>
							</a></li>
						</ul>
					</nav>

				</div>
			</div>
		</div>
	</section>
</div>
</html>