<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default_layout}"
>
  <!-- Content -->

  <div layout:fragment="content">
    <!-- 단건 조회 -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-6">
                <!-- Card -->
                <div class="card">
                  <!-- Slider -->
                  <div
                    class="mb-4"
                    data-flickity='{"draggable": false, "fade": true}'
                    id="productSlider"
                  >
                    <!-- Item -->
                    <a
                      href="#"
                      data-bigpicture='{ "imgSrc": "static/img/products/product-7.jpg"}'
                    >
                      <img
                        src="static/img/products/product-7.jpg"
                        alt="..."
                        class="card-img-top"
                      />
                    </a>

                    <!-- Item -->
                    <a
                      href="#"
                      data-bigpicture='{ "imgSrc": "assets/img/products/product-122.jpg"}'
                    >
                      <img
                        src="assets/img/products/product-122.jpg"
                        alt="..."
                        class="card-img-top"
                      />
                    </a>

                    <!-- Item -->
                    <a
                      href="#"
                      data-bigpicture='{ "imgSrc": "assets/img/products/product-146.jpg"}'
                    >
                      <img
                        src="assets/img/products/product-146.jpg"
                        alt="..."
                        class="card-img-top"
                      />
                    </a>
                  </div>
                </div>

                <!-- Slider -->
                <div
                  class="flickity-nav mx-n2 mb-10 mb-md-0"
                  data-flickity='{"asNavFor": "#productSlider", "contain": true, "wrapAround": false}'
                >
                  <!-- Item -->
                  <div class="col-12 px-2" style="max-width: 113px">
                    <!-- Image -->
                    <div
                      class="ratio ratio-1x1 bg-cover"
                      style="
                        background-image: url(assets/img/products/product-7.jpg);
                      "
                    ></div>
                  </div>

                  <!-- Item -->
                  <div class="col-12 px-2" style="max-width: 113px">
                    <!-- Image -->
                    <div
                      class="ratio ratio-1x1 bg-cover"
                      style="
                        background-image: url(assets/img/products/product-122.jpg);
                      "
                    ></div>
                  </div>

                  <!-- Item -->
                  <div class="col-12 px-2" style="max-width: 113px">
                    <!-- Image -->
                    <div
                      class="ratio ratio-1x1 bg-cover"
                      style="
                        background-image: url(assets/img/products/product-146.jpg);
                      "
                    ></div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 ps-lg-10">
                <!-- Header -->
                <div class="row mb-1">
                  <div class="col">
                    <!-- Preheading -->
                    <a
                      class="text-muted"
                      href="shop.html"
                      th:text="${goods.categoryCode}"
                    ></a>
                  </div>
                  <div class="col-auto">
                    <!-- Rating -->
                    <div class="rating fs-xs text-dark" data-value="4">
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Heading -->
                <h3 class="mb-2" th:text="${goods.productName}"></h3>

                <!-- Price 
							<div class="mb-7">
								<span class="fs-lg fw-bold text-gray-350">price</span> <span
									class="ms-1 fs-5 fw-bolder text-black"
									th:text="${goods.productCost}+원"></span>
							</div>
							-->
                <!-- Price -->
                <div class="mb-7">
                  <span
                    class="fs-lg fw-bold text-gray-350 text-decoration-line-through"
                    th:text="${goods.productCost}+원"
                  ></span>
                  <!-- 할인가격 -->
                  <span
                    class="ms-1 fs-5 fw-bolder text-primary"
                    th:text="${goods.salePrice}+원"
                  ></span>
                </div>

                <!-- Form -->
                <form>
                  <div class="form-group">
                    <!-- Label -->
                    <p class="mb-5">
                      Color: <strong id="colorCaption">White</strong>
                    </p>

                    <!-- Radio -->
                    <div class="mb-8 ms-n1">
                      <div class="form-check form-check-inline form-check-img">
                        <input
                          type="radio"
                          class="form-check-input"
                          id="imgRadioOne"
                          name="imgRadio"
                          data-toggle="form-caption"
                          data-target="#colorCaption"
                          value="White"
                          style="
                            background-image: url(assets/img/products/product-7.jpg);
                          "
                          checked
                        />
                      </div>
                      <div class="form-check form-check-inline form-check-img">
                        <input
                          type="radio"
                          class="form-check-input"
                          id="imgRadioTwo"
                          name="imgRadio"
                          data-toggle="form-caption"
                          data-target="#colorCaption"
                          value="Black"
                          style="
                            background-image: url(assets/img/products/product-49.jpg);
                          "
                        />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <!-- Label -->
                    <p class="mb-5">
                      Size: <strong><span id="sizeCaption">6</span></strong>
                    </p>

                    <!-- Radio -->
                    <div class="mb-2" style="padding-bottom: 48px">
                      <div
                        class="form-check form-check-inline form-check-size mb-2"
                      >
                        <input
                          type="radio"
                          class="form-check-input"
                          name="sizeRadio"
                          id="sizeRadioOne"
                          value="6"
                          data-toggle="form-caption"
                          data-target="#sizeCaption"
                        />
                        <label class="form-check-label" for="sizeRadioOne"
                          >6</label
                        >
                      </div>
                      <div
                        class="form-check form-check-inline form-check-size mb-2"
                      >
                        <input
                          type="radio"
                          class="form-check-input"
                          name="sizeRadio"
                          id="sizeRadioTwo"
                          value="6.5"
                          data-toggle="form-caption"
                          data-target="#sizeCaption"
                          disabled
                        />
                        <label class="form-check-label" for="sizeRadioTwo"
                          >6.5</label
                        >
                      </div>
                    </div>

                    <div class="row gx-5 mb-7">
                      <div class="col-12 col-lg-auto">
                        <!-- Quantity -->
                        <select class="form-select mb-2">
                          <option value="1" selected>1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                      <div class="col-12 col-lg">
                        <!-- Submit -->
                        <button type="submit" class="btn w-100 btn-dark mb-2">
                          장바구니 <i class="fe fe-shopping-cart ms-2"></i>
                        </button>
                      </div>
                      <div class="col-12 col-lg-auto">
                        <!-- Wishlist -->
                        <button
                          class="btn btn-outline-dark w-100 mb-2"
                          data-toggle="button"
                        >
                          찜 <i class="fe fe-heart ms-2"></i>
                        </button>
                      </div>
                    </div>

                    <!-- Text -->
                    <p>
                      <span class="text-gray-500">아이디가 없나요?</span>
                      <a
                        class="text-reset text-decoration-underline"
                        id="loginTag"
                        >지금 바로 회원가입!</a
                      >
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- DESCRIPTION -->
    <section class="pt-11">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Nav -->

            <div
              class="nav nav-tabs nav-overflow justify-content-start justify-content-md-center border-bottom"
              style="font-size: 24px"
            >
              <a class="nav-link" href="#descriptionTab"> 상세정보 </a>
              <a class="nav-link" href="#sizeTab"> 리뷰 </a>
              <a class="nav-link" href="#qnaTap"> Q&A </a>
            </div>

            <!-- Content -->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="descriptionTab">
                <div style="padding-top: 48px">
                  <h5 class="mb-5 text-center">표기 정보</h5>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" style="font-weight: 600">제품명</th>
                        <th scope="col" th:text="${goods.productName}"></th>
                        <th scope="row" style="font-weight: 600">판매자</th>
                        <th scope="row" th:text="${goods.memberId}"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <th scope="row" style="font-weight: 600">원가</th>
                        <th scope="row" th:text="${goods.productCost}+원"></th>
                      </tr>
                      <tr>
                        <td scope="row" style="font-weight: 600">등록날짜</td>
                        <td
                          scope="row"
                          th:text="${#dates.format(goods.productRegdate,'yyyy년 MM월 dd일')}"
                        ></td>
                      </tr>
                      <tr>
                        <td scope="row" style="font-weight: 600">배송방법</td>
                        <td scope="row" th:text="${goods.deliveryService}"></td>
                        <td scope="row" style="font-weight: 600">배달비</td>
                        <td scope="row" th:text="${goods.deliveryCost}+원"></td>
                      </tr>

                      <tr>
                        <td scope="row" style="font-weight: 600">생산지</td>
                        <td scope="row" th:text="${goods.productOrigin}"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- 상세이미지 -->
                <div style="background-color: grey; padding: 48px 0px">
                  <img
                    alt=""
                    src=""
                    style="width: 928px; height: 1120px"
                    class="rounded mx-auto d-block"
                  />
                </div>
              </div>

              <div>
                <section class="pt-9 pb-11" id="reviews">
                  <div class="container">
                    <div class="row">
                      <div class="col-12" id="sizeTab">
                        <!-- Heading -->
                        <h5 class="mb-10 text-center">리뷰</h5>

                        <!-- Header -->
                        <div class="row align-items-center">
                          <div class="col-12 col-md-auto">
                            <!-- Dropdown -->
                            <div class="dropdown mb-4 mb-md-0">
                              <!-- Toggle -->
                              <a
                                class="dropdown-toggle text-reset"
                                data-bs-toggle="dropdown"
                                href="#"
                              >
                                <strong>Sort by: Newest</strong>
                              </a>

                              <!-- Menu -->
                              <div class="dropdown-menu mt-3">
                                <a class="dropdown-item" href="#!">Newest</a>
                                <a class="dropdown-item" href="#!">Oldest</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md text-md-center">
                            <!-- Rating -->
                            <div
                              class="rating text-dark h6 mb-4 mb-md-0"
                              data-value="4"
                            >
                              <div class="rating-item">
                                <i class="fas fa-star"></i>
                              </div>
                              <div class="rating-item">
                                <i class="fas fa-star"></i>
                              </div>
                              <div class="rating-item">
                                <i class="fas fa-star"></i>
                              </div>
                              <div class="rating-item">
                                <i class="fas fa-star"></i>
                              </div>
                              <div class="rating-item">
                                <i class="fas fa-star"></i>
                              </div>
                            </div>

                            <!-- Count -->
                            <strong class="fs-sm ms-2">Reviews (3)</strong>
                          </div>
                          <div class="col-12 col-md-auto">
                            <!-- Button -->
                            <a
                              class="btn btn-sm btn-dark"
                              data-bs-toggle="collapse"
                              href="#reviewForm"
                            >
                              리뷰 작성
                            </a>
                          </div>
                        </div>

                        <!-- New Review -->
                        <div class="collapse" id="reviewForm">
                          <!-- Divider -->
                          <hr class="my-8" />

                          <!-- Form -->
                          <form
                            th:action="@{reviewInsert}"
                            method="post"
                            th:object="${review}"
                          >
                            <div class="row">
                              <div class="col-12 mb-6 text-center">
                                <!-- Text -->
                                <p class="mb-1 fs-xs">별점:</p>

                                <!-- Rating form -->
                                <div class="rating-form">
                                  <!-- Input -->
                                  <input
                                    class="rating-input"
                                    type="range"
                                    min="1"
                                    max="5"
                                    value="5"
                                  />

                                  <!-- Rating -->
                                  <div
                                    class="rating h5 text-dark"
                                    data-value="5"
                                  >
                                    <div class="rating-item">
                                      <i class="fas fa-star"></i>
                                    </div>
                                    <div class="rating-item">
                                      <i class="fas fa-star"></i>
                                    </div>
                                    <div class="rating-item">
                                      <i class="fas fa-star"></i>
                                    </div>
                                    <div class="rating-item">
                                      <i class="fas fa-star"></i>
                                    </div>
                                    <div class="rating-item">
                                      <i class="fas fa-star"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-12 mb-6 text-center">
                                <!-- Text -->
                                <p class="mb-1 fs-xs">이미지:</p>
                                <input type="file" />

                                <!-- Rating form -->
                                <div class="rating-form">
                                  <!-- Input -->
                                  <input
                                    class="rating-input"
                                    type="range"
                                    min="1"
                                    max="5"
                                    value="5"
                                  />

                                  <!-- 이미지 등록 -->
                                  <div
                                    class="rating h5 text-dark"
                                    data-value="5"
                                  ></div>
                                </div>
                              </div>

                              <div class="col-12">
                                <!-- 유저네임 -->
                                <div class="form-group">
                                  <label
                                    class="visually-hidden"
                                    for="memberId"
                                  ></label>
                                  <input
                                    class="form-control form-control-sm"
                                    type="text"
                                    required
                                  />
                                </div>
                              </div>

                              <div class="col-12">
                                <!-- 내용 -->
                                <div class="form-group">
                                  <label
                                    class="visually-hidden"
                                    for="reviewContent"
                                    >Review:</label
                                  >
                                  <textarea
                                    class="form-control form-control-sm"
                                    rows="5"
                                    placeholder="내용을 입력해주세요"
                                    required
                                  ></textarea>
                                </div>
                              </div>
                              <div class="col-12 text-center">
                                <!-- Button -->
                                <button
                                  class="btn btn-outline-dark"
                                  type="submit"
                                >
                                  리뷰 등록
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>

                        <!-- Reviews -->
                        <div class="mt-8">
                          <!-- Review -->
                          <div class="review" th:each="review:${review}">
                            <div class="review-body">
                              <div class="row">
                                <div class="col-12 col-md-auto">
                                  <!-- Avatar -->
                                  <div
                                    class="mb-6 mb-md-0"
                                    style="width: 180px; height: 180px"
                                  >
                                    <span class="avatar-title circle">
                                      이미지 없음<i class="fas fa-image"></i>
                                    </span>
                                    <!-- <img alt="" src=""> -->
                                  </div>
                                </div>
                                <div class="col-12 col-md">
                                  <!-- Header -->
                                  <div class="row mb-6">
                                    <div class="col-12">
                                      <!-- Rating -->
                                      <div
                                        class="rating fs-sm text-dark"
                                        data-value="5"
                                        style="padding: 0"
                                        th:with="start=1, end=(${review.reviewStar})"
                                      >
                                        <div
                                          class="rating-item"
                                          th:each="p : ${#numbers.sequence(start, end)}"
                                        >
                                          <div class="rating-item">
                                            <span class="fas fa-star"></span>
                                          </div>
                                        </div>

                                        <div
                                          class="rating fs-sm text-dark"
                                          data-value="5"
                                          th:with="start=(${review.reviewStar}), end=4"
                                        >
                                          <div
                                            class="rating-item"
                                            th:if="${review.reviewStar <5}"
                                            th:each="p : ${#numbers.sequence(start, end)}"
                                          >
                                            <div class="rating-item">
                                              <i
                                                class="fas fa-star"
                                                style="opacity: 0.2"
                                              ></i>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <!-- Time -->
                                      <span
                                        class="fs-xs text"
                                        th:text="${review.memberId}"
                                      ></span>
                                      <span
                                        class="fs-xs text-muted"
                                        th:text="${#dates.format(review.reviewRegdate,'yyyy-MM-dd HH:mm')}"
                                      ></span>
                                    </div>
                                  </div>

                                  <!-- Text -->
                                  <p
                                    class="text-gray-500"
                                    th:text="${review.reviewContent}"
                                  ></p>

                                  <!-- Footer -->
                                  <div class="row align-items-center">
                                    <div class="col-auto me-auto">
                                      <!-- Rate -->
                                      <div class="rate">
                                        <a
                                          class="rate-item"
                                          data-toggle="vote"
                                          data-count="3"
                                          href="#"
                                          role="button"
                                        >
                                          <i class="fe fe-thumbs-up"></i>
                                        </a>
                                        <a
                                          class="rate-item"
                                          data-toggle="vote"
                                          data-count="0"
                                          href="#"
                                          role="button"
                                        >
                                          <i class="fe fe-thumbs-down"></i>
                                        </a>
                                      </div>
                                    </div>

                                    <div class="col-auto">
                                      <!-- Button -->
                                      <button
                                        class="btn btn-xs btn-outline-border"
                                      >
                                        신고하기
                                      </button>
                                      <button
                                        type="button"
                                        class="btn btn-xs btn-outline-border"
                                        id="delBtn"
                                      >
                                        삭제하기
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Review -->
                        </div>

                        <!-- Pagination -->
                        <nav class="d-flex justify-content-center mt-9">
                          <ul class="pagination pagination-sm text-gray-400">
                            <li class="page-item">
                              <a class="page-link page-link-arrow" href="#">
                                <i class="fa fa-caret-left"></i>
                              </a>
                            </li>
                            <li class="page-item active">
                              <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                              <a class="page-link page-link-arrow" href="#">
                                <i class="fa fa-caret-right"></i>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <div id="qnaTap">
                <div class="col-12">
                  <div style="padding-top: 48px">
                    <h5 class="mb-5 text-center">Q&A</h5>
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">글 번호</th>
                          <th scope="col">내용</th>
                          <th scope="col-12">작성자</th>
                          <th scope="col-md-6">등록날짜</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>비밀글입닏</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- REVIEWS -->

    <script>
      $("#loginTag").on("click", function () {
        let result = confirm("회원가입 창으로 이동하시겠습니까?");

        if (result) {
          location.replace("/login");
        } else {
        }
      });

      $("#delBtn").on("click", function () {
        location.href = "removeDelete";
      });
    </script>
  </div>
</html>
