<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/default_layout}">
<!-- Content -->
<div layout:fragment="content">
   <section class="py-11">
      <div class="container">
         <div class="row">
            <div class="col-12 col-md-4 col-lg-3">

               <!-- Filters -->
               <form class="mb-10 mb-md-0">
                  <ul class="nav nav-vertical" id="filterNav">
                     <li class="nav-item">
                        <!-- Toggle --> <a
                        class="nav-link dropdown-toggle fs-lg text-reset border-bottom mb-6"
                        data-bs-toggle="collapse" href="#categoryCollapse" style="font-weight: 600; font-size: 18px"> 카테고리
                     </a> <!-- Collapse -->
                        <div class="collapse show" id="categoryCollapse">
                           <div class="form-group">
                              <ul class="list-styled mb-0" id="productsNav">
                                 <li class="list-styled-item"><a class="list-styled-link"
                                    href="#"> All Products </a></li>
                                  
                                  
                                  <li class="list-styled-item" th:each="ctg : ${categories}">
                                    <!-- Toggle --> <a class="list-styled-link"
                                    data-bs-toggle="collapse" th:href="|#${ctg.categoryCode}|" th:text="${ctg.categoryCode}" >
                                       레벨2 </a> <!-- Collapse -->

                                    <div class="collapse" th:id="${ctg.categoryCode}"
                                       data-bs-parent="#productsNav">
                                       <div class="py-4 ps-5">
                                       
                                       	<th:block th:each="middle : ${allCtg}" th:if="${middle.categoryLevel} == 2 and ${(middle.parentCategoryCode).equals('Fassion')} and ${(ctg.categoryCode).equals('Fassion')}">
                                          <div class="form-check mb-3" >
                                             <input class="form-check-input" th:id="${middle.categoryCode}"
                                                type="checkbox"> <label class="form-check-label"
                                                th:for="${middle.categoryCode}" th:text="${middle.categoryName}"> Women Tops, Tees & Blouses </label>
                                          </div>
                                        </th:block>
                                        
                                        <th:block th:each="middle : ${allCtg}" th:if="${middle.categoryLevel} == 2 and ${(middle.parentCategoryCode).equals('FOOD')} and ${(ctg.categoryCode).equals('FOOD')}">
                                          <div class="form-check mb-3" >
                                          	<a th:id="${middle.categoryCode}" th:href="|/PList?ctg=${middle.categoryCode}|">
                                                <label class="form-check-label"
                                                th:for="${middle.categoryCode}" th:text="${middle.categoryName}"> Women Tops, Tees & Blouses </label>
                                          	</a>
                                          </div>
                                        </th:block>
                                        
                                        <th:block th:each="middle : ${allCtg}" th:if="${middle.categoryLevel} == 2 and ${(middle.parentCategoryCode).equals('Life')} and ${(ctg.categoryCode).equals('Life')}">
                                          <div class="form-check mb-3" >
                                             <input class="form-check-input" th:id="${middle.categoryCode}"
                                                type="checkbox"> <label class="form-check-label"
                                                th:for="${middle.categoryCode}" th:text="${middle.categoryName}"> Women Tops, Tees & Blouses </label>
                                          </div>
                                        </th:block>
                                        
                                       </div> <!-- py-4 ps-5 -->
                                    </div> <!--  collapse -->

                                 </li>  

                              </ul>
                           </div>
                        </div>

                     </li>



                     <li class="nav-item">
                        <!-- Toggle --> <a
                        class="nav-link dropdown-toggle fs-lg text-reset border-bottom mb-6"
                        data-bs-toggle="collapse" href="#seasonCollapse" style="font-weight: 600; font-size: 18px"> 순서 </a> <!-- Collapse -->
                        <div class="collapse show" id="seasonCollapse"
                           data-simplebar-collapse="#seasonGroup">
                           <div class="form-group form-group-overflow mb-6"
                              id="seasonGroup">
                              <div class="form-check mb-3">
                                 <input class="form-check-input" id="seasonOne"
                                    type="checkbox"> <label class="form-check-label"
                                    for="seasonOne"> new </label>
                              </div>
                              <div class="form-check mb-3">
                                 <input class="form-check-input" id="seasonTwo"
                                    type="checkbox"> <label class="form-check-label"
                                    for="seasonTwo"> Best </label>
                              </div>

                           </div>
                        </div>

                     </li>
                     <li class="nav-item">
                        <!-- Toggle --> <a
                        class="nav-link dropdown-toggle fs-lg text-reset border-bottom mb-6"
                        data-bs-toggle="collapse" href="#priceCollapse" style="font-weight: 600; font-size: 18px"> 가격 </a> <!-- Collapse -->
                        <div class="collapse show" id="priceCollapse"
                           data-simplebar-collapse="#priceGroup">

                           <!-- Form group-->
                           <div class="form-group form-group-overflow mb-6"
                              id="priceGroup">
                              <div class="form-check mb-3">
                                 <input class="form-check-input" id="priceOne" type="checkbox">
                                 <label class="form-check-label" for="priceOne"> 0원 -
                                    50,000원 </label>
                              </div>
                              <div class="form-check mb-3">
                                 <input class="form-check-input" id="priceTwo" type="checkbox">
                                 <label class="form-check-label" for="priceTwo">
                                    50,000원 - 100,000원 </label>
                              </div>
                              <div class="form-check mb-3">
                                 <input class="form-check-input" id="priceThree"
                                    type="checkbox"> <label class="form-check-label"
                                    for="priceThree"> 100,000원 - 200,000원 </label>
                              </div>
                              <div class="form-check">
                                 <input class="form-check-input" id="priceFour"
                                    type="checkbox"> <label class="form-check-label"
                                    for="priceFour"> 200,000 이상 </label>
                              </div>
                           </div>

                           <!-- Range -->
                           <div class="d-flex align-items-center">

                              <!-- Input -->
                              <input type="number" class="form-control form-control-xs"
                                 placeholder="10,000원" min="10">

                              <!-- Divider -->
                              <div class="text-gray-350 mx-2">‒</div>

                              <!-- Input -->
                              <input type="number" class="form-control form-control-xs"
                                 placeholder="100,000원" max="350">

                           </div>

                        </div>

                     </li>

                  </ul>
               </form>

            </div>




            <div class="col-12 col-md-8 col-lg-9">



               <!-- Header -->
               <div class="row align-items-center mb-7"
                  style="border-bottom: 1px solid rgba(0, 0, 0, 0.4); padding-bottom: 26px">
                  <div class="col-12 col-md">

                     <!-- Heading -->
                     <h3 class="mb-1" th:if="${param.ctg == null}">전체보기</h3>
                     <h3 class="mb-1" th:if="${param.ctg != null}">[[${param.ctg}]]</h3>
                     
                     
                     

                     <!-- Breadcrumb -->
                     <ol class="breadcrumb mb-md-0 fs-xs text-gray-400">
                        <li class="breadcrumb-item"><a class="text-gray-400"
                           href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" th:if="${param.ctg != null}">[[${param.ctg}]]</li>
                     </ol>

                  </div>
                  <div class="input-group" style="width: 400px;">
                     <input class="form-control" type="search"
                        placeholder="키워드를 검색해 주세요">
                     <div class="input-group-append">
                        <button class="btn btn-outline-border" type="submit">
                           <i class="fe fe-search"></i>
                        </button>
                     </div>
                  </div>
               </div>
			

		<div class="row" style="padding-top: 30px">
               <!-- Products -->
			<th:block th:each="product : ${products}">
				<div class="col-6 col-md-4">
					<div class="card mb-7">
						<div class="card-img">
						<a class="card-img"><img th:src="@{/img/products/}+${#strings.replace(product.upload_path,'\','/')}+@{/}+${product.upload_name}"></a><!-- ${product.upload_path}+${product.upload_name} -->
						</div>
						<div class="card-body px-0">
							<div class="fs-xs">[[${product.category_code}]]</div>
							<div class="fw-bold">[[${product.product_name}]]</div>
							<div class="fw-bold text-muted">
							<span class="fs-xs text-gray-350 text-decoration-line-through">[[${product.product_cost}]]</span>
							<span class="text-primary">[[${product.product_cost}-${product.sale_price}]]</span>
							</div>
						</div>
						<!-- 별점 -->
                           <div class="col-auto">
                              <!-- Rating -->
                              <div class="rating fs-xs text-dark" data-value="4">
                                 <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                 </div>
                                 <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                 </div>
                                 <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                 </div>
                                 <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                 </div>
                                 <div class="rating-item">
                                    <i class="fas fa-star"></i>
                                 </div>
                              </div>
                              <span class="fw-bold text-muted">(6)</span>
                             </div>
						<!-- 별점 END -->
						<!-- 리뷰 수 -->
						<!-- 리뷰수 -->
						
					</div>
				</div>
			</th:block>
		</div>	
	<!-- Pagination -->
					<nav class="d-flex justify-content-center justify-content-md-center mt-10">
						<ul class="pagination pagination-sm text-gray-400">
							<li class="page-item" th:if="${pageMaker.prev}"><a
								class="page-link page-link-arrow"
								th:href="@{/PList/(pageNum = ${pageMaker.startPage - 1},keyword=${param.keyword}, ctg=${param.ctg})}">
									<i class="fa fa-caret-left"></i>
							</a></li>
							<th:block
								th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}">
								<li th:if="${pageMaker.endPage} ne 0"
									th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}"
									th:each="pageButtom : ${#numbers.sequence(start,end)}"
									th:class="${pageMaker.cri.pageNum} eq ${pageButtom} ? 'page-item active' : 'page-item'">
									<a class="page-link" href="#"
									th:href="@{/PList/(pageNum= ${pageButtom},keyword=${param.keyword}, ctg=${param.ctg})}"
									th:text="${pageButtom}" style="font-size : x-large;"></a>
								</li>
							</th:block>

							<li class="page-item" th:if="${pageMaker.next}"><a
								class="page-link page-link-arrow"
								th:href="@{/PList/(pageNum = ${pageMaker.endPage + 1},keyword=${param.keyword}, ctg=${param.ctg})}">
									<i class="fa fa-caret-right"></i>
							</a></li>
						</ul>
					</nav>
	<!-- pagi end -->

            </div>
         </div>
      </div>
   </section>
</div>
</html>