<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/sellerHtml}">

<!-- Content -->

<div layout:fragment="sellerContent">

	<div class="row gx-0">
		<div class="col-12 col-lg-auto">

			<!-- NAVBAR -->
			<nav
				class="navbar navbar-expand-lg navbar-vertical navbar-light sticky-start px-lg-7 ">
				<div class="container-fluid">

					<!-- Brand -->
					<a class="navbar-brand" href="/sellerMain"> 판매자센터 </a>

					<!-- Toggler -->
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSidenavLeftCollapse"
						aria-controls="navbarSidenavLeftCollapse" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<!-- Collapse -->
					<div class="collapse navbar-collapse"
						id="navbarSidenavLeftCollapse">

						<!-- Nav -->
						<ul class="navbar-nav fs-lg mb-6 my-lg-12" id="sidenavParent">
							<li class="nav-item">
								<!-- Toggle --> <a class="nav-link dropdown-toggle"
								data-bs-toggle="collapse" href="#sidenavHome"> 상품관리 </a> <!-- Collapse -->
								<div class="collapse" id="sidenavHome"
									data-bs-parent="#sidenavParent">
									<ul class="list-styled fs-base fw-normal py-3 mb-0">
										<li class="list-styled-item"><a class="list-styled-link"
											href="/productList">상품 조회/수정</a></li>
										<li class="list-styled-item"><a class="list-styled-link"
											href="/insertProduct">상품등록</a></li>

									</ul>
								</div>

							</li>
							<li class="nav-item">
								<!-- Toggle --> <a class="nav-link dropdown-toggle"
								data-bs-toggle="collapse" href="#sidenavCatalog"> 판매관리 </a> <!-- Collapse -->
								<div class="collapse" id="sidenavCatalog"
									data-bs-parent="#sidenavParent">
									<div class="row">
										<div class="col-12 py-3">
											<!-- Links -->
											<ul class="list-styled fs-base">
												<li class="list-styled-item"><a
													class="list-styled-link" href="/orderManagement">주문확인/발송관리</a></li>
												<li class="list-styled-item"><a
													class="list-styled-link" href="/cancelProduct">취소관리</a></li>
												<li class="list-styled-item"><a
													class="list-styled-link" href="/exchangeList">교환반품관리</a></li>

											</ul>

										</div>
									</div>
								</div>
							<li class="nav-item"><a class="nav-link"
								href="/settlementManagement">정산/통계관리</a></li>
							<li class="nav-item"><a class="nav-link"
								href="/productInquiry">문의관리</a></li>
							<li class="nav-item"><a class="nav-link"
								href="/sellerMypage">판매자정보</a></li>
							<li class="nav-item"><a class="nav-link"
								href="./docs/getting-started.html">고객센터</a></li>
						</ul>






					</div>

				</div>
			</nav>

		</div>

		<div class="col-12 col-lg">
			<div class="napy_sub_content">

				<div class="npay_section _1FOxZIjaH6">
					<div class="npay_board_area">
						<table class="npay_board_table">
							<colgroup>
								<col class="label_width">
								<col>
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">조회기간</th>
									<td colspan="1"><div class="_e1ESc1_0ic">
											<div class="_2Mo9ts_S9f _29On-g1Mid">
												<div class="_8GMnQSQIgl _3zx-c_IhVp">

													<button type="button">
														<span class="">오늘</span>
													</button>
													<button type="button">
														<span class="">1주일</span>
													</button>
													<button type="button">
														<span class="">1개월</span>
													</button>
													<button type="button">
														<span class="">3개월</span>
													</button>

													<div id="dateDisplay"></div>
													
													<label class="_MN8nIh0X4y">상세조건</label> <select
														class="_4LshyCrDpi" title="리스트 보기">
														<option selected value="">전체</option>
														<option value="member_name">구매자명</option>
														<option value="member_tel">구매자연락처</option>
														<option value="member_id">구매자ID</option>
														<option value="order_detail_code">상세주문번호</option>
														<option value="delivery_number">송장번호</option>
													</select> <input type="text" class="_3y2h2mGnkI" value=""
														maxlength="50">
													<div>
														<input type="DATE" id="from" name="from"
															autocomplete="off"> <label for="to">~</label> <input
															type="DATE" id="to" name="to" autocomplete="off">
													</div>
												</div>
											</div>
										</div></td>

								</tr>
								<tr>
									<th scope="row">처리상태</th>
									<td colspan="3"><div class="_KqV0-1BSnB">
											<label id="cancelStatus">전체</label> <select
												class="_4LshyCrDpi" title="리스트 보기">
												<option selected value="">전체</option>
												<option value="CANCEL_REQUEST">취소요청</option>
												<option value="CANCEL_DONE">취소완료</option>
												<option value="CANCEL_REJECT">취소철회</option>
											</select>
										</div></td>
								</tr>
							</tbody>
						</table>
						<button type="button" id="orderSearch">검색</button>
					</div>
					<section class="pb-12">

						<table border="1" class="table" id="getProductList">
							<thead>
								<tr>
									<th><input type="checkbox" id="allCheck"></th>
									<th>주문번호</th>
									<th>상품명</th>
									<th>주문상태</th>
									<th>취소이유</th>
									<th>결제일</th>
									<th>취소요청일</th>
									<th>구매자</th>
								</tr>
							</thead>
							<tbody id="cancelList">
								<tr th:each="cancel : ${cancelInfo}">
									<td><input type="checkbox"></td>
									<td th:text="${cancel.orderDetailCode}"></td>
									<td th:text="${cancel.productName}"></td>
									<td th:text="${cancel.orderStatus}"></td>
									<td th:text="${cancel.cancelReason}"></td>
									<td th:text="${#dates.format(cancel.chargeDate, 'yyyy-MM-dd')}"></td>
									<td
										th:text="${#dates.format(cancel.cancelRegdate, 'yyyy-MM-dd')}"></td>
									<td th:text="${cancel.memberName}"></td>

								</tr>
								<!-- 반복문 종료 -->
							</tbody>
						</table>
					</section>
				</div>
			</div>
		</div>

	</div>

	<script>
$(document).ready(function () {		
		
		document.getElementById('allCheck')
		.addEventListener('click', allCheckEvent);

		function allCheckEvent(e) {
		    let allCheckTag = document.getElementById('allCheck');
		    let checkTags = document.querySelectorAll('[type="checkbox"]');
		    checkTags.forEach(el => {
		        el.checked = allCheckTag.checked;
		    })
		}
		
		$('#orderSearch').on('click',function(){
			let key = $('._4LshyCrDpi').val();
			let value = $('._3y2h2mGnkI').val();
			let fromDate = $('#from').val();
			let toDate = $('#to').val()
			
			console.log(key,value,fromDate,toDate);

			$.ajax({
				url : 'cancelOption',
				type : 'get',
				data : {
					"searchValue" : value, 
			 		"searchKey" : key,
			 		fromDate,
			 		toDate
				}
			})
			 		
			
			.done(cancelInfo=>{
				console.log(cancelInfo);
				 $('#cancelList').replaceWith(cancelInfo); 
				 

			})
			.fail(reject=>{
				console.log(reject);
			})
			
		})
		
		
		 // 날짜 표시 함수
	    function displayDate(range) {
	      const currentDate = new Date();
	      let startDate, endDate;

	      switch (range) {
	        case 'today':
	          startDate = new Date(currentDate);
	          endDate = new Date(currentDate);
	          break;
	        case 'week':
	          startDate = new Date(currentDate);
	          endDate = new Date(currentDate);
	          endDate.setDate(endDate.getDate() + 7);
	          break;
	        case 'oneMonth':
	          startDate = new Date(currentDate);
	          endDate = new Date(currentDate);
	          endDate.setMonth(endDate.getMonth() + 1);
	          break;
	        case 'threeMonth':
	          startDate = new Date(currentDate);
	          endDate = new Date(currentDate);
	          endDate.setMonth(endDate.getMonth() + 3);
	          break;
	        default:
	          startDate = null;
	          endDate = null;
	      }

	      if (startDate && endDate) {
	        document.getElementById('dateDisplay').innerHTML = `시작 날짜: ${startDate.toDateString()}<br>종료 날짜: ${endDate.toDateString()}`;
	      } else {
	        document.getElementById('dateDisplay').innerHTML = '날짜 범위를 선택하세요.';
	      }
	    }

	    // 버튼 클릭 이벤트 처리
	    document.getElementById('todayBtn').addEventListener('click', () => {
	      displayDate('today');
	    });
	    document.getElementById('weekBtn').addEventListener('click', () => {
	      displayDate('week');
	    });
	    document.getElementById('oneMonthBtn').addEventListener('click', () => {
	      displayDate('oneMonth');
	    });
	    document.getElementById('threeMonthBtn').addEventListener('click', () => {
	      displayDate('threeMonth');
	    });
		
		
})
	</script>


</div>

</html>