<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/sellerHtml}">

<!-- Content -->

<div layout:fragment="sellerContent">

	<div class="row gx-0">
		<div class="col-12 col-lg-auto">

			<!-- NAVBAR -->
			<nav
				class="navbar navbar-expand-lg navbar-vertical navbar-light sticky-start px-lg-7 ">
				<div class="container-fluid">

					<!-- Brand -->
					<a class="navbar-brand" href="/sellerMain"> 판매자센터 </a>

					<!-- Toggler -->
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSidenavLeftCollapse"
						aria-controls="navbarSidenavLeftCollapse" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<!-- Collapse -->
					<div class="collapse navbar-collapse"
						id="navbarSidenavLeftCollapse">

						<!-- Nav -->
						<ul class="navbar-nav fs-lg mb-6 my-lg-12" id="sidenavParent">
							<li class="nav-item">
								<!-- Toggle --> <a class="nav-link dropdown-toggle"
								data-bs-toggle="collapse" href="#sidenavHome"> 상품관리 </a> <!-- Collapse -->
								<div class="collapse" id="sidenavHome"
									data-bs-parent="#sidenavParent">
									<ul class="list-styled fs-base fw-normal py-3 mb-0">
										<li class="list-styled-item"><a class="list-styled-link"
											href="/productList">상품 조회/수정</a></li>
										<li class="list-styled-item"><a class="list-styled-link"
											href="/insertProduct">상품등록</a></li>

									</ul>
								</div>

							</li>
							<li class="nav-item">
								<!-- Toggle --> <a class="nav-link dropdown-toggle"
								data-bs-toggle="collapse" href="#sidenavCatalog"> 판매관리 </a> <!-- Collapse -->
								<div class="collapse" id="sidenavCatalog"
									data-bs-parent="#sidenavParent">
									<div class="row">
										<div class="col-12 py-3">
											<!-- Links -->
											<ul class="list-styled fs-base">
												<li class="list-styled-item"><a
													class="list-styled-link" href="/orderManagement">주문확인/발송관리</a></li>
												<li class="list-styled-item"><a
													class="list-styled-link" href="/cancelProduct">취소관리</a></li>
												<li class="list-styled-item"><a
													class="list-styled-link" href="/exchangeList">교환반품관리</a></li>

											</ul>

										</div>
									</div>
								</div>
							<li class="nav-item"><a class="nav-link"
								href="/settlementManagement">정산/통계관리</a></li>
							<li class="nav-item"><a class="nav-link"
								href="/productInquiry">문의관리</a></li>
							<li class="nav-item"><a class="nav-link"
								href="/sellerMypage">판매자정보</a></li>
							<li class="nav-item"><a class="nav-link"
								href="/sellerInquiry">고객센터</a></li>
						</ul>






					</div>

				</div>
			</nav>

		</div>

		<div class="col-12 col-lg">
			<div class="panel-body">
				<!---->
				
											

				<div class="_1Vof48UxmD_oVRNwPvxck">
							
								<div class="_KqV0-1BSnB">
									<button type="button" id="todayBtn" class="btn btn-primary2">
										<span id="today">오늘</span>
									</button>
									<button type="button" id="weekBtn" class="btn btn-primary2">
										<span id="week">1주일</span>
									</button>
									<button type="button" id="oneMonthBtn" class="btn btn-primary2">
										<span id="onemonth">1개월</span>
									</button>
									<button type="button" id="threeMonthBtn"
										class="btn btn-primary2">
										<span id="thmonth">3개월</span>
									</button>

									<div id="dateDisplay"></div>
									<div>
										<span>조회기간</span> <input type="DATE" id="from" name="from"
											autocomplete="off"> <label for="to">~</label> <input
											type="DATE" id="to" name="to" autocomplete="off">
									</div>
								</div>
							


							<div class="detailSea">
									<label class="_MN8nIh0X4y">상세조건</label> <select
										class="_4LshyCrDpi" title="리스트 보기">
										<option selected value="">전체</option>
										<option value="member_name">구매자명</option>
										<option value="member_tel">구매자연락처</option>
										<option value="member_id">구매자ID</option>
										<option value="product_code">상품코드</option>
										<option value="delivery_number">송장번호</option>
									</select> 
									<input type="text" class="_3y2h2mGnkI" value="" maxlength="50">
							</div>
									
									
							<button type="button" id="orderSearch">검색</button>
							</div>
							
					
					<section class="pb-12">
					<button type="button" id="cancelOk">취소승인</button>
					<button type="button" id="cancelReject">취소거부</button>
						<div style="width:100%; height: 300px; overflow:auto; border:1px; ">
						
						<table border="1" class="table" id="getProductList">
							<thead>
								<tr>
									<th><input type="checkbox" id="allCheck"></th>
									<th>주문번호</th>
									<th>상품명</th>
									<th>주문상태</th>
									<th>취소이유</th>
									<th>결제일</th>
									<th>취소요청일</th>
									<th>취소상태</th>
									<th>구매자</th>
								</tr>
							</thead>
							<tbody id="cancelList">
								<tr th:each="cancel : ${cancelInfo}">
									<td><input type="checkbox"></td>
									<td th:text="${cancel.orderDetailCode}"></td>
									<td th:text="${cancel.productName}"></td>
									<td th:text="${cancel.orderStatus}"></td>
									<td th:text="${cancel.cancelReason}"></td>
									<td th:text="${#dates.format(cancel.chargeDate, 'yyyy-MM-dd')}"></td>
									<td th:text="${#dates.format(cancel.cancelRegdate, 'yyyy-MM-dd')}"></td>
									<td th:if="${cancel.cancelStatus} == 'Y'">취소승인</td>
									<td th:unless="${cancel.cancelStatus} == 'Y'">취소대기</td>
									<td th:text="${cancel.memberName}"></td>
									<td th:text="${cancel.memberId}" class="visually-hidden"></td>
									<td th:text="${cancel.orderCode}" class="visually-hidden"></td>
									<td th:text="${cancel.cancelCode}" class="visually-hidden"></td>
									

								</tr>
								<!-- 반복문 종료 -->
							</tbody>
						</table>
						</div>
					</section>
				</div>
				</div>
</div>


	<script>
$(document).ready(function () {		
		
		document.getElementById('allCheck')
		.addEventListener('click', allCheckEvent);

		function allCheckEvent(e) {
		    let allCheckTag = document.getElementById('allCheck');
		    let checkTags = document.querySelectorAll('[type="checkbox"]');
		    checkTags.forEach(el => {
		        el.checked = allCheckTag.checked;
		    })
		}
		
		$('#orderSearch').on('click',function(){
			let key = $('._4LshyCrDpi').val();
			let value = $('._3y2h2mGnkI').val();
			let fromDate = $('#from').val();
			let toDate = $('#to').val()
			
			console.log(key,value,fromDate,toDate);

			$.ajax({
				url : 'cancelOption',
				type : 'get',
				data : {
					"searchValue" : value, 
			 		"searchKey" : key,
			 		fromDate,
			 		toDate
				}
			})
			 		
			
			.done(cancelInfo=>{
				console.log(cancelInfo);
				 $('#cancelList').replaceWith(cancelInfo); 
				 

			})
			.fail(reject=>{
				console.log(reject);
			})
			
		})
		
		
	 const currentDate = new Date();
	  const formattedDate = currentDate.toISOString().split('T')[0];
	  $('#to').val(formattedDate);
 
  
     // 버튼 클릭 이벤트 처리
	 $('#todayBtn').click(function() {
		displayDate('today');
	  });
	  $('#weekBtn').click(function() {
		displayDate('week');
	  });
	  $('#oneMonthBtn').click(function() {
		displayDate('oneMonth');
	  });
	  $('#threeMonthBtn').click(function() {
		displayDate('threeMonth');
	  });
  
	  // 날짜 표시 함수
function displayDate(range) {
	const currentDate = new Date();
	let startDate, endDate;
  
	switch (range) {
	  case 'today':
		startDate = new Date(currentDate);
		endDate = new Date(currentDate);
		break;
	  case 'week':
		startDate = new Date(currentDate);
		endDate = new Date(currentDate);
		startDate.setDate(endDate.getDate() - 7);
		break;
	  case 'oneMonth':
		startDate = new Date(currentDate);
		endDate = new Date(currentDate);
		startDate.setMonth(endDate.getMonth() - 1);
		break;
	  case 'threeMonth':
		startDate = new Date(currentDate);
		endDate = new Date(currentDate);
		startDate.setMonth(endDate.getMonth() - 3);
		break;
	  default:
		startDate = null;
		endDate = null;
	}
  
	// endDate 값을 input 요소에 설정
	if (startDate) {
	endDate.setDate(endDate.getDate() + 1); // 일자를 +1 하기
	const formattedEndDate = endDate.toISOString().split('T')[0];
	console.log(formattedEndDate); 

	//   formattedYear = formattedEndDate.

	  
	  // input 요소 선택 후 value 설정
	  $('#to').val(formattedEndDate);
	} else {
	  // endDate가 null이면 input 요소 값을 비움
	  $('#to').val('');
	}
  
	// startDate 값을 input 요소에 설정
	if (endDate) {
	  // startDate를 yyyy-mm-dd 형식의 문자열로 변환
	  const formattedStartDate = startDate.toISOString().split('T')[0];
	  
	  // input 요소 선택 후 value 설정
	  $('#from').val(formattedStartDate);
	} else {
	  // startDate가 null이면 input 요소 값을 비움
	  $('#from').val('');
	}
  }
		
$('#cancelOk').on('click',function(){
    let checkTags = $('input[type=checkbox]:checked').not(allCheck);
    refundListVO=[];
    checkTags.each((idx, tag)=>{
       let orderDetailCode = $(tag).parent().next().text();
       let memberId = $(tag).closest('tr').find('td:eq(9)').text();
       let orderCode = $(tag).closest('tr').find('td:eq(10)').text();
       let refundTypecode = $(tag).closest('tr').find('td:eq(11)').text();
       let refundType = "C";
       let cancelReason = $(tag).closest('tr').find('td:eq(4)').text();
       
       console.log(memberId);
       
       let OrderChkVO ={
    		   orderDetailCode : orderDetailCode ,
    		   orderCode : orderCode,
    		   refundTypecode : refundTypecode,
    		   refundType :refundType  ,
    		   cancelReason : cancelReason,
    		   memberId : memberId
       }
       refundListVO.push(OrderChkVO);
    });
    
    console.log(refundListVO);
     
      let $form = $('<form>', {
          method: 'POST',
          action: 'orders/cancel'
      });

      let $input = $('<input>', {
          type: 'hidden',
          name: 'refundList',
          value: JSON.stringify(refundListVO)
      });

      $form.append($input);

      $form.appendTo('body').submit(); 
     
 });
 
	  
	  $('#cancelReject').on('click', function(){
		  let checkTags = $('input[type=checkbox]:checked').not(allCheck);
		  cancelChk = [];
		  checkTags.each((idx, tag)=>{
			  let cancelCode = $(tag).closest('tr').find('td:eq(11)').text();
			  console.log(cancelCode);
			let obj = {
					cancelCode
			}
			cancelChk.push(obj);
		  })
		
		  $.ajax({
			  url:'cancelReject',
			  type: 'post',
			  contentType : 'application/json',
			  data : JSON.stringify(cancelChk)
		  })
		  .done(data=>{
			  refreshList();
		  })
		  .fail(reject =>{
			  console.log(reject);
		  })
	  });
	  
	  function refreshList(){
         location.reload();
      } 
	  
	  
})
	</script>
</div>

</html>