<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/no_layout}">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- Content -->
<div layout:fragment="content">
   <style>
      .ck.ck-editor {
         width: 80%;
         max-width: 800px;
         margin: 0 auto;
      }
      
      .ck-editor__editable {
         height: 80vh;
      }
      
      form {
         text-align: center;
      }
   </style>
   <!-- ckeditor cdn -->
    <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
   
   <div class="row gx-0" style="margin-bottom:20px;">
   <form action="/updateImg" method="post" id="textForm">
   <input type="hidden" name="productCode" th:value="${productCode}" />
      <div id="editor" th:utext="${product[0].productContent}"></div>
      <div>
        <p th:text="${list}"></p>[[${list}]]
     </div>
      <input type="button" class="addImgBtn btn btn-secondary mt-3 mx-2" value="작성취소" />
      <input type="submit" id="submit" class="btn btn-primary mt-3 mx-2" value="작성완료" />
   </form>



   <!-- CKEditor -->
         <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
      
         <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
      <script>      
      ClassicEditor
      .create(document.querySelector('#editor'),{
         ckfinder:{
            uploadUrl : '/image/upload'
         }
      })
      .then(editor => {
         window.editor = editor;
      })
      .catch(error => {
         console.error(error);
      });
      </script>
    
      
   </div>
   <script text="text/javascript">
   var productCode = document.querySelector('input[name="productCode"]').value;

   
   
  $('.addImgBtn').on('click',function(e){

	  window.close();
  }) 
  

  
  $(document).ready(function(e){
	  let data = JSON.parse(localStorage.getItem("detail"));
	   if(data.content != null || data.content ==''){
	      editor.setData(data.content);
	   }
        
  })
 $('#submit').on('click',function(e){
      $('.inform').remove();
      $('textarea[name="productContent"]').remove();

      let data = editor.getData();
      let img = $(data).find('img');

      if(data == null || data == ''){
         alert("상세정보를 적어주세요");
         e.preventDefault();
         return;
      }
      if(img.length == 0){
    	  alert("이미지를 넣어주세요");
    	  e.preventDefault();
    	  return;
      }
           
      let form = $(this).closest('form');
      let detailobj ={
         content : data,
         img :[]
      }

      let formTag = $('.ck .image');
      let idx2 = 0;
      
       let srcArr = [];
       $(formTag).each(function(idx,item){
           if($(item).children('figcaption').text() == null || $(item).children('figcaption').text() == ''){
            alert("이미지 대체텍스트를 입력해주세요")
   
              return false;
           }
           
           
          let src = $(item).children('img').attr('src');
            
          let text = src.split('_');
          
          let text01 = src.split('/');
          let data = {
                  imgName : text[1],
                  uploadPath : text01[2] + '/' + text01[3] + '/' + text01[4],
                  uploadName : text01[5],
                  imgContent : $(item).children('figcaption').text()
               };
               srcArr.push(data);
               idx2++;
            })
            
            if(idx2 != formTag.length){
         	   e.preventDefault();
              return;
            }
            let idx = 0;
            for(let i =0; i < srcArr.length; i++){
               let divTag = $('<div/>').addClass('inform');
               let obj = srcArr[i];
               let imgobj ={};
               for(let item in obj){
                  let str = `
                     <input type="text" style="display:none;" name="imgsVO[${idx}].${item}" value="${obj[item]}" class="${item}">
                  `;
                  imgobj[item] = obj[item];
                  divTag.append(str);
                 }
                 detailobj.img.push(imgobj)
               idx++;
               form.append(divTag);
            }
           window.localStorage.setItem("detail",JSON.stringify(detailobj)); 
     	  alert("상세 설명이 등록 되었습니다.");
           window.close();
      // form.submit();
  })
   </script>
</div>
</html>