<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/sellerHtml}">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- Content -->



<div layout:fragment="sellerContent">
	<link rel="stylesheet"
		href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

	<div class="row gx-0">
		<div class="col-12 col-lg-auto">

			<!-- NAVBAR -->
			<nav
				class="navbar navbar-expand-lg navbar-vertical navbar-light sticky-start px-lg-7 ">
				<div class="container-fluid">

					<!-- Brand -->
					<a class="navbar-brand" href="/sellerMain"> 판매자센터 </a>

					<!-- Toggler -->
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSidenavLeftCollapse"
						aria-controls="navbarSidenavLeftCollapse" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<!-- Collapse -->
					<div class="collapse navbar-collapse"
						id="navbarSidenavLeftCollapse">

						<!-- Nav -->
						<ul class="navbar-nav fs-lg mb-6 my-lg-12" id="sidenavParent">
							<li class="nav-item">
								<!-- Toggle --> <a class="nav-link dropdown-toggle"
								data-bs-toggle="collapse" href="#sidenavHome"> 상품관리 </a> <!-- Collapse -->
								<div class="collapse" id="sidenavHome"
									data-bs-parent="#sidenavParent">
									<ul class="list-styled fs-base fw-normal py-3 mb-0">
										<li class="list-styled-item"><a class="list-styled-link"
											href="/productList">상품 조회/수정</a></li>
										<li class="list-styled-item"><a class="list-styled-link"
											href="/insertProduct">상품등록</a></li>

									</ul>
								</div>

							</li>
							<li class="nav-item">
								<!-- Toggle --> <a class="nav-link dropdown-toggle"
								data-bs-toggle="collapse" href="#sidenavCatalog"> 판매관리 </a> <!-- Collapse -->
								<div class="collapse" id="sidenavCatalog"
									data-bs-parent="#sidenavParent">
									<div class="row">
										<div class="col-12 py-3">
											<!-- Links -->
											<ul class="list-styled fs-base">
												<li class="list-styled-item"><a
													class="list-styled-link" href="/orderManagement">주문확인/발송관리</a></li>
												<li class="list-styled-item"><a
													class="list-styled-link" href="/cancelProduct">취소관리</a></li>
												<li class="list-styled-item"><a
													class="list-styled-link" href="/exchangeList">교환반품관리</a></li>

											</ul>

										</div>

										<li class="nav-item"><a class="nav-link"
											href="/settlementManagement">정산/통계관리</a></li>
										<li class="nav-item"><a class="nav-link"
											href="/productInquiry">문의관리</a></li>
										<li class="nav-item"><a class="nav-link"
											href="/sellerMypage">판매자정보</a></li>
										<li class="nav-item"><a class="nav-link"
											href="./docs/getting-started.html">고객센터</a></li>
						</ul>





					</div>

				</div>
			</nav>

		</div>
		<div class="col-12 col-lg">
			
				<input type="text" id="from" name="from" autocomplete="off">
				<label for="to">~</label> <input type="text" id="to" name="to"
					autocomplete="off">
				<td colspan="1"><div class="_1Vof48UxmD _oVRNwPvxck">
						<div class="_KqV0-1BSnB">
							<label class="_MN8nIh0X4y">구매자연락처</label>
							<select class="_4LshyCrDpi" title="리스트 보기">
							<option selected="" value="">전체</option>
								<option value="RECIPIENT_NAME">수취인명</option>
								<option value="MEMBER_NAME">구매자명</option>
								<option value="MEMBER_TEL">구매자연락처</option>
								<option value="MEMBER_ID">구매자ID</option>
								<option value="ORDER_CODE">주문번호</option>
								<option value="PRODUCT_ORDER_NO">상품주문번호</option>
								<option value="PRODUCT_CODE">상품코드</option>
								<option value="DELIVERY_NUMBER">송장번호</option>
							</select>
						
						<div>
							<input type="text" class="_3y2h2mGnkI" value="" maxlength="50">
						</div>
					</div></td>
					
					<button type="button" id="searchBtn">검색</button>
			

			<section class="pb-12">

				<table border="1" class="table" id="getProductList">
					<thead>
						<tr>
							<th><input type="checkbox" id="allCheck"></th>
							<th>주문상세코드</th>
							<th>상품명</th>
							<th>옵션값</th>
							<th>구매개수</th>
							<th>요청사항</th>
							<th>택배사</th>
							<th>송장번호</th>
							<th>발송일</th>
						</tr>
					</thead>
					<tbody id="sortList">
						<tr th:each="order : ${orderList}">
							<td><input type="checkbox"></td>
							<td th:text="${order.orderDetailCode}" />
							<td th:text="${order.productName}" />
							<td th:text="${order.option.optionValue}" />
							<td th:text="${order.orderCnt}" />
							<td th:text="${order.requestedTerm}" />
							<td th:text="${order.deliveryCompany}" th:style="${order.deliveryCompany == null ? 'display:none;' : ''}"/>
							<td th:text="${order.deliveryNumber}" />
							<td th:text="${#dates.format(order.deliveryStart,'yyyy-MM-dd')}" />
						</tr>
						<!-- 반복문 종료 -->
					</tbody>
				</table>
			</section>
		</div>
	</div>

	<script>
			 $( function() {
				 
				    var dateFormat = "yyyy/MM/dd",
				      from = $( "#from" )
				        .datepicker({
				          defaultDate: "+1w",
				          changeMonth: true,
				          numberOfMonths: 1
				        })
				        .on( "change", function() {
				          to.datepicker( "option", "minDate", getDate( this ) );
				        }),
				      to = $( "#to" ).datepicker({
				        defaultDate: "+1w",
				        changeMonth: true,
				        numberOfMonths: 1
				      })
				      .on( "change", function() {
				        from.datepicker( "option", "maxDate", getDate( this ) );
				      });
				 
				    function getDate( element ) {
				      var date;
				      try {
				        date = $.datepicker.parseDate( dateFormat, element.value );
				      } catch( error ) {
				        date = null;
				      }
				 
				      return date;
				    }
				  } );
			
			
			document.getElementById('allCheck')
			.addEventListener('click', allCheckEvent);

			function allCheckEvent(e) {
			    let allCheckTag = document.getElementById('allCheck');
			    let checkTags = document.querySelectorAll('[type="checkbox"]');
			    checkTags.forEach(el => {
			        el.checked = allCheckTag.checked;
			    })
			}
			
			
			
			</script>

</div>
</html>