<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/insertModifyPro}">

<!-- Content -->


<div layout:fragment="sellerContent">
<!-- <style>
._1Vof48UxmD_oVRNwPvxck {
	background-color: rgb(248, 249, 250);
	padding : 20px;
}
.pb-12{
	background-color: rgb(248, 249, 250);
	padding : 20px;
	margin-top : 20px;
}


._KqV0-1BSnB {
	float:left;
}


._4LshyCrDpi, ._3y2h2mGnkI, ._MN8nIh0X4y {
    margin-left: 10px; /* 왼쪽 여백 추가 (선택적으로 조절) */
    margin-top: 50px;
    
}
._MN8nIh0X4y{
margin-left:400px;
}


.btn-default2 .badge {
	color: #8991a3;
	background-color: #fff
}

.btn-primary2 {
	color: #666;
	background-color: #fff;
	border-color: #dbdde2
}

.btn-primary2.focus, .btn-primary2:focus {
	color: #666;
	background-color: black;
	border: 2px solid white;
}

.btn-primary2.active, .btn-primary2:active, .btn-primary2:hover, .open>.dropdown-toggle.btn-primary2
	{
	color: #666;
	background-color: black;
	border: 2px solid gray;
}
.btn-primary2.active.focus, .btn-primary2.active:focus, .btn-primary2.active:hover,
	.btn-primary2:active.focus, .btn-primary2:active:focus, .btn-primary2:active:hover,
	.open>.dropdown-toggle.btn-primary2.focus, .open>.dropdown-toggle.btn-primary2:focus,
	.open>.dropdown-toggle.btn-primary2:hover {
	color: #666;
	background-color: #d4d4d4;
	border-color: #949aa9
}

.btn-primary2.active, .btn-primary2:active, .open>.dropdown-toggle.btn-primary2
	{
	background-image: none
}

.btn-primary2.disabled.focus, .btn-primary2.disabled:focus,
	.btn-primary2.disabled:hover, .btn-primary2[disabled].focus,
	.btn-primary2[disabled]:focus, .btn-primary2[disabled]:hover, fieldset[disabled] .btn-primary2.focus,
	fieldset[disabled] .btn-primary2:focus, fieldset[disabled] .btn-primary2:hover
	{
	background-color: #fff;
	border-color: #dbdde2
}

#orderSearch {
    border-radius: 10px; /* 테두리를 둥글게 만듭니다. */
    color: #ffffff; /* 텍스트 색상을 흰색으로 지정합니다. */
    padding: 10px 20px; /* 내용 주변의 여백을 조절합니다. */
    border: none; /* 테두리를 없앱니다. */
    margin-left:200px;
}


#orderSearch:hover {
    background-color: gray; 
}

.btn{
    border-radius: 10px; /* 테두리를 둥글게 만듭니다. */
}
.btn-primary2{
 padding : 10px;
}
.searchDate{
	margin-top:10px;
}


 -->
<style>
.btnGo{
	padding-left:10px;
	padding-right:10px;
	background-color:black;
	color : white;
}

input, select, button{
	border-radius: 5px;
}

::-webkit-scrollbar {
  width: 12px; /* 가로 스크롤바 너비 조절 */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* 스크롤바 트랙 배경색 */
}

::-webkit-scrollbar-thumb {
  background: #888; /* 스크롤바 썸 배경색 */
  border-radius: 6px; /* 스크롤바 썸 둥글게 만들기 */
}
h3{
	margin:30px;
}
</style> 
				
				
				<div class="_1Vof48UxmD_oVRNwPvxck container w-100" style="margin-left:0px;
	 margin-right:0px;
	 max-width:1600px">
	
			<div class="row justify-content-between" style="margin-bottom:30px; margin-top:30px;">
				<div class="col-4">
				<h3>주문내역</h3>
				</div>
				<div class="col-4">
					<div class="_KqV0-1BSnB col" style="margin-bottom:10px">
						<button type="button" id="todayBtn" class="btn btn-dark btn-xs">
							<span id="today">오늘</span>
						</button>
						<button type="button" id="weekBtn" class="btn btn-dark btn-xs">
							<span id="week">1주일</span>
						</button>
						<button type="button" id="oneMonthBtn" class="btn btn-dark btn-xs">
							<span id="onemonth">1개월</span>
						</button>
						<button type="button" id="threeMonthBtn" class="btn btn-dark btn-xs">
							<span id="thmonth">3개월</span>
						</button>
					</div>
					<!-- button -->
					
					<!--  date -->
					<div class="searchDate col" style="margin-bottom:10px">
						<span class="fs-sm">조회기간 : </span> <input type="DATE" id="from" name="from"
							autocomplete="off"> <label for="to">~</label> <input
							type="DATE" id="to" name="to" autocomplete="off">
					</div>
					<div class="detailSea col">
						<label class="_MN8nIh0X4y fs-sm">상세조건 : </label> <select
							class="_4LshyCrDpi" title="리스트 보기" >
							<option selected value="">전체</option>
							<option value="member_name">문의자명</option>
							<option value="member_id">문의자ID</option>
							<option value="product_code">상품코드</option>
						</select> 
						<input type="text" class="_3y2h2mGnkI" value="" maxlength="50">
						<button type="button" class="btn btn-dark btn-xxs" id="orderSearch">검색</button>
					</div>

				</div>
			</div>
	</div>

							
							<section class="pb-12">
								<div class="orderBtn" style="margin: 20px;">
									<input type="button" id="checkOrderBtn" value="발주확인" class="btnGo">
									 <input type="button" id="insertDeliveryBtn" value="발송처리" class="btnGo">
									<!-- 모달 버튼 -->
									<input type="button" id="cancelModal" data-toggle="modal"
										data-target="#myModal" style="background-color:red; color:white;" value="판매자 직접취소 처리">
									<div style="float:right; margin-right:70px;">
										<a href="orderManagement"><button type="button" class="btnGo">원래대로</button></a>
										<button type="button" id="paymentCom" class="btnGo">결제완료건</button>
										<button type="button" id="orderChecked" class="btnGo">주문확인건</button>
										<button type="button" id="deliveryGo" class="btnGo">배송건</button>
									</div>
									
									<!-- 모달 창 -->
									<div class="modal" id="myModal">
										<div class="modal-dialog">
											<div class="modal-content">

												<!-- 모달 헤더 -->
												<div class="modal-header">
													<h4 class="modal-title">판매자 직접 취소</h4>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>

												<!-- 모달 본문 -->
												<div class="modal-body">
													<table class="table" id="modalData">
														<thead>
															<tr>
																<th>주문상세코드</th>
																<th>상품명</th>
																<th>구매개수</th>
															</tr>
														</thead>
														<tbody>

														</tbody>
													</table>
													<div id="detailReason"
														style="display: flex; align-items: flex-start;">
														<label for="name">상세이유 </label>
														<textarea
															style="width: 80%; height: 6.25em; resize: none; margin-left: 30px"></textarea>
													</div>
												</div>

												<!-- 모달 푸터 -->
												<div class="modal-footer">
													<button type="button" id="reasonSend"
														class="btn btn-secondary" data-dismiss="modal">보내기</button>
													<button type="button" class="btn btn-secondary"
														data-dismiss="modal">닫기</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div style="width:1400px; height: 500px; overflow: auto; border: 1px; position: relative;">
								<table class="table" id="getProductList" style="background-color:white;  white-space: nowrap;">
									<thead style="position: sticky; top: 0; background-color: white;">
										<tr>
											<th><input type="checkbox" id="allCheck"></th>
											<th>주문상세코드</th>
											<th>상품명</th>
											<th>옵션값</th>
											<th>구매개수</th>
											<th>구매자</th>
											<th>요청사항</th>
											<th>주문상태</th>
											<th>택배사</th>
											<th>송장번호</th>
											<th>발송일</th>
										</tr>
									</thead>
									<tbody id="orderChkList">
										<tr th:each="order : ${orderList}" th:data-ordercode="${order.orderDetailCode}">
										    <td><input type="checkbox" style="position: flex;top: 0;z-index: 1;"></td>
										    <td th:text="${order.orderDetailCode}" />
										    <td th:text="${order.productName}" />
										    <td th:if="${order.optionDetail != null and order.optionDetail.size() > 0}" th:text="${order.optionDetail[0].optionLast}" />
										    <td th:unless="${order.optionDetail != null and order.optionDetail.size() > 0}" />
										    <td th:text="${order.orderCnt}" />
										    <td th:text="${order.memberName}" />
										    <td th:text="${order.requestedTerm}" />
										    <td th:text="${order.orderStatus}" />
										    <td>
											    <span th:each="code : ${order.code}">
											        <input th:if="${code.codeName != null}" th:value="${code.codeName}" id="deliveryService" style="background-color: lightyellow;">
											    </span>
											    <input th:if="${#lists.isEmpty(order.code)}" th:value="${order.deliveryService}" id="deliveryService" style="background-color: lightyellow;"/>
											</td>

										    <td th:if="${order.deliveryNumber != null}">
										        <input th:value="${order.deliveryNumber}" id="deliveryNumber" style="background-color: lightyellow;">
										    </td>
										    <td th:unless="${order.deliveryNumber != null}">
										        <input th:value="${order.deliveryNumber}" id="deliveryNumber">
										    </td>
										    <td th:text="${#dates.format(order.deliveryStart,'yyyy-MM-dd')}" />
										    <td th:text="${order.memberTel}" class="visually-hidden"></td>
										    <td th:text="${order.memberId}" class="visually-hidden"></td>
										    <td th:text="${order.memberEmail}" class="visually-hidden"></td>
										    <td th:text="${order.orderCode}"  class="visually-hidden"></td>
										</tr>
										<!-- 반복문 종료 -->
									</tbody>
								</table>
								<h3 id="noList" style="text-align: center" th:if="${#lists.isEmpty(orderList)}">주문내역이 없습니다.</h3>
								</div>
							</section>
							

<script>
   $(document).ready(function () {
       
         
         document.getElementById('allCheck')
         .addEventListener('click', allCheckEvent);
         
         function allCheckEvent(e) {
             let allCheckTag = document.getElementById('allCheck');
             let checkTags = document.querySelectorAll('[type="checkbox"]');
             checkTags.forEach(el => {
                 el.checked = allCheckTag.checked;
             })
         }

         
		 $('#orderSearch').on('click',function(){
			let key = $('._4LshyCrDpi').val();
			let value = $('._3y2h2mGnkI').val();
			let fromDate = $('#from').val();
			let toDate = $('#to').val()
			
			console.log(key,value,fromDate,toDate);

			$.ajax({
				url : '/seller/orderOptionManagement',
				type : 'get',
				data : {
					"searchValue" : value, 
			 		"searchKey" : key,
			 		fromDate,
			 		toDate
				}
			})
			 		
			
			.done(orderOptionList=>{
				console.log(orderOptionList);
				 $('#orderChkList').replaceWith(orderOptionList); 
				 

			})
			.fail(reject=>{
				console.log(reject);
			})
			
		})
        
         
         $('#cancelModal').on('click',function(){
            let orderList =[];
            let checkTags = $('input[type="checkbox"]:checked').not('#allCheck');
            
            if (checkTags.length === 0) {
                alert('상품을 선택하세요'); // 경고창 표시
                return; // 작업 중지
              }
            
            checkTags.each((idx, tag) =>{
               let orderDetailCode = $(tag).closest('tr').find('td:eq(1)').text();
               let productName = $(tag).closest('tr').find('td:eq(2)').text();
               let orderCnt = $(tag).closest('tr').find('td:eq(4)').text();
               let memberId = $(tag).closest('tr').find('td:eq(11)').text();
               let memberEmail = $(tag).closest('tr').find('td:eq(12)').text();
               let orderCode = $(tag).closest('tr').find('td:eq(13)').text();
               let refundType = "C";
               let obj = {'orderDetailCode' : orderDetailCode
                        ,'productName' : productName
                        ,'orderCnt' : orderCnt
                        ,'memberId' : memberId
                        ,'memberEmail' : memberEmail
                        ,'orderCode' : orderCode
                        ,'refundType' : refundType
                        };
               orderList.push(obj);
            })
			
            $('#reasonSend').data('orderList', orderList);
            
            let tbody = $('#modalData tbody');
            tbody.empty(); 

            orderList.forEach(item => {
               let row = $('<tr>');
               row.append($('<td>').text(item.orderDetailCode));
               row.append($('<td>').text(item.productName)); // 상품명 추가
               row.append($('<td>').text(item.orderCnt)); // 판매가 추가
               tbody.append(row);
            });   

         
         })
         
         $('#reasonSend').on('click', function () {
    // 경고 팝업 표시
    

    let memberInfo = $('#reasonSend').data('orderList');

    let email = memberInfo.map(function (member) {
        return member.memberEmail;
    });

    console.log(email);

    // setTimeout 함수를 사용하여 2초 후에 다음 작업 실행
    	alert('잠시만 기다려주세요...');
    	setTimeout(function () {
        $.ajax({
            url: 'sellerMailConfirm',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(memberInfo)
        })
        .done(data => {
        	
            console.log(data);
            
            $.ajax({
                url: 'deleteOrderSelf',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(memberInfo)
            })
            .done(data => {
                console.log(data);
                let $form = $('<form>', {
                    method: 'POST',
                    action: '/orders/cancel'
                });
                let $input = $('<input>', {
                    type: 'hidden',
                    name: 'refundList',
                    value: JSON.stringify(memberInfo)
                });

                $form.append($input);

                $form.appendTo('body').submit();
                alert("주문 취소가 완료되었습니다.");
                refreshList();
            })
        })
        .fail(reject => {
            console.log(reject);
        });
    }, 1000); 
})


         $('#checkOrderBtn').on('click', function(){
			orderChk =[];
			let checkTags = $('input[type="checkbox"]:checked').not('#allCheck');

			  if (checkTags.length === 0) {
				    alert('상품을 선택하세요'); // 경고창 표시
				    return; // 작업 중지
				  }
			  
			checkTags.each((idx, tag)=>{
				let orderDetailCode = $(tag).parent().next().text();
				console.log(orderDetailCode);
				let obj = {
					orderDetailCode
				}
				orderChk.push(obj);
			})

			$.ajax({
				url : 'updateOrderStatus',
				type : 'post',
				contentType : 'application/json',
				data : JSON.stringify(orderChk)
			})
			.done(data=>{
				refreshList();
			})

		 })
      

    $('#insertDeliveryBtn').on('click', function(){
    let deliveryList =[];
    let checkTags = $('#getProductList input[type="checkbox"]:checked').not('#allcheck');

    if (checkTags.length === 0) {
        alert('상품을 선택하세요');
        return;
    }

    let errorFlag = false; // 에러 플래그를 초기화

    	let memberTel = "";
    	let productName ="";
    checkTags.each((idx, tag) => {
    	memberTel =  $(tag).closest('tr').find('td:eq(11)').text();
    	productName = $(tag).closest('tr').find('td:eq(2)').text();
        let tr = $(tag).closest('tr');
        let detailOrderCode = tr.data('ordercode');
        let deliveryService = tr.find('#deliveryService').val();
        let deliveryNumber =  tr.find('#deliveryNumber').val();
		console.log(productName);
        if (!deliveryService || !deliveryNumber) {
            alert('deliveryService와 deliveryNumber 값을 입력해주세요.');
            errorFlag = true; // 에러 플래그를 설정
            return false; // 반복 중지
        }

        let obj = {
            'orderDetailCode' : detailOrderCode,
            'deliveryService' : deliveryService,
            'deliveryNumber' : deliveryNumber
        };
        deliveryList.push(obj);
    });

    if (errorFlag) {
        return; // 에러가 발생했으면 함수 종료
    }

    $.ajax('updateDelivery', {
        type: 'post',
        contentType: 'application/json',
        data: JSON.stringify(deliveryList)
    })
    .done(data => {
        console.log(data);
        
        $.ajax({
    		url : "/page/member/seller-one",
    		type : "POST",
    		data : {
    			phone : memberTel,
    			productName : productName
    		},
    		success : function(rs){
    			console.log(rs);
    		},
    		error : function(err){
    			console.log(err);	
    		}
    		
    	})	
        //refreshList();
    })
    .fail(reject => console.log(reject));
});

 
       function refreshList(){
         location.reload();
      } 
      
	 
 
  
     // 버튼 클릭 이벤트 처리
	 $('#todayBtn').click(function() {
		displayDate('today');
	  });
	  $('#weekBtn').click(function() {
		displayDate('week');
	  });
	  $('#oneMonthBtn').click(function() {
		displayDate('oneMonth');
	  });
	  $('#threeMonthBtn').click(function() {
		displayDate('threeMonth');
	  });
  
	  const currentDate = new Date();
	  const koreanTime = new Date(currentDate).toLocaleString('en-US', { timeZone: 'Asia/Seoul' });
	  const formattedDate = koreanTime.split('T')[0];
	  console.log(koreanTime);
	  $('#to').val(formattedDate);
	  
	  // 날짜 표시 함수
function displayDate(range) {
	const currentDate = new Date();
	let startDate, endDate;
  
	switch (range) {
	  case 'today':
		startDate = new Date(currentDate);
		endDate = new Date(currentDate);
		break;
	  case 'week':
		startDate = new Date(currentDate);
		endDate = new Date(currentDate);
		startDate.setDate(endDate.getDate() - 7);
		break;
	  case 'oneMonth':
		startDate = new Date(currentDate);
		endDate = new Date(currentDate);
		startDate.setMonth(endDate.getMonth() - 1);
		break;
	  case 'threeMonth':
		startDate = new Date(currentDate);
		endDate = new Date(currentDate);
		startDate.setMonth(endDate.getMonth() - 3);
		break;
	  default:
		startDate = null;
		endDate = null;
	}
  
	// endDate 값을 input 요소에 설정
	if (startDate) {
	const formattedEndDate = endDate.toISOString().split('T')[0];
	console.log(formattedEndDate); 

	  // input 요소 선택 후 value 설정
	$('#to').val(formattedEndDate);
	} else {
	  // endDate가 null이면 input 요소 값을 비움
	  $('#to').val('');
	}
  
	// startDate 값을 input 요소에 설정
	if (endDate) {
	  // startDate를 yyyy-mm-dd 형식의 문자열로 변환
	  const formattedStartDate = startDate.toISOString().split('T')[0];
	  
	  // input 요소 선택 후 value 설정
	  $('#from').val(formattedStartDate);
	} else {
	  // startDate가 null이면 input 요소 값을 비움
	  $('#from').val('');
	}
  }
           
	  
$('#paymentCom').on('click', function(){
	let orderStatus = 1
	$.ajax({
		url:'statusOrder',
		type : 'get',
		data : {
			orderStatus
		}
	})
	.done(orderList=>{
		console.log(orderList);
		$('#orderChkList').replaceWith(orderList);
	})		
	.fail(reject =>{
		console.log(reject);
	})
  });
  
  $('#orderChecked').on('click', function(){
	  let orderStatus = 2
	  $.ajax({
			url:'statusOrder',
			type : 'get',
			data : {
				orderStatus
			}
		})
		.done(orderList=>{
			console.log(orderList);
			$('#orderChkList').replaceWith(orderList);
		})		
		.fail(reject =>{
			console.log(reject);
		})
  });
  
  
  $('#deliveryGo').on('click', function(){
	  let orderStatus = 3
	  $.ajax({
			url:'statusOrder',
			type : 'get',
			data : {
				orderStatus
			}
		})
		.done(orderList=>{
			console.log(orderList);
			$('#orderChkList').replaceWith(orderList);
		})		
		.fail(reject =>{
			console.log(reject);
		})
  });
	  
	  
})    ;
         </script>
		</div>
</html>