<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/sellerHtml}">

<!-- Content -->



<div layout:fragment="sellerContent">

	<div class="row gx-0">
		<div class="col-12 col-lg-auto">

			<!-- NAVBAR -->
			<nav
				class="navbar navbar-expand-lg navbar-vertical navbar-light sticky-start px-lg-7 ">
				<div class="container-fluid">

					<!-- Brand -->
					<a class="navbar-brand" href="/sellerMain"> 판매자센터 </a>

					<!-- Toggler -->
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSidenavLeftCollapse"
						aria-controls="navbarSidenavLeftCollapse" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<!-- Collapse -->
					<div class="collapse navbar-collapse"
						id="navbarSidenavLeftCollapse">

						<!-- Nav -->
						<ul class="navbar-nav fs-lg mb-6 my-lg-12" id="sidenavParent">
							<li class="nav-item">
								<!-- Toggle --> <a class="nav-link dropdown-toggle"
								data-bs-toggle="collapse" href="#sidenavHome"> 상품관리 </a> <!-- Collapse -->
								<div class="collapse" id="sidenavHome"
									data-bs-parent="#sidenavParent">
									<ul class="list-styled fs-base fw-normal py-3 mb-0">
										<li class="list-styled-item"><a class="list-styled-link"
											href="/productList">상품 조회/수정</a></li>
										<li class="list-styled-item"><a class="list-styled-link"
											href="/insertProduct">상품등록</a></li>

									</ul>
								</div>

							</li>
							<li class="nav-item">
								<!-- Toggle --> <a class="nav-link dropdown-toggle"
								data-bs-toggle="collapse" href="#sidenavCatalog"> 판매관리 </a> <!-- Collapse -->
								<div class="collapse" id="sidenavCatalog"
									data-bs-parent="#sidenavParent">
									<div class="row">
										<div class="col-12 py-3">
											<!-- Links -->
											<ul class="list-styled fs-base">
												<li class="list-styled-item"><a
													class="list-styled-link" href="/orderManagement">주문확인/발송관리</a></li>
												<li class="list-styled-item"><a
													class="list-styled-link" href="/cancelProduct">취소관리</a></li>
												<li class="list-styled-item"><a
													class="list-styled-link" href="/exchangeList">교환반품관리</a></li>

											</ul>
										</div>
									</div>
								</div>
							<li class="nav-item"><a class="nav-link"
								href="/settlementManagement">정산/통계관리</a></li>
							<li class="nav-item"><a class="nav-link"
								href="/productInquiry">문의관리</a></li>
							<li class="nav-item"><a class="nav-link"
								href="/sellerMypage">판매자정보</a></li>
							<li class="nav-item"><a class="nav-link"
								href="./docs/getting-started.html">고객센터</a></li>
						</ul>





					</div>

				</div>
			</nav>

		</div>
		<div class="col-12 col-lg">


			<div class="_1Vof48UxmD _oVRNwPvxck">
				<div class="_KqV0-1BSnB">
					<label class="_MN8nIh0X4y">상세조건</label> <select class="_4LshyCrDpi"
						title="리스트 보기">
						<option selected="" value="">전체</option>
						<option value="MEMBER_NAME">구매자명</option>
						<option value="MEMBER_TEL">구매자연락처</option>
						<option value="MEMBER_ID">구매자ID</option>
						<option value="PRODUCT_CODE">상품코드</option>
						<option value="DELIVERY_NUMBER">송장번호</option>
					</select> <input type="text" class="_3y2h2mGnkI" value="" maxlength="50">
					<div>
						<span>조회기간</span> <input type="text" id="from" name="from"
							autocomplete="off"> <label for="to">~</label> <input
							type="text" id="to" name="to" autocomplete="off">
					</div>
				</div>
			</div>

			<button type="button" id="searchBtn">검색</button>


			<section class="pb-12">
				<div class="orderBtn" style="margin: 20px;">
					<input type="button" id="checkOrderBtn" value="발주확인"> <input
						type="button" id="insertDeliveryBtn" value="발송처리">
					<!-- 모달 버튼 -->
					<button type="button" id="cancelModal" data-toggle="modal"
						data-target="#myModal" style="background-color: red;">판매자
						직접취소 처리</button>

					<!-- 모달 창 -->
					<div class="modal" id="myModal">
						<div class="modal-dialog">
							<div class="modal-content">

								<!-- 모달 헤더 -->
								<div class="modal-header">
									<h4 class="modal-title">모달 제목</h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>

								<!-- 모달 본문 -->
								<div class="modal-body">
									<table class="table" id="modalData">
										<thead>
											<tr>
												<th>주문상세코드</th>
												<th>상품명</th>
												<th>구매개수</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
									<div id="detailReason"
										style="display: flex; align-items: flex-start;">
										<label for="name">상세이유 </label>
										<textarea
											style="width: 80%; height: 6.25em; resize: none; margin-left: 30px"></textarea>
									</div>
								</div>

								<!-- 모달 푸터 -->
								<div class="modal-footer">
									<button type="button" id="reasonSend" class="btn btn-secondary"
										data-dismiss="modal">보내기</button>
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">닫기</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<table border="1" class="table" id="getProductList">
					<thead>
						<tr>
							<th><input type="checkbox" id="allCheck"></th>
							<th>주문상세코드</th>
							<th>상품명</th>
							<th>옵션값</th>
							<th>구매개수</th>
							<th>요청사항</th>
							<th>택배사</th>
							<th>송장번호</th>
							<th>발송일</th>
						</tr>
					</thead>
					<tbody id="sortList">
						<tr th:each="order : ${orderList}">
							<td><input type="checkbox"></td>
							<td th:text="${order.orderDetailCode}" />
							<td th:text="${order.productName}" />
							<td th:text="${order.option.optionValue}" />
							<td th:text="${order.orderCnt}" />
							<td th:text="${order.requestedTerm}" />
							<td th:if="${order.deliveryCompany != null}"
								th:text="${order.deliveryCompany}"></td>
							<td th:unless="${order.deliveryCompany != null}"><input
								type="text" id="deliveryCompany"></td>
							<td th:if="${order.deliveryNumber != 0}"
								th:text="${order.deliveryNumber}" />
							<td th:unless="${order.deliveryNumber != 0}"><input
								type="text" id="deliveryNumber"></td>
							<td th:text="${#dates.format(order.deliveryStart,'yyyy-MM-dd')}" />
						</tr>
						<!-- 반복문 종료 -->
					</tbody>
				</table>
			</section>
		</div>
	</div>

	<script>
   $(document).ready(function () {
       
  
          $( function() {
             
                var dateFormat = "yyyy/MM/dd",
                  from = $( "#from" )
                    .datepicker({
                      defaultDate: "+1w",
                      changeMonth: true,
                      numberOfMonths: 1
                    })
                    .on( "change", function() {
                      to.datepicker( "option", "minDate", getDate( this ) );
                    }),
                  to = $( "#to" ).datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1
                  })
                  .on( "change", function() {
                    from.datepicker( "option", "maxDate", getDate( this ) );
                  });
             
                function getDate( element ) {
                  var date;
                  try {
                    date = $.datepicker.parseDate( dateFormat, element.value );
                  } catch( error ) {
                    date = null;
                  }
             
                  return date;
                }
              });
         
         
         document.getElementById('allCheck')
         .addEventListener('click', allCheckEvent);
         
         

         function allCheckEvent(e) {
             let allCheckTag = document.getElementById('allCheck');
             let checkTags = document.querySelectorAll('[type="checkbox"]');
             checkTags.forEach(el => {
                 el.checked = allCheckTag.checked;
             })
         }


         $('#cancelModal').on('click',function(){
            let orderList =[];
            let checkTags = $('input[type="checkbox"]:checked').not('#allCheck');
            checkTags.each((idx, tag) =>{
               console.log(tag);
               let orderDetailCode = $(tag).closest('tr').find('td:eq(1)').text();
               let productName = $(tag).closest('tr').find('td:eq(2)').text();
               let orderCnt = $(tag).closest('tr').find('td:eq(4)').text();
               let obj = {'orderDetailCode' : orderDetailCode
                        ,'productName' : productName
                        ,'orderCnt' : orderCnt
                        };
               orderList.push(obj);
            })


            let tbody = $('#modalData tbody');
            tbody.empty(); 

            orderList.forEach(item => {
               let row = $('<tr>');
               row.append($('<td>').text(item.orderDetailCode));
               row.append($('<td>').text(item.productName)); // 상품명 추가
               row.append($('<td>').text(item.orderCnt)); // 판매가 추가
               tbody.append(row);
            });   

         
         })

         
      

          $('#insertDeliveryBtn').on('click', function(){
            let deliveryList =[];
            let checkTags = $('#getProductList input[type="checkbox"]:checked').not('#allcheck');
            
            
            checkTags.each((idx, tag) => {
               let detailOrderCode = $(tag).parent().next().text();
               let deliveryCompany = $(tag).parent().find('td:last input#deliveryCompany').val().text();
               console.log(deliveryCompany);
               let obj = {'detailOrderCode' : detailOrderCode};
               deliveryList.push(obj);
         })

         $.ajax('updateDelivery',{

            type:'post',
            contentType : 'application/json',
            data : JSON.stringify(deliveryList)
            
         })
         .done(data => {
            console.log(data);
            //refreshList();
         })
         .fail(reject => console.log(reject));
      })
 
       function refreshList(){
         location.reload();
      } 
      
   })
    
         
         
         </script>

</div>
</html>