<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/sellerHtml}">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- Content -->



<div layout:fragment="sellerContent">


   <div class="row gx-0">
      <div class="col-12 col-lg-auto">

         <!-- NAVBAR -->
         <nav class="navbar navbar-expand-lg navbar-vertical navbar-light sticky-start px-lg-7 ">
            <div class="container-fluid">

               <!-- Brand -->
               <a class="navbar-brand" href="/sellerMain"> 판매자센터 </a>

               <!-- Toggler -->
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSidenavLeftCollapse" aria-controls="navbarSidenavLeftCollapse"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>

               <!-- Collapse -->
               <div class="collapse navbar-collapse" id="navbarSidenavLeftCollapse">

                  <!-- Nav -->
                  <ul class="navbar-nav fs-lg mb-6 my-lg-12" id="sidenavParent">
                     <li class="nav-item">
                        <!-- Toggle --> <a class="nav-link dropdown-toggle" data-bs-toggle="collapse"
                           href="#sidenavHome"> 상품관리 </a> <!-- Collapse -->
                        <div class="collapse" id="sidenavHome" data-bs-parent="#sidenavParent">
                           <ul class="list-styled fs-base fw-normal py-3 mb-0">
                              <li class="list-styled-item"><a class="list-styled-link" href="/productList">상품 조회/수정</a>
                              </li>
                              <li class="list-styled-item"><a class="list-styled-link" href="/insertProduct">상품등록</a>
                              </li>

                           </ul>
                        </div>

                     </li>
                     <li class="nav-item">
                        <!-- Toggle --> <a class="nav-link dropdown-toggle" data-bs-toggle="collapse"
                           href="#sidenavCatalog"> 판매관리 </a> <!-- Collapse -->
                        <div class="collapse" id="sidenavCatalog" data-bs-parent="#sidenavParent">
                           <div class="row">
                              <div class="col-12 py-3">
                                 <!-- Links -->
                                 <ul class="list-styled fs-base">
                                    <li class="list-styled-item"><a class="list-styled-link"
                                          href="/orderManagement">주문확인/발송관리</a></li>
                                    <li class="list-styled-item"><a class="list-styled-link"
                                          href="/cancelProduct">취소관리</a></li>
                                    <li class="list-styled-item"><a class="list-styled-link"
                                          href="/exchangeList">교환반품관리</a></li>

                                 </ul>

                              </div>

                     <li class="nav-item"><a class="nav-link" href="/settlementManagement">정산/통계관리</a></li>
                     <li class="nav-item"><a class="nav-link" href="/productInquiry">문의관리</a></li>
                     <li class="nav-item"><a class="nav-link" href="/sellerMypage">판매자정보</a></li>
                     <li class="nav-item"><a class="nav-link" href="/sellerInquiry">고객센터</a></li>
                  </ul>





               </div>

            </div>
         </nav>

      </div>


      <div class="col-12 col-lg">
         <div class="jumbotron">
            <div class="container">
               <h1 class="display-3">상품 등록</h1>
            </div>
         </div>



         <div class="container">
            <form id="insertForm" class="form-horizontal" action="insertProduct" method="post"
               enctype="multipart/form-data">
               <div id="categoryId">
                  <div class="form-group row">
                     <div>
                        <label class="col-sm-2">카테고리</label>
                        <div class="categorybox">
                           <select id="categoryCode">
                              <option value="" class="disabledsel" disabled selected>카테고리선택</option>
                              <option th:each="category : ${getCategoryList}" th:value="${category.categoryCode}"
                                 th:text="${category.categoryName}" th:if="${category.categoryLevel == 1}"></option>
                           </select>  
                        </div>
                        <div class="categorybox1" style="display: none;">
                           <select id="categoryCode01" class="disabledsel" >
                              <option value="1" disabled selected>카테고리선택</option>
                           </select>  
                        </div>
                        <div class="categorybox2" style="display: none;">
                           <select id="categoryCode02"  class="disabledsel" >
                              <option value="1" disabled selected>카테고리선택</option>
                           </select>  
                        </div>
                        <div class="categorybox3" style="display: none;">
                           <select id="categoryCode03" class="disabledsel" >
                              <option value="1" disabled selected>카테고리선택</option> 
                           </select>  
                        </div>
                   		

                        <!-- <select th:field="*{getCategoryList}" id="ChildCate" style="display:none;">
                           <option value="">카테고리선택</option>
                           <option th:each="category : ${getCategoryList}" th:value="${category.categoryCode}"
                              th:text="${category.categoryName}"></option>
                        </select>

                        <select th:field="*{getCategoryList}" id="ChildOfChildCate" style="display:none;">
                           <option value="">카테고리선택</option>
                           <option th:each="category : ${getCategoryList}" th:value="${category.categoryCode}"
                              th:text="${category.categoryName}"></option>
                        </select>

                        <select th:field="*{getCategoryList}" id="thirdOfChildCate" style="display:none;">
                           <option value="">카테고리선택</option>
                           <option th:each="category : ${getCategoryList}" th:value="${category.categoryCode}"
                              th:text="${category.categoryName}"></option>
                        </select> -->
                        <br>
                        <strong id="firstCategoryCode"></strong><strong id="secondCategoryCode"></strong><strong
                           id="thirdCategoryCode"></strong><strong id="quadCategoryCode"></strong>
                     </div>
                  </div>
               </div>



               <div class="form-group row">
                  <label class="col-sm-2" for="productName">상품명@</label>
                  <div class="col-sm-3">
                     <input type="text" id="productName" name="productName" class="form-control">
                  </div>
               </div>

               <div class="form-group row">
                  <label class="col-sm-2" for="productCost">판매가</label>
                  <div class="col-sm-3">
                     <input type="number" id="productCost" name="productCost" class="form-control">
                  </div>
                  <label class="col-sm-2" for="salePrice">할인가</label>
                  <div class="col-sm-3">
                     <input type="number" id="salePrice" name="salePrice" class="form-control">
                  </div>
               </div>

               <div class="countdiv form-group row">
                  <label class="col-sm-2" for="optionCount">재고수량</label>
                  <div class="col-sm-3">
                     <input type="number" id="optionCount" name="productCount" class="form-control">
                  </div>
               </div>
               <!-- <div class="form-group row">
                  <label class="col-sm-2" for="productContent">상품content</label>
                  <div class="col-sm-3">
                     <input type="text" id="productContent" name="productContent" class="form-control">
                  </div>
               </div> -->

               <div class="form-group row">
                  <label class="col-sm-2">옵션 개수</label>
                  <div class="col-sm-3">
                     <select id="optCnt" class="optionsel" name="optCnt">
                        <option value="0" selected>----</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                     </select> <input type="button" value="옵션등록" id="addOption">
                  </div>
               </div>
               <div class="optionBox form-group row" style="display: none;">
                  <label class="col-sm-2">옵션</label>
                  <div class="optionB row g-3"></div>
               </div>
               <div class="form-group row" style="height: 200px; overflow: auto">

                  <label class="col-sm-2" for="">옵션설정</label>

                  <div class="col-sm-3">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>옵션명</th>
                              <th>옵션</th>
                              <th>옵션가격</th>
                              <th>옵션수량</th>
                              <th>최소구매수량</th>
                              <th>최대구매수량</th>
                           </tr>
                        </thead>
                        <tbody id="optiontab">

                        </tbody>
                     </table>
                  </div>
               </div>

               <div class="form-group row">
                  <label class="col-sm-2" for="imgName">메인 이미지</label>
                  <div class="col-sm-3">
                     <input type="file" id="imgName" name="files" accept="image/*" onchange="setThumbnail(event);">
                  </div>
                  <div id="image_container" contenteditable="true"
                     style="outline: none; margin: 0 auto; border: 1px solid black; margin-top: 30px">


                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-sm-2" for="">상세설명</label>
                  <div class="col-sm-3">
                     <a target="_blank" class="detailPro"><strong name="productContent" class="form-control"
                           style="background-color: #00C73C;">작성하러가기</strong></a>
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-sm-2" for="productBrand">브랜드</label>
                  <div class="col-sm-3">
                     <input type="text" id="productBrand" name="productBrand" class="form-control">
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-sm-2" for="unitsInStock">상품인증</label>
                  <div class="col-sm-3">
                     <input type="text" id="unitsInStock" name="unitsInStock" class="form-control">
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-sm-2" for="productOrigin">원산지</label>
                  <div class="col-sm-3">
                     <input type="text" id="productOrigin" name="productOrigin" class="form-control">
                  </div>
               </div>

               <div class="form-group row">
                  <label class="col-sm-2" for="productMakeorigin">제조국</label>
                  <div class="col-sm-3">
                     <input type="text" id="productMakeorigin" name="productMakeorigin" class="form-control">
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-sm-2" for="minOrder">최소구매수량</label>
                  <div class="col-sm-3">
                     <input type="number" id="minOrder" name="minOrder" class="form-control">
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-sm-2" for="maxOrder">최대구매수량</label>
                  <div class="col-sm-3">
                     <input type="number" id="maxOrder" name="maxOrder" class="form-control">
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-sm-2" for="productLocation">출고지</label>
                  <div class="col-sm-3">
                     <input type="text" id="productLocation" name="productLocation" class="form-control">
                  </div>
               </div>

               <div class="form-group row">
                  <label class="col-sm-2" for="deliveryCost">기본배송비</label>
                  <div class="col-sm-3">
                     <input type="number" id="deliveryCost" name="deliveryCost" class="form-control">
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-sm-2" for="exchangeCost">교환배송비</label>
                  <div class="col-sm-3">
                     <input type="number" id="exchangeCost" name="exchangeCost" class="form-control">
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-sm-2" for="returnCost">반품배송비</label>
                  <div class="col-sm-3">
                     <input type="number" id="returnCost" name="returnCost" class="form-control">
                  </div>
               </div>
               <div class="form-group row">
                  <label class="col-sm-2">택배사</label>
                  <div class="col-sm-3">
                     <select id="deliveryService" name="deliveryService">
                        <option value="" disabled="disabled" selected>택배사 선택</option>
                        <option th:each="del : ${delivery}" th:value="${del.codeId}" th:text="${del.codeName}"></option>
                     </select>
                  </div>
               </div>
               <div class="form-group row" th:if="${product != null}">
                  <textarea rows="" cols="" name="productContent"
                     style="display: none;">[[${product.productContent}]]</textarea>
                  <th:block th:each="img, status :${detailImg.imgsVO}">
                     <input type="hidden" th:value="${img.imgName}" th:name="|imgsVO[${status.index}].imgName|">
                     <input type="hidden" th:value="${img.uploadName}" th:name="|imgsVO[${status.index}].uploadName|">
                     <input type="hidden" th:value="${img.uploadPath}" th:name="|imgsVO[${status.index}].uploadPath|">
                     <input type="hidden" th:value="${img.imgContent}" th:name="|imgsVO[${status.index}].imgContent|">
                  </th:block>
               </div>
               <div class="form-group row">
                  <div class="col-sm-offset-2 col-sm-10">
                     <button type="submit" class="submit btn btn-primary">등록</button>
                     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Launch demo modal
                      </button>
                  </div>
               </div>
            </form>

         </div>
         
      </div>
      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         ...
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div>
     </div>
   </div>
 </div>

      <script th:inline="javascript">
         
         $(document).ready(function () {
               let userData = JSON.parse(localStorage.getItem("product"));
               if (userData != null) {
                  if (Date.now() > userData.expire) {
                     localStorage.removeItem("product");
                     localStorage.removeItem("detail");
                     return;
                  }
                  let inputTag = $("#insertForm").find("input").not("[type='button']");
                  let selectTag = $("#insertForm").find("select");
                  for (let i = 0; i < selectTag.length; i++) {
                     inputTag.push(selectTag[i]);
                  }

                  $.each(userData, function (key, value) {
                     // console.log(key);
                     for (let data of inputTag) {
                        let dataName = $(data).attr('name');
                        if (dataName == key) {
                           $(data).val(value);
                           if (dataName == 'optCnt' && $(data).val() != '') {
                              let val = $(data).val();
                              console.log(val);
                              $('.optionB').children().remove();
                              // console.log(val);
                              if (val != 0) {
                                 $('.optionBox').show();
                              } else {
                                 $('.optionBox').hide();
                              }
                              for (let i = 0; i < val; i++) {

                                 let div = $('<div/>').addClass("optionDiv col-md-6");
                                 let labelN = $("<label> /").text("옵션이름");
                                 let optionN = $('<input name="option[' + i +
                                    '].optionName1" class="optionN" type="text" id="optionName' + i +
                                    '"/ value="' + key[i].value + '">');
                                 div.append(labelN);
                                 div.append(optionN);
                                 $('.optionB').append(div);


                                 let labelV = $("<label/>").text("옵션");
                                 let optionV = $('<input name="option[' + i +
                                    '].optionValue1" class="optionV" type="text" placeholder="ex) 파랑,노랑,초록" id="optionVal' +
                                    i + '" />');
                                 div.append(labelV);
                                 div.append(optionV);
                                 $('.optionB').append(div);

                              }
                           }
                        }

                     }


                  })

               }
            })
            // 옵션 input 창   
            -
            $('.optionsel').on('change', function (e) {
               let val = $(this).val();
               $('.optionB').children().remove();
               // console.log(val);
               if (val != 0) {
                  $('.optionBox').show();
                  $('#optionCount').val('');
                  $('.countdiv').hide();
               } else {
                  $('.optionBox').hide();
                  $('.countdiv').show();
               }
               for (let i = 0; i < val; i++) {
                  let div = $('<div/>').addClass("optionDiv col-md-6");
                  let labelN = $("<label> /").text("옵션이름");
                  let optionN = $('<input name="option[' + i +
                     '].optionName" class="optionN" type="text" id="optionName' + i + '"/>');
                  div.append(labelN);
                  div.append(optionN);
                  $('.optionB').append(div);


                  let labelV = $("<label/>").text("옵션");
                  let optionV = $('<input name="option[' + i +
                     '].optionValue" class="optionV" type="text" placeholder="ex) 파랑,노랑,초록" id="optionVal' + i +
                     '" />');
                  div.append(labelV);
                  div.append(optionV);
                  $('.optionB').append(div);

               }
            })


      


         $('#categoryCode').on('change',function(e){
            let val = $(this).val();
            // console.log(val);
            let cateBox = [[${getCategoryList}]];
            let option = $('#categoryCode01');
            // $('.optionBox').remove();
            $('.optionBox01').remove();
            $('.categorybox1').css('display', 'block');
            $('.categorybox2').css('display', 'none');
            $('.categorybox3').css('display', 'none');
            $('#categoryCode01').val(1);
            $('#categoryCode02').val(1);
            $('#categoryCode03').val(1);
            $('#categoryCode01').removeAttr('name');
            $('#categoryCode02').removeAttr('name');
            $('#categoryCode03').removeAttr('name');
            
            $('.disabledsel:eq(0)').attr("selected","selected");
            // console.log(option);
            // console.log(cateBox);
            $(cateBox).each(function(idx,item){
               // console.log(item);
               if(item.parentCategoryCode == val){
                  let opt = $('<option>'+item.categoryName +'</option>');
                  opt.attr('value', item.categoryCode);
                  opt.attr('class','optionBox');
                  
                  option.append(opt);
               }
            })
            // $('.disabledsel').attr("selected", "selected");
         })

         $(document).on('change', '#categoryCode01',function(){
           
            let val = $(this).val();

            $('#categoryCode02').val(1);
      
            let cateBox = [[${getCategoryList}]];
            let option = $('#categoryCode02');
            $('.optionBox01').remove();   
           
            let num = 0;
            $(cateBox).each(function(idx,item){
         
               if(item.parentCategoryCode == val){
                  let opt = $('<option>'+item.categoryName +'</option>');
                  opt.attr('class','optionBox01');
                  opt.attr('value', item.categoryCode);
                  
                  option.append(opt);
                  num++
               }
               // console.log(num);
            })
            if(num != 0){
               $('.categorybox2').css('display', 'block');
               $('.categorybox3').css('display', 'none');
               $('#categoryCode01').removeAttr('name');
               $('#categoryCode02').attr('name','categoryCode');
            }else{
               $('#categoryCode01').attr('name','categoryCode');
               $('#categoryCode02').removeAttr('name');
               
               
               $('.categorybox2').css('display', 'none');
            
            }
         })

         $(document).on('change', '#categoryCode02',function(){
            let val = $(this).val();
            // console.log(val);
            let cateBox = [[${getCategoryList}]];
            let option = $('#categoryCode03');
            $('.optionBox02').remove();   
            $('#categoryCode03').val(1);
            let num = 0;
            $(cateBox).each(function(idx,item){
               // console.log(item);
               if(item.parentCategoryCode == val){
                  let opt = $('<option>'+item.categoryName +'</option>');
                  opt.attr('class','optionBox02');
                  opt.attr('value', item.categoryCode);
                  
                  option.append(opt);
                  num++
               }
            })
            if(num != 0){
               $('.categorybox3').css('display', 'block');
               $('#categoryCode02').removeAttr('name');
               $('#categoryCode03').attr('name','categoryCode');
            }else{
               $('.categorybox3').css('display', 'none');
            }
         })

         // $(document).on("change", "#ChildCate", function () {
         //    let val = $(this).val();
         //    $.ajax({
         //          url: 'childOfCate',
         //          type: 'get',
         //          data: {
         //             'categoryCode': val
         //          }
         //       })
         //       .done(getCategoryList => {
         //          console.log(getCategoryList);
         //          if (val == null) {
         //             $('#ChildOfChildCate').css('display', 'none');
         //          }
         //          $('#ChildOfChildCate').replaceWith(getCategoryList);
         //          $('#ChildOfChildCate').css('display', '');

         //          let selectedOptionText = $(this).find('option:selected').text();

         //          $("#secondCategoryCode").text(selectedOptionText + ' >');

         //       })
         //       .fail(reject => {
         //          console.log(reject);
         //       })
         // })

         $(document).on("change", "#ChildOfChildCate", function () {
            let val = $(this).val();
            // (val);
            $.ajax({
                  url: 'thirdOfCate',
                  type: 'get',
                  data: {
                     'categoryCode': val
                  }
               })
               .done(getCategoryList => {
                  //console.log(getCategoryList);
                  if (val == null) {
                     $('#thirdOfChildCate').css('display', 'none');
                  }
                  $('#thirdOfChildCate').replaceWith(getCategoryList);
                  $('#thirdOfChildCate').css('display', '');

                  let selectedOptionText = $(this).find('option:selected').text();

                  $("#thirdCategoryCode").text(selectedOptionText + ' >');

                  $('#thirdOfChildCate').change(function () {
                     let selectedOptionText = $(this).find('option:selected').text();
                     $("#quadCategoryCode").text(selectedOptionText);
                  });



               })
               .fail(reject => {
                  console.log(reject);
               })
         })


         // document.querySelector('form[name="insertForm"]')
         //    .addEventListener(
         //       'submit',
         //       function (e) {
         //          e.preventDefault();

         //          let productCode = document.getElementsByName('productCode')[0];

         //          if (productCode.value == '') {
         //             alert('상품코드를 입력하세요');
         //             productCode.focus();
         //             return;
         //          }
         //          alert('상품등록이 완료되었습니다.')
         //          insertForm.submit();
         //       }
         //    )

         $(document).on('click', '.submit', function (e) {
            let option = $("input[name='optionName']").val();
            console.log(option);
            e.preventDefault();
            // if($('#selectCategory').val() == null || $('#selectCategory').val() == '' ){
            //    alert("카테고리를 선택해주세요");   
            //    return;
            // }
            let form = $('#insertForm');
            let data = $(form).find('input[type != hidden]');
            /* $(data).each(function(idx,item){
               if($(item).val() == null || $(item).val() == ''){
                  let id = $(item).attr("id");

                  // console.log($(item).attr("id"));
                  alert( $('label[for="'+ id+'"]').text()  + "를 입력해주세요");
                  item.focus();
                  return false;
               }
            })

            if($('#selectdelivery').val() == null || $('#selectdelivery').val() ==''){
               alert("택배사를 선택 해주세요");
               return;
            } */
            localStorage.removeItem('product')
            form.submit();

         })

         function setThumbnail(event) {
            var reader = new FileReader();

            reader.onload = function (event) {
               console.log(event);
               // document.querySelector("div#image_container").removeChild();
               var div = document.querySelector("div#image_container");
               div.removeChild(div.firstChild);
               var divTag = document.createElement("div");
               var img = document.createElement("img");
               img.setAttribute("src", event.target.result);
               img.style.width = "300px";
               img.style.height = "300px";
               divTag.append(img);
               var input = document.createElement('input');
               var textarea = document.createElement("textarea");
               textarea.setAttribute("name", "productImg[0].imgContent");

               divTag.append(textarea);

               document.querySelector("div#image_container").append(divTag)

            };

            reader.readAsDataURL(event.target.files[0]);
         }

         $('#addOption').on('click', function (e) {
            $('#optiontab').empty();
            let optionD = $('.optionDiv');
            let optionN = $('.optionN');
            let optionV = $('.optionV');
            let tbody = $('#optiontab');

            let arr = [];

            for (let i = 0; i < optionV.length; i++) {
               let optionLength = $(optionV[i]).val();
               let optionVal = optionLength.split(',');
               arr.push(optionVal);
            }
            let box0 = arr[0];
            let box1 = arr[1];
            let box2 = arr[2];

            if (optionV.length == 1) {
               for (let i = 0; i < box0.length; i++) {
                  let tr = $('<tr/>');
                  let td = $('<td />');
                  let input = $('<input />').attr('value', (i + 1) + '번째 옵션');
                  input.attr('name', 'optionDetail[' + i + ']');
                  input.attr('readonly', 'true');
                  td.append(input);
                  tr.append(td);

                  td = $('<td/>');
                  input = $('<input />').attr('value', box0[i]);
                  input.attr('name', 'optionDetail[' + i + '].optionLast');
                  input.attr('readonly', 'true');
                  td.append(input);
                  tr.append(td);

                  td = $('<td/>');
                  let inputN = $('<input />').attr('type', 'number');
                  inputN.attr('name', 'optionDetail[' + i + '].optionPrice');
                  inputN.attr('id', 'optionDetail[' + i + '].optionPrice' + i);
                  inputN.css("width", "100px");
                  inputN.attr('value', 0);
                  td.append(inputN);
                  tr.append(td);

                  td = $('<td/>');
                  inputN = $('<input />').attr('type', 'number');
                  inputN.attr('name', 'optionDetail[' + i + '].optionCount');
                  inputN.attr('id', 'optionDetail[' + i + '].optionCount' + i);
                  inputN.css("width", "100px");
                  inputN.attr('value', 0);
                  td.append(inputN);
                  tr.append(td);

                  td = $('<td/>');
                  inputN = $('<input />').attr('type', 'number');
                  inputN.attr('name', 'optionDetail[' + i + '].minOrder');
                  inputN.attr('id', 'optionDetail[' + i + '].minOrder' + i);
                  inputN.css("width", "100px");
                  inputN.attr('value', 0);
                  td.append(inputN);
                  tr.append(td);

                  td = $('<td/>');
                  inputN = $('<input />').attr('type', 'number');
                  inputN.attr('name', 'optionDetail[' + i + '].MaxOrder');
                  inputN.attr('id', 'optionDetail[' + i + '].MaxOrder' + i);
                  inputN.css("width", "100px");
                  inputN.attr('value', 0);
                  td.append(inputN);
                  tr.append(td);
                  tbody.append(tr);
               }
            } else if (optionV.length == 2) {
               for (let i = 0; i < box0.length; i++) {
                  for (let j = 0; j < box1.length; j++) {
                     let tr = $('<tr/>');
                     let td = $('<td />');
                     let input = $('<input />').attr('value', (i + j + 1) + '번째 옵션');
                     input.attr('name', 'optionDetail[' + i + '].optionName');
                     input.attr('readonly', 'true');
                     td.append(input);
                     tr.append(td);

                     td = $('<td/>');
                     input = $('<input />').attr('value', box0[i] + box1[j]);
                     input.attr('name', 'optionDetail[' + i + '].optionLast');
                     input.attr('readonly', 'true');
                     td.append(input);
                     tr.append(td);

                     td = $('<td/>');
                     let inputN = $('<input />').attr('type', 'number');
                     inputN.attr('name', 'optionDetail[' + i + '].optionPrice');
                     inputN.attr('id', 'optionDetail[' + i + '].optionPrice' + i);
                     inputN.css("width", "100px");
                     inputN.attr('value', 0);
                     td.append(inputN);
                     tr.append(td);

                     td = $('<td/>');
                     inputN = $('<input />').attr('type', 'number');
                     inputN.attr('name', 'optionDetail[' + i + '].optionCount');
                     inputN.attr('id', 'optionDetail[' + i + '].optionCount' + i);
                     inputN.css("width", "100px");
                     inputN.attr('value', 0);
                     td.append(inputN);
                     tr.append(td);

                     td = $('<td/>');
                     inputN = $('<input />').attr('type', 'number');
                     inputN.attr('name', 'optionDetail[' + i + '].minOrder');
                     inputN.attr('id', 'optionDetail[' + i + '].minOrder' + i);
                     inputN.css("width", "100px");
                     inputN.attr('value', 0);
                     td.append(inputN);
                     tr.append(td);

                     td = $('<td/>');
                     inputN = $('<input />').attr('type', 'number');
                     inputN.attr('name', 'optionDetail[' + i + '].MaxOrder');
                     inputN.attr('id', 'optionDetail[' + i + '].MaxOrder' + i);
                     inputN.css("width", "100px");
                     inputN.attr('value', 0);
                     td.append(inputN);
                     tr.append(td);
                     tbody.append(tr);
                  }
               }
            } else if (optionV.length == 3) {
               for (let i = 0; i < box0.length; i++) {
                  for (let j = 0; j < box1.length; j++) {
                     for (let x = 0; x < box2.length; x++) {
                        let tr = $('<tr/>');
                        let td = $('<td />');
                        let input = $('<input />').attr('value', (i + j + 1) + '번째 옵션');
                        input.attr('name', 'optionDetail[' + i + '].optionName');
                        input.attr('readonly', 'true');
                        td.append(input);
                        tr.append(td);

                        td = $('<td/>');
                        input = $('<input />').attr('value', box0[i] + box1[j] + box0[x]);
                        input.attr('name', 'optionDetail[' + i + '].optionLast');
                        input.attr('readonly', 'true');
                        td.append(input);
                        tr.append(td);

                        td = $('<td/>');
                        let inputN = $('<input />').attr('type', 'number');
                        inputN.attr('name', 'optionDetail[' + i + '].optionPrice');
                        inputN.attr('id', 'optionDetail[' + i + '].optionPrice' + i);
                        inputN.css("width", "100px");
                        inputN.attr('value', 0);
                        td.append(inputN);
                        tr.append(td);

                        td = $('<td/>');
                        inputN = $('<input />').attr('type', 'number');
                        inputN.attr('name', 'optionDetail[' + i + '].optionCount');
                        inputN.attr('id', 'optionDetail[' + i + '].optionCount' + i);
                        inputN.css("width", "100px");
                        inputN.attr('value', 0);
                        td.append(inputN);
                        tr.append(td);

                        td = $('<td/>');
                        inputN = $('<input />').attr('type', 'number');
                        inputN.attr('name', 'optionDetail[' + i + '].minOrder');
                        inputN.attr('id', 'optionDetail[' + i + '].minOrder' + i);
                        inputN.css("width", "100px");
                        inputN.attr('value', 0);
                        td.append(inputN);
                        tr.append(td);

                        td = $('<td/>');
                        inputN = $('<input />').attr('type', 'number');
                        inputN.attr('name', 'optionDetail[' + i + '].MaxOrder');
                        inputN.attr('id', 'optionDetail[' + i + '].MaxOrder' + i);
                        inputN.css("width", "100px");
                        inputN.attr('value', 0);
                        td.append(inputN);
                        tr.append(td);
                        tbody.append(tr);
                     }
                  }
               }
            }
            let idx = 0;
            // for(let i = 0; i < optionD.length; i++){
            //    let optionN = $(optionD[i]).children('.optionN').val();
            //    let optionV = $(optionD[i]).children('.optionV').val();
            //    let optionVal = optionV.split(',');

            //    for(let j = 0; j < optionVal.length; j++){

            //       let tr = $('<tr/>');
            //       td = $('<td />');
            //       let input = $('<input />').attr('value', optionN);
            //       input.attr('name','option['+idx+'].optionName');
            //       input.attr('readonly','true');
            //       td.append(input);
            //       tr.append(td);

            //       td = $('<td/>');
            //       input = $('<input />').attr('value', optionVal[j]);
            //       input.attr('name','option['+idx+'].optionValue');
            //       input.attr('readonly','true');
            //       td.append(input);
            //       tr.append(td);

            //       // td = $('<td/>');
            //       // let inputN = $('<input />').attr('type','number');
            //       // inputN.attr('name','option['+idx+'].optionCount');
            //       // inputN.attr('id','option['+idx+'].optionCount'+j);
            //       // td.append(inputN);
            //       // tr.append(td);

            //       // td = $('<td/>');
            //       // inputN = $('<input />').attr('type','number');
            //       // inputN.attr('name','option['+idx+'].optionPrice');
            //       // inputN.attr('id','option['+idx+'].optionPrice'+j);
            //       // td.append(inputN);
            //       // tr.append(td);

            //       idx++;
            //       tbody.append(tr);
            //    }
            // }

         })


         // localstorage에 담고 보내기
         $('.detailPro').on('click', function (e) {
            console.log($('input[id="optionName0"]').val());
            e.preventDefault();
            let obj = {
               productName: $('input[name="productName"]').val(),
               productCost: $('input[name="productCost"]').val(),
               salePrice: $('input[name="salePrice"]').val(),
               optionCount: $('input[name="optionCount"]').val(),
               files: $('input[name="files"]').val(),
               productBrand: $('input[name="productBrand"]').val(),
               optCnt: $('select[name="optCnt"]').val(),
               unitsInStock: $('input[name="unitsInStock"]').val(),
               productOrigin: $('input[name="productOrigin"]').val(),
               productMakeorigin: $('input[name="productMakeorigin"]').val(),
               minOrder: $('input[name="minOrder"]').val(),
               maxOrder: $('input[name="maxOrder"]').val(),
               productLocation: $('input[name="productLocation"]').val(),
               deliveryCost: $('input[name="deliveryCost"]').val(),
               exchangeCost: $('input[name="exchangeCost"]').val(),
               returnCost: $('input[name="returnCost"]').val(),
               deliveryService: $('input[name="deliveryService"]').val(),
               option: [{
                     optionName1: $('input[id="optionName0"]').val(),
                     optionValue1: $('input[id="optionVal0"]').val(),
                     optionCount: $('input[id="optionCount0"]').val(),
                     optionPrice: $('input[id="optionPrice0"]').val(),
                  },
                  {
                     optionName1: $('input[id="optionName1"]').val(),
                     optionValue1: $('input[id="optionVal1"]').val(),
                     optionCount: $('input[id="optionCount1"]').val(),
                     optionPrice: $('input[id="optionPrice1"]').val(),
                  },
                  {
                     optionName1: $('input[id="optionName2"]').val(),
                     optionValue1: $('input[id="optionVal2"]').val(),
                     optionCount: $('input[id="optionCount2"]').val(),
                     optionPrice: $('input[id="optionPrice2"]').val(),
                  },
               ],
               expire: Date.now() + 7200000
            }
            window.localStorage.setItem("product", JSON.stringify(obj));
            location.href = '/productContent';
         })
      </script>



   </div>

</html>