<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/sellerHtml}">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- Content -->



<div layout:fragment="sellerContent">


	<div class="row gx-0">
		<div class="col-12 col-lg-auto">

			<!-- NAVBAR -->
			<nav
				class="navbar navbar-expand-lg navbar-vertical navbar-light sticky-start px-lg-7 ">
				<div class="container-fluid">

					<!-- Brand -->
					<a class="navbar-brand" href="/sellerMain"> 판매자센터 </a>

					<!-- Toggler -->
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSidenavLeftCollapse"
						aria-controls="navbarSidenavLeftCollapse" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<!-- Collapse -->
					<div class="collapse navbar-collapse"
						id="navbarSidenavLeftCollapse">

						<!-- Nav -->
						<ul class="navbar-nav fs-lg mb-6 my-lg-12" id="sidenavParent">
							<li class="nav-item">
								<!-- Toggle --> <a class="nav-link dropdown-toggle"
								data-bs-toggle="collapse" href="#sidenavHome"> 상품관리 </a> <!-- Collapse -->
								<div class="collapse" id="sidenavHome"
									data-bs-parent="#sidenavParent">
									<ul class="list-styled fs-base fw-normal py-3 mb-0">
										<li class="list-styled-item"><a class="list-styled-link"
											href="/productList">상품 조회/수정</a></li>
										<li class="list-styled-item"><a class="list-styled-link"
											href="/insertProduct">상품등록</a></li>

									</ul>
								</div>

							</li>
							<li class="nav-item">
								<!-- Toggle --> <a class="nav-link dropdown-toggle"
								data-bs-toggle="collapse" href="#sidenavCatalog"> 판매관리 </a> <!-- Collapse -->
								<div class="collapse" id="sidenavCatalog"
									data-bs-parent="#sidenavParent">
									<div class="row">
										<div class="col-12 py-3">
											<!-- Links -->
											<ul class="list-styled fs-base">
												<li class="list-styled-item"><a
													class="list-styled-link" href="/orderManagement">주문확인/발송관리</a></li>
												<li class="list-styled-item"><a
													class="list-styled-link" href="/cancelProduct">취소관리</a></li>
												<li class="list-styled-item"><a
													class="list-styled-link" href="/exchangeList">교환반품관리</a></li>

											</ul>

										</div>

										<li class="nav-item"><a class="nav-link"
											href="/settlementManagement">정산/통계관리</a></li>
										<li class="nav-item"><a class="nav-link"
											href="/productInquiry">문의관리</a></li>
										<li class="nav-item"><a class="nav-link"
											href="/sellerMypage">판매자정보</a></li>
										<li class="nav-item"><a class="nav-link"
											href="./docs/getting-started.html">고객센터</a></li>
						</ul>

						
						
						

					</div>

				</div>
			</nav>

		</div>
		<div class="col-12 col-lg">
			<div class="panel-body">
				<!---->
				<ui-view name="search">
				<form name="registerForm" novalidate=""
					disable-dynamic-validation="false" ng-submit="vm.queryPage()"
					class="ng-pristine ng-valid ng-valid-required ng-valid-date-time-input"
					style="">
					<div class="seller-search-section" ng-init="vm.showCondition=false"
						ng-show="vm.showCondition" style="">
						<ul class="seller-list-border">
							<li><label class="control-label" for="commentType">구분</label>
							<div class="input-content">
									<div class="form-inline">
										<div class="form-group">
											<div
												class="selectize-control ng-pristine ng-untouched ng-valid single">
												<div
													class="selectize-input items full has-options has-items ng-valid ng-pristine">
													<div data-value="" class="item">전체</div>
													<input type="text" autocomplete="off" tabindex="0"
														readonly="" style="width: 4px;">
												</div>
												<div
													class="selectize-dropdown single ng-pristine ng-untouched ng-valid"
													style="display: none; width: 206px; top: 34px; left: 0px;">
													<div class="selectize-dropdown-content">
														<div data-value="" data-selectable=""
															class="option selected active">전체</div>
														<div data-value="PRODUCT_INQUIRY" data-selectable=""
															class="option">상품 문의</div>
														<div data-value="STORENEWS_COMMENT" data-selectable=""
															class="option">소식 댓글</div>
													</div>
												</div>
											</div>
											<select selectize="" id="commentType" placeholder="전체"
												config="::vm.config.defaultSelectizeConfig"
												options="::vm.config.commentType"
												ng-model="vm.searchFormData.commentType"
												class="ng-pristine ng-untouched ng-valid selectized ng-valid-required ng-empty"
												tabindex="-1"
												style="width: 4px; opacity: 0; position: absolute; left: -10000px;"><option
													value="" selected="selected">전체</option></select>
										</div>
									</div>
								</div></li>
							<li><label class="control-label">문의일</label>
							<div class="input-content">
									<div class="form-inline narrow-area">
										<ncp-datetime-range-picker2
											start-date-model="vm.searchFormData.startDate"
											end-date-model="vm.searchFormData.endDate"
											datetime-picker-format-name="DATE" date-max="'TODAY'"
											date-range-usable="true"
											date-range-option="::vm.config.datePickerRangeOption"
											date-markup-option="{onlyDate:true, buttonFixWidth:true}"><!---->
										<div class="form-group" ng-if="vm.dateRangeUsable" style="">
											<div class="btn-toolbar">
												<div class="btn-group fix-width-col-4"
													ng-class="::{'fix-width-col-4' : vm.dateMarkupOption.buttonFixWidth}"
													ng-attr-data-nclicks-code="{{::vm.nclicksCodeRangeButton}}">
													<!---->
													<button type="button" class="btn btn-primary2"
														ng-repeat="option in vm.dateRangeOption.periods"
														ng-click="vm.onClickRangeButton($index)"
														ng-disabled="vm.dateDisabled"
														ng-class="{ active: option.active }">오늘</button>
													<!---->
													<button type="button" class="btn btn-primary2"
														ng-repeat="option in vm.dateRangeOption.periods"
														ng-click="vm.onClickRangeButton($index)"
														ng-disabled="vm.dateDisabled"
														ng-class="{ active: option.active }">3일</button>
													<!---->
													<button type="button" class="btn btn-primary2"
														ng-repeat="option in vm.dateRangeOption.periods"
														ng-click="vm.onClickRangeButton($index)"
														ng-disabled="vm.dateDisabled"
														ng-class="{ active: option.active }">1주일</button>
													<!---->
													<button type="button" class="btn btn-primary2"
														ng-repeat="option in vm.dateRangeOption.periods"
														ng-click="vm.onClickRangeButton($index)"
														ng-disabled="vm.dateDisabled"
														ng-class="{ active: option.active }">1개월</button>
													<!---->
													<button type="button" class="btn btn-primary2 active"
														ng-repeat="option in vm.dateRangeOption.periods"
														ng-click="vm.onClickRangeButton($index)"
														ng-disabled="vm.dateDisabled"
														ng-class="{ active: option.active }">3개월</button>
													<!---->
												</div>
											</div>
										</div>
										<!---->
										<div class="form-group only-date"
											ng-class="::{'only-date' : vm.dateMarkupOption.onlyDate, 'disabled-date-dimmed' : vm.dateMarkupOption.disabledDateDimmed }"
											style="">
											<div class="seller-calendar">
												<div class="input-daterange date form-inline">
													<div
														class="form-group _startDate_dropdown seller-datetime-picker _error_start_date_7256533940 dropdown"
														ng-class="{dropdown : !vm.datetimePickerDropUp, dropup : vm.datetimePickerDropUp}"
														style="">
														<div
															class="input-group dropdown-toggle dropdown_8507834141"
															data-toggle="dropdown"
															ng-click="vm.isStartDateShow = !vm.dateDisabled &amp;&amp; true"
															ng-attr-data-nclicks-code="{{::vm.nclicksCode}}">
															<input type="text"
																class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-date-time-input"
																name="" title="날짜 입력"
																ng-readonly="::vm.dateInputReadonly"
																ng-required="vm.dateRequired &amp;&amp; !vm.ignoreStartDateRequired"
																ng-disabled="vm.dateDisabled || vm.dateDisabledByPeriodType"
																ncp-disabled="!vm.dateDisabledByPeriodType"
																ng-model="vm.startDateModel"
																model-type="YYYY-MM-DDTHH:mm:ss.SSSZ"
																date-time-input="YYYY.MM.DD."
																data-date-formats="::vm.inputModelFormats"
																ncp-message-container="._error_start_date_7256533940"
																ng-required-err-type="required.daterangepicker.startDate"
																ncp-validate-change-trigger="" readonly="readOnly"
																style="">
															<!---->
															<span class="input-group-addon"
																ng-if="!vm.dateDisabled &amp;&amp; !vm.dateDisabledByPeriodType &amp;&amp; !vm.startDatetimePickerDisabled"
																style=""><a role="button" href=""><i
																	class="fn fn-calendar1" aria-hidden="true"></i><span
																	class="sr-only">달력보기</span></a> </span>
															<!---->
															<!---->
														</div>
														<!---->
													</div>
													<div class="form-group dash">
														<div class="input-group">
															<span class="input-group-addon">~</span>
														</div>
													</div>
													<div
														class="form-group _endDate_dropdown seller-datetime-picker _error_end_date_1196331915 dropdown"
														ng-class="::{dropdown : !vm.datetimePickerDropUp, dropup : vm.datetimePickerDropUp}"
														style="">
														<div
															class="input-group dropdown-toggle dropdown_2678121456"
															data-toggle="dropdown"
															ng-click="vm.isEndDateShow = !vm.dateDisabled &amp;&amp; true"
															ng-attr-data-nclicks-code="{{::vm.nclicksCode}}">
															<input type="text"
																class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required ng-valid-date-time-input"
																name="" title="날짜 입력"
																ng-readonly="::vm.dateInputReadonly"
																ng-required="vm.dateRequired &amp;&amp; !vm.ignoreEndDateRequired"
																ng-disabled="vm.dateDisabled || vm.dateDisabledByPeriodType"
																ncp-disabled="!vm.dateDisabledByPeriodType"
																ng-model="vm.endDateModel"
																model-type="YYYY-MM-DDTHH:mm:ss.SSSZ"
																date-time-input="YYYY.MM.DD."
																data-date-formats="::vm.inputModelFormats"
																ncp-message-container="._error_end_date_1196331915"
																ng-required-err-type="required.daterangepicker.endDate"
																ncp-validate-change-trigger="" readonly="readOnly"
																style="">
															<!---->
															<span class="input-group-addon"
																ng-if="!vm.dateDisabled &amp;&amp; !vm.dateDisabledByPeriodType &amp;&amp; !vm.endDatetimePickerDisabled"
																style=""><a role="button" href=""><i
																	class="fn fn-calendar1" aria-hidden="true"></i><span
																	class="sr-only">달력보기</span></a> </span>
															<!---->
															<!---->
														</div>
														<!---->
													</div>
												</div>
											</div>
											<!---->
										</div>
										</ncp-datetime-range-picker2>
									</div>
								</div></li>
							<li><label class="control-label" for="sellerAnswer">답변</label>
							<div class="input-content">
									<div class="form-inline">
										<div class="form-group">
											<div
												class="selectize-control ng-pristine ng-untouched ng-valid single">
												<div
													class="selectize-input items full has-options has-items ng-valid ng-pristine">
													<div data-value="" class="item">전체</div>
													<input type="text" autocomplete="off" tabindex="0"
														readonly=""
														style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
												</div>
												<div
													class="selectize-dropdown single ng-pristine ng-untouched ng-valid"
													style="display: none; width: 206px; top: 34px; left: 0px; visibility: visible;">
													<div class="selectize-dropdown-content">
														<div data-value="" data-selectable=""
															class="option selected">전체</div>
														<div data-value="false" data-selectable="" class="option">미답변</div>
														<div data-value="true" data-selectable="" class="option">답변완료</div>
													</div>
												</div>
											</div>
											<select config="::vm.config.defaultSelectizeConfig"
												id="sellerAnswer" ng-model="vm.searchFormData.sellerAnswer"
												placeholder="전체" selectize=""
												class="ng-pristine ng-untouched ng-valid selectized ng-valid-required ng-empty"
												tabindex="-1"
												style="width: 4px; opacity: 0; position: absolute; left: -10000px;"><option
													value="" selected="selected">전체</option></select>
										</div>
									</div>
								</div></li>
							<li><label class="control-label" for="searchKeywordType">검색어</label>
							<div class="input-content">
									<div class="form-inline">
										<div class="form-group">
											<div
												class="selectize-control ng-pristine ng-untouched ng-valid single">
												<div
													class="selectize-input items ng-valid ng-pristine full has-options has-items">
													<div data-value="PRODUCT_NAME" class="item">상품명</div>
													<input type="text" autocomplete="off" tabindex="0"
														readonly=""
														style="width: 4px; opacity: 0; position: absolute; left: -10000px;">
												</div>
												<div
													class="selectize-dropdown single ng-pristine ng-untouched ng-valid"
													style="display: none; width: 206px; top: 34px; left: 0px;">
													<div class="selectize-dropdown-content">
														<div data-value="PRODUCT_NAME" data-selectable=""
															class="option selected active">상품명</div>
														<div data-value="CHANNEL_PRODUCT_NO" data-selectable=""
															class="option">상품번호</div>
														<div data-value="CONTENTS_NO" data-selectable=""
															class="option">소식번호</div>
														<div data-value="SHOP_NEWS_NAME" data-selectable=""
															class="option">소식제목</div>
													</div>
												</div>
											</div>
											<select selectize="" id="searchKeywordType" placeholder="상품명"
												config="::vm.config.searchConfig"
												options="::vm.config.searchKeywordType"
												ng-model="vm.searchFormData.searchKeywordType"
												class="ng-pristine ng-untouched ng-valid selectized ng-valid-required ng-not-empty"
												tabindex="-1"
												style="width: 4px; opacity: 0; position: absolute; left: -10000px;"><option
													value="? string:PRODUCT_NAME ?" selected="selected"></option>
												<option value="PRODUCT_NAME">상품명</option></select>
										</div>
										<div class="form-group">
											<div class="seller-input-wrap">
												<input type="text"
													class="form-control ng-pristine ng-untouched ng-valid ng-empty"
													id="keyword" ng-model="vm.searchFormData.keyword"
													ncp-input-clear=""><a role="button"
													class="btn-clear" tabindex="-1" style="display: none;"><span
													aria-label="삭제">×</span></a>
											</div>
										</div>
									</div>
								</div></li>
							<li><div class="seller-btn-area btn-group-lg">
									<button type="submit" class="btn btn-primary">검색</button>
									<button type="button" class="btn btn-default"
										ng-click="vm.initForm(true)">초기화</button>
								</div></li>
						</ul>
					</div>
				</form>
				</ui-view>
				<!---->
				<ui-view name="list"><!----><!---->
				<div class="result-info"
					ng-if="!vm.commentList || vm.commentList.length === 0">
					<div ng-show="vm.isLoading" class="ng-hide" style="">
						<div>
							<img src="../../images/loading_gray.gif" alt="로딩중">
						</div>
					</div>
					<div ng-show="!vm.isLoading" class="" style="">
						<i class="fn-shopping fn-65 fn-shopping-caution1 icon-color-big"
							aria-hidden="true"></i>
						<h3 class="title title-lg">검색 결과가 없습니다.</h3>
						<p class="text-sub">
							설정한 조건에 해당하는 결과가 없습니다.<br>상세 조건을 다시 설정해 주세요.
						</p>
					</div>
				</div>
				<!---->
				<ncp-pagination ng-show="!vm.isLoading" page="vm.pageInfo.page"
					size="vm.pageInfo.size" total="vm.pageInfo.totalCount"
					range="vm.pageInfo.range" search="vm.queryPage" class="" style=""><!----><!----></ncp-pagination></ui-view>
			</div>
		</div>
	</div>
</div>
</html>