<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/sellerHtml}">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- Content -->



<div layout:fragment="sellerContent">


	<div class="row gx-0">
		<div class="col-12 col-lg-auto">

			<!-- NAVBAR -->
			<nav
				class="navbar navbar-expand-lg navbar-vertical navbar-light sticky-start px-lg-7 ">
				<div class="container-fluid">

					<!-- Brand -->
					<a class="navbar-brand" href="/sellerMain"> 판매자센터 </a>

					<!-- Toggler -->
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSidenavLeftCollapse"
						aria-controls="navbarSidenavLeftCollapse" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<!-- Collapse -->
					<div class="collapse navbar-collapse"
						id="navbarSidenavLeftCollapse">

						<!-- Nav -->
						<ul class="navbar-nav fs-lg mb-6 my-lg-12" id="sidenavParent">
							<li class="nav-item">
								<!-- Toggle --> <a class="nav-link dropdown-toggle"
								data-bs-toggle="collapse" href="#sidenavHome"> 상품관리 </a> <!-- Collapse -->
								<div class="collapse" id="sidenavHome"
									data-bs-parent="#sidenavParent">
									<ul class="list-styled fs-base fw-normal py-3 mb-0">
										<li class="list-styled-item"><a class="list-styled-link"
											href="/productList">상품 조회/수정</a></li>
										<li class="list-styled-item"><a class="list-styled-link"
											href="/insertProduct">상품등록</a></li>

									</ul>
								</div>

							</li>
							<li class="nav-item">
								<!-- Toggle --> <a class="nav-link dropdown-toggle"
								data-bs-toggle="collapse" href="#sidenavCatalog"> 판매관리 </a> <!-- Collapse -->
								<div class="collapse" id="sidenavCatalog"
									data-bs-parent="#sidenavParent">
									<div class="row">
										<div class="col-12 py-3">
											<!-- Links -->
											<ul class="list-styled fs-base">
												<li class="list-styled-item"><a
													class="list-styled-link" href="/orderManagement">주문확인/발송관리</a></li>
												<li class="list-styled-item"><a
													class="list-styled-link" href="/cancelProduct">취소관리</a></li>
												<li class="list-styled-item"><a
													class="list-styled-link" href="/exchangeList">교환반품관리</a></li>

											</ul>

										</div>

										<li class="nav-item"><a class="nav-link"
											href="/settlementManagement">정산/통계관리</a></li>
										<li class="nav-item"><a class="nav-link"
											href="/productInquiry">문의관리</a></li>
										<li class="nav-item"><a class="nav-link"
											href="/sellerMypage">판매자정보</a></li>
										<li class="nav-item"><a class="nav-link"
											href="/sellerInquiry">고객센터</a></li>
						</ul>





					</div>

				</div>
			</nav>

		</div>
		<div class="col-12 col-lg">
			<div class="panel-body">
				<div class="_1Vof48UxmD _oVRNwPvxck">

					<div class="_KqV0-1BSnB">
						<button type="button" id="todayBtn" class="btn btn-primary2">
							<span id="today">오늘</span>
						</button>
						<button type="button" id="weekBtn" class="btn btn-primary2">
							<span id="week">1주일</span>
						</button>
						<button type="button" id="oneMonthBtn" class="btn btn-primary2">
							<span id="onemonth">1개월</span>
						</button>
						<button type="button" id="threeMonthBtn"
							class="btn btn-primary2">
							<span id="thmonth">3개월</span>
						</button>

						<div id="dateDisplay"></div>

						<label class="_MN8nIh0X4y">상세조건</label> <select
							class="_4LshyCrDpi" title="리스트 보기">
							<option selected value="">전체</option>
							<option value="member_name">구매자명</option>
							<option value="member_tel">구매자연락처</option>
							<option value="member_id">구매자ID</option>
							<option value="product_code">주문번호</option>
							<option value="delivery_number">송장번호</option>
						</select> <input type="text" class="_3y2h2mGnkI" value="" maxlength="50">
						<div>
							<span>조회기간</span> <input type="DATE" id="from" name="from"
								autocomplete="off"> <label for="to">~</label> <input
								type="DATE" id="to" name="to" autocomplete="off">
						</div>
					</div>
				</div>

				<button type="button" id="orderSearch">검색</button>
			</div>
			<section class="pb-12">
				<div
					style="width: 100%; height: 300px; overflow: auto; border: 1px;">
					<table border="1" class="table" id="getProductList">
						<thead>
							<tr>
								<th>번호</th>
								<th>상품코드</th>
								<th>상품명</th>
								<th>문의내용</th>
								<th>작성일자</th>
								<th>답변상태</th>
							</tr>
						</thead>
						<tbody id="inquiryList">
							<tr th:each="inquiry, index : ${sellerInquiry}"
								data-bs-toggle="collapse" th:href="@{#inquiryForm}">
								<td th:text="${index.count}"></td>
								<td th:text="${inquiry.productCode}"></td>
								<td th:text="${inquiry.productName}"></td>
								<td th:text="${inquiry.queContent}"></td>
								<td th:text="${#dates.format(inquiry.queRegdate, 'yyyy-MM-dd')}"></td>
								<td th:if="${inquiry.queAns == null}">X</td>
								<td th:unless="${inquiry.queAns == null}">O</td>
								<td th:text="${inquiry.queCode}" id="queCode" class="visually-hidden">
								<td th:text="${inquiry.queAns}" id="queAns" class="visually-hidden">
								</td>
							</tr>

							<!-- 반복문 종료 -->
						</tbody>
					</table>
				</div>

				<div class="collapse" id="inquiryForm">
					<!-- Divider -->
					<hr class="my-8" />

					<!-- Form -->

					<div class="row" id="inquiryForm">
						<div class="col-12 mb-6 text-center">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">문의 답변<input type="hidden" /></th>
										<th scope="col"><textarea class="form-control" rows="5"
												readonly id="queContent" name="queContent" required></textarea>
										</th>
										<th scope="col-12"><input type="text"
											class="form-control" id="memberId" name="memberId" readonly />
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="col"><textarea class="form-control" rows="5"
												id="addContent" name="addContent" required placeholder="내용을 입력하세요"></textarea></th>
										<th scope="col-md-6">
											<button id="inquiryAdd" class="btn btn-dark btn-sm"
												type="button">등록하기</button>
										</th>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</section>

		</div>
	</div>
	<script th:inline="javascript">
		$(document).ready(
				function() {
				
					$('#getProductList tbody tr[data-bs-toggle="collapse"]').click(function() {
					    let row = $(this);
					    let productCode = row.find('td:nth-child(2)').text();
					    let productName = row.find('td:nth-child(3)').text();
					    let queContent = row.find('td:nth-child(4)').text();
					    let queAns = row.find('td:nth-child(8)').text();
					    let queCodeValue = row.find('td:nth-child(7)').text();

					    $('#queContent').val(queContent);
					    $('#productCode').val(productCode);
					    $('#productName').val(productName);
						$('#addContent').val(queAns);
						
						
						
					    $('#inquiryAdd').data('queCodeValue', queCodeValue);
					});

					$('#inquiryAdd').click(function() {
					    let queAns = $('#addContent').val();
					    let queCodeValue = $('#inquiryAdd').data('queCodeValue'); 
					    console.log(queAns);
					    console.log(queCodeValue);

					    let dataToSend = [{
					        "queAns": queAns,
					        "queCode": queCodeValue
					    }];

					    $.ajax({
					        url: 'addInquiryAns',
					        type: 'post',
					        contentType: 'application/json',
					        data: JSON.stringify(dataToSend),
					        success: function(data) {
					            console.log(data);
					            refreshList();
					        },
					        error: function(jqXHR, textStatus, errorThrown) {
					            console.log(errorThrown);
					        }
					    });
					});


					function refreshList() {
					    location.reload();
					}
					
					
					
					
					$('#orderSearch').on('click',function(){
						let key = $('._4LshyCrDpi').val();
						let value = $('._3y2h2mGnkI').val();
						let fromDate = $('#from').val();
						let toDate = $('#to').val()
						
						console.log(key,value,fromDate,toDate);

						$.ajax({
							url : 'inquirySearch',
							type : 'get',
							data : {
								"searchValue" : value, 
						 		"searchKey" : key,
						 		fromDate,
						 		toDate
							}
						})
						 		
						
						.done(sellerInquiry=>{
							console.log(sellerInquiry);
							 $('#inquiryList').replaceWith(sellerInquiry); 
							 

						})
						.fail(reject=>{
							console.log(reject);
						})
						
					})
					
					
					const currentDate = new Date();
					const koreanTime = new Date(currentDate).toLocaleString('en-US', { timeZone: 'Asia/Seoul' });
					const formattedDate = koreanTime.split('T')[0];
					$('#to').val(formattedDate);
					  
					  

					
					

					console.log(formattedDate); // 대한민국 시간의 날짜 부분 출력
					  
					  
					 $('#todayBtn').click(function() {
							displayDate('today');
						  });
						  $('#weekBtn').click(function() {
							displayDate('week');
						  });
						  $('#oneMonthBtn').click(function() {
							displayDate('oneMonth');
						  });
						  $('#threeMonthBtn').click(function() {
							displayDate('threeMonth');
						  });
					  
						  // 날짜 표시 함수
					function displayDate(range) {
						const currentDate = new Date();
						let startDate, endDate;
					  
						switch (range) {
						  case 'today':
							startDate = new Date(currentDate);
							endDate = new Date(currentDate);
							break;
						  case 'week':
							startDate = new Date(currentDate);
							endDate = new Date(currentDate);
							startDate.setDate(endDate.getDate() - 7);
							break;
						  case 'oneMonth':
							startDate = new Date(currentDate);
							endDate = new Date(currentDate);
							startDate.setMonth(endDate.getMonth() - 1);
							break;
						  case 'threeMonth':
							startDate = new Date(currentDate);
							endDate = new Date(currentDate);
							startDate.setMonth(endDate.getMonth() - 3);
							break;
						  default:
							startDate = null;
							endDate = null;
						}
					  
						// endDate 값을 input 요소에 설정
						if (startDate) {
						const formattedEndDate = endDate.toISOString().split('T')[0];


						  
						  $('#to').val(formattedEndDate);
						} else {
						  $('#to').val('');
						}
					  
						// startDate 값을 input 요소에 설정
						if (endDate) {
						  // startDate를 yyyy-mm-dd 형식의 문자열로 변환
						  const formattedStartDate = startDate.toISOString().split('T')[0];
						  
						  // input 요소 선택 후 value 설정
						  $('#from').val(formattedStartDate);
						} else {
						  // startDate가 null이면 input 요소 값을 비움
						  $('#from').val('');
						}
					  }
		
		
		
		
});
		
		
		
	</script>
</div>
</html>