<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layouts/sellerHtml}">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- Content -->



<div layout:fragment="sellerContent">
<style>
.myP{
	padding : 30px;
}
</style>

   
      <div class="myP col-12 col-lg">

         <h1>판매자 마이페이지</h1>
         <div class="panel-body">
            <div class="panel-body-info">
                <a
                  href="sellerInfo"
                  ui-sref="main.member-auth-management"
                  class="btn-link text-primary">내 정보 수정하러가기<i
                  class="fn-shopping fn-shopping-forward2"></i></a>
            </div>
            <ul class="seller-list-border" th:each="sellerInfo : ${sellerInfo}">
               <li><label class="control-label">이름</label>
                  <div class="input-content">
                     <div class="form-control-static" th:text=${sellerInfo.memberName}></div>
                  </div></li>
               <li><label class="control-label">로그인ID</label>
                  <div class="input-content">
                     <div class="form-control-static" th:text=${sellerInfo.memberId}></div>
                  </div></li>
               <li><label class="control-label">이메일 주소</label>
                  <div class="input-content">
                     <div class="form-control-static" th:text=${sellerInfo.memberEmail}></div>
                  </div></li>
               <li><label class="control-label">휴대폰<br
                     class="visible-xs">번호
               </label>
                  <div class="input-content">
                     <div class="form-control-static"  th:text=${sellerInfo.memberTel}></div>
                  </div></li>
            </ul>
         </div>
         <div class="panel-heading">
            <h3 class="panel-title">정산정보</h3>
         </div>
         <div class="panel-body">
            <ul class="seller-list-border">
               <!---->
               
               <div class="input-content">
                     <div class="form-group">
                        <div class="seller-input">
                              입금 계좌
                        </div>
                     </div>
                     <p class="sub-text text-primary">정산대금 수령방법 변경시 변경일로부터 1영업일
                        이후에 적용됩니다.</p>
                     <!---->
                     <p class="sub-text text-primary">개인판매자는
                        세금계산서발행동의 후 정산대금이 계좌로 정산됩니다.</p>
                     
                     <p class="sub-text text-primary">세금계산서
                        발행동의는 정산예정금액이 있을경우, 스마트스토어센터 &gt; 판매자 정보 메뉴에서 동의할 수 있습니다.</p>
                     <!---->
                  </div></li>
               
               <li class="visible-xs">입금계좌
               </label>
               <div class="input-content">
                     
                        <div class="form-group form-control-static">
                            <span class="text-sub"></span>
                        </div>
                        
                     <!---->
                     <p class="sub-text text-primary">
                        판매자 정보 메뉴에서 정산계좌 변경이 불가능할 경우 정보변경신청 메뉴에서 변경 신청 해주세요. <a
                           ui-sref="main.judgment.modification.input-info"
                           href="#/judgment/modification" class="btn-link text-primary"
                           data-nclicks-code="settleInfo.changeSettleBA">정보변경신청<i
                           class="fn-shopping fn-shopping-forward2" aria-hidden="true"></i></a>
                     </p>
                  </div></li>
               <!---->
               <!---->
            </ul>
         </div>


         <div class="panel-body">
            <div class="panel-body-info">
               <span class="btn btn-default2 btn-sm">반품/교환지 주소는 내정보 수정에서 수정/변경이
                  가능합니다.</span>
            </div>
            <ul class="seller-list-border">
               
               <li><label class="control-label long-label" for="return-addr">반품/<br
                     class="visible-xs">교환지 주소
               </label>
                  <div class="input-content" th:each="sellerInfo : ${sellerInfo}">
                     <div class="form-inline">
                        <div class="form-group">
                           <input type="text" class="form-control" value="반품교환지"
                              id="return-addr" readonly="readonly" >
                        </div>
                     </div>
                     <div class="form-group">
                        <input type="text" class="form-control"
                           th:value="${sellerInfo.memberAddr} + ',   ' + ${sellerInfo.memberDetailsAddr}" title="반품/교환지 주소"
                           readonly="readonly" >
                     </div>
                     <div class="form-inline">
                        <div class="form-group">
                           <input type="text" class="form-control"  th:value="${sellerInfo.memberTel}"
                              title="반품/교환지 전화번호1" readonly="readonly" >
                        </div>
                        
                     </div>
                  </div></li>
               <!---->
               <!---->
               <!---->
            </ul>
         </div>



      </div>
   </div>
</html>