<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/insertModifyPro}">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart']});
</script>
<!-- Content -->



<div layout:fragment="sellerContent">
	

		<div class="col-12 col-lg">
			<div style="display:flex; justify-content:space-between; margin-bottom:30px">
				<div class="col-3">
					<h3>정산/통계</h3>
				</div>
				<div class="col-3">
					<button class="btn-sm btn-dark" id="statisticsBtn">통계</button>
					<button class="btn-sm btn-dark" id="accountingBtn">정산</button>
				</div>
			</div>

			<div id="contentArea">
				<!-- 비동기로 로드할 내용이 들어갈 영역 -->
			</div>

		</div>



<script type="text/javascript">
$.ajax({
    url: "/seller/statisticsPage", 
    method: "GET",
    success: function (data) {
        $("#contentArea").html(data); 
    },
    error: function () {
    }
});
$("#statisticsBtn").click(function () {
    $.ajax({
        url: "/seller/statisticsPage", 
        method: "GET",
        success: function (data) {
            $("#contentArea").html(data); 
        },
        error: function () {
        }
    });
});

$("#accountingBtn").click(function () {
    $.ajax({
        url: "calculatePage",
        method: "GET",
        success: function (data) {
            $("#contentArea").html(data);
        },
        error: function () {
        	console.log("오류오류")
        }
    });
});
</script>
</div>
</html>
