<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
  <!--headerFragment 선언-->
  
  <div th:fragment="headerFragment">
    <!-- Search -->
    <div
      class="offcanvas offcanvas-end"
      id="modalSearch"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
    >
      <!-- Close -->
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      >
        <i class="fe fe-x" aria-hidden="true"></i>
      </button>

      <!-- Header-->
      <div class="offcanvas-header lh-fixed fs-lg">
        <strong class="mx-auto">Search Products</strong>
      </div>

      <!-- Body: Form 여기 우리 카테고리  넣어함-->
      <div class="offcanvas-body">
        <form>
          <div class="form-group">
            <label class="visually-hidden" for="modalSearchCategories"
              >Categories:</label
            >
            <select class="form-select" id="modalSearchCategories">
              <option selected>All Categories</option>
              <option>Women</option>
              <option>Men</option>
              <option>Kids</option>
            </select>
          </div>
          <div class="input-group input-group-merge">
            <input class="form-control" type="search" placeholder="Search" />
            <div class="input-group-append">
              <button class="btn btn-outline-border" type="submit">
                <i class="fe fe-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- Body: Results (add `.d-none` to disable it) -->
      <div class="offcanvas-body border-top fs-sm">
        <!-- Heading -->
        <p>Search Results:</p>

        <!-- Items -->
        <div class="row align-items-center position-relative mb-5">
          <div class="col-4 col-md-3">
            <!-- Image -->
            <img
              class="img-fluid"
              src="./assets/img/products/product-5.jpg"
              alt="..."
            />
          </div>
          <div class="col position-static">
            <!-- Text -->
            <p class="mb-0 fw-bold">
              <a class="stretched-link text-body" href="./product.html"
                >Leather mid-heel Sandals</a
              >
              <br />
              <span class="text-muted">$129.00</span>
            </p>
          </div>
        </div>
        <div class="row align-items-center position-relative mb-5">
          <div class="col-4 col-md-3">
            <!-- Image -->
            <img
              class="img-fluid"
              src="./assets/img/products/product-6.jpg"
              alt="..."
            />
          </div>
          <div class="col position-static">
            <!-- Text -->
            <p class="mb-0 fw-bold">
              <a class="stretched-link text-body" href="./product.html"
                >Cotton floral print Dress</a
              >
              <br />
              <span class="text-muted">$40.00</span>
            </p>
          </div>
        </div>
        <div class="row align-items-center position-relative mb-5">
          <div class="col-4 col-md-3">
            <!-- Image -->
            <img
              class="img-fluid"
              src="./assets/img/products/product-7.jpg"
              alt="..."
            />
          </div>
          <div class="col position-static">
            <!-- Text -->
            <p class="mb-0 fw-bold">
              <a class="stretched-link text-body" href="./product.html"
                >Leather Sneakers</a
              >
              <br />
              <span class="text-primary">$85.00</span>
            </p>
          </div>
        </div>
        <div class="row align-items-center position-relative mb-5">
          <div class="col-4 col-md-3">
            <!-- Image -->
            <img
              class="img-fluid"
              src="./assets/img/products/product-8.jpg"
              alt="..."
            />
          </div>
          <div class="col position-static">
            <!-- Text -->
            <p class="mb-0 fw-bold">
              <a class="stretched-link text-body" href="./product.html"
                >Cropped cotton Top</a
              >
              <br />
              <span class="text-muted">$29.00</span>
            </p>
          </div>
        </div>
        <div class="row align-items-center position-relative mb-5">
          <div class="col-4 col-md-3">
            <!-- Image -->
            <img
              class="img-fluid"
              src="./assets/img/products/product-9.jpg"
              alt="..."
            />
          </div>
          <div class="col position-static">
            <!-- Text -->
            <p class="mb-0 fw-bold">
              <a class="stretched-link text-body" href="./product.html"
                >Floral print midi Dress</a
              >
              <br />
              <span class="text-muted">$50.00</span>
            </p>
          </div>
        </div>

        <!-- Button -->
        <a class="btn btn-link px-0 text-reset" href="./shop.html">
          View All <i class="fe fe-arrow-right ms-2"></i>
        </a>
      </div>

      <!-- Body: Empty (remove `.d-none` to enable it) -->
      <div class="offcanvas-body d-none">
        <!-- Text -->
        <p class="mb-3 fs-sm text-center">Nothing matches your search</p>

        <!-- Smiley -->
        <p class="mb-0 fs-sm text-center">😞</p>
      </div>
      <!--  검색 div--------------- -->
    </div>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-xl navbar-light">
      <div class="container">
        <!-- Toggler -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarClassicCollapse"
          aria-controls="navbarClassicCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarClassicCollapse">
          <!-- Nav -->
          <ul class="navbar-nav">
            <li class="nav-item dropdown position-static">
              <!-- Toggle -->
              <a class="nav-link" data-bs-toggle="dropdown" href="#">Catalog</a>
              <!-- Menu -->
              <div class="dropdown-menu w-100">
                <div class="card card-lg">
                  <div class="card-body">
                    <div class="container">
                      <div class="row">
                        <div class="mb-5 fw-bold" style="font-size: 24px">
                          Fassion
                        </div>

                        <div class="col-4 col-md">
                          <!-- Heading -->
                          <div class="mb-5 fw-bold">Women</div>

                          <!-- Links -->
                          <ul class="list-styled mb-0 fs-sm">
                            <li class="list-styled-item">
                              <a class="list-styled-link" href="./shop.html"
                                >Clothing</a
                              >
                            </li>
                            <li class="list-styled-item">
                              <a class="list-styled-link" href="./shop.html"
                                >Shoes</a
                              >
                            </li>
                            <li class="list-styled-item">
                              <a class="list-styled-link" href="./shop.html"
                                >Dresses</a
                              >
                            </li>
                            <li class="list-styled-item">
                              <a class="list-styled-link" href="./shop.html"
                                >Bags</a
                              >
                            </li>
                          </ul>
                        </div>
                        <div class="col-4 col-md">
                          <!-- Heading -->
                          <div class="mb-5 fw-bold">Men</div>

                          <!-- Links -->
                          <ul class="list-styled mb-0 fs-sm">
                            <li class="list-styled-item">
                              <a class="list-styled-link" href="./shop.html"
                                >Clothing</a
                              >
                            </li>
                            <li class="list-styled-item">
                              <a class="list-styled-link" href="./shop.html"
                                >Shoes</a
                              >
                            </li>
                            <li class="list-styled-item">
                              <a class="list-styled-link" href="./shop.html"
                                >Coats & Jackets</a
                              >
                            </li>
                          </ul>
                        </div>
                        <div class="col-4 col-md">
                          <!-- Heading -->
                          <div class="mb-5 fw-bold">Unisex</div>

                          <!-- Links -->
                          <ul class="list-styled mb-0 fs-sm">
                            <li class="list-styled-item">
                              <a class="list-styled-link" href="./shop.html"
                                >Clothing</a
                              >
                            </li>
                            <li class="list-styled-item">
                              <a class="list-styled-link" href="./shop.html"
                                >Shoes</a
                              >
                            </li>
                            <li class="list-styled-item">
                              <a class="list-styled-link" href="./shop.html"
                                >Accessories</a
                              >
                            </li>
                          </ul>
                        </div>

                        <div
                          class="d-none d-md-flex flex-column col-md-3"
                        ></div>

                        <div
                          class="d-none d-md-flex flex-column col-md-3"
                        ></div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <!-- 판매순위, 신상 -->
            <li class="nav-item dropdown">
              <!-- Toggle -->
              <a class="nav-link" data-bs-toggle="dropdown" href="#">New</a>
            </li>
            <li class="nav-item dropdown">
              <!-- Toggle -->
              <a class="nav-link" data-bs-toggle="dropdown" href="#">Rank</a>
            </li>
          </ul>
          <!-- 판매순위, 신상 -->
          <!-- Brand -->
          <a
            class="navbar-brand mx-auto d-none d-xl-block"
            href="./overview.html"
          >
            All Right
          </a>

          <!-- Nav 찜 장바구니 마이페이지 검색-->
          <ul class="navbar-nav flex-row">
            <li class="nav-item">
              <a
                class="nav-link"
                data-bs-toggle="offcanvas"
                href="#modalSearch"
              >
                <i class="fe fe-search"></i>
              </a>
            </li>
            <li class="nav-item ms-lg-n4">
              <a class="nav-link" href="./account-orders.html">
                <i class="fe fe-user"></i>
              </a>
            </li>
            <li class="nav-item ms-lg-n4">
              <a class="nav-link" href="./account-wishlist.html">
                <i class="fe fe-heart"></i>
              </a>
            </li>
            <li class="nav-item ms-lg-n4">
              <a
                class="nav-link"
                data-bs-toggle="offcanvas"
                href="#modalShoppingCart"
              >
                <span data-cart-items="2">
                  <i class="fe fe-shopping-cart"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</html>
