<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->

<div th:fragment="headerFragment">
	<!-- Search -->
	<div class="offcanvas offcanvas-end" id="modalSearch" tabindex="-1"
		role="dialog" aria-hidden="true">
		<!-- Close -->
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
			aria-label="Close">
			<i class="fe fe-x" aria-hidden="true"></i>
		</button>

		<!-- Header-->
		<div class="offcanvas-header lh-fixed fs-lg">
			<strong class="mx-auto">Search Products</strong>
		</div>

		<!-- Body: Form 여기 우리 카테고리  넣어함-->
		<div class="offcanvas-body">
			<form>
				<div class="form-group">
					<label class="visually-hidden" for="modalSearchCategories">Categories:</label>
					<select class="form-select" id="modalSearchCategories">
						<option selected>All Categories</option>
						<option>Women</option>
						<option>Men</option>
						<option>Kids</option>
					</select>
				</div>
				<div class="input-group input-group-merge">
					<input class="form-control" type="search" placeholder="Search" />
					<div class="input-group-append">
						<button class="btn btn-outline-border" type="submit">
							<i class="fe fe-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>

		<!-- Body: Results (add `.d-none` to disable it) -->
		<div class="offcanvas-body border-top fs-sm">
			<!-- Heading -->
			<p>Search Results:</p>

			<!-- Items -->
			<div class="row align-items-center position-relative mb-5">
				<div class="col-4 col-md-3">
					<!-- Image -->
					<img class="img-fluid" src="./assets/img/products/product-5.jpg"
						alt="..." />
				</div>
				<div class="col position-static">
					<!-- Text -->
					<p class="mb-0 fw-bold">
						<a class="stretched-link text-body" href="./product.html">Leather
							mid-heel Sandals</a> <br /> <span class="text-muted">$129.00</span>
					</p>
				</div>
			</div>
			<div class="row align-items-center position-relative mb-5">
				<div class="col-4 col-md-3">
					<!-- Image -->
					<img class="img-fluid" src="./assets/img/products/product-6.jpg"
						alt="..." />
				</div>
				<div class="col position-static">
					<!-- Text -->
					<p class="mb-0 fw-bold">
						<a class="stretched-link text-body" href="./product.html">Cotton
							floral print Dress</a> <br /> <span class="text-muted">$40.00</span>
					</p>
				</div>
			</div>
			<div class="row align-items-center position-relative mb-5">
				<div class="col-4 col-md-3">
					<!-- Image -->
					<img class="img-fluid" src="./assets/img/products/product-7.jpg"
						alt="..." />
				</div>
				<div class="col position-static">
					<!-- Text -->
					<p class="mb-0 fw-bold">
						<a class="stretched-link text-body" href="./product.html">Leather
							Sneakers</a> <br /> <span class="text-primary">$85.00</span>
					</p>
				</div>
			</div>
			<div class="row align-items-center position-relative mb-5">
				<div class="col-4 col-md-3">
					<!-- Image -->
					<img class="img-fluid" src="./assets/img/products/product-8.jpg"
						alt="..." />
				</div>
				<div class="col position-static">
					<!-- Text -->
					<p class="mb-0 fw-bold">
						<a class="stretched-link text-body" href="./product.html">Cropped
							cotton Top</a> <br /> <span class="text-muted">$29.00</span>
					</p>
				</div>
			</div>
			<div class="row align-items-center position-relative mb-5">
				<div class="col-4 col-md-3">
					<!-- Image -->
					<img class="img-fluid" src="./assets/img/products/product-9.jpg"
						alt="..." />
				</div>
				<div class="col position-static">
					<!-- Text -->
					<p class="mb-0 fw-bold">
						<a class="stretched-link text-body" href="./product.html">Floral
							print midi Dress</a> <br /> <span class="text-muted">$50.00</span>
					</p>
				</div>
			</div>

			<!-- Button -->
			<a class="btn btn-link px-0 text-reset" href="./shop.html"> View
				All <i class="fe fe-arrow-right ms-2"></i>
			</a>
		</div>

		<!-- Body: Empty (remove `.d-none` to enable it) -->
		<div class="offcanvas-body d-none">
			<!-- Text -->
			<p class="mb-3 fs-sm text-center">Nothing matches your search</p>

			<!-- Smiley -->
			<p class="mb-0 fs-sm text-center">😞</p>
		</div>
		<!--  검색 div--------------- -->
	</div>

	<!-- NAVBAR -->
	<div
		class="navbar navbar-topbar navbar-expand-xl navbar-light bg-light">
		<div class="container">

			<!-- Promo -->
			<div class="me-xl-8">
				<i class="fe fe-truck me-2"></i> <span class="heading-xxxs">Free
					shipping worldwide</span>
			</div>

			<!-- Toggler -->
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#topbarCollapse"
				aria-controls="topbarCollapse" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Collapse -->
			<div class="collapse navbar-collapse" id="topbarCollapse">

				<!-- Nav -->
				<ul class="nav nav-divided navbar-nav me-auto">

				</ul>

				<!-- Nav -->
				<ul class="nav navbar-nav me-8">
					<li class="nav-item"><a class="nav-link"
						href="./shipping-and-returns.html" th:text="${session.loginMember} != null ? ${session.loginMember.memberId} :'TT' ">Shipping</a></li>
					<li class="nav-item">
						<a class="nav-link" href="./faq.html" >@@</a>
					</li>
					<li class="nav-item dropdown hovered">
						<!-- Toggle --> <a class="nav-link" data-bs-toggle="dropdown"
						href="#" aria-expanded="false">고객센터</a> <!-- Menu -->
						<div class="dropdown-menu">
							<div class="card card-lg">
								<div class="card-body">
									<ul class="list-styled fs-sm">
										<li class="list-styled-item"><a class="list-styled-link"
											href="/custom/faqList">FAQ</a></li>
										<li class="list-styled-item"><a class="list-styled-link"
											href="/custom/notice">공지사항</a></li>
										<li class="list-styled-item"><a class="list-styled-link" id="customInq"
											href="#">1:1문의</a></li>
									</ul>
								</div>
							</div>
						</div>

					</li>
				</ul>

				<!-- Nav -->
				<ul class="nav navbar-nav flex-row">
					<li class="nav-item"><a class="nav-link text-gray-350"
						href="#!"> <i class="fab fa-facebook-f"></i>
					</a></li>
					<li class="nav-item ms-xl-n4"><a
						class="nav-link text-gray-350" href="#!"> <i
							class="fab fa-twitter"></i>
					</a></li>
					<li class="nav-item ms-xl-n4"><a
						class="nav-link text-gray-350" href="#!"> <i
							class="fab fa-instagram"></i>
					</a></li>
					<li class="nav-item ms-xl-n4"><a
						class="nav-link text-gray-350" href="#!"> <i
							class="fab fa-medium"></i>
					</a></li>
				</ul>

			</div>
		</div>
	</div>
	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-xl navbar-light">
		<div class="container">
			<!-- Toggler -->
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarClassicCollapse"
				aria-controls="navbarClassicCollapse" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Collapse -->
			<div class="collapse navbar-collapse" id="navbarClassicCollapse">
				<!-- Nav -->
				<ul class="navbar-nav">
					<a class="nav-link" data-bs-toggle="dropdown" href="#">Category</a>

					<!-- Menu -->
					<div class="dropdown-menu w-100">

						<!-- Tabs -->
						<div class="mb-2 mb-lg-0 border-bottom-lg">
							<div class="container" style="display: flex">
								<div class="row" th:each="category:${categories}">
									
										<ul  >
											<li class="nav-item dropdown">
												<!-- Toggle --> 
												<a class="nav-link" data-bs-toggle="dropdown" th:text="${category.categoryCode}">Fassion</a> 
												
												<!-- Menu -->
												<div class="dropdown-menu" style="min-width: 650px">
													<div class="card card-lg">
														<div class="card-body">
															<div class="row">
																<div class="col">
																	<!-- Heading -->
																	<div class="mb-5 fw-bold">남성 상의</div>

																	<!-- Links -->
																	<ul class="list-styled mb-7 fs-sm">
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./shop.html">Default</a>
																		</li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./shop-topbar.html">Topbar</a>
																		</li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./shop-collapse.html">Collapse</a>
																		</li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./shop-simple.html">Simple</a>
																		</li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./shop-masonry.html">Masonry</a>
																		</li>
																	</ul>

																	<!-- Heading -->
																	<div class="mb-5 fw-bold">남성하의</div>

																	<!-- Links -->
																	<ul class="list-styled fs-sm">
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./product.html">Default</a>
																		</li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./product-images-left.html">Images Left</a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./product-image-grid.html">Image Grid</a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./product-image-slider.html">Image Slider</a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./product-images-stacked.html">Images
																				Stacked</a></li>
																	</ul>
																	
																	
																	
																</div>
																
																
																<div class="col">
																	<!-- Heading -->
																	<div class="mb-5 fw-bold">남성 신발</div>

																	<!-- Links -->
																	<ul class="list-styled mb-7 fs-sm">
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./shop.html">Default</a>
																		</li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./shop-topbar.html">Topbar</a>
																		</li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./shop-collapse.html">Collapse</a>
																		</li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./shop-simple.html">Simple</a>
																		</li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./shop-masonry.html">Masonry</a>
																		</li>
																	</ul>

																	<!-- Heading -->
																	<div class="mb-5 fw-bold">여성 상의</div>

																	<!-- Links -->
																	<ul class="list-styled fs-sm">
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./product.html">Default</a>
																		</li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./product-images-left.html">Images Left</a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./product-image-grid.html">Image Grid</a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./product-image-slider.html">Image Slider</a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./product-images-stacked.html">Images
																				Stacked</a></li>
																	</ul>
																	
																	
																	
																</div>
																
																<div class="col">
																	<!-- Heading -->
																	<div class="mb-5 fw-bold">여성 하의</div>

																	<!-- Links -->
																	<ul class="list-styled mb-7 fs-sm">
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./shopping-cart.html">Shopping
																				Cart</a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./checkout.html">Checkout</a>
																		</li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./order-completed.html">Order Completed</a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./shipping-and-returns.html">Shipping &
																				Returns</a></li>
																	</ul>

																	<!-- Heading -->
																	<div class="mb-5 fw-bold">여성 신발</div>

																	<!-- Links -->
																	<ul class="list-styled fs-sm">
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./account-order.html">Order</a>
																		</li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./account-orders.html">Orders</a>
																		</li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./account-wishlist.html">Wishlist</a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./account-personal-info.html">Personal Info</a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./account-address.html">Addresses</a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./account-address-edit.html">Addresses: New</a></li>
																	</ul>
																</div>
																<div class="col">
																	<!-- Links -->
																	<ul class="list-styled mb-7 fs-sm">
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./account-payment.html">Payment</a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./account-payment-edit.html">Payment: New</a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link"
																			href="./account-payment-choose.html">Payment:
																				Choose</a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" href="./auth.html">Auth</a>
																		</li>
																	</ul>

																	<!-- Heading -->
																	<div class="mb-5 fw-bold">공용</div>

																	<!-- Links -->
																	<ul class="list-styled fs-sm">
																		<li class="list-styled-item"><a
																			class="list-styled-link" data-bs-toggle="modal"
																			href="#modalNewsletterHorizontal"> Newsletter:
																				Horizontal </a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" data-bs-toggle="modal"
																			href="#modalNewsletterVertical"> Newsletter:
																				Vertical </a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" data-bs-toggle="modal"
																			href="#modalProduct"> Product </a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" data-bs-toggle="offcanvas"
																			href="#modalSearch"> Search </a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" data-bs-toggle="offcanvas"
																			href="#modalShoppingCart"> Shopping Cart </a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" data-bs-toggle="modal"
																			href="#modalSizeChart"> Size Chart </a></li>
																		<li class="list-styled-item"><a
																			class="list-styled-link" data-bs-toggle="modal"
																			href="#modalWaitList"> Wait List </a></li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</li>

										</ul>

									
								</div>
							</div>
						</div>



					</div>

					</li>

					<!-- 판매순위, 신상 -->
					<li class="nav-item dropdown">
						<!-- Toggle --> <a class="nav-link" data-bs-toggle="dropdown"
						href="#">New</a>
					</li>
					<li class="nav-item dropdown">
						<!-- Toggle --> <a class="nav-link" data-bs-toggle="dropdown"
						href="#">Rank</a>
					</li>
				</ul>
				<!-- 판매순위, 신상 -->
				<!-- Brand -->
				<a class="navbar-brand mx-auto d-none d-xl-block" href="/"> All
					Right </a>

				<!-- Nav 찜 장바구니 마이페이지 검색-->
				<ul class="navbar-nav flex-row">
					<li class="nav-item"><a class="nav-link"
						data-bs-toggle="offcanvas" href="#modalSearch"> <i
							class="fe fe-search"></i>
					</a></li>
					<li class="nav-item ms-lg-n4"><a class="nav-link"
						href="./account-orders.html"> <i class="fe fe-user"></i>
					</a></li>
					<li class="nav-item ms-lg-n4"><a class="nav-link"
						href="./account-wishlist.html"> <i class="fe fe-heart"></i>
					</a></li>
					<li class="nav-item ms-lg-n4"><a class="nav-link"
						data-bs-toggle="offcanvas" href="#modalShoppingCart"> <span
							data-cart-items="2"> <i class="fe fe-shopping-cart"></i>
						</span>
					</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<script th:inline="javascript">
		$('#customInq').on('click', function (e) {
			let member = [[${session.loginMember}]];
			if (member == null) {
				alert("로그인 하셔야 서비스를 이용하실 수 있습니다.");
				return;
			}else{
				location.href="/custom/inquiry";
			}
		})
	</script>
</div>
</html>
