<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
    
<!-- Content -->
<div layout:fragment="content">
    
    <!-- 결제 상품 정보 -->
 
    <!-- BREADCRUMB -->
    <nav class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-0 fs-xs text-gray-400">
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="/">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-gray-400" th:href="@{/cart/cartView}">장바구니</a>
              </li>
              <li class="breadcrumb-item active">
                주문/결제
              </li>
            </ol>

          </div>
        </div>
      </div>
    </nav>

    <!-- CONTENT -->
    <section class="pt-7 pb-12">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">

            <!-- Heading -->
            <h3 class="mb-4">주문/결제</h3>

          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-7">

            <!-- Form -->
            <form>

              <!-- Heading -->
              <h6 class="mb-7">주문자 정보</h6>

              <!-- Billing details -->
              <div class="row mb-9">
                <div class="col-12">

                  <!--주문자 정보-->
                  <!-- 이름 -->
                
                  <div class="form-group">
                    <div th:each="gets,index : ${orderGet}" th:if="${index.index} < 1">
                    <label class="form-label" for="checkoutBillingFirstName">이름 *</label>
                    <div class="input-group mb-8">                      
                      <input type="text" class="form-control" id="mName" placeholder="이름 작성" aria-label="Recipient's username" aria-describedby="button-addon2" th:value="${gets.memberName}" readonly>                     
                      <button class="btn btn-outline-secondary" type="button" id="deliveryInfo">배송지 정보로 등록</button>
                    </div>
                    </div>
                  </div>
                </div>

                <!-- 배송지 주소 -->
                <div th:each="gets,index : ${orderGet}" th:if="${index.index} < 1">
                  <div class="col-12">
                  
                    <div class="form-group">
                      <input class="form-control form-control-sm" id="mAddr" type="tel" placeholder="배송지 상세주소" required th:value="|${gets.memberAddr} , ${gets.memberDetailsAddr}|" readonly>
                      <input type="hidden" id="mAddr1" th:value="${gets.memberAddr}"> 
                      <input type="hidden" id="mAddr2" th:value="${gets.memberDetailsAddr}">
                    </div>
                  </div><br>

                  <div class="col-12">
                  <!-- Email -->
                    <div class="form-group">
                      <label class="form-label" for="checkoutBillingEmail">Email *</label>
                      <input class="form-control form-control-sm" id="mEmail" type="email" placeholder="abc@abc.com" required th:value="${gets.memberEmail}" readonly>
                  </div>
                  </div>
             
                  <div class="col-12">
                  <!-- Mobile Phone -->
                    <div class="form-group">
                     <label class="form-label" for="checkoutBillingPhone">연락처 *</label>
                     <input class="form-control form-control-sm" id="mTel" type="tel" placeholder="010-0000-0000" required th:value="${gets.memberTel}" readonly>
                    </div>
                 </div>
                </div>
                <hr>

                <!-- Heading -->
            <h6 class="mb-7">주문상품</h6>

            <!-- Divider -->
            <hr class="my-7">

            <!-- List group -->

            <ul class="list-group list-group-lg list-group-flush-y list-group-flush-x mb-7">
              
                <li class="list-group-item" th:each="gets : ${orderGet}">
                  <div class="row align-items-center">
                    <div class="col-4">
                      
                      <!-- Image -->
                      <a href="product.html">
                        <img th:src="@{/img/products/}+${gets.uploadName}" alt="..." class="img-fluid">
                      </a>

                    </div>
                    <div class="col">

                      <!-- Title -->
                      
                      <p class="mb-4 fs-sm fw-bold">  
                         <input type="hidden" th:value="${gets.productCode}">
                         <input type="hidden" name="couponUsePrice" class="text-body" th:text="${gets.productName}" ><br>
                         상품금액 : <span class="text-muted" style="text-decoration: line-through;" th:text="|${gets.productCost + gets.optionPrice}|"></span>원 <br>
                        <span class="text-muted" th:text="|할인된 금액 : ${gets.productCost - gets.salePrice + gets.optionPrice}|"></span>원
                        <div class="input-group mb-8">
                          <input style="margin-top: 15px;" type="text" class="form-control" placeholder="쿠폰 선택하세요." aria-label="Recipient's username" aria-describedby="button-addon2" id="couponSelect" readonly>
                         
                         <a class="btn btn-outline-secondary list-styled-link couponBtn" data-bs-toggle="modal" href="#modalNewsletterHorizontal" style="margin: 20px;" >쿠폰선택</a>
                         
                        </div> 
                        <p>쿠폰 할인 금액 : <input type="text" style="border-width: 0 0 1px;" readonly class="couponSalePrice">원 
                          <button class="btn btn-outline-secondary couponResult" type="button">사용하기</button>
                        </p>         
                      </p>
                      <!-- Text -->
                      <div class="fs-sm text-muted" th:text="|${gets.optionName} : ${gets.optionValue}|"></div>
                      <div class="fs-sm text-muted" th:text="|수량 :${gets.cartCount}|"></div>
                    </div>
                  </div>
               </li>
            </ul>
                 <!-- Heading -->
              <h6 class="mb-7">배송 정보</h6>

                <div class="col-12">
                  <!-- Address Line 1 -->
                  <div class="form-group">
                    <label class="form-label" for="checkoutBillingAddress">받는 사람 *</label>
                    <input class="form-control form-control-sm" id="deliveryName" type="text" placeholder="이름 작성" required>
                  </div>
                </div>

                <div class="col-12">
                  <!-- Address Line 2 -->
                  <div class="form-group">
                    <div class="input-group mb-8">
                      <input type="text" class="form-control" placeholder="배송지  정보"  id="addr">
                      <button class="btn btn-outline-secondary" type="button" id="addressSearch">주소검색</button>
                    </div>
                  </div>
                </div>

                 <!-- 배송지 주소 -->
                <div class="col-12">
                  <div class="form-group">
                    <input class="form-control form-control-sm" type="text" placeholder="배송지 상세주소" required id="addrDt">
                  </div>
                </div><br>
            
                <div class="col-12">
                  <!-- Mobile Phone -->
                  <div class="form-group mb-0">
                    <label class="form-label" for="checkoutBillingPhone">연락처 *</label>
                    <input class="form-control form-control-sm"  type="tel" placeholder="010-0000-0000" required id="deliveryTel">
                  </div>
                  
                </div>

                <!--요청 사항-->
                <div class="col-12">
                <br>
                <h6>배송 요청사항</h6>
                <!-- Notes -->  
                <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="selbox">
                  <option selected>배송 요청 선택</option>
                  <option th:each="codeValue : ${codeList}" th:value="${codeValue.codeId}" th:text="${codeValue.codeName}"></option>
                </select>
                <input type="text" id="selectDirect" class="form-control form-control-sm" placeholder="배송 기타 요청사항 작성해주세요.">

                </div>

              </div>

              <hr>
              
            
            </form>

          </div>
          <div class="col-12 col-md-5 col-lg-4 offset-lg-1">

            

            <!-- Card -->
            <div class="card mb-9 bg-light " style="position: fixed; right: 50; top: 100;">
              <div class="card-body">
                <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
                  <li class="list-group-item d-flex">
                    <span>상품금액</span> <span class="ms-auto fs-sm" id="productPrice"></span>원
                  </li>
                  <li class="list-group-item d-flex">
                    <span>상품할인금액</span> <span class="ms-auto fs-sm" id="salePrice"></span>원
                  </li>
                  <li class="list-group-item d-flex">
                    <span>쿠폰할인</span> <span class="ms-auto fs-sm" id="couponSale"></span>원
                  </li>
                  <li class="list-group-item d-flex">
                    <span>배송비</span> <span class="ms-auto fs-sm" id="deliveryPrice"></span>원
                  </li>
                  <li class="list-group-item d-flex fs-lg fw-bold">
                    <span>결제금액</span> <span class="ms-auto" id="totalPrice"></span>원
                  </li>
                </ul>
              </div>
              <hr>
              <ul style="list-style-type: none;">
                <li>
                <p class="mb-7 fs-xs text-gray-500">
                  귀하의 개인 데이터는 귀하의 주문을 처리하고, 이 웹사이트 전반에 걸쳐 귀하의 경험을 지원하고,
                  당사의 개인 정보 보호 정책에 설명된 기타 목적을 위해 사용됩니다.
                </p>
              </li>
              </ul>
            </div>

            <!-- Disclaimer -->
          </div>
        </div>
      </div>
    </section>

    
    <!-- 토스 결제 위젯 -->
	<div class="title"></div>
	  <div id="payment-method"></div>
	  <div id="agreement"></div> 
  <!-- Button -->
  <div>
    <button class="btn btn-dark" id="payment-button" style="padding: 10px; width: 200px; margin: auto; display: block;">결제하기</button>   
  </div>

  <div>
    <br>
  </div>


  <!-- MODALS -->
  <!-- Newsletter: Horizontal -->
  <div class="modal fade" id="modalNewsletterHorizontal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">

        <!-- Close -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <i class="fe fe-x" aria-hidden="true"></i>
        </button>
  
        <!-- Content -->
       
          <div class="col-12 col-lg-16 d-flex flex-column px-md-8">
  
            <!-- Body -->
            <div class="modal-body my-auto py-10" id="couponPage">
              
              <style>
                table{
                  font-size: 11px;
                }
                tr:hover {
                  background-color: #ddd;
                }
                td, th {
                  text-align: center;
                  font-size: 12px;
                }
              </style>
              <!-- Heading -->
              <h4>나의 쿠폰함</h4>

                <table class="table table-bordered" style="border-collapse: collapse;">
                  <thead>
                    <tr>
                      <th>쿠폰코드</th>
                      <th>쿠폰명</th>
                      <th>내용</th>
                      <th>할인금액(원,율)</th>
                      <th>발급일자</th>
                      <th>사용종료일자</th>
                      <th>선택</th>
                    </tr>
                    
                  </thead>
                  <tbody>
                 
                    <tr class="clickable-row" th:each="couponRest : ${couponList}">
                      <td th:text="${couponRest.mycouponCode}" th:data-max="${couponRest.couponMaxPrice}"></td>
                      <td th:text="${couponRest.couponName}"></td>
                      <td th:text="${couponRest.couponContent}"></td>
                      <td th:text="${couponRest.couponDiscountPrice} == '0' ? |${couponRest.couponDiscountRate}%| : |${couponRest.couponDiscountPrice}원|"></td>
                      <td th:text="${#dates.format(couponRest.issueDate, 'yy/MM/dd')}"></td> 
                      <td th:text="${#dates.format(couponRest.endDate, 'yy/MM/dd')}"></td>
                      <td><input type="button" class="select-button"></td>
                    </tr>
                  
                  </tbody>
                </table>
            
              </div>
          </div>
      </div>
</div>
</div>
  
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:inline="javascript">

let couponAmount = 0;
 

    //주소 api로 입력
    $('#addressSearch').on('click', addrPopup);
    function addrPopup(){
        new daum.Postcode({
            oncomplete: function(data) {
                $('#addr').val(data.address);
                $("#addrDt").focus();
            }
        
        }).open();
    }
    //상품 금액 연산 정리
    let result = 0; // 총금액
    let deliveryPay = 0;
    let saleToal = 0;
    let productTotal = 0;
    let toalPay=0;
    let totalMoney =0;
    let couponTarget;
    let getPrice = [[${orderGet}]];

    console.log(getPrice)
    
      // total 가격 나중에 쿠폰 가격  빼야함.
      for(let key in  getPrice) {
      result = result + ((getPrice[key].productCost + getPrice[key].optionPrice - getPrice[key].salePrice ) * getPrice[key].cartCount); 
      totalMoney = totalMoney + ((getPrice[key].productCost + getPrice[key].optionPrice - getPrice[key].salePrice ) * getPrice[key].cartCount); 
      }
      // 배송비
      for(let key in getPrice) {
        deliveryPay = deliveryPay + (getPrice[key].deliveryCost);
      }
      //할인 상품 가격
      for(let key in getPrice) {
        saleToal = saleToal + (getPrice[key].salePrice * getPrice[key].cartCount);
      }
      result = result + deliveryPay;
	   // 상품 가격
      for(let key in getPrice) {
        productTotal = productTotal + ((getPrice[key].productCost +  getPrice[key].optionPrice)* getPrice[key].cartCount);
      }
      // 상품 가격 - 상품 할인가격
      let realPrice = productTotal - saleToal;
      console.log(realPrice);

      $('#productPrice').text(productTotal); // 상품금액
      $('#salePrice').text(saleToal); // 상품할인 금액
      $('#deliveryPrice').text(deliveryPay); // 배송비
      $('#totalPrice').text(result); // 총금액 
      
      
      //선택 상품 가격
      let couDiscount = 0;
      function selectPro(selectPrice) {
        $('#couponSelect').val('쿠폰 선택하세요.');
        $('.couponSalePrice').val(couDiscount);
        $('#couponSale').text(couDiscount);
        realPrice = selectPrice;
      }

      
        let productNum = "";
      	let coupon;
        //모달 창 쿠폰 값 주문 페이지 넘기기
        $('.couponBtn').on('click', function(e){        
         coupon = e.target;       
        })
        
    
        let couponNum = 0;
        let roundPrice = 0;
        $('#modalNewsletterHorizontal').on('shown.bs.modal', function(){
          $('.select-button').off("click");

          $('.select-button').on('click',function(e){
            let thisRow = $(this).closest('tr');
            let maxPrice =  thisRow.find('td:eq(0)').data('max');
            console.log(maxPrice);
            couponNum = thisRow.find('td:eq(0)').text();
            let couName = thisRow.find('td:eq(1)').text(); 
            let couDiscount = Number(thisRow.find('td:eq(3)').text().slice(0,-1));
            
            if(couDiscount < 100) {
             couDiscount  = realPrice * couDiscount / 100;
            } else {
              couDiscount;
            }
            roundPrice = (Math.ceil(couDiscount / 100) * 100);
            console.log(roundPrice);
            
            $(coupon).closest(".list-group-item").find('.couponSalePrice').val(roundPrice);
            $(coupon).closest(".list-group-item").find('#couponSelect').val(couName);          

            $('#modalNewsletterHorizontal').modal('hide'); //모달 닫기
            
          });
          

        }) 
        
        let conponAll = 0;
        //총 금액에서 쿠폰 값 빼기
        $('.couponResult').on('click', function(e){
                
                let couponPay = Number($(this).closest(".list-group-item").find('.couponSalePrice').val());
                conponAll = conponAll + couponPay;
                console.log(conponAll);
                couDiscount = $('#couponSale').text(roundPrice);

                 
                  Number($('#totalPrice').text((result-roundPrice)));
                  toalPay  =  Number(result-roundPrice);
                  result = toalPay;
                  console.log(toalPay);
                
            })
            

    //배송 요청 사항 직접 입력시 생성
    $('#selectDirect').hide();
    $('#selbox').change(function(){
      if($('#selbox').val() == 4) {
        $('#selectDirect').show();
      } else {
        $('#selectDirect').hide();
      }
    });

    // 배송 요청 사항 본인 내용 넘길 때 버튼
    $('#deliveryInfo').on('click', function(e){
      $('#deliveryName').val($('#mName').val());
      $('#addr').val($('#mAddr1').val());
      $('#addrDt').val($('#mAddr2').val());
      $('#deliveryTel').val($('#mTel').val());
    });
    
   //토스 위젯
   	const clientKey = 'test_ck_GjLJoQ1aVZJKQEvkvAWVw6KYe2RN' // 상점을 특정하는 키
    const customerKey = 'YbX2HuSlsC9uVJW6NMRMj' // 결제 고객을 특정하는 키
    
    // 할인 쿠폰 금액

   
    let amount = Number($('#totalPrice').text()); // 결제 금액
    
    console.log(amount);

  /*결제위젯 영역 렌더링*/
  const paymentWidget = PaymentWidget(clientKey, customerKey) // 회원 결제
  //paymentMethods = paymentWidget.renderPaymentMethods('#payment-method', amount)
  
  /*약관 영역 렌더링*/
  const paymentAgreement = paymentWidget.renderAgreement('#agreement')
  
  /*결제창 열기*/
  document.querySelector("#payment-button").addEventListener("click",()=>{
    let amount = Number($('#totalPrice').text()); // 결제 금액
    paymentWidget.renderPaymentMethods('#payment-method', amount)
    let uuid = self.crypto.randomUUID().slice(0,-10);
    console.log(uuid);

    //save 주문 내역 insert 할 데이터
    let deliveryReq = '';
    if($('#selbox').val() == 4) {
      deliveryReq = $('#selectDirect').val();
    } else {
      deliveryReq = $('#selbox').val();
    }
    // productCode productSalePrice
    let orderPayVO =
    {
        orderPrice : amount,
        orderAddr : $('#addr').val(),
        orderDetailsAddr : $('#addrDt').val(),
        recipientName : $('#deliveryName').val(),
        recipientTel : $('#deliveryTel').val(),
        requestedTerm : deliveryReq,
        mycouponCode :couponNum,
        productCode : productNum,
        productSalePrice : realPrice,
        couponPrice : roundPrice
    }
    //ajax - async:false - 비동식 save 데이터 받아서 보냄
    $.ajax('/orders/save',{
      async:false,
      type : 'post', 
      data : JSON.stringify(orderPayVO),   //{변수명 : 변수값}   data : JSON.stringify({orderPayVO:orderPayVO, orderPayVO :provo}),  리스트 넣기.
      contentType : 'application/json'
    })

    paymentWidget.requestPayment({
      orderId: uuid,
      orderName: [[${productName}]],
      successUrl: 'http://localhost:8090/orders/credit',
      failUrl: 'https://my-store.com/fail',
      customerEmail: [[${orderGet[0].memberEmail}]], 
      customerName: [[${orderGet[0].memberName}]]
      }).catch(function (error) {
          if (error.code === 'USER_CANCEL') {
          // 결제 고객이 결제창을 닫았을 때 에러 처리
          } if (error.code === 'INVALID_CARD_COMPANY') {
            // 유효하지 않은 카드 코드에 대한 에러 처리
          }
      })  
  })

    </script>
    
</div>
</html>