<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
    
    
    <!-- 결제 상품 정보 -->
 
    <!-- BREADCRUMB -->
    <nav class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-0 fs-xs text-gray-400">
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="shopping-cart.html">장바구니</a>
              </li>
              <li class="breadcrumb-item active">
                주문/결제
              </li>
            </ol>

          </div>
        </div>
      </div>
    </nav>

    <!-- CONTENT -->
    <section class="pt-7 pb-12">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">

            <!-- Heading -->
            <h3 class="mb-4">주문/결제</h3>

          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-7">

            <!-- Form -->
            <form>

              <!-- Heading -->
              <h6 class="mb-7">주문자 정보</h6>

              <!-- Billing details -->
              <div class="row mb-9">
                <div class="col-12">

                  <!--주문자 정보-->
                  <!-- 이름 -->
                
                  <div class="form-group">
                    <label class="form-label" for="checkoutBillingFirstName">이름 *</label>
                    <div class="input-group mb-8">
                      <input type="text" class="form-control" placeholder="이름 작성" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">배송지 정보로 등록</button>
                    </div>
                  </div>
                </div>

                <!-- 배송지 주소 -->
                <div class="col-12">
                  <div class="form-group">
                    <input class="form-control form-control-sm" id="checkoutBillingPhone" type="tel" placeholder="배송지 상세주소" required>
                  </div>
                </div><br>

                <div class="col-12">
                  <!-- Email -->
                  <div class="form-group">
                    <label class="form-label" for="checkoutBillingEmail">Email *</label>
                    <input class="form-control form-control-sm" id="checkoutBillingEmail" type="email" placeholder="abc@abc.com" required>
                  </div>
                </div>

                <div class="col-12">
                  <!-- Mobile Phone -->
                  <div class="form-group">
                    <label class="form-label" for="checkoutBillingPhone">연락처 *</label>
                    <input class="form-control form-control-sm" id="checkoutBillingPhone" type="tel" placeholder="010-0000-0000" required>
                  </div>
                </div>

                <hr>

                 <!-- Heading -->
              <h6 class="mb-7">배송 정보</h6>

                <div class="col-12">
                  <!-- Address Line 1 -->
                  <div class="form-group">
                    <label class="form-label" for="checkoutBillingAddress">받는 사람 *</label>
                    <input class="form-control form-control-sm" id="checkoutBillingAddress" type="text" placeholder="이름 작성" required>
                  </div>
                </div>

                <div class="col-12">
                  <!-- Address Line 2 -->
                  <div class="form-group">
                    <div class="input-group mb-8">
                      <input type="text" class="form-control" placeholder="배송지  정보"  id="addr">
                      <button class="btn btn-outline-secondary" type="button" id="addressSearch">주소검색</button>
                    </div>
                  </div>
                </div>

                 <!-- 배송지 주소 -->
                <div class="col-12">
                  <div class="form-group">
                    <input class="form-control form-control-sm" type="tel" placeholder="배송지 상세주소" required id="addrDt">
                  </div>
                </div><br>
            
                <div class="col-12">
                  <!-- Mobile Phone -->
                  <div class="form-group mb-0">
                    <label class="form-label" for="checkoutBillingPhone">연락처 *</label>
                    <input class="form-control form-control-sm" id="checkoutBillingPhone" type="tel" placeholder="010-0000-0000" required>
                  </div>
                  
                </div>

                <div class="col-12">
                <br>
                <h6>배송 요청사항</h6>
                <!-- Notes -->  
                <select class="form-select form-select-lg mb-3" aria-label="Large select example">
                  <option selected>배송 요청 선택</option>
                  <option value="1">부재시 경비실에 맡겨주세요.</option>
                  <option value="2">배송 전에 미리 연락 바랍니다.</option>
                  <option value="3">부재시 전화 또는 문자 남겨주세요.</option>
                  <option value="4"></option>
                </select>
                <!-- <textarea class="form-control form-control-sm mb-9 mb-md-0 fs-xs" rows="5" placeholder="배송 기타 요청사항 작성해주세요."></textarea> -->

                </div>

              </div>

              <hr>
              <h6>쿠폰 할인</h6>
              <div class="col-12">

                <!--주문자 정보-->
                <!-- 이름 -->
              
                <div class="form-group">
                  <label class="form-label" for="checkoutBillingFirstName">쿠폰 확인 *</label>
                  <div class="input-group mb-8">
                    <input type="text" class="form-control" placeholder="쿠폰 선택하세요." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">쿠폰선택</button>
                  </div>
                  <p>쿠폰 할인 금액 : <input type="text" style="border-width: 0 0 1px;" readonly>원 
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">사용하기</button>
                  </p> 
                </div>
              </div>

              <hr>
              <!-- Heading -->
              <h6 class="mb-7">결제수단</h6>

              <!-- List group -->
              <div class="list-group list-group-sm mb-7">
                <div class="list-group-item">

                  <!-- Radio -->
                  <div class="form-check custom-radio">

                    <!-- Input -->
                    <input class="form-check-input" id="checkoutPaymentCard" name="payment" type="radio" data-collapse="show" data-target="#checkoutPaymentCardCollapse">

                    <!-- Label -->
                    <label class="form-check-label fs-sm text-body text-nowrap" for="checkoutPaymentCard">
                     토스페이 <img class="ms-2" src="assets/img/brands/color/cards.svg" alt="...">
                    </label>

                  </div>

                </div>
                <div class="list-group-item collapse py-0" id="checkoutPaymentCardCollapse">

                  <!-- Form -->
                  <div class="row gx-5 py-5">
                    <div class="col-12">
                      <div class="form-group mb-4">
                        <label class="visually-hidden" for="checkoutPaymentCardNumber">Card Number</label>
                        <input class="form-control form-control-sm" id="checkoutPaymentCardNumber" type="text" placeholder="Card Number *" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group mb-4">
                        <label class="visually-hidden" for="checkoutPaymentCardName">Name on Card</label>
                        <input class="form-control form-control-sm" id="checkoutPaymentCardName" type="text" placeholder="Name on Card *" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="form-group mb-md-0">
                        <label class="visually-hidden" for="checkoutPaymentMonth">Month</label>
                        <select class="form-select form-select-sm" id="checkoutPaymentMonth">
                          <option>January</option>
                          <option>February</option>
                          <option>March</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="form-group mb-md-0">
                        <label class="visually-hidden" for="checkoutPaymentCardYear">Year</label>
                        <select class="form-select form-select-sm" id="checkoutPaymentCardYear">
                          <option>2017</option>
                          <option>2018</option>
                          <option>2019</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="input-group input-group-merge">
                        <input class="form-control form-control-sm" id="checkoutPaymentCardCVV" type="text" placeholder="CVV *" required>
                        <div class="input-group-append">
                          <span class="input-group-text" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="The CVV Number on your credit card or debit card is a 3 digit number on VISA, MasterCard and Discover branded credit and debit cards.">
                            <span><i class="fe fe-help-circle"></i></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="list-group-item">

                  <!-- Radio -->
                  <div class="form-check custom-radio">

                    <!-- Input -->
                    <input class="form-check-input" id="checkoutPaymentPaypal" name="payment" type="radio" data-collapse="hide" data-target="#checkoutPaymentCardCollapse">

                    <!-- Label -->
                    <label class="form-check-label fs-sm text-body text-nowrap" for="checkoutPaymentPaypal">
                      카카오페이<img src="assets/img/brands/color/paypal.svg" alt="...">
                    </label>

                  </div>

                </div>
              </div>

              

            </form>

          </div>
          <div class="col-12 col-md-5 col-lg-4 offset-lg-1">

            <!-- Heading -->
            <h6 class="mb-7">주문상품</h6>

            <!-- Divider -->
            <hr class="my-7">

            <!-- List group -->
            <ul class="list-group list-group-lg list-group-flush-y list-group-flush-x mb-7">
              <li class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-4">

                    <!-- Image -->
                    <a href="product.html">
                      <img src="assets/img/products/product-6.jpg" alt="..." class="img-fluid">
                    </a>

                  </div>
                  <div class="col">

                    <!-- Title -->
                    <p class="mb-4 fs-sm fw-bold">
                      <a class="text-body" href="product.html">Cotton floral print Dress</a> <br>
                      <span class="text-muted">$40.00</span>
                    </p>

                    <!-- Text -->
                    <div class="fs-sm text-muted">
                      Size: M <br>
                      Color: Red
                    </div>

                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-4">

                    <!-- Image -->
                    <a href="product.html">
                      <img src="assets/img/products/product-10.jpg" alt="..." class="img-fluid">
                    </a>

                  </div>
                  <div class="col">

                    <!-- Title -->
                    <p class="mb-4 fs-sm fw-bold">
                      <a class="text-body" href="product.html">Suede cross body Bag</a> <br>
                      <span class="text-muted">$49.00</span>
                    </p>

                    <!-- Text -->
                    <div class="fs-sm text-muted">
                      Color: Brown
                    </div>

                  </div>
                </div>
              </li>
            </ul>

            <!-- Card -->
            <div class="card mb-9 bg-light">
              <div class="card-body">
                <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
                  <li class="list-group-item d-flex">
                    <span>상품금액</span> <span class="ms-auto fs-sm" id="productPrice"></span>원
                  </li>
                  <li class="list-group-item d-flex">
                    <span>상품할인금액</span> <span class="ms-auto fs-sm" id="salePrice"></span>원
                  </li>
                  <li class="list-group-item d-flex">
                    <span>쿠폰할인</span> <span class="ms-auto fs-sm" id="couponSale"></span>원
                  </li>
                  <li class="list-group-item d-flex">
                    <span>배송비</span> <span class="ms-auto fs-sm" id="deliveryPrice"></span>원
                  </li>
                  <li class="list-group-item d-flex fs-lg fw-bold">
                    <span>결제금액</span> <span class="ms-auto" id="totalPrice"></span>원
                  </li>
                </ul>
              </div>
            </div>

            <!-- Disclaimer -->
            <p class="mb-7 fs-xs text-gray-500">
              귀하의 개인 데이터는 귀하의 주문을 처리하고, 이 웹사이트 전반에 걸쳐 귀하의 경험을 지원하고, 
              당사의 개인 정보 보호 정책에 설명된 기타 목적을 위해 사용됩니다.
            </p>

            <!-- Button -->
            <button class="btn w-100 btn-dark">
              결제하기
            </button>

          </div>
        </div>
      </div>
    </section>

   

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
    //주소 api로 입력
    $('#addressSearch').on('click', addrPopup)
    function addrPopup(){
        new daum.Postcode({
            oncomplete: function(data) {
                $('#addr').val(data.address);
                $("#addrDt").focus();
            }
        
        /*
            onclose: function(state) {
            //state는 우편번호 찾기 화면이 어떻게 닫혔는지에 대한 상태 변수 이며, 상세 설명은 아래 목록에서 확인하실 수 있습니다.
            if(state === 'FORCE_CLOSE'){
                //사용자가 브라우저 닫기 버튼을 통해 팝업창을 닫았을 경우, 실행될 코드를 작성하는 부분입니다.

            } else if(state === 'COMPLETE_CLOSE'){
                //사용자가 검색결과를 선택하여 팝업창이 닫혔을 경우, 실행될 코드를 작성하는 부분입니다.
                //oncomplete 콜백 함수가 실행 완료된 후에 실행됩니다.
            }
        }
        */
        }).open();
    }
    //p1 : 상품 금액  p2: 상품 할인 금액 p3: 배송비 p4 : 총금액 
    let p1Result = Number(localStorage.pPrice.slice(0,-1));
    let p2Result = Number(localStorage.pPrice2.slice(0,-1));
    let p3Result = Number(localStorage.pPrice3.slice(0,-1));
    let p4Result = Number(localStorage.pPrice4.slice(0,-1));
    $('#productPrice').text(p1Result);
    $('#salePrice').text(p2Result);
    $('#deliveryPrice').text(p3Result);
    $('#totalPrice').text(p4Result);
    </script>
    
</div>
</html>