<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">

   	<section class="py-12">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 container">
					<!-- Card -->
					<div class="card card-lg mb-10 mb-md-0">
              			<div class="card-body">

		                <!-- Heading -->
		                <h6 class="mb-7">비밀번호 수정</h6>
		
		                <!-- Form -->
		                <form>
		                  <div class="row">
		                    <div class="col-12">
		                      <!-- 비밀번호 -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="password">
		                          비밀번호 *
		                        </label>
		                        <input class="form-control form-control-sm" id="password" type="password" placeholder="Password *" required>
		                      </div>
		                    </div>
		                    <div class="col-12">
		                      <!-- 비밀번호 수정 -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="passwordChk">
		                          비밀번호 확인 *
		                        </label>
		                        <input class="form-control form-control-sm" id="passwordChk" type="password" placeholder="Password Check *" required>
		                      </div>
		                    </div>
		                    
		                      <!-- Button -->
					
	                    		<div class="col-md-12">
			                      <button class="btn btn-sm btn-dark" id="pwBtn" type="button" style="width:100px">
			                        Sign In
			                      </button>
		                      	</div>	
		                  </div>
		                </form>
		              	</div>
		            </div>
				</div><!-- class col -->
			</div>
		</div>
		<input type="hidden" id="hiddenId" th:value="${memberId}">
	</section>
		
	
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script>
	console.log($('#hiddenId').val());
	let pwIsOK = false;
	$('#pwBtn').on('click', function(e){
		e.preventDefault();
		if(pwIsOK){
			alert('비밀번호가 잘못되었습니다.')
			return false;
		}
		if($("#password").val() == $('#passwordChk').val()){
			let memberId = $('#hiddenId').val();
			let memberPw = $('#password').val();
			$.ajax({
				url : "editPassword",
				type : "post",
				data : JSON.stringify({
					"memberId" : memberId,
					"memberPw" : memberPw
				}),
				contentType : 'application/json',
				success : function(rs){
					console.log(rs)
					if(rs){
						if(confirm("로그인화면으로 가시겠습니까?")){
							location.href="loginForm";	
						}else{
							location.href="/";
						}
					}
				},
				error : function(err){
					console.log(err);	
				}
				
			})
		}else{
			alert('비밀번호가 다릅니다. 다시 확인 부탁드립니다.')
		}
	})
	
	
	$('#password').on('focusout', chkPW);
	function chkPW(){
	
			let pw = $("#password").val();
			let pwChkInput = $('#passwordChk');
			let id = $("#hiddenId").val();
		    let checkNumber = pw.search(/[0-9]/g);
		    let checkEnglish = pw.search(/[a-z]/ig);
		 
		    if(!/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/.test(pw)){            
		        alert('숫자+영문자+특수문자 조합으로 8자리 이상 사용해야 합니다.');
		        pwChkInput.focus();
		        return false;
		    }else if(checkNumber <0 || checkEnglish <0){
		        alert("숫자와 영문자를 혼용하여야 합니다.");
		        pwChkInput.focus();
		        return false;
		    }else if(/(\w)\1\1\1/.test(pw)){
		        alert('같은 문자를 4번 이상 사용하실 수 없습니다.');
		        pwChkInput.focus();
		        return false;
		    }else if(id != ""){
		    	if(pw.search(id) > -1){
		 	    alert("비밀번호에 아이디가 포함되었습니다.");
		 	    pwChkInput.focus();
		 	    return false;
		 	    }
		    	
		    } else {
			
			console.log("통과");
			pwIsOK = true;
			}
	
	}
	</script>
	<script>
	
	
	
	let audioFileNow = new Audio();
	var AudioContext;
	var audioContext;

	window.onload = function() {
	    navigator.mediaDevices.getUserMedia({ audio: true }).then(() => {
	        AudioContext = window.AudioContext || window.webkitAudioContext;
	        audioContext = new AudioContext();
	    }).catch(e => {
	        console.error(`Audio permissions denied: ${e}`);
	    });
	}
	// 먼저 읽히는것 
	$(document).ready(function() {
			let firstMsg = "비밀번호 수정 페이지입니다. 비밀번호는 영문자,숫자,특수문자를 포함한 8자리 이상로 구성해주세요. 메뉴얼을 들으신 후 alt키와 해당 메뉴얼의 번호를 눌러주세요.";
			let menual = 
			 "1번 현재 입력란 다시 듣기."
			+ "2번 메인 홈페이지로 이동."
			+ "0번 메뉴얼 다시듣기.";
			let message =  firstMsg + menual;
	    	VoiceMenual(message);
	});
	
	window.addEventListener("keydown", function(e){ 
		if(e.key == 'Enter'){
			e.preventDefault();
			let focusNow = $(':focus')[0];
			if(focusNow.id == 'pwBtn'){
				if($("#password").val() == $('#passwordChk').val()){
					let memberId = $('#hiddenId').val();
					let memberPw = $('#password').val();
					$.ajax({
						url : "editPassword",
						type : "post",
						data : JSON.stringify({
							"memberId" : memberId,
							"memberPw" : memberPw
						}),
						contentType : 'application/json',
						success : function(rs){
							console.log(rs)
							if(rs){
								VoiceMenual('비밀번호 변경에 성공하였습니다. 메뉴얼을 통해 이동해주세요.')
							}
						},
						error : function(err){
							VoiceMenual(err);	
						}
						
					})
				}else{
					VoiceMenual('비밀번호가 다릅니다. 다시 확인 부탁드립니다.')
				}
			}
		}
		if(e.altKey && e.key == 1){ //아이디 입력란 다시 듣기
			let nowInputValue = $(':focus').val();
			if(nowInputValue == "" || nowInputValue == undefined){
				VoiceMenual("포커스된 정보가 없습니다.")
			}else{
				let cutMsg = '';
				let tmpAry = nowInputValue.split('');
				for(let one of tmpAry){
					cutMsg = cutMsg + one + ' '
				}
				VoiceMenual(cutMsg);
				//VoiceMenual(nowInputValue);
			}
		}		
		if(e.altKey && e.key == 2){ //메인홈페이지로 이동
			location.href="/";
		}
		if(e.altKey && e.key == 0){ //메뉴얼 다시듣기
			let menual = 
				 "1번 현재 입력란 다시 듣기."
				+ "2번 메인 홈페이지로 이동."
				+ "0번 메뉴얼 다시듣기.";
			VoiceMenual(menual);
		}
	})
	
	$('#password').on('focus',function(){
		VoiceMenual('비밀번호 입력란')
	})
	$('#passwordChk').on('focus',function(){
		VoiceMenual('비밀번호 확인 입력란')
	})
	$('#pwBtn').on('focus',function(){
		VoiceMenual('비밀번호 수정 버튼.   엔터키를 눌러 완료하실 수 있습니다.')
	})
	
	function VoiceMenual(message) {
	    var data = {
	        "voice" : {
	            "languageCode" : "ko-KR",
	            "name" : "ko-KR-Neural2-B"
	        },
	        "input" : {
	            "text" : message
	        },
	        "audioConfig" : {
	            "audioEncoding" : "mp3"
	        }
	    }
	    console.log(data);
	    $.ajax({
	        type : 'POST',
	        url : 'https://texttospeech.googleapis.com/v1/text:synthesize?key=AIzaSyArcSKerGDYE7ngIVMaLhHCbNtmWN1-uac',
	        data : JSON.stringify(data),
	        dataType : 'JSON',
	        contentType : "application/json; charset=UTF-8",
	        success : function(res) {
	            $('#menuText').val(res.audioContent)
	            var audioFile = new Audio();
	            let audioBlob = base64ToBlob(res.audioContent,
	                    "mp3");
	            audioFile.src = window.URL
	                    .createObjectURL(audioBlob);
	            audioFile.playbackRate = 2; //재생속도
	            if(audioFileNow.paused == false){
	            	audioFileNow.pause();
	            }
	    		audioFileNow = audioFile;
	            audioFileNow.play();
	        
	        },
	        error : function(request, status, error) {
	            alert("오류", "오류가 발생하였습니다. 관리자에게 문의해주세요.");
	        }
	    });
	};
	function base64ToBlob(base64, fileType) {
	    let typeHeader = "data:application/" + fileType + ";base64,"; // base64 헤더 파일 유형 정의
	    let audioSrc = typeHeader + base64;
	    let arr = audioSrc.split(",");
	    let array = arr[0].match(/:(.*?);/);
	    let mime = (array && array.length > 1 ? array[1] : type) || type;
	    // url헤더 제거하고 btye로 변환
	    let bytes = window.atob(arr[1]);
	    // 예외를 처리하고 0보다 작은 ASCII 코드를 0보다 큰 값으로 변환
	    let ab = new ArrayBuffer(bytes.length);
	    // 뷰 생성(메모리에 직접): 8비트 부호 없는 정수, 길이 1바이트
	    let ia = new Uint8Array(ab);
	    for (let i = 0; i < bytes.length; i++) {
	        ia[i] = bytes.charCodeAt(i);
	    }
	    return new Blob([ ab ], {
	        type : mime
	    });
	}
	</script>
</div>
</html>