<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
    <section class="py-12">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 container">
					<!-- Card -->
					<div class="card card-lg mb-10 mb-md-0">
              			<div class="card-body">

		                <!-- Heading -->
		                <h6 class="mb-7">회원 ID 찾기</h6>
		                
		                <div class="row">
							<!-- Remember -->
		                    <div class="col-md-4">
		                      <div class="form-group">
		                        <div class="form-check">
		                          <input class="form-check-input" name="loginHow" id="Buyer"  value="buyer" type="radio" checked="checked">
		                          <label class="form-check-label" for="Buyer">
		                          	구매자 찾기
		                          </label>
		                        </div>
		                      </div>
		                    </div>
		                      <!-- Remember -->
		                    <div class="col-md-4 offset-md-4">
		                      <div class="form-group">
		                        <div class="form-check">
		                          <input class="form-check-input" name="loginHow" id="Seller"  value="seller"type="radio">
		                          <label class="form-check-label" for="Seller">
		                          	판매자 찾기
		                          </label>
		                        </div>
		                      </div>
		                    </div>
	                    </div>
	                    
		                <!-- Form -->
		                <form>
		                  <div class="row">
		                    <div class="col-md-8">
		
		                      <!-- Email -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="loginEmail">
		                          전화번호 *
		                        </label>
		                        <input class="form-control form-control-sm" id="loginId" type="text" placeholder="전화번호 *" required>
		                      </div>
		
		                    </div>
          	                <div class="col-md-4">
		                      <button class="btn btn-sm btn-dark w-100" id="noBtn" type="button" style="width:100px">
		                        확인
		                      </button>
	                      	</div>	
		                    <div class="col-md-8">
		                      <!-- Password -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="loginPassword">
		                          인증번호 *
		                        </label>
		                        <input class="form-control form-control-sm" id="loginPassword" type="text" placeholder="인증번호 *" required>
		                      </div>
		                    </div>
	                    	<div class="col-md-4">
			                      <button class="btn btn-sm btn-dark w-100" id="noChkBvtn" type="button" style="width:100px;">
			                        인증번호 확인
			                      </button>
	                      	</div>
		                      <!-- Button -->
							<div class="col">
                  				 <button class="btn btn-sm btn-dark w-100" id="findBtn" type="button" style="width:100px;">
			                        아이디 찾기
			                     </button>
							</div>
		                      
		                  </div> <!-- class row -->
		                </form>
		
		              	</div> <!-- class card-body -->
		            </div>

				</div><!-- class col -->
			</div>
		</div>

	</section>
	<script>
		$('#')
	</script>
</div>
</html>