<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">
    <section class="py-12">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 container">
					<!-- Card -->
					<div class="card card-lg mb-10 mb-md-0">
              			<div class="card-body">

		                <!-- Heading -->
		                <h6 class="mb-7">회원 PW 찾기</h6>
		                <th:block th:if="${author == null}">
		                <div class="row">
							<!-- Remember -->
		                    <div class="col-md-4">
		                      <div class="form-group">
		                        <div class="form-check">
		                          <input class="form-check-input" name="loginHow" id="Buyer"  value="buyer" type="radio" checked="checked">
		                          <label class="form-check-label" for="Buyer">
		                          	구매자 찾기
		                          </label>
		                        </div>
		                      </div>
		                    </div>
		                      <!-- Remember -->
		                    <div class="col-md-4 offset-md-4">
		                      <div class="form-group">
		                        <div class="form-check">
		                          <input class="form-check-input" name="loginHow" id="Seller"  value="seller"type="radio">
		                          <label class="form-check-label" for="Seller">
		                          	판매자 찾기
		                          </label>
		                        </div>
		                      </div>
		                    </div>
	                    </div>
	                    </th:block>
		                <!-- Form -->
		                <form>
		                  <div class="row">
		                  	<th:block th:if="${id != null}">
		                    <div class="col-md-12">
		                      <!-- 아이디 -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="findEmail">
		                          아이디 *
		                        </label>
		                        <input class="form-control form-control-sm" id="findId" type="text" th:value="${id}" readonly required>
		                      </div>
		                    </div>
		                    </th:block>
		                    
		                    <div class="col-md-12">
		                      <!-- 아이디 -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="findEmail">
		                          아이디 *
		                        </label>
		                        <input class="form-control form-control-sm" id="id" type="text" tabindex=1 placeholder="아이디 *"  required>
		                      </div>
		                    </div>
		                    
		                    <div class="col-md-8">
		                      <!-- 이메일 -->
		                      <div class="form-group">
		                        <input class="form-control form-control-sm" id="email" type="text" tabindex=2 placeholder="이메일 *"  required>
		                        <div class="col">
		                        <label class="visually" for="email" id="emconfirmchk">이메일 *</label>
		                        </div>
		                      </div>
		                    </div>
		                    
		                    <div class="col-md-4">
		                      <!-- Password -->
		                      <div class="form-group">
		                        <!-- Button -->
		                  		<button class="btn btn-sm btn-dark w-100" id="emailBtn" tabindex=3 type="button" style="width:100px;">
					              이메일 인증
					            </button>
		                      </div>
		                    </div>
		                    
		                    <div class="col-md-12">
		                      <!-- 이메일인증 -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="findEmail">
		                          이메일 인증 *
		                        </label>
		                        <input class="form-control form-control-sm" id="emailChk" tabindex=4 type="text" placeholder="이메일 인증번호 *"  required>
		                      </div>
		                    </div>
		                    
          	                
		                    <div class="col-md-12">
		                      <!-- Password -->
		                      <div class="form-group">
		                        <!-- Button -->
		                  		<button class="btn btn-sm btn-dark w-100" id="findPwBtn" tabindex=5  type="button" style="width:100px;">
					              비밀번호 찾기
					            </button>
		                      </div>
		                    </div>

		                  </div> <!-- class row -->
		                </form>
		              	</div> <!-- class card-body -->
		            </div>
				</div><!-- class col -->
			</div>
		</div>
		<input type="hidden" th:value="${author}" id="hiddenAuthor">
	</section>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script>
		let tempVO;
		let tempId;
		$('#emailBtn').on('click', function(){
			let memberId = $('#id').val()
			let userEmail = $('#email').val()
			let memberAuthor = $('#hiddenAuthor').val()
			if($('#hiddenAuthor').val() == ''){
				memberAuthor = $('[name="loginHow"]:checked').val()== 'buyer' ? 1 : 2;
			}
			console.log(memberAuthor)
			   $.ajax({
				      type : "POST",
				      url : "login/mailPwConfirm",
				      data : {
				    	 "memberId" : memberId,
				         "email" : userEmail,
				         "memberAuthor" : memberAuthor
				      },
				      success : function(data){
				         for(let d in data){
							console.log(d)
							tempData = d;
					        tempVO = data[d];
				         }
						if(tempVO == "fail"){
							alert('아이디와 이메일이 일치하지 않습니다. \n 다시 확인 부탁드립니다.');
						}else{
							tempId = memberId
			         	alert("해당 이메일로 인증번호 발송이 완료되었습니다. \n 확인부탁드립니다.")
						}  
			         
				      },
				      error : function(err){
				    	console.log(err);  
				      }
			  	 })
		})
		$('#findPwBtn').on('click', function(){
			let emailChk = $('#emailChk').val();
			if(tempData == emailChk){
				console.log("일치");
				let param = { "memberId" : tempId };
				sendPost('editPasswordForm', param)
			}else{
				alert('인증번호가 잘못되었습니다. \n 다시 확인 부탁드립니다.')
			}
		})
		function sendPost(url, params) {
	    let form = document.createElement('form');
	    form.setAttribute('method', 'post');
	    form.setAttribute('action', url);
	    document.charset = "UTF-8";
		 for (let key in params) {
		      let hiddenField = document.createElement('input');
		      hiddenField.setAttribute('type', 'hidden');
		      hiddenField.setAttribute('name', key);
		      hiddenField.setAttribute('value', params[key]);
		      form.appendChild(hiddenField);
		    }
	    document.body.appendChild(form);
	    form.submit();
		}
		$('#id').on('keyup', function(){
			const regIdExp = /[^0-9a-zA-Z]/g; // 숫자와 영문자만 허용
			//const regExp = /[^ㄱ-ㅎ|가-힣]/g; // 한글만 허용
			const del = event.target;
			if (regIdExp.test(del.value)) {
				del.value = del.value.replace(regIdExp, '');
			}
		})
		//email 입력체크(방지는 좀 그렇고 알려주고 다시 확인하라한 후에 이메일 인증)
		$('#email').on('keyup', checkEmail)
		function checkEmail(e) {
		     //var regExp = /^([0-9a-zA-Z_-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;   // 이메일 체크 ( id1.id2@test.com 대응불가 )
		     let email = e.currentTarget.value;
		      let regEmailExp = /^[-!#$%&'*+./0-9=?A-Z^_a-z{|}~]+@[-!#$%&'*+/0-9=?A-Z^_a-z{|}~]+.[-!#$%&'*+./0-9=?A-Z^_a-z{|}~]+$/;
		      
		      
		      if(regEmailExp.test(email)) { // test 는 정규 Methods 입니다. test는 변경없음#				
		    	  let mailConfirmLabel = $('#emconfirmchk'); 
					mailConfirmLabel.html("<span id='emconfirmchk2'>이메일 형식입니다.</span>")
					$("#emconfirmchk2").css({
						"color" : "#0D6EFD",
						"font-weight" : "bold",
						"font-size" : "10px"

					})
		      } else {
		    	  	let mailConfirmLabel = $('#emconfirmchk'); 
			    	mailConfirmLabel.html("<span id='emconfirmchk2'>이메일 형식이 아닙니다.</span>")
					$("#emconfirmchk2").css({
						"color" : "#FA3E3E",
						"font-weight" : "bold",
						"font-size" : "10px"

				})
		      }
		    }

	</script>
	<script>
	let TTSIsOk = localStorage.getItem('ttsKey');
	let sessionAuthor;
	console.log(sessionStorage.loginMember);    		
	if(sessionStorage.loginMember != null){
		sessionAuthor = sessionStorage.loginMember.memberAuthor;
	}
	    
  	function ttsInit(){
	   	if(TTSIsOk == null || sessionAuthor == 3){	
	
	
			let audioFileNow = new Audio();
			var AudioContext;
			var audioContext;
		
			window.onload = function() {
			    navigator.mediaDevices.getUserMedia({ audio: true }).then(() => {
			        AudioContext = window.AudioContext || window.webkitAudioContext;
			        audioContext = new AudioContext();
			    }).catch(e => {
			        console.error(`Audio permissions denied: ${e}`);
			    });
			}
			// 먼저 읽히는것 
			$(document).ready(function() {
				
					let firstMsg = "비밀번호 찾기 페이지입니다. 메뉴얼을 들으신 후 alt키와 해당 메뉴얼의 번호를 눌러주세요.";
					let menual = 
					 "1번 현재 입력란 다시 듣기."
					+ "2번 메인 홈페이지로 이동."
					+ "3번 찾은 아이디 다시 듣기"
					+ "0번 메뉴얼 다시듣기.";
					let message =  firstMsg + menual;
			    	VoiceMenual(message);
			});
			
			window.addEventListener("keydown", function(e){ 
				if(e.key == 'Enter'){
					e.preventDefault();
					let focusNow = $(':focus')[0];
					if(focusNow.id == 'emailBtn'){
						let memberId = $('#id').val()
						let userEmail = $('#email').val()
						let memberAuthor = $('#hiddenAuthor').val()
						if($('#hiddenAuthor').val() == ''){
							memberAuthor = $('[name="loginHow"]:checked').val()== 'buyer' ? 1 : 2;
						}
						console.log(memberAuthor)
						   $.ajax({
							      type : "POST",
							      url : "login/mailPwConfirm",
							      data : {
							    	 "memberId" : memberId,
							         "email" : userEmail,
							         "memberAuthor" : memberAuthor
							      },
							      success : function(data){
							         for(let d in data){
										console.log(d)
										tempData = d;
								        tempVO = data[d];
							         }
									if(tempVO == "fail"){
										VoiceMenual('아이디와 이메일이 일치하지 않습니다. \n 다시 확인 부탁드립니다.');
									}else{
										tempId = memberId
										VoiceMenual("해당 이메일로 인증번호 발송이 완료되었습니다. \n 확인부탁드립니다.")
									}  
						         
							      },
							      error : function(err){
							    	  VoiceMenual(err);  
							      }
						  	 })
					}
					if(focusNow.id == 'findPwBtn'){
						let emailChk = $('#emailChk').val();
						if(tempData == emailChk){
							VoiceMenual("일치");
							let param = { "memberId" : tempId };
							sendPost('editPasswordForm', param)
						}else{
							VoiceMenual('인증번호가 잘못되었습니다.  다시 확인 부탁드립니다.')
						}
					}
				}
				
				if(e.altKey && e.key == 1){ //아이디 입력란 다시 듣기
					let nowInputValue = $(':focus').val();
					if(nowInputValue == "" || nowInputValue == undefined){
						VoiceMenual("포커스된 정보가 없습니다.")
					}else{
						let cutMsg = '';
						let tmpAry = nowInputValue.split('');
						for(let one of tmpAry){
							cutMsg = cutMsg + one + ' '
						}
						VoiceMenual(cutMsg);
						//VoiceMenual(nowInputValue);
					}
				}		
				if(e.altKey && e.key == 2){ //메인홈페이지로 이동
					location.href="/";
				}
				if(e.altKey && e.key == 3){ //찾은 ID 다시 듣기
					if($('#findId').val()){
						let findMsg = "찾으신 ID는 " + $('#findId').val() + "입니다."
						VoiceMenual(findMsg);
					}else{
						VoiceMenual("찾으신 ID 가 없습니다.")
					}
				}
				if(e.altKey && e.key == 0){ //메뉴얼 다시듣기
					let menual = 
						 "1번 현재 입력란 다시 듣기."
						+ "2번 메인 홈페이지로 이동."
						+ "0번 메뉴얼 다시듣기.";
					VoiceMenual(menual);
				}
			})
			
			
			
			$('#id').on('focus',function(){
				let msg = "아이디 입력란."
				VoiceMenual(msg)
			})
			$('#email').on('focus',function(){
				let msg = "이메일 입력란."
				VoiceMenual(msg)
			})
			$('#emailBtn').on('focus',function(){
				let msg = "이메일 인증번호 발송 버튼"
				VoiceMenual(msg)
			})
			$('#emailChk').on('focus',function(){
				let msg = "인증번호 입력란"
				VoiceMenual(msg)
			})
			$('#findPwBtn').on('focus',function(){
				let msg = "비밀번호 찾기 버튼"
				VoiceMenual(msg)
			})
			
			
			
			
			
			
		
			function VoiceMenual(message) {
			    var data = {
			        "voice" : {
			            "languageCode" : "ko-KR",
			            "name" : "ko-KR-Neural2-B"
			        },
			        "input" : {
			            "text" : message
			        },
			        "audioConfig" : {
			            "audioEncoding" : "mp3"
			        }
			    }
			    console.log(data);
			    $.ajax({
			        type : 'POST',
			        url : 'https://texttospeech.googleapis.com/v1/text:synthesize?key=AIzaSyArcSKerGDYE7ngIVMaLhHCbNtmWN1-uac',
			        data : JSON.stringify(data),
			        dataType : 'JSON',
			        contentType : "application/json; charset=UTF-8",
			        success : function(res) {
			            $('#menuText').val(res.audioContent)
			            var audioFile = new Audio();
			            let audioBlob = base64ToBlob(res.audioContent,
			                    "mp3");
			            audioFile.src = window.URL
			                    .createObjectURL(audioBlob);
			            audioFile.playbackRate = 2; //재생속도
			            if(audioFileNow.paused == false){
			            	audioFileNow.pause();
			            }
			    		audioFileNow = audioFile;
			            audioFileNow.play();
			        
			        },
			        error : function(request, status, error) {
			            alert("오류", "오류가 발생하였습니다. 관리자에게 문의해주세요.");
			        }
			    });
			};
			function base64ToBlob(base64, fileType) {
			    let typeHeader = "data:application/" + fileType + ";base64,"; // base64 헤더 파일 유형 정의
			    let audioSrc = typeHeader + base64;
			    let arr = audioSrc.split(",");
			    let array = arr[0].match(/:(.*?);/);
			    let mime = (array && array.length > 1 ? array[1] : type) || type;
			    // url헤더 제거하고 btye로 변환
			    let bytes = window.atob(arr[1]);
			    // 예외를 처리하고 0보다 작은 ASCII 코드를 0보다 큰 값으로 변환
			    let ab = new ArrayBuffer(bytes.length);
			    // 뷰 생성(메모리에 직접): 8비트 부호 없는 정수, 길이 1바이트
			    let ia = new Uint8Array(ab);
			    for (let i = 0; i < bytes.length; i++) {
			        ia[i] = bytes.charCodeAt(i);
			    }
			    return new Blob([ ab ], {
			        type : mime
			    });
			}
	   	}
  	}
	
	</script>
</div>
</html>