<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
 input {
    margin-bottom: 20px;
 }

</style>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<!-- Content -->
<div layout:fragment="content">
	<section class="py-12">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-8 container">

            <!-- Card -->
		            <div class="card card-lg">
		            	<div class="card-body">
		
		                <!-- Heading -->
		                <h6 class="mb-7">New Customer</h6>
		
		                <!-- Form -->
		                <form>
		                  <div class="row">
		                  
		                    <div class="col-12 col-md-8">
		                      <!-- 아이디 -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="id">
		                          아이디
		                        </label>
		                        <input class="form-control form-control-sm" name="memberId" id="id" onkeyup="checkReg(event)" type="text" placeholder="아이디 *" maxlength=20 required>
		                      </div>
		                    </div>
		                    <div class="col-12 col-md-4">
		                      <!-- 중복확인 -->
		                      <div class="form-group">
		                        <!-- Button -->
			                    <button class="form-control btn btn-sm btn-secondary" type="button" id="idChkBtn">
			                        중복 확인
			                    </button>
		                      </div>
		                    </div>
		                    
		                    
		           
		                    
		                    <div class="col-12 col-md-6">
		                      <!-- Password -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="pw">
		                          Password
		                        </label>
		                        <input class="form-control form-control-sm" name="memberPw" id="pw" type="password" placeholder="Password *" required>
		                      </div>
		                    </div>
		                    
		                    <div class="col-12 col-md-6">
		                      <!-- Password -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="pwChk">
		                          Password 확인
		                        </label>
		                        <input class="form-control form-control-sm"  id="pwChk" type="password" placeholder="Password 확인 *" required>
		                      </div>
		                    </div>
		                    
		                    
		                    
		                    <div class="col-6">
		                      <!-- 이름 -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="name">
		                          이름
		                        </label>
		                        <input class="form-control form-control-sm" name="memberName" id="name" onkeyup="checkName(event)" type="text" placeholder="이름 *" required>
		                      </div>
		                    </div>
		                    
		                    <div class="col-6">
		                      <!-- 생년월일 -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="birth">
		                          생년월일
		                        </label>
		                        <input class="form-control form-control-sm" name="memberBirth" id="birth" onkeyup="checkBirth(event)" type="text" maxlength=6 placeholder="생년월일 *" required>
		                      </div>
		                    </div>
		                    
		                    
		                    <div class="col-12 col-md-8">
		                      <!-- Email -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="email">
		                          Email 주소
		                        </label>
		                        <input class="form-control form-control-sm" name="memberEmail" id="email" type="text" placeholder="Email 주소 *" required>
		                      </div>
		                    </div>
		                    
		                      <!-- 이메일인증 -->
		                   <div class="col-12 col-md-4">
		                      <div class="form-group">
		                        <!-- Button -->
			                    <button class="form-control btn btn-sm btn-secondary" id="emailChkBtn" type="button">
			                        이메일 인증
			                    </button>
		                      </div>
		                    </div>
		                    
		                      <!-- Email 인증번호 기입란 -->
		                    <div class="col-12 col-md-6">
		                      <div class="form-group">
		                        <label class="visually-hidden" for="email">
		                          Email 인증번호 기입란
		                        </label>
		                        <input class="form-control form-control-sm" id="emailChk" type="text" placeholder="Email 인증번호 *" required>
		                      </div>
		                    </div>
		                    
		                   <div class="col-12 col-md-6">
		                      <div class="form-group">
		                        <label class="form-control" for=emailChk id="mailConfirmLabel">인증번호를 입력해주세요</label>
		                      </div>
		                    </div>
		                    
		                      <!-- 비밀번호 -->
		                    <div class="col-12 col-md-8">
		                      <div class="form-group">
		                        <label class="visually-hidden" for="ph">
		                          휴대폰번호 
		                        </label>
		                        <input class="form-control form-control-sm" name="memberTel"id="ph" type="text" placeholder="휴대폰번호 *" maxlength=13 required>
		                      </div>
		                    </div>
		                    <div class="col-12 col-md-4">
		                      <!-- 중복확인 -->
		                      <div class="form-group">
		                        <!-- Button -->
			                    <button class="form-control btn btn-sm btn-secondary" id="phChkChk" type="button">
			                        휴대폰 인증
			                    </button>
		                      </div>
		                    </div>
		                    
		                    
		                      <!-- 사업자등록번호 -->
		                    <div class="col-12 col-md-8">
		                      <div class="form-group">
		                        <label class="visually-hidden" for="bsnsNo">
		                          사업자등록번호 
		                        </label>
		                        <input class="form-control form-control-sm" name="businessNumber" id="bsnsNo" type="text" placeholder="사업자등록번호 *" maxlength=10 required>
		                      </div>
		                    </div>
		                    
		                    <div class="col-12 col-md-4">
		                      <!-- 등록확인 -->
		                      <div class="form-group">
		                        <!-- Button -->
			                    <button class="form-control btn btn-sm btn-secondary" id="bsnsChkBtn" type="button">
			                        등록번호 확인
			                    </button>
		                      </div>
		                    </div>
		                    
		                    
		                      <!-- 주소 -->
		                    <div class="col-12 col-md-8">
		                      <div class="form-group">
		                        <label class="visually-hidden" for="addr">
		                          주소 
		                        </label>
		                        <input class="form-control form-control-sm" name="memeberAddr" id="addr" type="text" placeholder="주소 *" readonly required>
		                      </div>
		                    </div>
		                    
		                    <div class="col-12 col-md-4">
		                      <!-- 주소입력 -->
		                      <div class="form-group">
		                        <!-- Button -->
			                    <button class="form-control btn btn-sm btn-secondary" id="addrBtn" type="button">
			                        주소 입력
			                    </button>
		                      </div>
		                    </div>
		                    
		                    
		                    
		                      <!-- 상세주소 -->
		                    <div class="col-12 col-md-6">
		                      <div class="form-group">
		                        <label class="visually-hidden" for="addrDt">
		                          상세 주소
		                        </label>
		                        <input class="form-control form-control-sm" name="memberDetailsAddr" id="addrDt" type="text" placeholder="상세주소 *" required>
		                      </div>
		                    </div>
		                    
		
		                      <!-- Link -->
		                      <div class="form-group fs-sm text-muted">
		                        By registering your details, you agree with our Terms & Conditions,
		                        and Privacy and Cookie Policy.
		                      </div>
		
		                      <!-- Newsletter -->
		                    <div class="col-12 col-md">
		                      <div class="form-group">
		                        <div class="form-check">
		                          <input class="form-check-input" id="registerNewsletter" type="checkbox">
		                          <label class="form-check-label" for="registerNewsletter">
		                            Sign me up for the Newsletter!
		                          </label>
		                        </div>
		                      </div>
		                    </div>
		                    
		                    <div class="col-12">
		                      <!-- Button -->
		                      <button class="btn btn-sm btn-dark" id="joinBtn"type="button">
		                        Register
		                      </button>
		                    </div>
		                    
		                  </div> <!-- class  form > row -->
		                </form>
		
		              </div> <!-- class card-body -->
		            </div> <!-- class card-lg -->
				</div> <!-- class col-12 col-md-6 -->
			</div><!-- class row -->
		</div> <!-- class container -->
	</section>
<script>
let checkBeforeInsert = {};
let idTrue = "idTrue"
let pwTrue = "pwTrue";
let nameTrue = "nameTrue";
let emailTrue = "emailTrue";
let telTrue = "telTrue";
let bsnsTrue = "bsnsTrue";
let addrTrue = "addrTrue";
let detailsAddrTrue = "detailsAddrTrue";
checkBeforeInsert[idTrue] = false;
checkBeforeInsert[pwTrue] = false;
checkBeforeInsert[nameTrue] = false;
checkBeforeInsert[emailTrue] = false;
checkBeforeInsert[telTrue] = true;
checkBeforeInsert[bsnsTrue] = false;
checkBeforeInsert[addrTrue] = false;
checkBeforeInsert[detailsAddrTrue] = false;

console.log(checkBeforeInsert);

$('#joinBtn').on('click', function joinAjax(){
	if($('#name').val() != ""){
		checkBeforeInsert[nameTrue] = true;
	}else{
		checkBeforeInsert[nameTrue] = false;
	}
	
	if($('#addr').val() != ""){
		checkBeforeInsert[addrTrue] = true;
	}else{
		checkBeforeInsert[addrTrue] = false;
	}
	if($('#addrDt').val() != ""){
		checkBeforeInsert[detailsAddrTrue] = true;
	}else{
		checkBeforeInsert[detailsAddrTrue] = false;
	}
	
	$.each(checkBeforeInsert, function(idx, obj){
		console.log(idx, obj);
		if(obj == false){
			alert('입력정보를 올바르게 해주세요.')	
		}
	})
	let memberVO = {
		'memberId' : $('#id').val(),
		'memberPw' : $('#pw').val(),
		'memberName' : $('#name').val(),
		'memberBirth' : $('#birth').val(),
		'memberEmail' : $('#email').val(),
		'memberTel' : $('#ph').val(),
		'memberAddr' : $('#addr').val(),
		'memberDetailsAddr' : $('#addrDt').val(),
		'businessNumber' : $('#bsnsNo').val(),
		'memberAuthor' : 2
	}
	console.log(memberVO);
	$.ajax({
		url : 'AjaxJoin',
		type : 'POST',
		data : JSON.stringify(memberVO),
		contentType : 'application/json',
		success : function(rs){
			console.log(rs)	
			if(rs == 1){
				alert('성공')
			}
		},
		error : function(err){
			console.log(err);	
		}
	})
})


//ID 입력 한글방지
function checkReg(event) {
  const regIdExp = /[^0-9a-zA-Z]/g; // 숫자와 영문자만 허용
//   const regExp = /[^ㄱ-ㅎ|가-힣]/g; // 한글만 허용
  const del = event.target;
  if (regIdExp.test(del.value)) {
    del.value = del.value.replace(regIdExp, '');
  }
  checkBeforeInsert[idTrue] = false;
};
//이름 (한글, 영어만) ?? 띄어쓰기는 허용할 것인가
function checkName(e){
    const regNameExp = /[^a-zA-Zㄱ-ㅎ|가-힣]/g;
    const del = event.target;
  if (regNameExp.test(del.value)) {
    del.value = del.value.replace(regNameExp, '');
  }
}


//생년월일 입력방지
function checkBirth(event){
  const regNumExp = /[^0-9]/g; // 숫자만 허용
  const del = event.target;
  if (regNumExp.test(del.value)) {
    del.value = del.value.replace(regNumExp, '');
  }
}
//전화번호 숫자 외 입력방지 및 auto hypen
$('#ph').on('keyup', function(){
    console.log(this.value);
    this.value =  autoHypen(this.value);
})
function autoHypen(str){
    str = str.replace(/[^0-9]/g, '');
    var tmp = '';
    if( str.length < 4){
        return str;
    }else if(str.length < 7){
        tmp += str.substr(0, 3);
        tmp += '-';
        tmp += str.substr(3);
        return tmp;
    }else if(str.length < 11){
        tmp += str.substr(0, 3);
        tmp += '-';
        tmp += str.substr(3, 3);
        tmp += '-';
        tmp += str.substr(6);
        return tmp;
    }else{              
        tmp += str.substr(0, 3);
        tmp += '-';
        tmp += str.substr(3, 4);
        tmp += '-';
        tmp += str.substr(7);
        return tmp;
    }
    return str
}   
//email 입력체크(방지는 좀 그렇고 알려주고 다시 확인하라한 후에 이메일 인증)
$('#email').on('focusout', checkEmail)
function checkEmail(e) {
     //var regExp = /^([0-9a-zA-Z_-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;   // 이메일 체크 ( id1.id2@test.com 대응불가 )
     let email = e.currentTarget.value;
     console.log(e.currentTarget.value);
      let regEmailExp = /^[-!#$%&'*+./0-9=?A-Z^_a-z{|}~]+@[-!#$%&'*+/0-9=?A-Z^_a-z{|}~]+.[-!#$%&'*+./0-9=?A-Z^_a-z{|}~]+$/;
      if(regEmailExp.test(email)) { // test 는 정규 Methods 입니다. test는 변경없음
        return true;
      } else {
        alert('정규식 위반')
        return false;
      }
    }

//id 중복체크 ajax
$('#idChkBtn').on('click', function(){
	
	let checkValue = $('#id').val();
	if(checkValue.lenth < 6){
		alert('아이디는 최소 6자 이상입니다.');
		$('#id').focus();
		return;
	}
	if(checkValue.search('admin')>-1){
		alert('사용할 수 없는 단어가 포함되어 있습니다.');
		$('#id').focus();
		return;
	}
	
	
	$.ajax({
		url : 'idCheck',
		type : 'GET',
		data : {
			memberId : checkValue
		},
		success : function(rs){
			if(rs > 0){
				alert('중복된 아이디 입니다.');
				$('#id').focus();
			}else{
				alert('사용 가능한 아이디입니다.');
				checkBeforeInsert[idTrue] = true;
			}
		},
		error : function(err){
			console.log(err)
		}
		
	})
})


//이메일 체크 버튼 메일발송 ajax
$('#emailChkBtn').on('click', function(){
	let userEmail = $('#email').val()
	let emailChk = $('#emailChk');
	let mailConfirmLabel = $('#mailConfirmLabel');
	   $.ajax({
		      type : "POST",
		      url : "login/mailConfirm",
		      data : {
		         "email" : userEmail
		      },
		      success : function(data){
		         alert("해당 이메일로 인증번호 발송이 완료되었습니다. \n 확인부탁드립니다.")
		         console.log("data : "+data);
		         chkEmailConfirm(data, emailChk, mailConfirmLabel);
		      }
		   })
})
	// 이메일 인증번호 체크 함수(키입력 체크)
	function chkEmailConfirm(data, emailChk, mailConfirmLabel){
		$(emailChk).on("keyup", function(){
			if (data != $(emailChk).val()) { //
				checkBeforeInsert[emailTrue] = false;
				emconfirmchk = false;
					mailConfirmLabel.html("<span id='emconfirmchk'>인증번호가 잘못되었습니다</span>")
				$("#emconfirmchk").css({
					"color" : "#FA3E3E",
					"font-weight" : "bold",
					"font-size" : "10px"

				})
				//console.log("중복아이디");
			} else { // 아니면 중복아님
				emconfirmchk = true;
				checkBeforeInsert[emailTrue] = true;
				mailConfirmLabel.html("<span id='emconfirmchk'>인증번호 확인 완료</span>")

				$("#emconfirmchk").css({
					"color" : "#0D6EFD",
					"font-weight" : "bold",
					"font-size" : "10px"

				})
			}
		})
	}
//문자 메세지를 보내는 ajax, +난수 생성, 생성한 코드 체크 필요함.
$('#phChkBtn').on('click', sendSMS);
function sendSMS(){
	
	let phoneNum = $('#ph').val();
	phoneNum = phoneNum.replaceAll('-','');
	$.ajax({
		url : "member/send-one",
		type : "POST",
		data : {
			phone : phoneNum
		},
		success : function(rs){
			console.log(rs);
		},
		error : function(err){
			console.log(err);	
		}
		
	})	
}

//pw 유효성 체크
/*
 * 문제점 1. id가 비어있을 경우 search = 0  따라서 아이디포함 에러
   개선 1. focusout이 아닌 input마다 체크, 사용자에게 메세지로 전달
       2. pwChk도 마찬가지로 일치하는지 아닌지 전달
 */
$('#pw').on('focusout', chkPW);
function chkPW(){

		let pw = $("#pw").val();
		let pwChkInput =$('#pwChk');
		let id = $("#id").val();
	    let checkNumber = pw.search(/[0-9]/g);
	    let checkEnglish = pw.search(/[a-z]/ig);
	 
	    if(!/^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/.test(pw)){            
	        alert('숫자+영문자+특수문자 조합으로 8자리 이상 사용해야 합니다.');
	        pwChkInput.focus();
	        return false;
	    }else if(checkNumber <0 || checkEnglish <0){
	        alert("숫자와 영문자를 혼용하여야 합니다.");
	        pwChkInput.focus();
	        return false;
	    }else if(/(\w)\1\1\1/.test(pw)){
	        alert('같은 문자를 4번 이상 사용하실 수 없습니다.');
	        pwChkInput.focus();
	        return false;
	    }else if(id != ""){
	    	if(pw.search(id) > -1){
	 	    alert("비밀번호에 아이디가 포함되었습니다.");
	 	    pwChkInput.focus();
	 	    return false;
	 	    }
	    	
	    } else {

		console.log("통과");
		
		}

}
$('#pwChk').on('focusout', function(){
	if($('#pwChk').val() == $('#pw').val()){
		checkBeforeInsert[pwTrue] = true;
		console.log('일치');
	}else{
		checkBeforeInsert[pwTrue] = false;
		console.log('불일치');
	}
});

$('#bsnsNo').on('keyup', function(event){
  const regBsnsExp = /[^0-9]/g; // 숫자만 허용
  const del = event.target;
  if (regBsnsExp.test(del.value)) {
    del.value = del.value.replace(regBsnsExp, '');
  }
  checkBeforeInsert[bsnsTrue] = false;
})

$('#bsnsChkBtn').on('click', function(){
	
	let q = $('#bsnsNo').val()
	let key = "c2h5eTE4MDcyNUBnbWFpbC5jb20g";
	let gb = 1;
	let type = "json";
	let status = "Y";
	let pagecnt = 1;
	let data = {
			"q" : q,
			"key" : key,
			"gb" : gb,
			"type" : type,
			"status" : status,
			"pagecnt" : pagecnt
	};
	
	$.ajax({
		url : "https://bizno.net/api/fapi",
		type : "GET",
		data : data,
		success : function(rs){
			console.log(rs);
			let bsnsStatus = rs.items[0].bsttcd;
			if(bsnsStatus == "01"){
				checkBeforeInsert[bsnsTrue] = true;
				alert("인증되었습니다.")
			}
		},
		error : function(err){
			checkBeforeInsert[bsnsTrue] = false;
			console.log(err);
		}
	})
})
</script>




<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
//주소 api로 입력
$('#addrBtn').on('click', addrPopup)
function addrPopup(){
    new daum.Postcode({
        oncomplete: function(data) {
            $('#addr').val(data.address);
            $("#addrDt").focus();
        }
    
    /*
        onclose: function(state) {
        //state는 우편번호 찾기 화면이 어떻게 닫혔는지에 대한 상태 변수 이며, 상세 설명은 아래 목록에서 확인하실 수 있습니다.
        if(state === 'FORCE_CLOSE'){
            //사용자가 브라우저 닫기 버튼을 통해 팝업창을 닫았을 경우, 실행될 코드를 작성하는 부분입니다.

        } else if(state === 'COMPLETE_CLOSE'){
            //사용자가 검색결과를 선택하여 팝업창이 닫혔을 경우, 실행될 코드를 작성하는 부분입니다.
            //oncomplete 콜백 함수가 실행 완료된 후에 실행됩니다.
        }
    }
    */
    }).open();
}

</script>
</div>
</body>
</html>