<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">

   	<section class="py-12">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 container">
					<!-- Card -->
					<div class="card card-lg mb-10 mb-md-0">
              			<div class="card-body">

		                <!-- Heading -->
		                <h6 class="mb-7">로그인</h6>
		
		                <!-- Form -->
		                <form>
		                  <div class="row">
		                    <div class="col-12">
		
		                      <!-- Email -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="loginEmail">
		                          아이디 *
		                        </label>
		                        <input class="form-control form-control-sm" id="loginEmail" type="email" placeholder="ID *" required>
		                      </div>
		
		                    </div>
		                    <div class="col-12">
		
		                      <!-- Password -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="loginPassword">
		                          비밀번호 *
		                        </label>
		                        <input class="form-control form-control-sm" id="loginPassword" type="password" placeholder="Password *" required>
		                      </div>
		
		                    </div>
		                      <!-- Remember -->
		                    <div class="col-auto me-auto">
		                      <div class="form-group">
		                        <div class="form-check">
		                          <input class="form-check-input" id="loginBuyer" type="checkbox">
		                          <label class="form-check-label" for="loginBuyer">
		                          	구매자 회원
		                          </label>
		                        </div>
		                      </div>
		                    </div>
		                      <!-- Remember -->
		                    <div class="col-auto">
		                      <div class="form-group">
		                        <div class="form-check">
		                          <input class="form-check-input" id="loginSeller" type="checkbox">
		                          <label class="form-check-label" for="loginSeller">
		                          	판매자 회원
		                          </label>
		                        </div>
		                      </div>
		                    </div>
		                    
		                      <!-- Button -->
		                    <div class="col-12 w-100">
		                      <button class="btn btn-sm btn-dark " type="submit">
		                        Sign In
		                      </button>
		                    </div>
		                    <div class="row">
		                    	<div class="col-auto me-auto"></div>
		                    
		                    <div class="col-auto">
		                      <!-- Link -->
		                      <div class="col form-group">
		                        <a class="fs-sm text-reset" data-bs-toggle="modal" href="#modalPasswordReset">아이디 찾기</a>
                                <a class="fs-sm text-reset" data-bs-toggle="modal" href="#modalPasswordReset">비밀번호 찾기</a>
		                      </div>
		                    </div>
		                    </div>
		
		                    

		                  </div>
		                </form>
		
		              	</div>
		            </div>
						
						
				</div><!-- class col -->
			</div>
		</div>
	</section>
</div>
</html>