<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<!-- Content -->
<div layout:fragment="content">

   	<section class="py-12">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 container">
					<!-- Card -->
					<div class="card card-lg mb-10 mb-md-0">
              			<div class="card-body">

		                <!-- Heading -->
		                <h6 class="mb-7">로그인</h6>
		
		                <!-- Form -->
		                <form name="loginForm" action="/login" method="post">
		                  <div class="row">
		                    <div class="col-12">
		
		                      <!-- Email -->
		                      <div class="form-group">
		                        <label class="visually-hidden"  for="loginId">
		                          아이디 *
		                        </label>
		                        <input class="form-control form-control-sm" aria-label="아이디 입력란" id="loginId" name="username" tabindex=1 type="text" placeholder="ID *" required>
		                      </div>
		
		                    </div>
		                    <div class="col-12">
		
		                      <!-- Password -->
		                      <div class="form-group">
		                        <label class="visually-hidden" for="loginPassword">
		                          비밀번호 *
		                        </label>
		                        <input class="form-control form-control-sm" id="loginPassword" aria-label="비밀번호 입력란" name="password" tabindex=2 type="password" placeholder="Password *" required>
		                      </div>
		
		                    </div>

		                    
		                      <!-- Button -->
					
	                    		<div class="col-md-4">
			                      <button class="btn btn-sm btn-dark" id="loginBtn" aria-label="로그인 버튼" tabindex=3 type="button" style="width:100px">
			                        Sign In
			                      </button>
		                      	</div>	
		                      
		                      	<div class="col-md-4 offset-md-4">
		                      		<a class="list-styled-link" data-bs-toggle="modal" href="#modalNewsletterVertical">
			                      <button class="btn btn-sm btn-dark" id="joinBtn" aria-label="회원가입" type="button" style="width:100px; margin-left:36px;">
			                        Sign Up
			                      </button>
                      				</a>
		                      	</div>

		                    
		                    
		                    <div class="col-12" style="margin-top:20px">
		                    	

			                      <!-- Link -->
			                      <div class="col align-self-end" style="text-align:right">
			                        <a class="fs-sm text-reset" href="findMember" tabindex=4 id="fMember">아이디 찾기 </a>/
			                        <a class="fs-sm text-reset" href="findPassword" tabindex=5 id="fPassword"> 비밀번호 찾기</a>
			                      </div>

		                    </div>
		
		                    

		                  </div>
		                </form>
		
		              	</div>
		            </div>

						
				</div><!-- class col -->
			</div>
		</div>

	</section>
		
	<!-- modal -->
	<div class="modal fade" id="modalNewsletterVertical" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
    
          <!-- Close -->
          <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close">
            <i class="fe fe-x" aria-hidden="true"></i>
          </button>
                    <!-- Body -->
          <div class="modal-body py-9">
    
            <!-- Form -->
              <div class="row">
              
                <div class="col">
                  <!-- Button -->
                  <button class="btn btn-secondary col-12" type="button" id="buyJoinBtn"style="margin:30px 0 30px 0;">
                    구매자
                  </button>
                </div>
                
                <div class="col">
                  <!-- Button -->
                  <button class="btn btn-secondary col-12" type="button" id="sellJoinBtn"style="margin:30px 0 30px 0; bold">
                    판매자
                  </button>
                </div>
                
              </div>
    
          </div>
    
        

        </div>
      </div>
     </div>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script>
		$('#loginPassword').on('keyup',function(e){
			if(e.key == 'Enter'){
				$('#loginBtn').trigger('click');
			}
			
		})
		//글자 호버 굵기 이벤트
		$('.fs-sm').hover(function(){
			$(this).css('font-weight', 'bold')
		},function(){
			$(this).css('font-weight', 'normal')
		})
		
		//로그인버튼 클릭
		let memberAuthor = 0
		$('#loginBtn').on('click', function(){
				MemberLogin();
		})
		$('#buyJoinBtn').on('click',function(){
// 			location.href="joinBuyerForm";
		})
		$('#sellJoinBtn').on('click',function(){
			location.href="joinSellerForm";
		})

		function MemberLogin(id,pw,memberAuthor){
			loginForm.submit();
		}
		
		
		//
		$('#loginId').on('keyup', function(event){
		  const regIdExp = /[^0-9a-zA-Z]/g; // 숫자와 영문자만 허용
		  //const regExp = /[^ㄱ-ㅎ|가-힣]/g; // 한글만 허용
		  const del = event.target;
		  if (regIdExp.test(del.value)) {
		    del.value = del.value.replace(regIdExp, '');
		  }
		
		});
	</script>
	
	<script th:inline="javascript">
    let TTSIsOk = localStorage.getItem('ttsKey');
    let sessionAuthor;
	console.log(sessionStorage.loginMember);    		
	if(sessionStorage.loginMember != null){
		sessionAuthor = sessionStorage.loginMember.memberAuthor;
	}

	    
   	function ttsInit(){
    	if(TTSIsOk == null || sessionAuthor == 3){
    			
    	
				let audioFileNow = new Audio();
				var AudioContext;
				var audioContext;
			
				window.onload = function() {
				    navigator.mediaDevices.getUserMedia({ audio: true }).then(() => {
				        AudioContext = window.AudioContext || window.webkitAudioContext;
				        audioContext = new AudioContext();
				    }).catch(e => {
				        console.error(`Audio permissions denied: ${e}`);
				    });
				}
				// 먼저 읽히는것 
				$(document).ready(function() {
						
						let firstMsg = "로그인 페이지입니다. Tab키를 눌러 아이디 입력란으로 이동하실 수 있고, 메뉴얼을 들으신 후 alt키와 해당 메뉴얼의 번호를 눌러주세요.";
						let menual = 
							"1번 아이디 입력란 듣기."
						+ "2번 아이디 찾기 페이지로 이동."
						+ "3번 비밀번호 찾기 페이지로 이동."
						+ "4번 회원가입 페이지로 이동."
						+ "9번 메인 홈페이지로 이동."
						+ "0번 메뉴얼 다시듣기.";
						
					
						let message =  firstMsg + menual;
						let err = [[${param.error}]]
		    			if(err != null){
		    				message = '아이디. 패스워드가 일치하지 않습니다. 다시 입력해주세요.' + menual;
		    			}
				    	VoiceMenual(message);
				});
			
				
				window.addEventListener("keydown", function(e){ 
					if(e.key == 'Enter'){ // 엔터키로 중복확인
						let focusNow = $(':focus')[0];
						if(focusNow.id == 'loginBtn' || focusNow.id == 'loginPassword'){
							e.preventDefault();
							MemberLoginWithTTS()
						}
					}
							
							
							
					if(e.altKey && e.key == 1){ //아이디 입력란 다시 듣기
						let idVal = $('#loginId').val();
						if(idVal == ""){
							VoiceMenual("아이디 입력란이 비어있습니다.")
						}else{
							let cutMsg = '';
							let tmpAry = idVal.split('');
							for(let one of tmpAry){
								cutMsg = cutMsg + one + ' '
							}
							VoiceMenual(cutMsg);
						}
					}		
					if(e.altKey && e.key == 2){ //아이디 찾기 페이지로 이동
						location.href="/page/member/findMember";
					}
					if(e.altKey && e.key == 3){ //비밀번호 찾기 페이지로 이동
						location.href="/page/member/findPassword";
					}
					if(e.altKey && e.key == 9){ // 메인 홈페이지로 이동
						location.href="/";
					}
					if(e.altKey && e.key == 4){ // 회원가입 페이지로 이동
						location.href="/page/member/joinBuyerForm";
					}
					if(e.altKey && e.key == 0){ //메뉴얼 다시듣기
						let menual = 
							"1번 아이디 입력란 듣기."
						+ "2번 아이디 찾기 페이지로 이동."
						+ "3번 비밀번호 찾기 페이지로 이동."
						+ "4번 회원가입 페이지로 이동."
						+ "9번 메인 홈페이지로 이동."
						+ "0번 메뉴얼 다시듣기.";
						VoiceMenual(menual);
					}
					
					
				}) // keydown 이벤트
				
				$('#loginId').on('focus', function(){
				let msg = '아이디 입력란입니다..'
				VoiceMenual(msg);
				})
				$('#loginPassword').on('focus',function(){
					let msg = '비밀번호 입력란입니다. 엔터키를 눌러 로그인하실 수 있습니다.'
					VoiceMenual(msg);
				})
				$('#loginBtn').on('focus',function(){
					let msg = '로그인 버튼입니다. 엔터키를 눌러 로그인하실 수 있습니다.'
					VoiceMenual(msg);
				})
				$('#fMember').on('focus',function(){
					let msg = '아이디찾기 링크입니다.'
					VoiceMenual(msg);
				})
				$('#fPassword').on('focus',function(){
					let msg = '비밀번호찾기 링크입니다.'
					VoiceMenual(msg);
				})
				
				function MemberLoginWithTTS(){
					loginForm.submit()
				}
				

				
				function VoiceMenual(message) {
				    var data = {
				        "voice" : {
				            "languageCode" : "ko-KR",
				            "name" : "ko-KR-Neural2-B"
				        },
				        "input" : {
				            "text" : message
				        },
				        "audioConfig" : {
				            "audioEncoding" : "mp3"
				        }
				    }
				    console.log(data);
				    $.ajax({
				        type : 'POST',
				        url : 'https://texttospeech.googleapis.com/v1/text:synthesize?key=AIzaSyArcSKerGDYE7ngIVMaLhHCbNtmWN1-uac',
				        data : JSON.stringify(data),
				        dataType : 'JSON',
				        contentType : "application/json; charset=UTF-8",
				        success : function(res) {
				            $('#menuText').val(res.audioContent)
				            var audioFile = new Audio();
				            let audioBlob = base64ToBlob(res.audioContent,
				                    "mp3");
				            audioFile.src = window.URL
				                    .createObjectURL(audioBlob);
				            audioFile.playbackRate = 2; //재생속도
				            if(audioFileNow.paused == false){
				            	audioFileNow.pause();
				            }
				    		audioFileNow = audioFile;
				            audioFileNow.play();
				        
				        },
				        error : function(request, status, error) {
				            alert("오류", "오류가 발생하였습니다. 관리자에게 문의해주세요.");
				        }
				    });
				};
				function base64ToBlob(base64, fileType) {
				    let typeHeader = "data:application/" + fileType + ";base64,"; // base64 헤더 파일 유형 정의
				    let audioSrc = typeHeader + base64;
				    let arr = audioSrc.split(",");
				    let array = arr[0].match(/:(.*?);/);
				    let mime = (array && array.length > 1 ? array[1] : type) || type;
				    // url헤더 제거하고 btye로 변환
				    let bytes = window.atob(arr[1]);
				    // 예외를 처리하고 0보다 작은 ASCII 코드를 0보다 큰 값으로 변환
				    let ab = new ArrayBuffer(bytes.length);
				    // 뷰 생성(메모리에 직접): 8비트 부호 없는 정수, 길이 1바이트
				    let ia = new Uint8Array(ab);
				    for (let i = 0; i < bytes.length; i++) {
				        ia[i] = bytes.charCodeAt(i);
				    }
				    return new Blob([ ab ], {
				        type : mime
				    });
				}
    	}else{
    		let err = [[${param.error}]]
			if(err != null){
				alert('아이디. 패스워드가 일치하지 않습니다. 다시 입력해주세요.');
			}
    	}
   	}
	</script>

</div>
</html>