<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<script>
  init();

  function init() {
      check();
  } 
</script>
<!-- Content -->
<div layout:fragment="content">
    <!-- CONTENT -->
    <section class="pt-7 pb-12">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Heading -->
            <h3 class="mb-10 text-center">장바구니</h3>

          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-7">

            <!-- List group -->
            <!-- 반복문 시작 -->
            <div th:each="lists : ${list}">
            <ul class="list-group list-group-lg list-group-flush-x mb-6">
              <li class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-3">
					
					<!-- checkbox -->
                    <input type="checkbox" name="price">

                    <!-- Image -->
                    <a href="product.html">
                      <img src="assets/img/products/product-6.jpg" alt="..." class="img-fluid">
                    </a>

                  </div>
                  <div class="col">
                    <!-- Title -->
                    <div class="d-flex mb-2 fw-bold">
                      <a class="text-body" href="product.html"><span th:text= "|상품명 : ${lists.productName}|"></span></a>
                      <span class="ms-auto" th:text="| 상품금액 : ${lists.productCost}원|"></span>
                    </div>
                    <div class="d-flex mb-2 fw-bold">
                    	<span class="ms-auto" th:text="|할인금액 : ${lists.salePrice}원|"></span>
                    </div>

                    <!-- Text -->
                   <p class="mb-7 fs-sm text-muted" th:text="|${lists.optionName} :  ${lists.optionValue}|"></p>
                    
                      
               
         

                    <!--Footer -->
                    <div class="d-flex align-items-center">

                      <!-- Select -->
                      <select class="form-select form-select-xxs w-auto">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                      </select>

                      <!-- Remove -->
                      <a class="fs-xs text-gray-400 ms-auto" href="#!">
                        <i class="fe fe-x"></i> 상품삭제
                      </a>

                    </div>

                  </div>
                </div>
              </li>           
            </ul>
			</div>
            <!-- Footer -->
            <div class="row align-items-end justify-content-between mb-10 mb-md-0">
              <div class="col-12 col-md-7">

                <!-- Coupon -->
                <form class="mb-7 mb-md-0">
                  <label class="form-label fs-sm fw-bold" for="cartCouponCode">
                    쿠폰 번호:
                  </label>
                  <div class="row row gx-5">
                    <div class="col">

                      <!-- Input -->
                      <input class="form-control form-control-sm" id="cartCouponCode" type="text" placeholder="Enter coupon code*">

                    </div>
                    <div class="col-auto">

                      <!-- Button -->
                      <button class="btn btn-sm btn-dark" type="submit">
                        확인
                      </button>

                    </div>
                  </div>
                </form>

              </div>
            </div>

          </div>
          <div class="col-12 col-md-5 col-lg-4 offset-lg-1">

            <!-- Total -->
            <div class="card mb-7 bg-light">
              <div class="card-body">
                <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
                  <li class="list-group-item d-flex">
                    <span>상품금액</span> <span class="ms-auto fs-sm">$89.00</span>
                  </li>
                  <li class="list-group-item d-flex">
                    <span>상품할인금액</span> <span class="ms-auto fs-sm">0원</span>
                  </li>
                  <li class="list-group-item d-flex">
                    <span>배송비</span> <span class="ms-auto fs-sm">0원</span>
                  </li>
                  <li class="list-group-item d-flex fs-lg fw-bold">
                    <span>결제금액</span> <span class="ms-auto fs-sm">$89.00</span>
                  </li>
          
                </ul>
              </div>
            </div>

            <!-- Button -->
            <a class="btn w-100 btn-dark mb-2" href="checkout.html">결제하기 or 로그인</a>

            <!-- Link -->
            <a class="btn btn-link btn-sm px-0 text-body" href="shop.html">
              <i class="fe fe-arrow-left me-2"></i> 쇼핑하러 가기
            </a>

          </div>
        </div>
      </div>
    </section>
    <script>

    function check(e) {
        
     let len = $('input[name="price"]:checked').length;
     if(len >= 1) {
        $('input[name="price"]:checked').each(function(e){

        })
     }
      
    }

    </script>
</div>
</html>