<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.ar.lighthouse.buyp.mapper.BuyerPageMapper">
  	
  	<select id="selectDetailList" resultType="com.ar.lighthouse.buyp.service.DetailVO" parameterType="String">
		select e.img_code, e.img_order, e.img_name, e.upload_name, e.img_content, e.img_regdate , f.product_name, f.product_code, f.order_cnt, f.order_price, f.payment_price, f.order_status, f.order_date, f.delivery_number, f.delivery_date, f.option_code, f.order_code
		from ar_product_img e JOIN (select d.order_code,c.product_name, d.product_code,d.order_cnt, d.order_price, d.payment_price, d.order_status, d.order_date, d.delivery_number, d.delivery_date, d.option_code
									from ar_products c JOIN (select b.product_code,a.order_cnt, a.order_price, a.payment_price, a.order_status, a.order_date, a.delivery_number, a.delivery_date, a.option_code, a.order_code
															 from  (select p.order_cnt, p.order_price, p.payment_price, p.order_status, p.order_date, p.delivery_number, p.delivery_date, p.option_code, p.order_code
																	from ar_orders a 
																	JOIN ar_order_detail p ON a.order_code = p.order_code
																	where a.member_id = 'user123456') a 
															 JOIN ar_option  b ON a.option_code = b.option_code) d ON c.product_code = d.product_code) f 
							  ON e.product_code = f.product_code
  	</select>
  
  	<select id="selectBuyInfo" resultType="com.ar.lighthouse.buyp.service.BuyInfoVO" parameterType="String">
  		SELECT member_id, member_pw, member_name, member_birth, member_addr, member_details_addr, member_email, member_tel
		FROM ar_member
		WHERE member_id = #{memberId}
  	</select>
  	
	<select id="selectTradeList" resultType="com.ar.lighthouse.buyp.service.TradeVO" parameterType="String">
		SELECT b.cancel_code
		       , b.cancel_status
		       , b.cancel_regdate
		       , a.order_detail_code
		       , a.order_status
		       , a.order_date
		       , a.order_cnt
		       , a.payment_price
		       , c.return_status
		       , c.return_regdate
		       , d.exchange_status
		       , d.exchange_regdate
		       , f.product_code
		       , f.product_name
		       , f.product_cost
		       , e.option_code
		FROM ar_order_detail a
		LEFT OUTER JOIN ar_cancel b ON a.order_detail_code = b.order_detail_code 
		LEFT OUTER JOIN ar_return c ON a.order_detail_code = c.order_detail_code
		LEFT OUTER JOIN ar_exchange d ON a.order_detail_code = d.order_detail_code
		LEFT OUTER JOIN ar_option e ON a.option_code = e.option_code
		LEFT OUTER JOIN ar_products f ON  e.product_code = f.product_code
	</select>
	
	
	
  </mapper>