<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ar.lighthouse.cart.mapper.CartMapper">
  	
  	<!-- 장바구니 상세정보 -->
  	<select id="cartList" resultType="com.ar.lighthouse.cart.service.CartVO" parameterType="String">
  		 select n.img_code, n.img_name, (n.option_price + n.product_cost) as product_cost, n.product_name, n.sale_price, n.option_name, n.option_value, n.delivery_cost, c.cart_code, c.cart_count
   			from (select g.img_code, g.img_name ,o.option_code, g.product_code, g.sale_price, g.delivery_cost, g.product_cost, g.product_name, o.option_price, o.option_value, o.option_name
    			from (select i.img_code, i.img_name , p.product_code, p.sale_price, p.delivery_cost, p.product_cost, p.product_name
     				 from ar_product_img i LEFT join ar_products p on i.product_code = p.product_code) g LEFT join ar_option o on g.product_code = o.product_code) n LEFT join ar_cart c on n.option_code = c.option_code
      	where c.member_id = #{memberId}
  	</select>
  	
  	<delete id="deleteCart">
  		DELETE ar_cart where member_id = #{memberId} AND cart_code = #{cartCode} 
  	</delete>
  	
  </mapper>