<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ar.lighthouse.member.mapper.MemberMapper">
  
  <!-- 사원id 단건조회 -->
   <select id="selectMemberVO" parameterType="MemberVO">
      SELECT 	member_id
      			,member_pw
            	,member_name
            	,member_birth
            	,member_addr
            	,member_details_addr
            	,member_email
            	,business_number
            	,'ROLE_'||member_author authorities
      FROM   ar_member
      WHERE member_id = #{memberId}
   </select>
  
  
     <select id="selectMemberCheck" resultType="int" parameterType="String">
        select count(*)
      from ar_member
      where member_id = #{memberId}
     </select>
     
     <insert id="insertMember" parameterType="MemberVO">
        insert into ar_member (
              member_id
              , member_pw
              , member_name
              , member_birth
              , member_addr
              , member_details_addr
              , member_email
              , member_author
              , member_tel
               <if test='businessNumber != null'> , business_number</if>
               )
      values (#{memberId}
            , #{memberPw}
            , #{memberName}
            , #{memberBirth}
            , #{memberAddr}
            , #{memberDetailsAddr}
            , #{memberEmail}
            , #{memberAuthor}
            , #{memberTel}
               <if test='businessNumber != null'> , #{businessNumber}</if>
               )
     </insert>
     
     <select id="MemberLogin" resultType="MemberVO">
        select *
      from ar_member
      <choose>
      <when test="memberAuthor == 1">
      where member_author IN (#{memberAuthor}, 3, 4)
      </when>
      <when test="memberAuthor == 2">
      where member_author IN (#{memberAuthor}, 4)
      </when>
      </choose>
      AND member_id = #{memberId}
     </select>
     
     <select id="MemberLoginBefore" resultType="int">
          select count(*)
      from ar_member
      <choose>
      <when test="memberAuthor == 1">
      where member_author IN (#{memberAuthor}, 3, 4)
      </when>
      <when test="memberAuthor == 2">
      where member_author IN (#{memberAuthor}, 4)
      </when>
      </choose>
      AND member_id = #{memberId}
     </select>
     
     <select id="selectMemberEmailCheck" resultType="MemberVO">
        select *
        from ar_member
        where member_email = #{memberEmail}
        AND member_author = #{memberAuthor}
     </select>
     
     <select id="selectMemberCrossCheck" resultType="int">
     select count(*)
   from ar_member
   where member_id = #{memberId}
   AND member_email = #{memberEmail}
   AND member_author = #{memberAuthor}
     </select>
     
     <update id="updateMemberPassword" parameterType="MemberVO">
        update ar_member
        set   member_pw = #{memberPw}
        where member_id = #{memberId}
     
     </update>
  
  </mapper>