<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ar.lighthouse.member.mapper.MemberMapper">
  
  	<select id="MemberCheck" resultType="int" parameterType="String">
  		select count(*)
		from ar_member
		where member_id = #{memberId}
  	</select>
  	
  	<insert id="MemberJoin" parameterType="MemberVO">
  		insert into ar_member (
  				member_id
  				, member_pw
  				, member_name
  				, member_birth
  				, member_addr
  				, member_details_addr
  				, member_email
  				, member_author
  				, member_tel
		      	<if test='businessNumber != null'> , business_number</if>
		      	)
		values (#{memberId}
				, #{memberPw}
				, #{memberName}
				, #{memberBirth}
				, #{memberAddr}
				, #{memberDetailsAddr}
				, #{memberEmail}
				, #{memberAuthor}
				, #{memberTel}
		      	<if test='businessNumber != null'> , #{businessNumber}</if>
		      	)
  	</insert>
  	
  	<select id="MemberLogin" resultType="MemberVO">
  		select *
		from ar_member
		where member_author = #{memberAuthor}
		AND member_id = #{memberId}
  	</select>
  	
  	<select id="MemberLoginBefore" resultType="int">
  	  	select count(*)
		from ar_member
		where member_author = #{memberAuthor}
		AND member_id = #{memberId}
  	</select>
  
  </mapper>