<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ar.lighthouse.orders.mapper.OrdersMapper">
  	<select id="selectOrders" resultType="com.ar.lighthouse.orders.service.OrdersVO">
  	SELECT c.member_id, m.member_name ,m.member_email, m.member_tel, r.delivery_cost,
			m.member_addr, m.member_details_addr, u.coupon_name, u.coupon_content, u.coupon_deadline,
			u.coupon_condition, u.coupon_min_price, u.coupon_max_price, u.coupon_discount_price,
			u.coupon_discount_rate, c.cart_count, p.option_name, p.option_value, p.option_price,
			r.product_name, r.sale_price, r.product_cost, i.parent_code, i.upload_name
	FROM ar_cart c
			LEFT JOIN ar_option p ON c.option_code = p.option_code
			LEFT JOIN ar_member m ON c.member_id = m.member_id
			LEFT JOIN ar_products r ON p.product_code = r.product_code
			LEFT JOIN ar_imgs i ON p.product_code = i.product_code
			LEFT JOIN ar_coupon_box b ON c.member_id = b.member_id
			LEFT JOIN ar_coupons u ON b.coupon_code = u.coupon_code
	WHERE c.member_id = #{memberId} AND c.cart_code = #{cartCode}
  	</select>
  
  </mapper>