<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.ar.lighthouse.orders.mapper.OrdersMapper">
  
  	<!-- 주문결제 필요 데이터 파싱 -->
  	<select id="selectOrders" resultType="com.ar.lighthouse.orders.service.OrdersVO">
  	SELECT c.member_id, m.member_name ,m.member_email, m.member_tel, r.delivery_cost, r.delivery_service, r.product_code,
			m.member_addr, m.member_details_addr,c.cart_count, p.option_name, p.option_value, p.option_price,
			r.product_name, r.sale_price, r.product_cost, i.parent_code, i.upload_name, p.option_code, i.upload_path
	FROM ar_cart c
			LEFT JOIN ar_option p ON c.option_code = p.option_code
			LEFT JOIN ar_member m ON c.member_id = m.member_id
			LEFT JOIN ar_products r ON p.product_code = r.product_code
			LEFT JOIN ar_imgs i ON p.product_code = i.product_code
	WHERE c.member_id = #{memberId} AND c.cart_code = #{cartCode}
  	</select>
 
 
 	<!-- 구매자 쿠폰 파싱 -->
 	<select id="selectCoupon" resultType="com.ar.lighthouse.orders.service.OrdersVO">
 	SELECT m.member_id, 
 	
 	       c.coupon_content, 
 	       c.coupon_code, 
 	       c.coupon_condition, 
		   c.coupon_name, 
		   c.coupon_discount_price, 
		   c.coupon_discount_rate, 
		   c.coupon_max_price, 
		   c.coupon_min_price,
		   c.coupon_deadline, 
		   c.coupon_base, 
		   
 	       b.issue_date, 
 	       b.mycoupon_code,
		   b.end_date, 
		   b.using_date
		   
    FROM ar_member     m
    JOIN ar_coupon_box b    ON m.member_id = b.member_id
    JOIN ar_coupons    c    ON b.coupon_code = c.coupon_code
    
    WHERE m.member_id = #{memberId} 
      AND coupon_use = 'Y'
 	</select>
 	
 	<!-- 배송요청 사항 코드 -->
 	<select id="selectCode" resultType="CodeVO">
 	 SELECT * FROM AR_CODE
     WHERE MASTER_CODE = 'delivery_request'
 	</select>
 	
 	<!-- 기간 지난 쿠폰 사용불가로 변경 -->
 	<update id="updatetNotCoupon">
 		UPDATE AR_COUPON_BOX 
 		SET coupon_use = 'N' 
 		WHERE MEMBER_ID = #{memberId} AND MYCOUPON_CODE = #{mycouponCode}
 	</update>
  
  	<!-- 토스페이먼츠 결제DB insert -->
  	<insert id="insertCredit">
  	INSERT INTO AR_CREDIt 
  				(
  				 PAYMENTKEY,
  				 TYPE,
  				 ORDERID,
  				 ORDERNAME,
  				 METHOD,
  				 CURRENCY,
  				 MID,
  				 BALANCEAMOUNT,
  				 TOTALAMOUNT,
  				 APPROVEDAT,
  				 ORDER_CODE
  				 )
    VAlUES (
    		#{paymentKey},
    		#{type},
    		#{orderId},
    		#{orderName}, 
    		#{method},
    		#{currency},
    		#{mId},
    		#{balanceAmount},
    		#{totalAmount},
    		#{approvedAt},
    		#{orderCode}
    		)
  	</insert>
  	<!-- 토스페이먼츠 환불 -->
  	<insert id="insertRefund">
  		INSERT INTO AR_REFUND
					  		(
					  		REFUND_CODE,
					  		REFUND_TYPE,
					  		REFUND_TYPECODE,
					  		REFUND_AMOUNT,
					  		PAYMENTSKEY
					  		)
					  		
		VALUES				(
							#{refundCode},
							#{refundType},
							#{refundTypecode},
							#{refundAmount},
							#{paymentKey}
							)
  	</insert>
  	
  	<!-- 주문정보 저장 (배송지 등)-->
  	<insert id="insertOrderPayVO">
  		<selectKey resultType="int" keyProperty="orderCode" order="BEFORE">
			SELECT NVL(MAX(ORDER_CODE),1) + 1 
			FROM AR_ORDERS
		</selectKey>
		 INSERT INTO AR_ORDERS (
								 ORDER_CODE, 
								 MEMBER_ID,
								 ORDER_PRICE ,
								 ORDER_ADDR, 
								 ORDER_DETAILS_ADDR, 
								 RECIPIENT_NAME, 
								 RECIPIENT_TEL, 
								 REQUESTED_TERM
								 )
								 
         VALUES					(
				         		#{orderCode} ,
				         		#{memberId}, 
				         		#{DeliveryVO.orderPrice}, 
				         		#{DeliveryVO.orderAddr}, 
				         		#{DeliveryVO.orderDetailsAddr}, 
				         		#{DeliveryVO.recipientName},
				         		#{DeliveryVO.recipientTel},
				         		#{DeliveryVO.requestedTerm}
				         		)
  	</insert>
  	
  	<!-- 주문코드 파싱 -->
  	<select id="selectOrderCode" resultType="int">
  	SELECT ORDER_CODE
	FROM
	(SELECT *
	FROM AR_ORDERS
	WHERE MEMBER_ID = #{memberId}
	ORDER BY ORDER_CODE DESC)
	WHERE ROWNUM = 1
  	</select>
  	
  	<!-- 주문 내역 페이지 저장 데이터 -->
  	<insert id="insertOrders">
  		<selectKey resultType="int" keyProperty="orderDetailCode" order="BEFORE">
			SELECT NVL(MAX(ORDER_DETAIL_CODE),1) + 1 FROM AR_ORDER_DETAIL
		</selectKey>
  INSERT INTO AR_ORDER_DETAIL
  	      (ORDER_DETAIL_CODE,
		   ORDER_CODE,
		   OPTION_CODE,
		   ORDER_CNT,
		   ORDER_PRICE,
		   DISCOUNT_PRICE,
		   PAYMENT_PRICE,
		   MYCOUPON_CODE,
		   OPTION_COUPON_CHECK,
		   DELIVERY_SERVICE) 
   VALUES					  
   		  (#{orderDetailCode},
		   #{OrdersVO.orderCode},
		   #{OrdersVO.optionCode},
		   #{OrdersVO.cartCount},
		   #{OrdersVO.orderPrice},
		   #{OrdersVO.discountPrice},
		   #{OrdersVO.paymentPrice},
		   #{OrdersVO.mycouponCode},
		   #{OrdersVO.optionCouponCheck},
		   #{OrdersVO.deliveryService})
	</insert>
	
	<delete id="deleteCart">
		DELETE AR_CART WHERE MEMBER_ID = #{memberId} AND OPTION_CODE = #{optionCode}
	</delete>
  </mapper>