<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ar.lighthouse.review.mapper.ReviewMapper">
  	
  	<resultMap type="ReviewVO" id="selectReviewInfo">
  		<result column="review_code" property="reviewCode" />
  		<result column="member_id" property="memberId" />
  		<result column="product_code" property="productCode" />
  		<result column="review_content" property="reviewContent" />
  		<result column="review_star" property="reviewStar"/>
  		<result column="review_regdate" property="reviewRegdate"/>
  		<association property="reviewImg" resultMap="reviewImg"/>
  	</resultMap>
  	
  	<resultMap type="ImgsVO" id="reviewImg">
  		<result column="img_code" property="imgCode"/>
  		<result column="parent_code" property="parentCode"/>
  		<result column="img_order" property="imgOrder"/>
  		<result column="img_name" property="imgName"/>
  		<result column="upload_name" property="uploadName"/>
  		<result column="img_content" property="imgContent"/>
  		<result column="img_regdate" property="imgRegdate"/>
  		<result column="upload_path" property="uploadPath"/>
  	</resultMap>
  	
  	<select id="selectReviewList" resultMap="selectReviewInfo" resultType="reviewVO">
		  SELECT *
			FROM ar_review r left outer join ar_imgs i
			ON r.review_code = i.review_code
			WHERE r.product_code = #{productCode}
			ORDER BY r.review_code
  	</select>
  	
  	
  	<insert id="insertReview" parameterType="ReviewVO">
  	<selectKey resultType="int" keyProperty="reviewCode" order="BEFORE">
  		SELECT nvl((max(review_code)),0)+1 FROM ar_review
  	</selectKey>
  	insert into ar_review 
  		(
  		review_code
  		,product_code
  		,member_id
  		,review_content
  		,review_star
  		)
	values 
		(
		#{reviewCode}
		,#{productCode}
		,#{memberId}
		,#{reviewContent}
		,#{reviewStar}
		)
  	</insert>
  	
  	<insert id="insertReviewImg">
  	<selectKey resultType="int" keyProperty="imgCode" order="BEFORE">	
  		SELECT NVL(0, MAX(img_code))+1 FROM ar_imgs  
  	</selectKey>
  		insert into ar_imgs
    		(img_code
    		,parent_code
    		,img_order
    		,img_name
    		,upload_name
    		,img_content
    		,review_code
    		,upload_path
    		)
    		
    	values(
    		#{imgCode}
    	   ,'2'
    	   ,'1'
    	   ,#{imgName}
    	   ,#{uploadName}
    	   ,#{imgContent}
    	   ,#{reviewCode}
    	   ,#{uploadPath}
    	   )
  	</insert>
  	
  	<delete id="deleteReview">
  		DELETE FROM ar_review WHERE member_id = #{memberId}
  	</delete>
  	
  </mapper>