<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout2}">
<style>
table {
	border : 1px;
}
</style>

<!-- Content -->
<div layout:fragment="content" class="col">
        		<!-- main 영역 -->
        			<div class="container" style="margin-left: 0px">
        			<div class="row justify-content-center">
        			
					<div class="col" style="    display: flex;
											    justify-content: space-between;
											    margin-bottom: 30px;
											    margin-top:30px;">
						<!-- Form -->
						<div>
						<h2>Main</h2>
						</div>

	
					</div><!--  col -->
					</div><!-- row justify -->
					</div><!-- container -->
					
					
				
      
<script>
	$('#noticeBtn').on('click', function(){
		location.href = "/admin/noticeForm";
	})
</script>      
</div>
</html>