<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout2}">
<!-- Content -->
<div layout:fragment="content" class="col">
	<!-- main 영역 -->
	<div class="container" style="margin-left: 0px">
		<div class="col" style="    display: flex;
											    justify-content: space-between;
											    margin-bottom: 15px;
											    margin-top:30px;">
						<!-- Form -->
			<div>
			<h2 class="fst-normal">상품 목록</h2>
			</div>
			<form class="navbar-form w-100" style="max-width: 550px; ">
				<div class="input-group">
				<!-- Input -->
				<select id="searchSelect" class="select" style="margin-right: 1px">
					<option value="memberId">ID</option>
					<option value="memberTel">전화번호</option>
					<option value="productCode">상품코드</option>
					<option value="businessNumber">사업자등록번호</option>
				</select>
				<input class="form-control form-control-underline form-control-sm border-dark" type="search" placeholder="검색" id="memSearchBar">
				<!-- Button -->
				    <div class="input-group-append">
				      <button class="btn btn-underline btn-sm border-dark" type="button" id="memSearchBtn">
				        <i class="fe fe-search"></i>
				      </button>
				    </div>
				</div>

			</form>
			
		</div>
		<div class="col" style="display: flex;
											    justify-content: space-between;">
				<div class="col" style="    display: flex;
							    justify-content: space-between;
							    margin-top: 30px;">

				</div>
		</div>
	
	
	<!-- TABLE -->
    		<table class="table table-bordered table-sm mb-0" style="table-layout: fixed;">
			  <thead>
			    <tr>
			      <th scope="col">상품코드</th>
			      <th scope="col">상품이름</th>
			      <th scope="col">ID</th>
			      <th scope="col">전화번호</th>
			      <th scope="col">사업자번호</th>
			      <th scope="col">상세페이지</th>
			      <th scope="col">처리</th>
			      <th scope="col">저장</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="pro : ${proList}">
					
						<td scope="row" th:text="${pro.productCode}"></td>
						<td th:text="${pro.productName}" th:title="${pro.productName}" style="text-overflow: ellipsis; overflow: hidden; white-space:nowrap;"></td>
						<td th:text="${pro.memberId}"></td>
						<td th:text="${pro.memberTel}"></td>
						<td th:text="${pro.businessNumber}"></td>
						<td><a class="nav-link active" target=_blank th:href="|/goodDetail?productCode=${pro.productCode}|">Link</a></td>
						<td style="margin: 0 auto">
						<select id="suspReasonSelect" style="width:70px;">
							<option th:each="reason : ${suspReason}" th:value="${reason.codeId}" th:if="${#strings.contains(reason.codeId,'2')}">[[${reason.codeName}]]</option>
						</select>
						</td>
						<td><button class="btn btn-xxs btn-outline-info proDelBtn" type="button"> 삭제</button></td>
						<input type="hidden" th:id="${pro.memberId}" th:value="${pro.memberEmail}">
				</tr>
			  </tbody>
			</table>
					<!-- Pagination -->
					<nav class="d-flex justify-content-center justify-content-md-center mt-10">
						<ul class="pagination pagination-sm text-gray-400">
							<li class="page-item" th:if="${pageMaker.prev}"><a
								class="page-link page-link-arrow"
								th:href="@{/admin/allProductList/(pageNum = ${pageMaker.startPage - 1}, memberTel=${param.memberTel}, memberId=${param.memberId}
								,memberName=${param.memberName},businessNumber=${param.businessNumber})}">
									<i class="fa fa-caret-left"></i>
							</a></li>
							<th:block
								th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}">
								<li th:if="${pageMaker.endPage} ne 0"
									th:with="start = ${pageMaker.startPage}, end = ${pageMaker.endPage}"
									th:each="pageButtom : ${#numbers.sequence(start,end)}"
									th:class="${pageMaker.cri.pageNum} eq ${pageButtom} ? 'page-item active' : 'page-item'">
									<a class="page-link" href="#"
									th:href="@{/admin/allProductList/(pageNum= ${pageButtom}, memberTel=${param.memberTel}, memberId=${param.memberId}
								,memberName=${param.memberName},businessNumber=${param.businessNumber})}"
									th:text="${pageButtom}" style="font-size : x-large;"></a>
								</li>
							</th:block>

							<li class="page-item" th:if="${pageMaker.next}"><a
								class="page-link page-link-arrow"
								th:href="@{/admin/allProductList/(pageNum = ${pageMaker.endPage + 1}, memberTel=${param.memberTel}, memberId=${param.memberId}
								,memberName=${param.memberName},businessNumber=${param.businessNumber})}">
									<i class="fa fa-caret-right"></i>
							</a></li>
						</ul>
					</nav>
					<!-- pagi end -->
	</div><!-- container -->
	<script>
		$('#memSearchBtn').on('click', function(){
		let nowURL = new URL(location.href);
		nowURL.searchParams.set('pageNum', 1); // 1페이지로 이동
		if( $('#searchSelect').val() == "memberId"){
			nowURL.searchParams.delete('productCode');
			nowURL.searchParams.delete('memberTel');
			nowURL.searchParams.delete('businessNumber');
			nowURL.searchParams.set('memberId', $('#memSearchBar').val());
		}else if( $('#searchSelect').val() == "productCode"){
			nowURL.searchParams.delete('memberTel');
			nowURL.searchParams.delete('memberId');
			nowURL.searchParams.delete('businessNumber');
			nowURL.searchParams.set('productCode', $('#memSearchBar').val());
		}else if( $('#searchSelect').val() == "memberTel"){
			nowURL.searchParams.delete('productCode');
			nowURL.searchParams.delete('memberId');
			nowURL.searchParams.delete('businessNumber');
			nowURL.searchParams.set('memberTel', $('#memSearchBar').val());
		}else if(  $('#searchSelect').val() == "businessNumber"){
			nowURL.searchParams.delete('productCode');
			nowURL.searchParams.delete('memberId');
			nowURL.searchParams.delete('memberTel');
			nowURL.searchParams.set('businessNumber', $('#memSearchBar').val());
		}
		location.href = nowURL.href;
	})
	$('#memSearchBar').on('keydown',function(e){
		if(e.key == 'Enter'){
			e.preventDefault();
			let nowURL = new URL(location.href);
			nowURL.searchParams.set('pageNum', 1); // 1페이지로 이동
			if( $('#searchSelect').val() == "memberId"){
				nowURL.searchParams.delete('productCode');
				nowURL.searchParams.delete('memberTel');
				nowURL.searchParams.delete('businessNumber');
				nowURL.searchParams.set('memberId', $('#memSearchBar').val());
			}else if( $('#searchSelect').val() == "productCode"){
				nowURL.searchParams.delete('memberTel');
				nowURL.searchParams.delete('memberId');
				nowURL.searchParams.delete('businessNumber');
				nowURL.searchParams.set('productCode', $('#memSearchBar').val());
			}else if( $('#searchSelect').val() == "memberTel"){
				nowURL.searchParams.delete('productCode');
				nowURL.searchParams.delete('memberId');
				nowURL.searchParams.delete('businessNumber');
				nowURL.searchParams.set('memberTel', $('#memSearchBar').val());
			}else if(  $('#searchSelect').val() == "businessNumber"){
				nowURL.searchParams.delete('productCode');
				nowURL.searchParams.delete('memberId');
				nowURL.searchParams.delete('memberTel');
				nowURL.searchParams.set('businessNumber', $('#memSearchBar').val());
			}
			location.href = nowURL.href;
		}
	})
	
	
	
	
	
	
	
	
	
	
	
	//style
	$('.table-sm thead th').css("font-size", "0.8rem");
	$('.table-sm thead th').css("padding", "1rem 1rem");
	$('.table-sm tbody td').css("padding", "1rem 1rem");
	$('.table-sm tbody td').css("font-size", "0.8rem");
	
	$('.proDelBtn').on('click',function(e){
		
		if(!confirm('정말 삭제하시겠습니까?')){
			console.log('취소')
		}else{
			console.log('삭제')
			
			let tr = $(this).parent().parent();
			
			let pId = $(this).parent().parent().children()[0].innerText;
			let email = $(tr).children()[8].value;
			let selTd = $(this).parent().parent().children()[6];
			let selectTag = $(selTd).children()[0];
			let options = $(selectTag).children();
			
			let delReason;
			let delStatus;
			
			
			$.each(options, function(idx,obj){
				if($(obj).prop('selected') == true){
					delReason = obj.innerText
					delStatus = obj.value;
				};
			})
			$.ajax({
				url : '/admin/removeProductByAdmin',
				type : 'GET',
				data : {
					productCode : pId,
					deleteReason : delReason,
					deleteStatus : delStatus,
					memberEmail : email
				},
				success : function(rs){
					console.log(rs);
					tr.remove();
				},
				error : function(err){
					
				}
			})
			
		
			
		}
		
		
		
	})
	
	//checkbox 한개 선택

	</script>
</div>
</html>