<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout2}">
<!-- Content -->
<div layout:fragment="content" class="col">
	<!-- main 영역 -->
	<div class="container">
    		<div class="container" style="margin-left: 0px">
        			<div class="row justify-content-center">
        			
					<div class="col" style="    display: flex;
											    justify-content: space-between;
											    margin-bottom: 30px;
											    margin-top:30px;">
					<form>
					<input type="text">
					<button class="btn btn-secondary btn-xxs">업로드</button>
					<button class="btn btn-secondary btn-xxs">저장</button>
					<button class="btn btn-secondary btn-xxs">삭제</button>
					</form>
											    
											    
											    
											    
											    
											    
											    
				    </div>
				    </div>
					<button class="btn btn-sm btn-primary">배너 등록</button>
		    </div>

	</div>
</div>
</html>