<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout2}">
<!-- Content -->
<div layout:fragment="content" class="col">
        		<!-- main 영역 -->
	<div class="container" style="margin-left: 0px">
		<div class="col" style="    display: flex;
											    justify-content: space-between;
											    margin-bottom: 15px;
											    margin-top:30px;">
						<!-- Form -->
			<div>
			<h2 class="fst-normal">FAQ</h2>
			</div>
			<form class="navbar-form w-100" style="max-width: 550px; ">
				<div class="input-group">
				<!-- Input -->
				<input class="form-control form-control-underline form-control-sm border-dark" type="search" placeholder="검색" id="faqSearchBar">
				<!-- Button -->
				    <div class="input-group-append">
				      <button class="btn btn-underline btn-sm border-dark" type="button" id="faqSearchBtn">
				        <i class="fe fe-search"></i>
				      </button>
				    </div>
				</div>

			</form>
			
		</div>
		<div class="col" style="display: flex;
											    justify-content: space-between;">
				<div class="col" style="    display: flex;
							    justify-content: space-between;
							    margin-top: 30px;">
				<div>
				<a href="/admin/faq"><button class="btn btn-xs btn-outline-info btn-underline mb-1" type="button" id="noticeBtn">전체</button></a>
				<a href="/admin/faq/?faqType=1"><button class="btn btn-xs btn-outline-info btn-underline mb-1" type="button" id="noticeBtn">취소/반품/교환</button></a>
				<a href="/admin/faq/?faqType=2"><button class="btn btn-xs btn-outline-info btn-underline mb-1" type="button" id="noticeBtn">주문/결제</button></a>
				<a href="/admin/faq/?faqType=3"><button class="btn btn-xs btn-outline-info btn-underline mb-1" type="button" id="noticeBtn">회원서비스</button></a>
				<a href="/admin/faq/?faqType=4"><button class="btn btn-xs btn-outline-info btn-underline mb-1" type="button" id="noticeBtn">환불</button></a>
				<a href="/admin/faq/?faqType=5"><button class="btn btn-xs btn-outline-info btn-underline mb-1" type="button" id="noticeBtn">배송</button></a>
				<a href="/admin/faq/?faqType=6"><button class="btn btn-xs btn-outline-info btn-underline mb-1" type="button" id="noticeBtn">기타</button></a>
				</div>
				<div>				
				</div>
				</div>
		</div>
	
	
	<!-- TABLE -->
    		<table class="table table-bordered table-sm mb-0">
			  <thead>
			    <tr>
			      <th scope="col">카테고리</th>
			      <th scope="col">제목</th>
			      <th scope="col">내용</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="faq : ${faqList}">
					
						<td scope="row" th:text="${faq.typeName}"></td>
						<td th:text="${faq.questionTitle}"></td>
						<td th:text="${faq.questionAnswer}"></td>
				</tr>
			  </tbody>
			</table>
				
					<!-- pagi end -->
	</div><!-- container -->

<script>
$('#faqSearchBtn').on('click', function(){
	let url = "?customInquiryTitle=" + $('#faqSearchBar').val()
	location.href =  url;
})
</script>      
</div>
</html>