<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout2}">
<!-- Content -->
<div layout:fragment="content" class="col">
        		<!-- main 영역 -->
        			<div class="container" style="margin-left: 0px">
					<div class="col" style="    display: flex;
											    justify-content: space-between;
											    margin-bottom: 30px;
											    margin-top:30px;">
						<!-- Form -->
						<div>
						<h3 class="fst-normal">공지사항 등록</h2>
						</div>
	
					</div>
					

            <!-- Form -->
            <form id="noticeForm">
					

					
              <!-- Email -->
              <div class="form-group" style="display:flex; justify-content: end; aling-item:center;">
                <label class="visually-hidden" for="contactName">
                  상단 고정 날짜
                </label>
              <p class="fst-normal align-bottom" style="margin-top: 15px">상단 고정  : &nbsp&nbsp&nbsp</p>
              
             <select class="form-select form-select-sm w-25" aria-label="Default select example" id="selectDate" >
				<option value="date">날짜로 입력</option>
				<option value="noLimit">무기한</option>
				<option value="no">고정 없음</option>
			</select>	
			
                <input class="form-control form-control-sm w-25" name="upEnddate" id="upEnddate" type="date" required>
                
              </div>

              <!-- Email -->
              <div class="form-group">
                <label class="visually-hidden" for="contactTitle">
                  Title *
                </label>
                <input class="form-control form-control-sm" name="noticeTitle"  id="noticeTitle" type="text" placeholder="제목 *" required>
              </div>

              <!-- Email -->
              <div class="form-group mb-7">
                <label class="visually-hidden" for="contactMessage">
                  Message *
                </label>
                <textarea class="form-control form-control-sm" name="noticeContent"   id="noticeContent" rows="10" placeholder="내용 *" required></textarea>
              </div>
			<div style="display: flex;
    justify-content: flex-end;">
              <!-- Button -->
              <button class="btn btn-dark " id="noticeBtn">
                등록
              </button>
			</div>
            </form>

					</div>
					
					
				
      <script>
      //   <input class="form-control form-control-sm w-25" id="contactName" type="date" required>
      $('#selectDate').on('change', function(){
          if($('#selectDate option:selected').val() == 'date'){
        	  let inputTag = $('<input  class="form-control form-control-sm w-25" name="upEnddate" id="upEnddate" type="date" required/>');
        	  $('#upEnddate').remove();
        	  $('#selectDate').after(inputTag);
          }else{
        	  $('#upEnddate').remove();
          }
      })
      
      $('#noticeBtn').on('click', function(e){
    	  e.preventDefault();
    	  let obj = {};
    	  
    	  $('#noticeForm').attr('method', 'POST');
    	  $('#noticeForm').attr('action', 'addNotice');
    	  let selected = $('#selectDate option:selected').val();
    	  if(selected == 'date'){
    		  if($('#noticeDate').val() == ''){
    			  
    			  alert('날짜를 등록해주세요.')
    			  return false;
    		  }
    		  let hiddenType = $('<input type="hidden" name="noticeType" id="noticeType" value="Y"/>')
    		  $('#noticeForm').append(hiddenType)
    	  }else if(selected == 'noLimit'){
    		  let hiddenType = $('<input type="hidden" name="noticeType" id="noticeType" value="Y"/>')
    		  $('#noticeForm').append(hiddenType)
    	  }else if(selected == 'no'){
    		  let hiddenType = $('<input type="hidden" name="noticeType" id="noticeType" value="N"/>')
    		  $('#noticeForm').append(hiddenType)
    	  }
    	  obj['noticeTitle'] = $('#noticeTitle').val();
    	  obj['noticeContent'] = $('#noticeContent').val();
    	  if($('#noticeTitle').val() == '' || $('#noticeContent').val() == ''){
    		  alert('내용을 정확히 입력해주세요.');
    		  return;
    	  }
    	  console.log(obj);
    	  console.log($('#noticeForm'))
    	  $('#noticeForm').submit();
    	  
      })

      </script>
</div>
</html>