<!DOCTYPE html>
<html       xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 <!-- Favicon -->
   <link rel="shortcut icon" href="./assets/favicon/favicon.ico" type="image/x-icon" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <!-- Libs CSS -->
   <link rel="stylesheet"  th:href="@{/css/libs.bundle.css}" />
   <link rel="stylesheet" th:href="@{/css/theme.bundle.css}" />
   <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
    <!-- Theme CSS -->
</head>
<body>

<th:block layout:fragment="content"></th:block>

</body>
    <!-- Vendor JS -->
    <script th:src="@{/js/vendor.bundle.js}"></script>
    
    <!-- voice JS -->
    <script th:src="@{/js/voice.js}"></script>
    
</html>